/**
 * @license
 * MyFonts Webfont Build ID 3063001, 2015-07-22T18:10:37-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvenirLTStd-Light by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/35-light/
 * Copyright: Copyright &#x00A9; 1989, 1995, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1995, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3063001
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/2ebcd9");*/

  
@font-face {font-family: 'AvenirLTStd-Light';src: url('webfonts/2EBCD9_0_0.eot');src: url('webfonts/2EBCD9_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2EBCD9_0_0.woff') format('woff'),url('webfonts/2EBCD9_0_0.ttf') format('truetype');}
 