/**
 * @license
 * MyFonts Webfont Build ID 3064414, 2015-07-25T01:17:53-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvenirLTStd-Black by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/95-black/
 * Copyright: Copyright &#x00A9; 1989, 1995, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1995, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3064414
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2ec25e");

  
@font-face {font-family: 'AvenirLTStd-Black';src: url('webfonts/2EC25E_0_0.eot');src: url('webfonts/2EC25E_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2EC25E_0_0.woff') format('woff'),url('webfonts/2EC25E_0_0.ttf') format('truetype');}
 