﻿<div ng-show="InvalidInvite">

    <h1>Pentair IntelliCenter System</h1>
    <br />

    <div>
        <h2 class="formatInvitation">Your invitation has expired…</h2>
        
        <br />               
        <br />
        
        <p>To resend the invite, please ask the Pentair IntelliCenter pool/spa control system Administrator</p>
        <p>to generate a new invitation.</p> 
        <br />
<p>This can be accomplished by: </p>
        <div class="row" style="margin-left:100px;">
            <p>         1- Administrator logs into IntelliCenter </p>
        </div>
        <div class="row" style="margin-left:100px;">
            <span>        2- Selects the “hamburger” </span>
            <span class="hamburgericon"></span>
            <span style="margin-left:40px;"> drop down menu icon in the top right</span>
        </div>
        <div class="row" style="margin-left:100px;margin-top:10px;">
            <p>         3- Choose the “Manage Users” selection</p>
        </div>
        <div class="row" style="margin-left:100px;">
            <p>         4- Select your email from the list</p>
        </div>
        <div class="row" style="margin-left:100px;">
            <p>         5- Select [resend invite] button</p>
        </div>
</div>
</div>

<div id="InviteEulaRefusedMsg" ng-show="EulaRefused">
    <h1>Sorry to see you go</h1>
    <br />
    <span>Please go back to your email invite and start over if you change your mind.</span>
</div>
<div id="InviteEula" class="index-modal dark" ng-show="ShowEula">
    <div class="index-modal-dialog pos-top profileSettings">
        <div class="modal-content-lg">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="modal-h3 title">End User License Agreement</h3>
                </div>
            </div>
            <div class="row modal-body">
                <div class="col-md-12">

                    <ng-include src="'app/templates/EULA.html'"></ng-include>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" id="DenyEulaBtn" class="btn secondary full" ng-click="RefusedEula()">Don't Accept</button>
                </div>
                <div class="col-md-6">
                    <button type="button" id="AcceptEulaBtn" class="btn primary full" ng-click="AcceptInvite()">Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index-modal dark" tabindex="-1" id="InviteExistingAcctModal" ng-show="ShowExistingAcct">
    <div class="index-modal-dialog pos-top profileSettings">
        <div class=" modal-content-lg">
            <form class="form-login" role="form">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="modal-h3 title">Existing Account</h3>
                    </div>
                </div>
                <div class="row">
                    <div data-ng-show="message" class="alert alert-danger" id="warning">
                        {{message}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-show="!attachedcompleted">
                            <h5>{{'IHAVEANACOUNT2' | translate}}:</h5>
                        </div>                       
                        <div class="errorNotification" style="background-color:yellow; color:black" ng-show="ExistingInviteLoginError">Login Failed!</div>
                        <div class="errorNotification" style="background-color:yellow; color:black" ng-show="ExistingInviteError">Failed to create Account. Please Try Again.</div>
                        <br />

                        <div ng-show="!attachedcompleted">
                            <label for="userName">Email</label>
                            <div>
                                <input type="email" id="userName" class="form-control" placeholder="Name@example.com" style="width:450px; float:left" data-ng-model="LoginData.email" required autofocus>
                            </div>

                            <label for="password">Password</label>
                            <div>
                                <span>
                                    <input type="{{passwordType}}" id="existaccount" class="form-control" ng-focus="LoginData.password=''" style="width:450px; float:left" placeholder="Password" data-ng-model="LoginData.password" required>
                                </span>
                                <span class="col-md-1"   style="top:10px;"  align="right">
                                    <span ng-click="togglePasswordType()" class="{{getEyeIcon()}}"></span>
                                </span>
                            </div>

                        </div>
                        <!-- account succefully attached -->
                        <div ng-show ="attachedcompleted">
                            <div class="attachedSuccessfull">{{'Your account : '}}
                                <span class="attachedSuccessfullUser">{{LoginData.email}}</span>
                            </div>
                            <br/>                            
                            <br />
                            <div class="attachedSuccessfull">{{'Has been successfully attached to the following Pool system: '}}
                                <span class="attachedSuccessfullUser"> {{AcceptInviteData.propertyName}}</span>                                
                            </div>                                                        
                            <br />                            
                
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row" ng-show="!attachedcompleted">
                    <div class="col-md-6">
                        <button id="cancel" class="btn secondary full" type="submit" data-ng-click="ToggleExistingAcct()">{{'CANCEL' | translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <button id="submit" class="btn primary full" type="submit" data-ng-click="AttachToExistingAcct()">{{'ATTACH' | translate}}</button>
                    </div>
                </div>
                <div class="row" ng-show="attachedcompleted">
                    <br />
                    <div class="col-md-6">
                        <button id="close" class="btn secondary full" type="submit" data-ng-click="ToggleExistingAcct()">{{'CLOSE' | translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <button id="connect" class="btn primary full" type="submit" data-ng-click="ConnectNow(LoginData)">{{'OPEN' | translate}}</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div id="InviteForm" ng-hide="InvalidInvite || EulaRefused">
    <h2>{{ 'ACCEPTINVITATION' | translate }}</h2>
    <div class="errorNotification" ng-show="InviteError">Failed to create Account. Please Try Again.</div>
    <br />
    <form class="form-login" role="form" name="AcceptInvitationForm" novalidate>
        <div>
            {{ 'ACCEPTINVITEFORM' | translate }}:
            <p> </p>
            <ul style="margin-left:2em ;font-weight: bolder;color: #1e1e1e;">                
                <li>{{AcceptInviteData.propertyName}}</li>
            </ul>
            <br />
            <!--
            {{'ACCEPTINVITE_PLEASECOMPLETE' | translate}}
                -->
        </div>

        <p> {{'ACCEPTINVITE_YOUREMAILADDR' | translate}} ,<span style="color: #1e1e1e; font-weight: bolder;" id="InviteEmailAddr"> {{AcceptInviteData.email}} </span>, will be your username.</p>

        <br />
        <p>     Please enter the password you would like to use:</p>
                
        <label for="password">{{ 'PASSWORD' | translate }} </label>
        <span class="required"></span>
        <br />
        <p>
            <span>
                <img src="content/img/warning-24.png" alt="Invalid Email" class="warningIcon" ng-hide="validatePassword() && AcceptInviteData.password" />
                <img src="content/img/check-24.png" alt="Valid Email" class="validIcon" ng-show="validatePassword() && AcceptInviteData.password" />
            </span>
            <span>
                <input id="InvitePassword" maxlength="15" type="password" name="password" class="form-control" style="width:300px; float:left" data-ng-model="AcceptInviteData.password" required>
            </span>
        </p>
        <br />

        <label for="InviteConfirmPassword">{{ 'CONFIRMNEWPASSWORD' | translate }}</label>
        <span class="required"></span>
        <br />

        <p>
            <span>
                <img src="content/img/warning-24.png" alt="Invalid Password" class="warningIcon" ng-hide="verifyConfirmationPassword() && AcceptInviteData.confirmPassword" />
                <img src="content/img/check-24.png" alt="Valid Password" class="validIcon" ng-show="verifyConfirmationPassword() && AcceptInviteData.confirmPassword" />
            </span>
            <span>
                <input id="InviteConfirmPassword" maxlength="15" type="password" name="confirmPassword" class="form-control" style="width:300px; float:left" data-ng-model="AcceptInviteData.confirmPassword" required>
            </span>
            

        </p>
        <br />

        <!--- rules-->
        <hr>
        <!--adding  rules for changing password-->
        <div class="row">
            <div class='display-password-rules-title'>{{ 'The New Password:'}}</div>
        </div>

        <div class="row">
            <div class="category no-padding no-margin">
                <span class="left paddle-label" style="width:30px;height:30px;">
                    <span class="icon-sm" ng-class="checkSizePassword(AcceptInviteData.password) ? 'formatCircle circleMatchicon' : 'formatCircle circleUnmatchicon'"></span>
                </span>
            </div>

            <div class='display-password-rules'>{{ ' Must contain at least 6 characters (upper or lower case)'}}</div>
        </div>


        <div class="row">
            <div class="category no-padding no-margin">
                <span class="left paddle-label" style="width:30px;height:30px; ">
                    <span class="icon-sm" ng-class="checkUppercasePassword(AcceptInviteData.password) ? 'formatCircle circleMatchicon' : 'formatCircle circleUnmatchicon'"></span>
                </span>
            </div>
            <div class='display-password-rules'>{{ ' Must contain at least 1 uppercase alpha character (A-Z)'}}</div>
        </div>


        <div class="row">
            <div class="category no-padding no-margin">
                <span class="left paddle-label" style="width:30px;height:30px; ">
                    <span class="icon-sm" ng-class="checkMatchPassword(AcceptInviteData.password,AcceptInviteData.confirmPassword) ? 'formatCircle circleMatchicon' : 'formatCircle circleUnmatchicon'"></span>
                </span>
            </div>
            <div class='display-password-rules'>{{ 'Matches with Confirm New Password'}}</div>

        </div>

        <hr>
        <!--selected-->
    </div>
    <!--- rules-->

<div ng-hide="InvalidInvite || EulaRefused">
    <button id="InviteCreateAcctBtn" type="submit" ng-disabled="!validateForm()" data-ng-click="ToggleEula()">Create Account</button>
    <button id="InviteExistingAcctBtn" type="submit" data-ng-click="ToggleExistingAcct()">Existing Account?</button>
</div>
    </form>
</div>
