﻿
<div class="row home-tab bodies-tab" ng-controller="BodiesController">
    <!--Shared body Power Buttons-->
    <div class="row bodies">
        <div ng-repeat="body in SharedBodies | orderBy:'parent.SNAME'" class="row">
            <!-- removing body category shared => no-padding no-margin-->                
            
            <div class="col-md-3 ">                
                <div class="category widthBody no-padding  no-margin">                    
                    <div class="description {{body.parent.SUBTYP | lowercase}}" ng-class="{'dim-2': (enumerations.bodyOffStatusList.indexOf(body.parent.STATUS) >= 0) }">                    

                        <!--<span class="title">{{body.parent.SNAME}}</span>-->
                        <!-- adding icon for pool status, flame, sun or flake -->
                        <span class="right paddle-label">
             
                            <span class=" title"> {{body.parent.SNAME }} </span>
                        </span>

                    </div>
                </div>
                <div class="category widthBody no-padding  no-margin">
                    <div class="action-ctn">
                        <span ng-show="(enumerations.bodyOnStatusList.indexOf(body.parent.STATUS) >= 0) && Model.FreezeCircuit.STATUS === 'ON'" class="freeze-label">Freeze Mode</span>
                        <toggle-switch id="{{body.parent.OBJNAM+'_PwrBtn'}}" toggle-onclick="Property.ToggleBody(obj,value)"
                                       disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('p') < 0)"
                                       target-circuit="body.parent" />
                    </div>
                 </div>


                <!--CHECKING SHARE BODY -->
                <div ng-if="isSharePresent(body)">
                    <div class="category widthBody shared no-padding no-margin">                      
                        <div class="description {{body.child.SUBTYP | lowercase}}" ng-class="{'dim-2': (enumerations.bodyOffStatusList.indexOf(body.child.STATUS) >= 0) }">                         
                            <!--<span class="title">{{body.child.SNAME}}</span> -->
                            <!-- adding icon for pool status, flame, sun or flake -->
                            <span class="right paddle-label">
           
                                <span class=" title">{{body.child.SNAME }}</span>
                            </span>

                        </div>
                    </div>
                    <div class="category widthBody no-padding  no-margin">
                        <div class="action-ctn">
                            <span ng-show="(enumerations.bodyOnStatusList.indexOf(body.child.STATUS) >= 0) && Model.FreezeCircuit.STATUS === 'ON'" class="freeze-label">Freeze Mode</span>
                            <toggle-switch id="{{body.child.OBJNAM+'_PwrBtn'}}" toggle-onclick="Property.ToggleBody(obj,value)"
                                           disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('m') < 0)"
                                           target-circuit="body.child" />
                        </div>
                    </div>
                </div>
            </div>
            <!--Parent-->
            <div class="col-md-9 ">
                <div class="col-md-5 body body-stats">
                    <div class="col-md-12 info vertical-middle">
                        <div class="col-md-4 temp vertical-middle" ng-class="{'dim' : (enumerations.bodyOffStatusList.indexOf(body.parent.STATUS) >= 0) }">


                            <div class="row category no-padding no-margin">
                                <span class="right paddle-label">
                                    <span class="icon-sm pool-heating  {{getBodyStatusIconName(body.parent)}}"></span>
                                    <span class=" title">{{body.parent.SUBTYP}} Temp</span>
                                </span>
                            </div>  

                            <div class="poolTemp">
                                <span class="icon"></span>
                                
                                <span class="value" id="lastPoolTemp" ng-if="showLastTemp(body.parent)">{{(body.parent.LSTTMP | number:1 ) || '--'}}</span>
                                <!-- TO BE DONE.. WAIT FOR ICWEB TO FIX TOKEN LSTTMP : last temperature value
                                <span class="value" id="lastPoolTemp" ng-if="showLastTemp(body.parent)">{{getLastTemp(body)}}</span>
                                 -->

                                <!--replacing   :  body.parent.TEMP for  body.parent.LSTTMP-->
                                <span class="value" id="poolTemp" ng-if="(enumerations.bodyOnStatusList.indexOf(body.parent.STATUS) > 0)">{{(body.parent.LSTTMP | number:1 ) || '--'}}</span>
                                <span class="value" ng-if="!showLastTemp(body.parent) && (enumerations.bodyOffStatusList.indexOf(body.parent.STATUS) >= 0)">--</span>
                                <span class="unit">{{sysPref.MODE | unitOfMeasurment }}</span>
                                <div class="title">{{( !showLastTemp(body.parent) ? 'CURRENT_TEMP' : 'LAST_TEMP') | translate}}</div>

                            </div>
                        </div>
                        <div class="col-md-8 stats vertical-middle">                   
                            <!-- heat set point -->
                            <div ng-show="isHeatActive( (body.parent | currentHeater).SHOMNU, body.parent.HEATER)" class="row paddle-container">
                                <span class="left paddle-label" ng-class="{'active':body.HTMODE === 'INCR'}">Heat Set Temp</span>
                                <div class="right" value-stepper icon-size=" icon-sm" color="white" target-circuit="body.parent"
                                     disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('P') < 0)"
                                     param="LOTMP"
                                     on-change="Property.SetValue(objNam,param,value)"
                                     value-class="temperature"></div>
                            </div>
                            <!-- cool set point -->
                            <div ng-show="isCoolingActive( (body.parent | currentHeater).SHOMNU, (body.parent | currentHeater).COOL )" class="row paddle-container">
                                <span class="left paddle-label">Cool Set Temp</span>
                                <div class="right" value-stepper icon-size="icon-sm" color='white'
                                     target-circuit="body.parent"
                                     disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('P') < 0)"
                                     param="HITMP"
                                     on-change="Property.SetValue(objNam,param,value)"
                                     value-class="temperature"></div>
                            </div>

                        </div>
                    </div>
                    <div class="row no-padding heater white-ddl">
                        <div class="btn-group row" dropdown>                            
                            <button class="btn drodown-btn" ng-click="$event.stopPropagation()"
                                    ng-disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('h') < 0)"
                                    dropdown-toggle>
                                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                <span ng-if="body.parent.HEATER === '00000'">{{ getHeaterNameSelected( body, "Off", currentHeatMode )}}</span>                                                            
                                <span ng-if="body.parent.HEATER !== '00000'">{{ getHeaterNameSelected( body.parent, body.parent.HEATER, currentHeatMode )   || 'Heat Mode: Off'}}</span>
                                                                                                                
                            </button>
                            <ul class="dropdown-menu">                                                                                                      <!-- heater in body.parent.HEATERS | sortHeaters-->
                                <li ng-click="setSelectedHeaterToBody(body.parent.OBJNAM,'HEATER',heater.OBJNAM,heater.MODE); $event.stopPropagation();" class="row" ng-repeat="heater in body.parent.HEATERS track by $index " dropdown-toggle>
                                    <a href>{{getHeaterItemName(heater)}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- chemistry section beging-->
                    <div ng-if="body.CHEMISTRY.ICHEM || body.CHEMISTRY.ICHLOR" class="title row chemistry shared pointer-cursor" ng-click="gotoTab('chemistry')">
                        <div class="left {{isMenuEnabled('c')}}">
                            <label>Chemistry</label>
                        </div>
                        <div class="right chem-levels">
                            <span ng-if="body.CHEMISTRY.ICHEM" class="chem-level">
                                <label for="phORP"><span class="icon-circle-blank"></span><labelnone>pH</labelnone></label>                                
                                {{(body.CHEMISTRY.ICHEM.PHVAL | number:2) || '--'}}
                            </span>

                            <span ng-if="body.CHEMISTRY.ICHEM" class="chem-level">
                                <label for="phORP"><span class="icon-circle-blank"></span>ORP</label>
                                {{(body.CHEMISTRY.ICHEM.ORPVAL | number:0) || '--'}}
                            </span>
                            <!-- display if body is different or ichem is not controlling ichlor -->
                            <span ng-show="isPresentIChlorBody(body)" class="chem-level">
                                <label for="salt"><span class="icon-circle-blank"></span>Salt</label>
                                <!--{{(body.CHEMISTRY.ICHLOR.SALT | number) || '--'}}-->
                                {{(getSaltValue(body)) || '--'}} 

                            </span>
                        </div>
                    </div>
                    <!-- chemistry section end-->  
                </div>
                <div class="col-md-7 circuitz">
                </div>
            </div>


            <!--Child-->
            <div ng-if="isSharePresent(body)">
                <div class="col-md-9 ">
                    <div class="col-md-5 body body-stats">
                        <div class="col-md-12 info vertical-middle">
                            <div class="col-md-4 temp vertical-middle" ng-class="{'dim': (enumerations.bodyOffStatusList.indexOf(body.child.STATUS) >= 0)}">
                  
                                <div class="row category no-padding no-margin">
                                    <span class="right paddle-label">
                                        <span class="icon-sm pool-heating  {{getBodyStatusIconName(body.child)}}"></span>
                                        <span class=" title">{{body.child.SUBTYP}} Temp</span>
                                    </span>
                                </div>   

                                <div class="poolTemp">
                                    <span class="icon"></span>
                                    <span class="value" id="lastPoolTemp" ng-if="showLastTemp(body.child)">{{(body.child.LSTTMP | number:1 ) || '--'}}</span>
                                    <!--replacing   :  body.child.TEMP  for   body.child.LSTTMP-->
                                    <span class="value" id="poolTemp" ng-if="(enumerations.bodyOnStatusList.indexOf(body.child.STATUS) >= 0)">{{(body.child.LSTTMP | number:1 ) || '--'}}</span>
                                    <span class="value" ng-if="!showLastTemp(body.child) && (enumerations.bodyOffStatusList.indexOf(body.child.STATUS) >= 0)">--</span>
                                    <span class="unit">{{sysPref.MODE | unitOfMeasurment }}</span>
                                    <div class="title">{{(!showLastTemp(body.child) ? 'CURRENT_TEMP' : 'LAST_TEMP') | translate}}</div>
                                </div>
                            </div>
                            <div class="col-md-8 stats vertical-middle">                                 
                                <!--Heat set temp-->
                                <div ng-show="isHeatActive( (body.child | currentHeater).SHOMNU, body.child.HEATER)" class="row paddle-container">
                                    <span class="left paddle-label" ng-class="{'active':body.HTMODE === 'INCR'}">Heat Set Temp</span>
                                    <div class="right" value-stepper icon-size="icon-sm" color="white" target-circuit="body.child"
                                         disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('S') < 0)"
                                         param="LOTMP"
                                         on-change="Property.SetValue(objNam,param,value)"
                                         value-class="temperature"></div>
                                </div>
                                <!-- cool set temp-->
                                <div ng-show="isCoolingActive( (body.child | currentHeater).SHOMNU, (body.child | currentHeater).COOL )" class="row paddle-container">
                                    <span class="left paddle-label">Cool Set Temp</span>
                                    <div class="right" value-stepper icon-size="icon-sm" color="white" target-circuit="body.child"
                                         disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('S') < 0)"
                                         param="HITMP"
                                         on-change="Property.SetValue(objNam,param,value)"
                                         value-class="temperature"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-padding heater white-ddl">
                            
                            <div class="btn-group row" dropdown>
                                <button class="btn drodown-btn" ng-click="$event.stopPropagation()"
                                        ng-disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('n') < 0)"
                                        dropdown-toggle>
                                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                    <span ng-if="body.child.HEATER === '00000'">Heat Mode: Off</span>
                                    <span ng-if="body.child.HEATER !== '00000'">{{ getHeaterNameSelected( body.child, body.child.HEATER, currentHeatMode )   || 'Heat Mode: Off'}}</span>

                                </button>
                                <ul class="dropdown-menu">                                                                                                                      <!-- heater in body.child.HEATERS | sortHeaters-->       
                                    <li ng-click="setSelectedHeaterToBody(body.child.OBJNAM,'HEATER',heater.OBJNAM,heater.MODE); $event.stopPropagation();" class="row" ng-repeat="heater in body.child.HEATERS track by $index" dropdown-toggle>                                                                            
                                        <a href>{{getHeaterItemName(heater)}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 circuitz">
                    </div>
                </div>

            </div>
 

        </div>
        
            </div>
            <!--Single body Power Button-->
            <div class="row bodies">                                
                <div ng-repeat="body in SingleBodies | orderBy: 'SNAME'" class="singlebody row">    
                         <!-- removing body below-->                
                        <div class="col-md-3">                           
                            <div class="category widthBody no-padding no-margin">
                               
                                <div class="description {{body.SUBTYP | lowercase}}" ng-class="{'dim-2': (enumerations.bodyOffStatusList.indexOf(body.STATUS) >= 0) }">                                  
                                    <!--<span class="title">{{body.SNAME}}</span>-->
                                    <!-- adding icon for pool status, flame, sun or flake -->
                                    <span class="right paddle-label">
                                        <!--
                <span class="icon-sm pool-heating  {{getBodyStatusIconName(body)}}"></span>
                -->
                                        <span class=" title">
                                            {{body.SNAME }}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="category widthBody no-padding no-margin">
                                <div class="action-ctn">
                                    <span ng-show="(enumerations.bodyOnStatusList.indexOf(body.STATUS) >= 0) && Model.FreezeCircuit.STATUS === 'ON'" class="freeze-label">Freeze Mode</span>
                                    <toggle-switch disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('p') < 0)"
                                                   id="{{body.OBJNAM+'_PwrBtn'}}" toggle-onclick="Property.ToggleBody(obj,value)" target-circuit="body" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-5 body body-stats">
                                <div class="col-md-12 info vertical-middle">
                                    <div class="col-md-4 temp vertical-middle" ng-class="{'dim': (enumerations.bodyOffStatusList.indexOf(body.STATUS) >= 0)}">                                        
                                        <!--
                                        <div class="title">{{body.SUBTYP}} Temp</div>                                            
                                        -->                                        
                                            <div class="row category no-padding no-margin">
                                                <span class="right paddle-label">
                                                    <span class="icon-sm pool-heating  {{getBodyStatusIconName(body)}}"></span>
                                                    <span class=" title">{{body.SUBTYP}} Temp</span>                                                     
                                                </span>
                                            </div>                                        
                                            <div class="poolTemp" >                                                   
                                                <span class="icon"></span>
                                                <span class="value" id="lastPoolTemp" ng-if="showLastTemp(body)">{{(body.LSTTMP | number:1 ) || '--'}}</span>
                                                <!--replacing   :  body.TEMP  for   body.LSTTMP-->
                                                <span class="value" id="poolTemp" ng-if="(enumerations.bodyOnStatusList.indexOf(body.STATUS) >= 0)">{{(body.LSTTMP | number:1 ) || '--'}}</span>
                                                <span class="value" ng-if="!showLastTemp(body) && (enumerations.bodyOffStatusList.indexOf(body.STATUS) >= 0)">--</span>
                                                <span class="unit">{{sysPref.MODE | unitOfMeasurment }}</span>                                                
                                                <div class="title">{{( !showLastTemp(body) ? 'CURRENT_TEMP' : 'LAST_TEMP') | translate}}</div>
                                            </div>
                                        </div>
                                    <div class="col-md-8 stats vertical-middle">
                                        <!-- Heating set Point -->
                                        <div ng-show="isHeatActive( (body | currentHeater).SHOMNU, body.HEATER )" class="row paddle-container">
                                            <div class="left paddle-label" ng-class="{'active':body.HTMODE === 'INCR'}">Heat Set Temp</div>
                                            <div class="right" value-stepper icon-size=" icon-sm" color="white" target-circuit="body"
                                                 disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('P') < 0)"
                                                 param="LOTMP"
                                                 on-change="Property.SetValue(objNam,param,value)"
                                                 value-class="temperature"></div>
                                        </div>
                                        <!-- Cooling Set Point-->
                                        <div ng-show="isCoolingActive( (body | currentHeater).SHOMNU, (body | currentHeater).COOL )" class="row paddle-container">
                                            <div class="left paddle-label">Cool Set Temp</div>
                                            <div class="right" value-stepper icon-size="icon-sm" color="white" target-circuit="body"
                                                 disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('P') < 0)"
                                                 param="HITMP"
                                                 on-change="Property.SetValue(objNam,param,value)"
                                                 value-class="temperature"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row no-padding heater white-ddl">
                                    <div class="btn-group row" dropdown>                                                                                                                        
                                        <button class="btn drodown-btn" ng-click="$event.stopPropagation()"
                                                ng-disabled="(Model.SecurityEnabled && Model.ACL.SHOMNU.indexOf('h') < 0)" dropdown-toggle>
                                            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                            <span ng-if="body.HEATER === '00000'">{{getHeaterNameSelected( body, "Off", currentHeatMode )}}</span>
                                            <span ng-if="body.HEATER !== '00000'">{{getHeaterNameSelected( body, body.HEATER, currentHeatMode )   || 'Heat Mode: Off'}}</span>
                                        </button>
                                        <ul class="dropdown-menu">                                       
                                            <li ng-click="setSelectedHeaterToBody(body.OBJNAM,'HEATER',heater.OBJNAM,heater.MODE); $event.stopPropagation();" class="row" ng-repeat="heater in body.HEATERS track by $index" dropdown-toggle>
                                                <a href>{{getHeaterItemName(heater)}}</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <!-- chemistry section beging-->
                                <div ng-if="body.CHEMISTRY.ICHEM || body.CHEMISTRY.ICHLOR" class="title row chemistry shared pointer-cursor" ng-click="DashboardTabs.chemistry.active = true">
                                    <div class="left">
                                        <label>Chemistry</label>
                                    </div>
                                    <div class="right chem-levels">
                                        <span ng-if="body.CHEMISTRY.ICHEM" class="chem-level">
                                            <label for="phORP"><span class="icon-circle-blank"></span>pH</label>                                            
                                            {{(body.CHEMISTRY.ICHEM.PHVAL | number:2) || '--'}}
                                        </span>

                                        <span ng-if="body.CHEMISTRY.ICHEM" class="chem-level">
                                            <label for="phORP"><span class="icon-circle-blank"></span>ORP</label>
                                            {{(body.CHEMISTRY.ICHEM.ORPVAL | number:0) || '--'}}
                                        </span>

                                        <span ng-show="isPresentIChlorBody(body)" class="chem-level">
                                            <label for="salt"><span class="icon-circle-blank"></span>Salt</label>
                                            <!--{{(body.CHEMISTRY.ICHLOR.SALT | number) || '--'}}-->
                                            {{(getSaltValue(body)) || '--'}}
                                        </span>
                                    </div>
                                </div>
                                <!-- chemistry section end-->  
                            </div>
                            <div class="col-md-7 circuitz">
                            </div>
                        </div>                   
                    <!--</div>
                        -->

                </div>
                </div>
        
 
         </div>
