﻿<div id="ChangePassword">
    <form class="form-login" role="form" name="ChangePasswordForm" novalidate>
        <div class="row">
            <div class="col-md-3"> 
            </div>
            <div class="col-md-6">
                <div class="login">
                    <div class="login-header border-radius-top">
                        <span href="/#" class="logo"></span>
                    </div>
                    <div class="notifications">
                        <div id="PassWordChangedMsg" class="notification successNotification" ng-show="AuthService.authentication.passwordChanged">{{'PASSWORDSUCCESSFULLYCHANGED' | translate}}</div>
                        <div id="ErrorMsg" class="notification errorNotification" ng-show="changePasswordData.error">System fail message.</div>
                        <div id="AuthError" class="notification errorNotification" ng-show="!validateOldPassword && changePasswordData.oldPassword">Authentication Error.</div>
                        <div id="InvalidPassword" class="notification errorNotification" ng-show="!validateNewPassword() && changePasswordData.newPassword">Invalid Password.</div>
                        <div id="PasswordMatchError" class="notification errorNotification" ng-show="!verifyConfirmationPassword() && changePasswordData.confirmPassword">Passwords Do not Match.</div>
                    </div>
                    <div class="content">
                        <div ng-show="changePasswordFlag">
                            <label for="oldPassword">{{'OLDPASSWORD' | translate}} <span class="required"></span></label>
                            <br />
                            <input id="OldPassword" type="password" name="oldPassword" maxlength="15" class="form-control" data-ng-model="changePasswordData.oldPassword" ng-focus="clearOldPassword()" ng-blur="verifyPassword()" required>
                        </div>
                        <div>
                            <label for="newPassword">{{'NEWPASSWORD' | translate}} <span class="required"></span></label>
                            <br />
                            <input id="NewPassword" type="password" name="newPassword" maxlength="15" class="form-control" data-ng-model="changePasswordData.newPassword" required>
                        </div>
                        <div>
                            <label for="confirmPassword">{{'CONFIRMNEWPASSWORD' | translate}}<span class="required"></span></label>
                            <br />
                            <input id="ConfirmPassword" type="password" maxlength="15"name="confirmPassword" class="form-control" data-ng-model="changePasswordData.confirmPassword" required>
                        </div>
                    </div>

                    <div>
                        <button id="SubmitBtn" class="submit border-radius-bottom bold" type="submit" ng-disabled="!validateForm()" data-ng-click="ChangePassword()">Submit</button>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
            </div>
        </div>

    </form>

</div>

