﻿<div ng-controller="ChemistryController">
    <tabset class="row chemistry-tab sub-tabs">
        <div class="row text-right" style="float:left">
            
            <tab ng-click="" heading="{{body.SNAME}}" active="$first" ng-repeat="body in AllBodies  track by $index | orderBy:'LISTORD'">
            <!--
            <tab ng-click="" heading="{{body.SNAME}}" active="$first" ng-init=updateChemistry() ng-repeat ="body in chems">                
                -->
        <div ng-if="isChemistryPresent(body)">        
                <div ng-if="true">
                    <div ng-if="body.CHEMISTRY.ICHEM" class="intelliChem-intelliChlor row">
                        <div class="col-sm-5 intellichem-titleBox">
                            <h2 class="title">IntelliChem</h2>                            
                            <!-- check if intellichem is not available then display communication lost message-->
                            
                            <div ng-show="!isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                <div class="lostcomm-title">Communication Lost</div>
                            </div>
                                
                            <div id="PhLevel" class="ph">
                                <div class="col-sm-9 no-padding">
                                    <div class="row paddle-container">
                                        <div class="left paddle-label">pH Level</div>
                                        <div ng-show="isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                            <div value-stepper increment="0.1" precision='1' target-circuit="body.CHEMISTRY.ICHEM" range="phRange" param="PHSET" on-change="Property.SetValue(objNam,param,value)" class="right"></div>
                                        </div>
                                    </div>
                                    <div class="row graph" ng-show="isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                        <div scale-bar="body.CHEMISTRY.ICHEM.PHVAL" precision="2" range="ranges.PH_ZOOM" chem-type="ph" segment-colors="phSegs" marker-class="chem-scale-marker" label-class="chem-marker-label"></div>
                                    </div>
                                    <div class="row graph" ng-show="!isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                        <div class="lostcomm-title-small" style="color:red">Communication Lost</div>
                                    </div>
                                </div>

                                <div class="col-sm-3 no-padding tank" ng-show="isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                    <h4 class="sub-title">Tank Level</h4>
                                    <div class="col-sm-8 no-padding">
                                        <p class="value">{{(displayTankValue(body.CHEMISTRY.ICHEM.PHTNK) + '/6') || '--'}}</p>
                                        <p class="full" style="color:{{tankDescriptionColor(body.CHEMISTRY.ICHEM.PHTNK)}}">{{displayTankDescription(body.CHEMISTRY.ICHEM.PHTNK)}}</p>

                                    </div>
                                    <div class="col-sm-4 no-padding">
                                        <div vertical-progress-bar="(displayTankValue(body.CHEMISTRY.ICHEM.PHTNK) * (16 + (2/3))) + ''"
                                             class="tank-level tank-level-{{displayTankValue(body.CHEMISTRY.ICHEM.PHTNK)}}"
                                             type="warning"
                                             marker-class="chem-scale-marker"></div>
                                    </div>
                                </div>
                            </div>

                            <div id="OrpLevel" class="orp">
                                <div class="col-sm-9 no-padding" style="height:152px">
                                    <div class="row paddle-container">
                                        <div class="left paddle-label">ORP Level</div>
                                        <!-- chem communication is good-->
                                        <div ng-show="isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                            <div value-stepper target-circuit="body.CHEMISTRY.ICHEM" range="orpRange" increment="10" param="ORPSET" on-change="Property.SetValue(objNam,param,value)" class="right"></div>
                                        </div>

                                    </div>
                                    <div class="row graph" ng-show="isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                        <div scale-bar="body.CHEMISTRY.ICHEM.ORPVAL" range="ranges.ORP_ZOOM" chem-type="orp" segment-colors="orpSegs" marker-class="chem-scale-marker" label-class="chem-marker-label"></div>
                                    </div>

                                    <div class="row graph" ng-show="!isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                        <div class="lostcomm-title-small" style="color:red">Communication Lost</div>
                                    </div>
                                </div>
                                
                               <div class="col-sm-3 no-padding tank" style="background-color:#00c4b3; height:152px" ng-hide="!isIChemControlingChlor(body)">

                                </div>
                                <!--hide orp tank level  if chem controls chlor -->
                                <div class="col-sm-3 no-padding tank" ng-show="showOrpTankLevel(body)">
                                    <h4 class="sub-title">Tank Level</h4>
                                    <div class="col-sm-8 no-padding">
                                        <p class="value">{{(displayTankValue(body.CHEMISTRY.ICHEM.ORPTNK) + '/6') || '--'}}</p>
                                        <p class="full" style="color:{{tankDescriptionColor(body.CHEMISTRY.ICHEM.ORPTNK)}}">{{displayTankDescription(body.CHEMISTRY.ICHEM.ORPTNK)}}</p>
                                    </div>
                                    <div class="col-sm-4 no-padding">
                                        <div vertical-progress-bar="(displayTankValue(body.CHEMISTRY.ICHEM.ORPTNK) * (16 + (2/3))) + ''"
                                             class="tank-level tank-level-{{displayTankValue(body.CHEMISTRY.ICHEM.ORPTNK)}}"
                                             type="warning"
                                             marker-class="chem-scale-marker"></div>
                                    </div>
                                </div>
                                </div>
                        </div>
                        <div class="col-sm-2 no-padding chem-levels">
                            <div class="row chem-level salt" ng-show="!canDisplayIChlor(body)">
                                <h3 class="sub-title">Salt Level</h3>
                                <div>
                                    <label class="level-num">{{body.CHEMISTRY.ICHLOR.SALT || '--'}}</label>
                                    <!-- <label class="title warning-level">Very Low</label>-->
                                </div>
                            </div>

                            <div class="row chem-level">
                                <h3 class="sub-title">Alkalinity</h3>
                                <div ng-show="isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                    <div value-stepper target-circuit="body.CHEMISTRY.ICHEM" range="ranges.ALK" param="ALK" on-change="Property.SetValue(objNam,param,value)"></div>
                                </div>
                                <div class="sub-title-description" >Manually Input</div>
                            </div>

                            <div class="row chem-level">
                                <h3 class="sub-title">Calcium Hardness</h3>
                                <div ng-show="isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                    <div value-stepper target-circuit="body.CHEMISTRY.ICHEM" range="ranges.CALC" param="CALC" on-change="Property.SetValue(objNam,param,value)"></div>
                                </div>
                                <div class="sub-title-description">Manually Input</div>
                            </div>

                            <div class="row chem-level">
                                <h3 class="sub-title">Cyanuric Acid</h3>
                                <div ng-show="isIntelliChemAvailable(body.CHEMISTRY.ICHEM)">
                                    <div value-stepper target-circuit="body.CHEMISTRY.ICHEM" range="ranges.CYACID" param="CYACID" on-change="Property.SetValue(objNam,param,value)"></div>
                                </div>
                                <div class="sub-title-description">Manually Input</div>
                            </div>
                        </div>
                        <div class="col-sm-5 chem-levels intelliChlor">
                            <div class="row no-padding chem-level">
                                <h3 class="sub-title">Water Balance</h3>
                                <h3>
                                    {{body.CHEMISTRY.ICHEM.QUALTY || '--'}}
                                    <!--CHANGE body.CHEMISTRY.ICHEM.SINDEX FOR -->
                                    <!--<span class="title">{{body.CHEMISTRY.ICHEM.QUALITY}}</span>-->
                                </h3></h3>
                                </h3>
                                </h3>

                            </div>

                        </div>
                    </div>

                    <!-- body.CHEMISTRY.ICHLOR-->
                    <div ng-if="canDisplayIChlor(body)" class="intelliChlor-only row">
                        <div class="col-sm-5 intelliChlor-titleBox  chem-level">
                            <div class="row">
                                <h2 class="title">IntelliChlor</h2>
                                <h4 class="title sub-title">Chlorinator<sup>®</sup></h4>                                
                            </div>
                            <!-- check if intellichem is not available then display communication lost message -->
                            <div ng-show="!isIntelliChemAvailable(body.CHEMISTRY.ICHLOR)">
                                <h4 class="lostcomm-title" style="color='red'">Communication Lost</h4>
                            </div>
                                


                            <div class="salt row" ng-hide="true">
                                <span class="warningIcon"></span>
                                <label class="title">Salt Levels</label>
                                <label class="title value">{{body.CHEMISTRY.ICHLOR.SALT || 'N/A'}}</label>
                                <!-- <label class="title warning-level">Very Low</label>-->
                            </div>
                        </div>
                        <div class="col-sm-7 chem-levels">
                            <div class="col-sm-12 no-padding chem-level body-level">
                                <div ng-if="!body.parent" class="category col-sm-8">
                                    <h3 class="sub-title">Output: {{body.SNAME}}</h3>
                                    <div class="description  {{body.SUBTYP | lowercase}}">
                                    </div>
                                    <div value-stepper target-circuit="body.CHEMISTRY.ICHLOR" range="ranges.PRIM" param="PRIM" on-change="Property.SetValue(objNam,param,value)"></div>
                                </div>
                                <div ng-if="body.parent" class="category col-sm-4">
                                    <h3 class="sub-title">Output: {{body.parent.SNAME}}</h3>
                                    <div class="description  {{body.parent.SUBTYP | lowercase}}">
                                    </div>
                                    <div value-stepper target-circuit="body.CHEMISTRY.ICHLOR" range="ranges.PRIM" param="PRIM" on-change="Property.SetValue(objNam,param,value)"></div>
                                </div>
                                <div ng-if="body.parent" class="category col-sm-4">
                                    <h3 class="sub-title">Output: {{body.child.SNAME}}</h3>
                                    <div class="description {{body.child.SUBTYP | lowercase}}">
                                    </div>
                                    <div value-stepper target-circuit="body.CHEMISTRY.ICHLOR" range="ranges.SEC" param="SEC" on-change="Property.SetValue(objNam,param,value)"></div>
                                </div>

                                <div class="category col-sm-4 super-chlor" ng-hide="isNotIChlorBody(body)">

                                    <div class="salt row">
                                        <h3 class="sub-title">Salt Levels</h3>
                                        <!-- <span class="warningIcon"></span> -->
                                        <div>
                                            <label class="level-num">  {{body.CHEMISTRY.ICHLOR.SALT || '--'}}</label>
                                        </div>
                                        <!-- <label class="title warning-level">Very Low</label>-->
                                    </div>

                                    <h3 class="sub-title">Super Chlorinate</h3>
                                    <div ng-show="isIntelliChemAvailable(body.CHEMISTRY.ICHLOR)">
                                        <div class="row description power" >
                                            <!--<toggle-switch class="vertical-middle" -->
                                            <toggle-switch style="width:200px;" id="{{body.OBJNAM+'_PwrBtn'}}" toggle-onclick="Property.SetValue(obj.OBJNAM,param,value)" target-circuit="body.CHEMISTRY.ICHLOR" param="SUPER" />
                                        </div>
                                    </div>
                                    <!-- hide time counter-->
                                    <div value-stepper value-filter="uppercase"
                                            ng-hide="true"
                                            disabled="body.CHEMISTRY.ICHLOR.SUPER == 'ON'"
                                            target-circuit="body.CHEMISTRY.ICHLOR"
                                            range="ranges.TIMOUT"
                                            param="TIMOUT"
                                            on-change="setSuperChlor(objNam, param, value)">
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
            </tab>
        </div>
    </tabset>
</div>