<div class="row edit-row" ng-if="pump.SUBTYP === 'SINGLE'">
  <div class="col-md-4 edit-bar border-right border-bottom">
    <label>Pump Name</label>
      <input type="text" class="form-control editable" name="pumpName{{$index}}" id="pumpName{{$index}}"
             ng-model="pump.SNAME"             
             ng-change="checkNameEmpty(pumpIndex,pump.SNAME);"
             placeholder="Enter Name"
             autocomplete="off"
             autofocus
             maxlength="15">
  </div>
  <div class="col-md-2 no-padding border-right border-bottom">
    <label for="pump{{$index}}TypeDropDown">Type<span class="required"></span></label>
    <div class="white-ddl">
      <div class="btn-group border-bottom" dropdown>
        <button id="pump{{$index}}TypeDropDown"
                class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
          <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
          {{ getDictionaryValue(pump.SUBTYP) || 'Select A Type'}}
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item" role="menuitem"
                ng-repeat="pumpSubtype in pumpSubtypes track by $index"
                ng-click="changeSubtype(pump, pumpSubtype.actualValue,pumpIndex);
                setDirty(pumpIndex);">
                <a dropdown-toggle href="">{{pumpSubtype.dictionaryValue}}</a>
            </li>
        </ul>
      </div>
    </div>
  </div>

    <!--
        $root.forms.pumps[pumpIndex].$setDirty();" dropdown-toggle>
    -->
  <div class="col-md-6 no-padding border-right border-bottom">
    <label for="pump{{$index}}CircuitDropDown">Body<span class="required"></span></label>
    <div class="white-ddl">
      <div class="btn-group border-bottom" dropdown>
        <button id="pump{{$index}}CircuitDropDown" ng-disabled="pump.STATIC === 'ON'"
                class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
          <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>           
            {{ getBodyPump(pump.BODY) || 'Select Body'}}
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item" role="menuitem"
                ng-repeat="propertyBody in propertyBodies track by $index"
                ng-click="pump.BODY = propertyBody.OBJNAM; setSingleCircuit(pump, propertyBody.OBJNAM);
                setDirty(pumpIndex);" dropdown-toggle>
                <a href="">{{propertyBody.SNAME}}</a>
            </li>
        </ul>
      </div>
    </div>
  </div>

</div>