<accordion class="parent-accordion" close-others="false">
  <accordion-group bg-color="bg-blue" ng-repeat="panel in panels" ng-init="outterIndex=$index"
                   is-open="accordionStateByObjectNames[panel.objectName].open">
    <accordion-heading>
      <div class="row">
        <div class="col-md-4">
          <span class="icon icon-md icon-config"></span>
          <span>{{ combineNameTab(panel) | cut:true:25:' ...' || '--'}}</span>
        </div>        
        <div class="col-md-3"><span>{{'FUNCTION' | translate}}</span></div>
        <div class="col-md-3"><span>{{'SHOW_AS_FEATURE' | translate}}</span></div>
        <div class="col-md-2">
          <span>{{'EGG_TIMER' | translate}}</span>
            <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[panel.objectName].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[panel.objectName].open}"
             class="pull-right glyphicon"></i>
        </div>
      </div>
    </accordion-heading>

    <accordion class="child-accordion" close-others="false">
      <!--
      <accordion-group bg-color="bg-lightblue" ng-repeat="circuit in panel.circuits"
                       is-open="accordionStateByObjectNames[circuit.objectName].open">
-->
        <accordion-group bg-color="bg-lightblue" ng-repeat="circuit in panel.circuits"
                         is-open="false">

            <accordion-heading>
                <div class="row">
                    <div class="col-md-4">
                        <span style="float:left" class="icon icon-md icon-circuit"></span>                                                
                        <!-- <span>{{ combineName(circuit) | cut:false:25:' ...' || '--'}}</span>  -->
                        <span>{{ getCircuitName(circuit) | cut:false:25:' ...' || '--'}}</span>
                        <span class="icon icon-md icon-nofrost pull-right" style="margin-right:0" ng-show="circuit.freezeProtection"></span>
                    </div>                    
                    <div class="col-md-3"><span>{{ getDictionaryValue(circuit.subtype) | cut:false:24:' ...' }}</span></div>
                    <div class="col-md-3"><span>{{circuit.showAsFeature | yesNo}}</span></div>
                    <div class="col-md-2">
                        <span ng-hide="circuit.disableEggTimer">{{circuit.eggTimerHours}}h {{circuit.eggTimerMinutes}}m</span>
                        <span ng-show="circuit.disableEggTimer">Don't Stop</span>
                        <div style="float:right">
                            <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[circuit.objectName].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[circuit.objectName].open}"
                               class="pull-right glyphicon"></i>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <form name="$root.forms.circuits.aux[{{outterIndex}}][{{$index}}]" class="col-md-12 no-padding" ng-init="innerIndex = $index">
                <!--ROW 1-->
                <div class="row edit-row">
                    <div class="col-md-4 edit-bar border-right border-bottom">
                        <label>
                            Circuit Name
                            <span class="required"></span>
                            <!--<span ng-show="forms.circuit.$submitted"-->
                            <!--class="validation-summary-errors">Invalid</span>-->
                        </label>
                        <input type="text" class="form-control editable" name="circuitName{{$index}}" id="circuitName{{$index}}"
                               ng-model="circuit.sName"
                               maxlength="15"
                               placeholder="Enter Name"
                               empty-typeahead
                               typeahead="auxCircuitName for auxCircuitName in auxCircuitNames | filter:$viewValue:nameComparator"
                               typeahead-on-select="selectCircuitName( $item, $model, $label )"
                               required
                               autocomplete="off"
                               autofocus>
                        <!--typeahead-loading="loadingNames"-->
                        <!--typeahead-min-length="3"-->
                        <!--typeahead-wait-ms="500"-->
                    </div>
                    <!-- circuit type: SPA OR POOL only-->
                    <div class="col-md-3 no-padding border-right border-bottom" ng-show="isPoolorSpa(circuit)">
                        <label for="circuit{{$index}}TypeDropDown">
                            Circuit Type
                            <span class=""></span>                           
                        </label>                        
                        <div class="white-ddl">
                            <span> {{getDictionaryValue(circuit.subtype)}} </span>
                        </div>                                                            
                    </div>
                    
                    <!-- circuit type: SPA OR POOL only-->              
                    <!-- circuit type where user can select from list-->
                    <div class="col-md-3 no-padding border-right border-bottom" ng-show="!isPoolorSpa(circuit)">
                        <label for="circuit{{$index}}TypeDropDown">
                            Circuit Type
                            <span class="required"></span>                                                        
                        </label>                        
                        <div id='temp'>
                            <div class="white-ddl">
                                <div class="btn-group border-bottom" dropdown>
                                    <button id="circuit{{$index}}TypeDropDown"
                                            class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                        <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                        {{getDictionaryValue(circuit.subtype) || 'Select A Type'}}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" role="menuitem"
                                            ng-repeat="circuitSubtype in circuitSubtypes track by $index"
                                            ng-click="circuit.subtype = circuitSubtype.systemValue; $root.forms.circuits.aux[outterIndex][innerIndex].$setDirty();">
                                            <a href="">{{circuitSubtype.readableValue}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- circuit aux id-->
                    <div class="col-md-3 no-padding border-right border-bottom" ng-show="!isPoolorSpa(circuit)">
                        <label>Circuit</label>                        
                         <div class="white-ddl" style="height:30px;padding-left: 15px;padding-top: 5px;">
                            <span> {{getCircuitAuxID(circuit)}} </span>
                         </div>
                     </div>
                        
                    <!-- circuit aux id-->

                    <div class="col-md-3 no-padding text-center border-right border-bottom">
                        <input id="ocp{{outterIndex}}showAsFeature{{$index}}"
                               type="checkbox" ng-model="circuit.showAsFeature" />
                        <label for="ocp{{outterIndex}}showAsFeature{{$index}}" class="pull-left form-padding" style="padding-left: 15px">
                            <span></span>
                            <div class="title right">Show as Feature</div>
                        </label>
                    </div>
                    <div class="col-md-2 no-padding text-center border-bottom">
                        <input id="ocp{{outterIndex}}freezeProtection{{$index}}" type="checkbox"
                               ng-model="circuit.freezeProtection" />
                        <label for="ocp{{outterIndex}}freezeProtection{{$index}}" class="pull-left form-padding" style="padding-left: 15px">
                            <span></span>
                            <div class="title right" style="margin-right:5px">Freeze Protection</div>
                        </label>
                        <!--
                        <span style="margin-top:19px" class="icon icon-md icon-nofrost-grey pull-left"></span>
                            -->
                    </div>
                </div>
                <!--ROW 2-->
                <div class="row edit-row">
                    <div class="category col-md-10 border-bottom" style="height:38px;padding-right: 25px;">
                        <div class="pull-right">
                            <label class="pull-left size-md bold ng-binding">Egg Timer</label>
                            <!--
                            <div ng-hide="!circuit.disableEggTimer" class="pull-left" style="font-size:large;padding-left:25px;">{{circuit.eggTimerHours}}</div>
                                -->
                            <label class="pull-left size-md bold ng-binding" ng-hide="circuit.disableEggTimer">Hours</label>
                            <div class="pull-left"
                                 ng-hide="circuit.disableEggTimer"
                                 value-stepper
                                 icon-size="icon-sm"
                                 eggtimer ="yes"
                                 target-circuit="circuit"
                                 range="{min:0,max:24}"
                                 param="eggTimerHours"
                                 on-change="circuit[param] = value; $root.forms.circuits.aux[outterIndex][innerIndex].$setDirty();"></div>
                            <!--
                            <div ng-hide="!circuit.disableEggTimer" class="pull-left" style="font-size:large;padding-left:25px;">{{circuit.eggTimerMinutes}}</div>
                                -->
                            <label class="pull-left size-md bold ng-binding" ng-hide="circuit.disableEggTimer">Minutes</label>
                            <div class="pull-left"
                                 ng-hide="circuit.disableEggTimer"
                                 value-stepper
                                 icon-size="icon-sm"
                                 eggtimer="yes"
                                 target-circuit="circuit"
                                 range="{min:0,max:59}"
                                 param="eggTimerMinutes"
                                 on-change="circuit[param] = value; $root.forms.circuits.aux[outterIndex][innerIndex].$setDirty();"></div>
                            <!--Property.SetValue(objNam,param,value)-->
                        </div>

                    </div>

                    <div class="col-md-2 no-padding text-center border-bottom" style="padding-top: 5px">
                        <input id="ocp{{outterIndex}}disableEggTimer{{$index}}" type="checkbox"
                               ng-click="setCircuitDontStop(circuit)"
                               ng-model=" circuit.disableEggTimer" />
                        <label for="ocp{{outterIndex}}disableEggTimer{{$index}}" style="position: relative;top: 4px;padding-left: 15px" class="pull-left form-padding">
                            <span></span>
                            <div class="title right">Don't Stop</div>
                        </label>
                    </div>
                </div>
                <!-- end ROW 2-->

                <div class="col-md-12" style="padding:0px">
                    <div class="col-md-12 form-padding-all">
                        <button class="btn cancel md" ng-click="CancelEdit($index, outterIndex)" style="margin:0 0 0 18px;width:300px;float:right">Cancel</button>
                        <button class="btn md" type="submit" style="margin:0;width:300px;float:right" ng-click="SaveAUXCircuitOne(circuit, $index, outterIndex)">Save</button>
                    </div>
                </div>

            </form>
        </accordion-group>
    </accordion>
  </accordion-group>
</accordion>