﻿<div id="Configure" class="grid-wrap">
  <div class="grid-col col-full">
    <button id="MainPageLink" class="nav back" ng-click="GoToDashboard()">‹</button>
    <h1>{{'CONFIGURATION' | translate}}</h1>
  </div>
  <div class="grid-col col-full" style="margin-bottom: 1em">
    <div id="ErrorNotification" class="errorNotification" style="width:100%">{{'CONFIGURATION-WARNING-MESSAGE' | translate}}</div>
  </div>
  <div class="grid-col col-one-half">
    <h2>{{'SIMPLE-CONFIG' | translate}}</h2>
    <a id="SysProtectionLink" href="" ng-click="GoToSystemProtectionPage()">{{'TOGGLE-SYSTEM-PROTECTION' | translate}}</a>
    <br />
    <a id="AlertsLink" href="" ng-click="GoToUserNotificationPage()">{{'CONFIGURE-USER-NOTIFICATIONS' | translate}}</a>
  </div>
  <div class="grid-col col-one-half">
    <h2>{{'COMPLEX-CONFIG' | translate}}</h2>
    <a id="GeneralSystemInfoLink" href="" ng-click="GoToSystemInformationPage()">{{'GENERAL-SYSTEM-INFORMATION' | translate}}</a>
    <br />
    <a id="GeneralSystemInfoLink" href="" ng-click="GoToSystemPersonalityPage()">{{'GENERAL-SYSTEM-PERSONALITY' | translate}}</a>
    <br />
    <a id="ConfigureSystemLink" href="" xng-click="GoToConfigureSystemPage()">{{'CONFIGURE-SYSTEM' | translate}}</a>
  </div>
</div>
