<!--ROW 1-->
<div class="row edit-row">
  <div class="col-md-4 edit-bar border-right border-bottom">
    <label>Remote Name
    </label>
    <input type="text" class="form-control editable" name="remoteName{{$index}}" id="remoteName{{$index}}"
           ng-model="remote.params.SNAME"
           placeholder="Enter Name"
           autocomplete="off"
           autofocus
           maxlength="25">
  </div>
  <div class="col-md-7 no-padding border-right border-bottom">
    <label for="remote{{$index}}type">Type
      <span class="required"></span>
    </label>
    <div>
      <label id="remote{{$index}}type" class="form-control" placeholder="">{{ (getDictionaryValue(remote.params.SUBTYP)) || 'Select A Type'}}</label>
    </div>
  </div>
  <div class="col-md-1 no-padding text-center border-right border-bottom">
    <input id="isactive{{$index}}"
           type="checkbox" ng-model="remote.isActive"/>
    <label for="isactive{{$index}}" class="pull-left form-padding" style="padding-left: 15px">
      <span></span>
      <div class="title right">Active</div>
    </label>
  </div>
</div>
<!-- row 2 -->
<div class="row edit-row">
  <div class="col-md-5ths border-bottom border-right" ng-repeat="button in remote.params.BUTTONS" ng-init="innerIndex=$index">
    <label for="remote{{outterIndex}}button{{innerIndex}}btn">Button {{$index+1}}</label>
    <div class="white-ddl">
      <div class="btn-group border-bottom" dropdown>
        <button id="remote{{outterIndex}}button{{innerIndex}}btn"
                class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
          <span class="pull-right chevron"><spanclass="glyphicon glyphicon-chevron-right"></span></span>
          {{ Objects[button.params.CIRCUIT].SNAME  || 'Select A Circuit'}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" role="menuitem"
              ng-repeat="circuit in circuits track by $index"
              ng-click="button.params.CIRCUIT = circuit.OBJNAM;
                        button.params.LISTORD = innerIndex;
                        button.params.OBJNAM = 'b100' + innerIndex;
                        $root.forms.remotes[remoteIndex].$setDirty();" dropdown-toggle><a href="">{{circuit.SNAME}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-5ths border-bottom" style="height:63px"></div>
</div>