<div ng-if="pump.SUBTYP === 'DUAL'">
  <div class="row edit-row">
    <div class="col-md-4 edit-bar border-right border-bottom">
      <label>Pump Name</label>
        <input type="text" class="form-control editable" name="pumpName{{$index}}" id="pumpName{{$index}}"
               ng-model="pump.SNAME"
               placeholder="Enter Name"
               ng-change="checkNameEmpty(pumpIndex,pump.SNAME);"
               autocomplete="off"
               autofocus
               maxlength="15">
    </div>
    <div class="col-md-2 no-padding border-right border-bottom">
      <label for="pump{{$index}}TypeDropDown">Type
        <span class="required"></span>
      </label>
      <div class="white-ddl">
        <div class="btn-group border-bottom" dropdown>
          <button id="pump{{$index}}TypeDropDown"
                  class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
            {{ getDictionaryValue(pump.SUBTYP) || 'Select A Type'}}
          </button>
          <ul class="dropdown-menu">
              <li class="dropdown-item" role="menuitem"
                  ng-repeat="pumpSubtype in pumpSubtypes track by $index"
                  ng-click="changeSubtype(pump, pumpSubtype.actualValue,pumpIndex); setDirty(pumpIndex) ">
                  <a dropdown-toggle href="">{{pumpSubtype.dictionaryValue}}</a>
              </li>
          </ul>
        </div>
      </div>
    </div>

      <div class="col-md-6 no-padding border-right border-bottom">
          <label for="pump{{$index}}CircuitDropDown">Body<span class="required"></span></label>
          <div class="white-ddl">
              <div class="btn-group border-bottom" dropdown>
                  <button id="pump{{$index}}CircuitDropDown" ng-disabled="pump.STATIC === 'ON'"
                          class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                      <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                      <!--{{ property.Objects[pump.BODY].SNAME || 'Select Body' }} -->
                      {{ getBodyPump(pump.BODY) || 'Select Body'}}
                  </button>
                  <ul class="dropdown-menu">
                      <li class="dropdown-item" role="menuitem"
                          ng-repeat="propertyBody in propertyBodies track by $index"
                          ng-click="pump.BODY = propertyBody.OBJNAM; setDirty(pumpIndex)">
                          <a dropdown-toggle href="">{{propertyBody.SNAME}}</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>



    <div class="col-md-4 no-padding border-right border-bottom">
      <label>
        <span>&nbsp;</span>
      </label>
      <input disabled type="text" name="type" class="form-control editable" placeholder="HIGH SPEED CIRCUITS...">
    </div>
  </div> <!-- end row 1 -->

  <!-- high speed circuit rows -->
    <div class="row edit-row" ng-repeat="pumpAffect in pump.pumpAffects" ng-init="circuitIndex=$index">
        <div class="col-md-3" style="height: 63px;background:#ddd"></div>
        <div class="col-md-5" style="height: 63px;background:#ddd"></div>
        <div class="bg-white col-md-3 edit-bar border-bottom">
            <label for="pumpAffect{{$index}}NameDropDown">
                Circuit
                <span class="required"></span>
            </label>
            <div class="white-ddl">
                <div class="btn-group border-bottom" dropdown>
                    <button id="pumpAffect{{$index}}NameDropDown" class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                        <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                        {{ property.Objects[pumpAffect.CIRCUIT].SNAME|| 'Select A Circuit'}}
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" role="menuitem"
                            ng-repeat="circuit in circuits | excludeCircuitsFromExistingPumpAffects : pump.pumpAffects track by $index"
                            ng-click="setHighSpeedCircuit(pumpAffect, circuit.OBJNAM); setDirty(pumpIndex)">
                            <a dropdown-toggle href="">{{ circuit.SNAME }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-white col-md-1 edit-bar border-bottom" style="height: 63px;padding: 10px;">
            <button type="button"
                    style="width:23px;color:red;border:1px solid rgb(86,86,86)"
                    class="close" aria-label="Close" ng-click="deleteSpeedCircuit(pump, pumpAffect); setDirty(pumpIndex)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div> <!-- close high speed circuit rows -->
  <div class="row" style="background:#ddd">
    <div class="col-md-8"></div>
    <div class="col-md-4 pull-left"
         style="padding: 10px 0 10px 0">
        <button class="btn secondary md" style="margin:0"
                ng-click="addHighSpeedCircuit(pump); setDirty(pumpIndex)">
            Add High Speed Circuit
        </button>
    </div>
  </div>
</div> <!-- close ng if -->