
<accordion class="parent-accordion" close-others="false" ng-show="circuitsGroups">

    <accordion-group bg-color="bg-burntorange"
                     is-open="accordionStateByObjectNames[circuitsGroups.OBJNAM].open" disabled="!isAllowBySecurity('SECTION_GROUPS')">
        <accordion-heading>

            <div class="row ng-scope">
                <div class="col-md-4">                    
                    <span class="icon icon-md icon-config"></span>                                        
                    <span>CIRCUIT GROUPS</span>
                </div>

                <div class="col-md-2" ng-show="isSecurityEnabled()">
                    <span class="icon-sm icon-lock-white-sm" ng-show="!isAllowBySecurity('SECTION_GROUPS')"></span>
                </div>

                <div class="col-md-3"><span>{{'Circuits'}}</span></div>
                <div class="col-md-3"><span>{{' ' }}</span></div>
                <div class="col-md-2">
                    <span>{{'EGG_TIMER' | translate}}</span>
                    <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[circuitsGroups.OBJNAM].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[circuitsGroups.OBJNAM].open}"
                       class="pull-right glyphicon"></i>
                </div>
            </div>

        </accordion-heading>
        <accordion class="child-accordion" close-others="false" ng-show="isAllowBySecurity('SECTION_GROUPS')">
            <accordion-group bg-color="bg-lightbrown" ng-repeat="circuitsGroup in circuitsGroups" ng-init="outterIndex=$index"
                             is-open="accordionStateByObjectNames[circuitsGroup.OBJNAM].open">
                <accordion-heading>
                    <div class="row" ng-show="false">
                        <div class="col-md-3">
                            <span class="icon icon-md icon-circuit-group"></span>
                            <span>{{ circuitsGroup.sName | cut:true:25:'...' || '--' }}</span>
                        </div>
                        <div class="col-md-8">
                            <span ng-repeat="circuit in circuitsGroup.circuits">{{circuit.SNAME}}<span ng-show="!$last">, </span> </span>
                        </div>
                        <div class="col-md-3"><span>{{' '}}</span></div>
                        <div class="col-md-2">                        
                            <span ng-hide="circuitsGroup.disableEggTimer">{{circuitsGroup.eggTimerHours}}h {{circuitsGroup.eggTimerMinutes}}m</span>
                            <span ng-show="circuitsGroup.disableEggTimer">Don't Stop</span>
                            <div style="float:right">
                            <input id="circuitsGroup{{$index}}" type="checkbox" name="groupSelected"
                                   ng-model="circuitsGroup.isSelected" ng-click="$event.stopPropagation();" />
                            <label style="padding: 0px;bottom: 3px;position: relative;" for="circuitsGroup{{$index}}"
                                   ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
                            <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[circuitsGroup.OBJNAM].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[circuitsGroup.OBJNAM].open}"
                               class="pull-right glyphicon"></i>
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-show="true">
                        <div class="col-md-4">
                            <span class="icon icon-md icon-circuit-group"></span>
                            <span>{{ circuitsGroup.sName | cut:true:25:'...' || '--' }}</span>
                        </div>
                        <div class="col-md-3">
                            <span ng-repeat="circuit in circuitsGroup.circuits">{{circuit.SNAME}}<span ng-show="!$last">, </span> </span>
                        </div>

                        <div class="col-md-3">
                            <span > </span> 
                        </div>

                        <div class="col-md-2">  
                            <span ng-hide="circuitsGroup.disableEggTimer">{{circuitsGroup.eggTimerHours}}h {{circuitsGroup.eggTimerMinutes}}m</span>
                            <span ng-show="circuitsGroup.disableEggTimer">Don't Stop</span>                      
                            <div style="float:right">
                                <input id="circuitsGroup{{$index}}" type="checkbox" name="groupSelected"
                                       ng-model="circuitsGroup.isSelected" ng-click="$event.stopPropagation();" />
                                <label style="padding: 0px;bottom: 3px;position: relative;" for="circuitsGroup{{$index}}"
                                       ng-click="$event.stopPropagation();"><span class=" alt">  </span></label>
                                <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[circuitsGroup.OBJNAM].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[circuitsGroup.OBJNAM].open}"
                                   class="pull-right glyphicon"></i>
                            </div>
                        </div>
                    </div>

                </accordion-heading>
                <form name="$root.forms.circuits.group[{{outterIndex}}]" class="col-md-12 no-padding" ng-init="innerIndex = $index" novalidate>
                    <!--ROW 1-->
                    <div class="row edit-row">

                        <div class="col-md-3 edit-bar border-right border-bottom">
                            <label>
                                Circuit Name
                                <span class="required"></span>
                            </label>
                            <input type="text" name="name" class="form-control editable" maxlength="15"
                                   placeholder="Enter name" required autofocus ng-model="circuitsGroup.sName">
                        </div>
                     
                        <div class="col-md-3 edit-bar border-right border-bottom" style="width:650px;height:62px;padding-right: 10px;padding-top: 7px;">
                            <dir class="pull-right">
                            <label class="pull-left size-md bold ng-binding">Egg Timer</label>
                            <label class="pull-left size-md bold ng-binding" ng-hide="circuitsGroup.disableEggTimer">Hours</label>
                            <div class="pull-left"
                                 ng-hide="circuitsGroup.disableEggTimer"
                                 value-stepper
                                 icon-size="icon-sm"
                                 eggtimer="yes"
                                 target-circuit="circuitsGroup"
                                 range="{min:0,max:24}"
                                 param="eggTimerHours"
                                 on-change="circuitsGroup[param] = value; $root.forms.circuits.aux[outterIndex][innerIndex].$setDirty();"></div>
                            <label class="pull-left size-md bold ng-binding" ng-hide="circuitsGroup.disableEggTimer">Minutes</label>
                            <div class="pull-left"
                                 ng-hide="circuitsGroup.disableEggTimer"
                                 value-stepper
                                 icon-size="icon-sm"
                                 eggtimer="yes"
                                 target-circuit="circuitsGroup"
                                 range="{min:0,max:59}"
                                 param="eggTimerMinutes"
                                 on-change="circuitsGroup[param] = value; $root.forms.circuits.aux[outterIndex][innerIndex].$setDirty();"></div>
                            </dir>
                        </div>

                        <div class="col-md-2 no-padding text-center border-bottom">
                            <input id="disableEggTimer{{$index}}" type="checkbox"
                                   ng-model="circuitsGroup.disableEggTimer"
                                   ng-click="setCircuitDontStop(circuitsGroup)" 
                                   />
                            <label for="disableEggTimer{{$index}}" class="pull-left form-padding" style="padding-left: 15px">
                                <span></span>
                                <div class="title right" style="margin-right:5px">Don't Stop</div>
                            </label>
                        </div>

                    </div>
                    <!-- end ROW 2-->

                    <div class="bg-darkgrey" >
                        <div style="height:10px" class="row"></div>
                        <!-- N circuit rows -->
                        <div class="row edit-row" ng-repeat="circuit in circuitsGroup.circuits" ng-init="circuitIndex=$index">
                            <div class="col-md-3 edit-bar">
                                &nbsp;
                            </div>
                            <div class="bg-white col-md-3 edit-bar" style="{{isCircuitOverlap(circuitsGroup,circuit)}}">
                                <label for="circuit{{$index}}NameDropDown">
                                    Circuit
                                    <span class="required"></span>
                                </label>
                                <div class="white-ddl">
                                    <div class="btn-group border-bottom" dropdown>
                                        <button id="circuit{{$index}}NameDropDown" class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                            {{circuit.SNAME || 'Select A Circuit'}}
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item" role="menuitem"
                                                ng-repeat="selectableCircuit in circuitsGroup.selectableCircuits track by $index"
                                                ng-click="changeCircuitsGroupCircuit(outterIndex, circuitIndex,selectableCircuit); $root.forms.circuits.group[outterIndex].$setDirty();">
                                                <a href="">{{selectableCircuit.SNAME}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--BEGIN Configure Circuit State:  On, Off, Ignore -->
                            <div class="bg-white col-md-4 edit-bar" style="width:500px; {{isCircuitOverlap(circuitsGroup,circuit)}}" ng-show="supportGroupCircuitState()">
                                <label>
                                    Circuit State
                                </label>
                                <div>
                                    <!--- ON STATE-->
                                    <div class="col-md-3">
                                        <button class="btn md button-round" style="{{getCircuitGroupStyle(circuit,'ON')}}" type="submit" ng-click="setCircuitGroupItemState(circuit,'ON')">On</button>
                                    </div>
                                    <!--- OFF STATE-->

                                    <div class="col-md-3">
                                        <button class="btn md button-round" style="{{getCircuitGroupStyle(circuit,'OFF')}}" type="submit" ng-click="setCircuitGroupItemState(circuit,'OFF')">Off</button>
                                    </div>

                                    <!--- IGNORE STATE-->
                                    <div class="col-md-3">
                                        <button class="btn md button-round" style="{{getCircuitGroupStyle(circuit,'IGNORE')}}" type="submit" ng-click="setCircuitGroupItemState(circuit,'IGNORE')">Ignore</button>
                                    </div>

                                    <div class="warn-frame" ng-show="isCircuitStateConflicted(circuitsGroup,circuit)">
                                        <div class="warn-title">Caution:</div>
                                        <div class="warn-body">
                                            {{"This circuit state conflicts with another circuit group.\n"}}
                                            {{"Please review other circuit groups.  (Note: Last circuit always wins.)"}}
                                        </div>
                                    </div>

                                </div>                               
                            </div>

                            <!--END Configure circuit State:  On, Off, Ignore -->

                            <div class="bg-white col-md-1 edit-bar border-bottom" style="{{isCircuitOverlap(circuitsGroup,circuit)}} width: 30px; padding: 10px;">
                                <button type="button"
                                        style="width:23px;color:red;border:1px solid red"
                                        class="close" aria-label="Close" ng-click="deleteCircuitFromCircuitsGroup(circuitsGroup, $index); $root.forms.circuits.group[outterIndex].$setDirty();">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3 pull-left"
                                 style="padding: 10px 0 10px 0">
                                <button class="btn secondary md" style="margin:0"
                                        ng-click="addCircuitToCircuitsGroup(circuitsGroup); $root.forms.circuits.group[outterIndex].$setDirty();">
                                    Add Circuit
                                </button>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-3 form-padding-all">
                            <button class="btn md full" type="submit" ng-click="SaveGroupCircuit(circuitsGroup, outterIndex)" ng-disabled="!isValidCircuitGroup(circuitsGroup)">Save</button>
                        </div>
                        <div class="col-md-3 form-padding-all">
                            <button class="btn cancel md full" ng-click="CancelEdit(outterIndex)">Cancel</button>
                        </div>
                    </div>
                </form>
            </accordion-group>
            <div class="row">
                <div class="col-md-12" style="padding: 0px">
                    <button class="btn secondary pull-left" ng-show="canAddGroupCircuits()" ng-click="addCircuitGroup()" style="margin:10px 0 0 0">Add Circuit Group</button>
                    <div class="middle" style="margin:20px 0 0 0"> <center> Group Circuit used {{getGroupCircuitsFree()}}/{{16}}</center></div>
                    <button class="btn primary pull-right" ng-show="areSelectedGroupCircuitsToRemove()" ng-click="removeCircuitGroups()" style="margin:10px 0 0 0">Remove Circuit Group(s)</button>
                </div>
            </div>
        </accordion>
    </accordion-group>
</accordion>