<div ng-controller="ConfigureOtherEquipmentController">
  <div class="circuits-tab">
		<ng-include src="'/app/templates/configure-valves.partial.html'"></ng-include>
		<ng-include src="'/app/templates/configure-heaters.partial.html'"></ng-include>
    <!-- removing Heater group not supported.
    <ng-include src="'/app/templates/configure-heaters-group.partial.html'"></ng-include>
     -->
    <ng-include src="'/app/templates/configure-covers.partial.html'"></ng-include>
  </div>
</div>
