<accordion class="parent-accordion" close-others="false" ng-show="featureCircuits">
  <accordion-group bg-color="bg-eminence"
                   is-open="accordionStateByObjectNames['feature'].open">
    <accordion-heading>
      <div class="row">
        <div class="col-md-4">
          <span class="icon icon-md icon-config"></span>
          <span>Feature Circuits</span>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"><span>{{'SHOW_AS_FEATURE' | translate}}</span></div>
        <div class="col-md-2">
          <span>{{'EGG_TIMER' | translate}}</span>
          <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames['feature'].open, 'glyphicon-chevron-right': !accordionStateByObjectNames['feature'].open}"
             class="pull-right glyphicon"></i>
        </div>
      </div>
    </accordion-heading>

    <accordion class="child-accordion" close-others="false">
      <accordion-group bg-color="bg-rum" ng-repeat="featureCircuit in featureCircuits"
                       is-open="accordionStateByObjectNames['feat-'+featureCircuit.objectName].open">
        <accordion-heading>
          <div class="row">
            <div class="col-md-4">
              <span class="icon icon-md icon-circuit"></span>
              <span style="float:left;">{{ featureCircuit.sName | cut:false:25:' ...' || '--'}}</span>
              <span class="icon icon-md icon-nofrost pull-right" style="margin-right:0" ng-show="featureCircuit.freezeProtection"></span>
            </div>
            <div class="col-md-3"></div>              
            <div class="col-md-3"><span>{{featureCircuit.showAsFeature | yesNo}}</span></div>                  
            <div class="col-md-2">
                <span ng-hide="featureCircuit.disableEggTimer">{{featureCircuit.eggTimerHours}}h {{featureCircuit.eggTimerMinutes}}m</span>
              <span ng-show="featureCircuit.disableEggTimer">Don't Stop</span>
              <div style="float:right">
                <input id="featureCircuit{{$index}}" type="checkbox" name="featureCircuit{{$index}}"
                       ng-model="featureCircuit.isSelected" ng-click="$event.stopPropagation();"/>
                <label ng-if="featureCircuit.relay === '00000'" style="padding: 0px;bottom: 3px;position: relative;" for="featureCircuit{{$index}}"
                       ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
                <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames['feat-'+featureCircuit.objectName].open, 'glyphicon-chevron-right': !accordionStateByObjectNames['feat-'+featureCircuit.objectName].open}"
                   class="pull-right glyphicon" style="margin-left:10px"></i>
              </div>
            </div>
          </div>
        </accordion-heading>
        <form name="$root.forms.circuits.feature[{{$index}}]" class="col-md-12 no-padding" ng-init="outerIndex = $index">
          <!--ROW 1-->
          <div class="row edit-row">
            <div class="col-md-4 edit-bar border-right border-bottom">
              <label>Circuit Name
                <span class="required"></span>
              </label>
                <input type="text" class="form-control editable" name="circuitFeatureName{{$index}}" id="circuitFeatureName{{$index}}"
                       maxlength="15"
                       ng-model="featureCircuit.sName"
                       placeholder="Enter Name"
                       empty-typeahead
                       typeahead="featureCircuitName for featureCircuitName in featureCircuitNames | filter:$viewValue:nameComparator"
                       typeahead-on-select="selectCircuitName( $item, $model, $label )"
                       required
                       autocomplete="off"
                       autofocus>
            </div>
            <div class="col-md-3 no-padding border-right border-bottom">

              <label for="circuitFeature{{$index}}TypeDropDown">Circuit Type
                <span class="required"></span>
              </label>
              <div class="white-ddl">
                <div class="btn-group border-bottom" dropdown>
                  <button id="circuitFeature{{$index}}TypeDropDown"
                          class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                    {{getDictionaryValue(featureCircuit.subtype) || 'Select A Type'}}
                  </button>
                  <ul class="dropdown-menu">
                      <li class="dropdown-item" role="menuitem" disabled
                          ng-repeat="circuitSubtype in featureCircuitSubtypes track by $index"                          
                          ng-click="setFeatureCircuitSubtype(featureCircuit,circuitSubtype.actualValue); $root.forms.circuits.feature[outerIndex].$setDirty();">
                          <!-- CASE WHEN IS NOT SPILLWAY SELECTED -->
                          <div ng-if="!isSplillwaySelected()">
                              <option value={{circuitSubtype.dictionaryValue}} >{{circuitSubtype.dictionaryValue}}</option>
                          </div>
                          <div ng-if="isSplillwaySelected()">
                              <div ng-if="isSplillwayChoosen(circuitSubtype.actualValue)">
                                  <option value={{circuitSubtype.dictionaryValue}} disabled>{{circuitSubtype.dictionaryValue}}</option>
                              </div>
                              <div ng-if="!isSplillwayChoosen(circuitSubtype.actualValue)">
                                  <option value={{circuitSubtype.dictionaryValue}} >{{circuitSubtype.dictionaryValue}}</option>
                              </div>
                           </div>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 no-padding text-center border-right border-bottom">
              <input id="featureShowAsFeature{{$index}}"
                     type="checkbox" ng-model="featureCircuit.showAsFeature"/>
              <label for="featureShowAsFeature{{$index}}" class="pull-left form-padding" style="padding-left: 15px">
                <span></span>
                <div class="title right">Show as Feature</div>
              </label>
            </div>
            <div class="col-md-2 no-padding text-center border-bottom">
              <input id="featureFreezeProtection{{$index}}" type="checkbox"
                     ng-model="featureCircuit.freezeProtection" />
              <label for="featureFreezeProtection{{$index}}" class="pull-left form-padding" style="padding-left: 15px">
                <span></span>
                <div class="title right" style="margin-right:5px">Freeze Protection</div>
              </label>
            </div>
          </div>
          <!--ROW 2-->
          <div class="row edit-row">
            <div class="category col-md-10 border-bottom" style="height:38px;padding-right: 25px;">
              <div class="pull-right">
                <label class="pull-left size-md bold ng-binding">Egg Timer</label>
                  <label class="pull-left size-md bold ng-binding" ng-hide="featureCircuit.disableEggTimer">Hours</label>
                  <div class="pull-left"
                       ng-show="!featureCircuit.disableEggTimer"
                       value-stepper
                       eggtimer="yes"
                       icon-size="icon-sm"
                       target-circuit="featureCircuit"
                       range="{min:0,max:24}"
                       param="eggTimerHours"
                       on-change="featureCircuit[param] = value; $root.forms.circuits.feature[outerIndex].$setDirty();"></div>

                  <label class="pull-left size-md bold ng-binding" ng-hide="featureCircuit.disableEggTimer">Minutes</label>
                  <div class="pull-left"
                       ng-show="!featureCircuit.disableEggTimer"
                       value-stepper
                       icon-size="icon-sm"
                       eggtimer="yes"
                       target-circuit="featureCircuit"
                       range="{min:0,max:59}"
                       param="eggTimerMinutes"
                       on-change="featureCircuit[param] = value; $root.forms.circuits.feature[outerIndex].$setDirty();"></div>
                <!--Property.SetValue(objNam,param,value)-->
              </div>
            </div>
            <div class="col-md-2 no-padding text-center border-bottom" style="padding-top: 5px">
                <input id="featureDisableEggTimer{{$index}}" type="checkbox"
                       ng-click="setCircuitDontStop(featureCircuit)"
                       ng-model="featureCircuit.disableEggTimer" />
              <label for="featureDisableEggTimer{{$index}}" style="position: relative;top: 4px;padding-left: 15px" class="pull-left form-padding"><span></span>
                <div class="title right">Don't Stop</div>
              </label>
            </div>
          </div>

          <div class="col-md-12" style="padding:0px">
            <div class="col-md-12 form-padding-all">
              <button class="btn cancel md" ng-click="cancelFeatureEdit(featureCircuit, $index)" style="margin:0 0 0 18px;width:300px;float:right">Cancel</button>
              <button class="btn md" type="submit" ng-disabled="$root.forms.circuits.feature[$index].$invalid" ng-click="saveFeatureCircuit(featureCircuit, $index)" style="margin:0;width:300px;float:right">Save</button>
            </div>
          </div>

        </form>
      </accordion-group>
      <div class="row">
        <div class="col-md-12" style="padding: 0px">
          <button class="btn secondary pull-left" ng-show="canAddFeatureCircuits()" ng-click="addFeatureCircuit()" style="margin:10px 0 0 0;width:300px">Add Feature Circuit</button>
          <div class="middle" style="margin:20px 0 0 0"> <center> Circuit used {{getFeatureCircuitsFree()}}/{{32}}</center></div>
            <button class="btn primary pull-right" ng-show="areSelectedFeatureCircuitsToRemove()" ng-click="removeFeatureCircuits()" style="margin:10px 0 0 0;width:300px">Remove Feature Circuit(s)</button>
        </div>
      </div>
    </accordion>
  </accordion-group>
</accordion>
