<div ng-controller="ConfigureBodiesController">
  <div class="circuits-tab" ng-init="requestUpdateBodies()">
    <div class="row">
      <accordion class="parent-accordion" close-others="false">
        <accordion-group bg-color="bg-blue" ng-repeat="panel in panels" ng-init="outterIndex=$index"
                         is-open="accordionStateByObjectNames[panel.objectName].open">
          <accordion-heading>
            <div class="row">
              <div class="col-md-4">
                <span class="icon icon-md icon-config"></span>
                <span>{{ getPanelName(panel) | cut:false:25:' ...' || '--'}}</span>
              </div>
              <div class="col-md-3">CAPACITY</div>
              <div class="col-md-3">SPA MANUAL HEAT</div>
              <div class="col-md-1"></div>
              <div class="col-md-1">
                <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[panel.objectName].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[panel.objectName].open}"
                   class="pull-right glyphicon"></i>
              </div>
            </div>
          </accordion-heading>

          <accordion class="child-accordion" close-others="false">
            <accordion-group bg-color="bg-lightblue" ng-repeat="body in panel.bodies"
                             is-open="accordionStateByObjectNames[body.objectName].open">
              <accordion-heading>
                <div class="row">
                  <div class="col-md-4">
                    <span class="icon icon-md" ng-class="body.isPool ? 'icon-config-pool' : 'icon-config-spa'"></span>
                    <span>{{ getBodyName(body) | cut:false:25:' ...' || '--'}}</span>
                  </div>
                  <div class="col-md-3"><span>{{ (body.capacity  | number ) || '--'}} GAL</span></div>
                  <div class="col-md-3">
                    <span ng-if="body.isPool">N/A</span>
                    <span ng-if="!body.isPool">{{body.spaManualHeat ? "ON" : "OFF"}}</span>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-1">
                    <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[body.objectName].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[body.objectName].open}"
                       class="pull-right glyphicon"></i>
                  </div>
                </div>
              </accordion-heading>
              <!--name="forms.names" novalidate-->
              <form name="$root.forms.bodies[{{outterIndex}}][{{$index}}]" class="col-md-12 no-padding" ng-init="innerIndex = $index" novalidate>
                <!-- row 1 -->
                <div class="row edit-row">
                  <div class="col-md-4 edit-bar border-right border-bottom">
                    <label for="name{{$index}}">Body Name
                      <span class="required"></span>
                      <!--ng-show="forms.names.$submitted && forms.names.name.$invalid"-->
                      <span ng-show="false" class="validation-summary-errors">Invalid</span>
                    </label>
                    <input type="text" id="name{{$index}}" name="name{{$index}}"
                           class="form-control editable" placeholder="Enter Body Name" required autofocus
                           ng-model="body.sName;" maxlength="25">
                  </div>
                  <div class="col-md-3 edit-bar border-bottom border-right">
                    <label for="capacity{{$index}}">Capacity
                      <span class="required"></span>
                      <!--ng-show="forms.names.$submitted && forms.names.name.$invalid"-->
                      <span ng-show="false" class="validation-summary-errors">Invalid</span>
                    </label>
                      
                    <input type="text" id="capacity{{$index}}" name="capacity{{$index}}"
                           class="form-control editable" placeholder="Enter Number of Gallons" required autofocus
                           ng-model="body.capacity" max="150000" min="1000">
                          
                  </div>
                  <div class="col-md-3 no-padding text-center border-bottom">
                    <div ng-if="!body.isPool" class="pull-left" style="margin-left:15px">
                      <input id="ocp{{outterIndex}}spaManualHeat{{$index}}"
                             type="checkbox" ng-model="body.spaManualHeat"/>
                      <label for="ocp{{outterIndex}}spaManualHeat{{$index}}" class="form-padding">
                        <span></span>
                        <div class="title right">Spa Manual Heat</div>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-2 no-padding text-center border-bottom" style="width:100%"></div>
                </div>
                <!-- hiding columns 2 and 3 -->
                  <div ng-hide="true">
                      <!-- row 2 -->
                      <div class="row edit-row">
                          <div class="col-md-5ths" style="background:#e1e1e1;height:63px"></div>
                          <div class="col-md-5ths border-bottom border-right">
                              <label for="circuit{{$index}}shortcut1">Shortcut Button 1</label>
                              <div class="white-ddl">
                                  <div class="btn-group border-bottom" dropdown>
                                      <button id="circuit{{$index}}shortcut1"
                                              class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                          <span class="pull-right chevron">
                                              <span class="glyphicon glyphicon-chevron-right"></span>
                                          </span>
                                          {{showCircuitSNameFromObjectName(body.shortcut1) || 'Select A Circuit'}}
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li class="dropdown-item" role="menuitem"
                                              ng-repeat="circuitName in circuitNames track by $index"
                                              ng-click="body.shortcut1 = circuitName.objectName; $root.forms.bodies[outterIndex][innerIndex].$setDirty();">
                                              <a href="">{{circuitName.sName}}</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-5ths border-bottom border-right">
                              <label for="circuit{{$index}}shortcut2">Shortcut Button 2</label>
                              <div class="white-ddl">
                                  <div class="btn-group border-bottom" dropdown>
                                      <button id="circuit{{$index}}shortcut2"
                                              class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                          <span class="pull-right chevron">
                                              <span class="glyphicon glyphicon-chevron-right"></span>
                                          </span>
                                          {{showCircuitSNameFromObjectName(body.shortcut2) || 'Select A Circuit'}}
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li class="dropdown-item" role="menuitem"
                                              ng-repeat="circuitName in circuitNames track by $index"
                                              ng-click="body.shortcut2 = circuitName.objectName; $root.forms.bodies[outterIndex][innerIndex].$setDirty();">
                                              <a href="">{{circuitName.sName}}</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-5ths border-bottom border-right">
                              <label for="circuit{{$index}}shortcut3">Shortcut Button 3</label>
                              <div class="white-ddl">
                                  <div class="btn-group border-bottom" dropdown>
                                      <button id="circuit{{$index}}shortcut3"
                                              class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                          <span class="pull-right chevron">
                                              <span class="glyphicon glyphicon-chevron-right"></span>
                                          </span>
                                          {{showCircuitSNameFromObjectName(body.shortcut3) || 'Select A Circuit'}}
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li class="dropdown-item" role="menuitem"
                                              ng-repeat="circuitName in circuitNames track by $index"
                                              ng-click="body.shortcut3 = circuitName.objectName; $root.forms.bodies[outterIndex][innerIndex].$setDirty();">
                                              <a href="">{{circuitName.sName}}</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-5ths" style="background:#e1e1e1;height:63px"></div>
                      </div>
                      <!-- row 3 -->
                      <div class="row edit-row">
                          <div class="col-md-5ths" style="background:#e1e1e1;height:63px"></div>
                          <div class="col-md-5ths border-bottom border-right">
                              <label for="circuit{{$index}}shortcut4">Shortcut Button 4</label>
                              <div class="white-ddl">
                                  <div class="btn-group border-bottom" dropdown>
                                      <button id="circuit{{$index}}shortcut4"
                                              class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                          <span class="pull-right chevron">
                                              <span class="glyphicon glyphicon-chevron-right"></span>
                                          </span>
                                          {{showCircuitSNameFromObjectName(body.shortcut4) || 'Select A Circuit'}}
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li class="dropdown-item" role="menuitem"
                                              ng-repeat="circuitName in circuitNames track by $index"
                                              ng-click="body.shortcut4 = circuitName.objectName; $root.forms.bodies[outterIndex][innerIndex].$setDirty();">
                                              <a href="">{{circuitName.sName}}</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-5ths border-bottom border-right">
                              <label for="circuit{{$index}}shortcut5">Shortcut Button 5</label>
                              <div class="white-ddl">
                                  <div class="btn-group border-bottom" dropdown>
                                      <button id="circuit{{$index}}shortcut5"
                                              class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                          <span class="pull-right chevron">
                                              <span class="glyphicon glyphicon-chevron-right"></span>
                                          </span>
                                          {{showCircuitSNameFromObjectName(body.shortcut5) || 'Select A Circuit'}}
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li class="dropdown-item" role="menuitem"
                                              ng-repeat="circuitName in circuitNames track by $index"
                                              ng-click="body.shortcut5 = circuitName.objectName; $root.forms.bodies[outterIndex][innerIndex].$setDirty();">
                                              <a href="">{{circuitName.sName}}</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-5ths border-bottom border-right">
                              <label for="circuit{{$index}}shortcut6">Shortcut Button 6</label>
                              <div class="white-ddl">
                                  <div class="btn-group border-bottom" dropdown>
                                      <button id="circuit{{$index}}shortcut6"
                                              class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                          <span class="pull-right chevron">
                                              <span class="glyphicon glyphicon-chevron-right"></span>
                                          </span>
                                          {{showCircuitSNameFromObjectName(body.shortcut6) || 'Select A Circuit'}}
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li class="dropdown-item" role="menuitem"
                                              ng-repeat="circuitName in circuitNames track by $index"
                                              ng-click="body.shortcut6 = circuitName.objectName; $root.forms.bodies[outterIndex][innerIndex].$setDirty();">
                                              <a href="">{{circuitName.sName}}</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-5ths" style="background:#e1e1e1;height:63px"></div>
                      </div>
                      
                  </div>
                <!-- row 4 -->
                <div class="col-md-12" style="padding:0px">
                  <div class="col-md-12 form-padding-all">
                    <button class="btn cancel md" ng-click="cancelEdit($index, outterIndex)" style="margin:0 0 0 18px;width:300px;float:right">Cancel</button>
                      <button class="btn md" type="submit" ng-click="saveBody(body, $index, outterIndex)" style="margin:0 0 0 18px;width:300px;float:right">Save</button>
                  </div>
                </div>
              </form>
            </accordion-group>
          </accordion>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
