<div ng-controller="ConfigurePumpController">
  <div class="circuits-tab">
    <accordion class="parent-accordion" close-others="false">
      <accordion-group bg-color="bg-boulder" is-open="true" is-disabled="true" ng-click="$event.stopPropagation()">
        <accordion-heading ng-click="$event.stopPropagation()">
          <div class="row">
            <div class="col-md-4">
              <span class="icon icon-md icon-config"></span>
              <span style="color:white">Pumps</span>
            </div>
            <div class="col-md-2"><span style="color:white">TYPE</span></div>
            <div class="col-md-4"><span style="color:white">CIRCUIT(S)</span></div>
            <div class="col-md-2"></div>
          </div>
        </accordion-heading>
        <accordion class="child-accordion" close-others="false">
            <accordion-group bg-color="bg-tundora" ng-repeat="pump in pumps" ng-init="outterIndex=$index"
                             is-open="accordionStateByObjectNames[pump.OBJNAM].open" id="pump.OBJNAM">
                <accordion-heading>
                    <div class="row">
                        <div class="col-md-4">
                            <span style="float:left" class="icon icon-md icon-pump"></span>
                            <span>{{ pump.SNAME | cut:false:25:' ...' || '--'}}</span>
                        </div>
                        <div class="col-md-2"><span>{{ getDictionaryValue(pump.SUBTYP) | cut:false:24:' ...' }}</span></div>
                        <div class="col-md-5" ng-if="pump.SUBTYP === 'SINGLE'">
                            <span ng-if="pump.SUBTYP === 'SINGLE'">{{property.Objects[pump.pumpAffects[0].CIRCUIT].SNAME || '--' }}</span>                                                        
                        </div>
                        <div class="col-md-5" ng-if="pump.SUBTYP === 'DUAL'">
                            <span ng-repeat="pumpAffect in pump.pumpAffects">
                                {{ property.Objects[pumpAffect.CIRCUIT].SNAME || '--' }}{{($last) ? '' : ', '}}
                            </span>                            
                        </div>
                        <div class="col-md-5" ng-if="pump.SUBTYP === 'SPEED' || pump.SUBTYP === 'FLOW' || pump.SUBTYP === 'VSF'">
                            <span ng-repeat="pumpAffect in pump.pumpAffects">
                                {{ getCircuitPumpName( (property.Objects[pumpAffect.CIRCUIT].SNAME  || pumpAffect.CIRCUIT) ) || '--' }}{{($last) ? '' : ', '}}
                            </span>
                        </div>
                        <div class="col-md-1">
                            <div style="float:right">
                                <input id="pump{{$index}}" type="checkbox" name="pump{{$index}}"
                                       ng-model="pump.isSelected" ng-click="$event.stopPropagation();" ng-if="pump.STATIC !== 'ON'" />
                                <label style="padding: 0px;bottom: 3px;position: relative;" for="pump{{$index}}"
                                       ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
                                <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[pump.OBJNAM].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[pump.OBJNAM].open}"
                                   class="pull-right glyphicon" style="margin-left:10px"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>


                <form name="$root.forms.pumps[ {{$index}} ]" class="col-md-12 no-padding" ng-init="pumpIndex = $index">
                    <ng-include src="'/app/templates/configure-pumps-single.partial.html'"></ng-include>
                    <ng-include src="'/app/templates/configure-pumps-dual.partial.html'"></ng-include>
                    <ng-include src="'/app/templates/configure-pumps-vs.partial.html'"></ng-include>
                    <ng-include src="'/app/templates/configure-pumps-vf.partial.html'"></ng-include>
                    <ng-include src="'/app/templates/configure-pumps-vsf.partial.html'"></ng-include>
                    <!-- edit row -->
                    <div class="row" style="padding:0px">
                        <div class="col-md-12 form-padding-all">
                                                                                               <!-- ng-disabled="!isDirty($index)"  change from ng-disabled="false"-->
                            <button class="btn cancel md" ng-click="cancelEdit(pump, $index);" ng-disabled="!isDirty($index)" style="margin:0 0 0 18px; width:300px;float:right">Cancel</button>
                            <button class="btn md" type="submit" style="margin:0;width:300px;float:right" ng-if="pump.SUBTYP === 'SINGLE'" ng-click="save(pump, $index);" ng-disabled="!isDirty($index)">Save</button>
                            <button class="btn md" type="submit" style="margin:0;width:300px;float:right" ng-if="pump.SUBTYP === 'DUAL'" ng-click="save(pump, $index);" ng-disabled="!isDirty($index)">Save</button>
                            <button class="btn md" type="submit" style="margin:0;width:300px;float:right" ng-if="pump.SUBTYP === 'SPEED' || pump.SUBTYP === 'FLOW' || pump.SUBTYP === 'VSF'" ng-click="save(pump, $index);" ng-disabled="!isDirty($index)">Save</button>
                        </div>
                        <!--  loading circle is not fully functional...WIP
                <div class="loadingData" ng-show="true"></div>
                     -->
                    </div>
                </form>
            </accordion-group>
            
          <div class="row">
            <div class="col-md-12" style="padding: 0px">                
                <button class="btn secondary pull-left" ng-show="canAddPumps()" ng-click="add()" style="margin:10px 0 0 0;width:300px">Add Pump</button>                
                <div class="middle" style="margin:20px 0 0 0"> <center> Pumps {{getPumpsFree()}}/{{16}}</center></div>                                
                <button class="btn primary pull-right" ng-show="areSelectedPumpsToRemove()" ng-click="removeItems()" style="margin:10px 0 0 0;width:300px">Remove Pump(s)</button>
            </div>
          </div>
        </accordion>
      </accordion-group>
    </accordion>
  </div>
</div>
