<div ng-controller="ConfigureRemoteController">
    <div class="circuits-tab">
        <accordion class="parent-accordion" close-others="false">
            <accordion-group class="accordion-group" bg-color="bg-bondiblue" is-open="true" is-disabled="true" ng-click="$event.stopPropagation()">

                <accordion-heading ng-click="$event.stopPropagation()">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="icon icon-md icon-config"></span>
                            <span style="color:white">Remotes</span>
                        </div>
                        <div class="col-md-2"><span style="color:white">TYPE</span></div>
                        <div class="col-md-4"><span style="color:white">ADDRESS</span></div>
                        <div class="col-md-2"><span style="color:white">ACTIVE</span></div>
                    </div>
                </accordion-heading>
                <accordion class="child-accordion" close-others="false">
                    <accordion-group bg-color="bg-eveningsea" ng-repeat="remote in remotes" ng-init="outterIndex=$index"
                                     is-open="accordionStateByObjectNames[remote.objnam].open" id="remote.objnam">
                        <accordion-heading>
                            <div class="row">
                                <div class="col-md-4">
                                    <span style="float:left" class="icon icon-md icon-config-remote"></span>
                                    <span>{{ remote.params.SNAME | cut:false:25:' ...' || '--'}}</span>
                                </div>
                                <div class="col-md-2"><span>{{ (getDictionaryValue(remote.params.SUBTYP))  | cut:false:24:' ...' }}</span></div>
                                <div class="col-md-4">
                                    <span ng-if="remote.params.COMUART !== 'COMUART' && remote.params.SUBTYP !== 'QT' && remote.params.SUBTYP !== 'IS4'">{{ remote.params.COMUART }}</span>
                                </div>
                                <div class="col-md-2">
                                    {{ remote.isActive | yesNo }}
                                    <div style="float:right">
                                        <input id="remote{{$index}}" type="checkbox" name="remote{{$index}}"
                                               ng-model="remote.isSelected" ng-click="toggleSelectedRemote(remote.isSelected); $event.stopPropagation();" />
                                        <label ng-if="remote.params.SUBTYP !== 'IS4'"  style="padding: 0px;bottom: 3px;position: relative;" for="remote{{$index}}"
                                               ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
                                        <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[remote.objnam].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[remote.objnam].open}"
                                           class="pull-right glyphicon" style="margin-left:10px"></i>
                                    </div>
                                </div>
                            </div>
                        </accordion-heading>
                        <form name="$root.forms.remotes[{{$index}}]" class="col-md-12 no-padding" ng-init="remoteIndex = $index">
                            <ng-include ng-if="remote.params.SUBTYP === 'IS4'" src="'/app/templates/configure-remote-is4.partial.html'"></ng-include>
                            <ng-include ng-if="remote.params.SUBTYP === 'QT'" src="'/app/templates/configure-remote-quicktouch.partial.html'"></ng-include>
                            <ng-include ng-if="remote.params.SUBTYP === 'IS10'" src="'/app/templates/configure-remote-is10.partial.html'"></ng-include>
                            <ng-include ng-if="remote.params.SUBTYP === 'SPACMD'" src="'/app/templates/configure-remote-spacommand.partial.html'"></ng-include>
                            <!-- edit row -->
                            <div class="row" style="padding:0px">
                                <div class="col-md-12 form-padding-all">
                                    <button class="btn fifth md" ng-if="remote.params.SUBTYP !== 'IS4'" ng-click="deleteRemote(remote)" style="margin:0 0 0 18px;width:300px;float:left">Delete</button>
                                    <button class="btn cancel md" ng-click="cancelEdit($index)" style="margin:0 0 0 18px;width:300px;float:right" ng-disabled="!$root.forms.remotes[{{$index}}].$dirty">Cancel</button>
                                    <button class="btn md" type="submit" style="margin:0;width:300px;float:right" ng-click="save(remote, $index)" ng-disabled="!$root.forms.remotes[{{$index}}].$dirty">Save</button>
                                </div>
                            </div>
                        </form>
                    </accordion-group>

                    <ng-include src="'/app/templates/configure-remote-new.html'"></ng-include>
                </accordion>

            </accordion-group>
            <div class="row remote-cta-bar">
                <div class="col-md-12" style="padding: 0px">
                    <button class="btn secondary pull-left" ng-show="canAddRemotes()" ng-click="addNewRemote()" style="margin:10px 0 0 0;width:300px">Add Remote</button>
                    <div class="col-md-6 pull-right"> Remotes {{ getRemotesCount() }}/{{getMaxRemotes()}}</div>

                    <button class="btn primary pull-right" ng-click="removeItems()" style="margin:10px 0 0 0;width:300px" ng-show="remoteSelectedCount > 0">Remove Remote(s)</button>
                </div>
            </div>
        </accordion>

    </div>
</div>
