<!--ROW 1-->
<div class="row edit-row">
  <div class="col-md-3 edit-bar border-right border-bottom">
    <label>Remote Name
    </label>
    <input type="text" class="form-control editable" name="remoteName{{$index}}" id="remoteName{{$index}}"
           ng-model="remote.params.SNAME"
           placeholder="Enter Name"
           autocomplete="off"
           autofocus
           maxlength="25">
  </div>
  <div class="col-md-2 no-padding border-right border-bottom">
    <label for="remote{{$index}}type">Type
      <span class="required"></span>
    </label>
    <div>
      <label id="remote{{$index}}type" class="form-control" placeholder="">{{ (getDictionaryValue(remote.params.SUBTYP))  || 'Select a Type'}}</label>
    </div>
  </div>
  <!-- ADDRESS -->
  <div class="col-md-6 no-padding border-right border-bottom">
    <label for="remote{{outterIndex}}button{{innerIndex}}address">Address
      <span class="required"></span>
    </label>
    <div class="white-ddl">
      <div class="btn-group border-bottom" dropdown>
        <button id="remote{{outterIndex}}button{{innerIndex}}address"
                class="btn drodown-btn" ng-click="getCircuitAddresses(remote.params.SUBTYP);$event.stopPropagation()" dropdown-toggle>
          <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
          {{ remote.params.COMUART  || 'Select an Address'}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" role="menuitem"
              ng-repeat="address in addresses track by $index"
              ng-click="remote.params.COMUART = address; $root.forms.remotes[remoteIndex].$setDirty();" dropdown-toggle><a href="">{{address}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- IS ACTIVE -->
  <div class="col-md-1 no-padding text-center border-right border-bottom">
    <input id="isactive{{$index}}"
           type="checkbox" ng-model="remote.isActive"/>
    <label for="isactive{{$index}}" class="pull-left form-padding" style="padding-left: 15px">
      <span></span>
      <div class="title right">Active</div>
    </label>
  </div>

</div>
<div class="row remote-spacer">
  Top Row
</div>

<!-- row 2 -->
<div class="row edit-row">
  <div class="col-md-5ths border-bottom border-right" ng-repeat="button in remote.params.BUTTONS | limitTo:5:0" ng-init="innerIndex=$index">
    <label for="remote{{outterIndex}}button{{innerIndex}}circuit">Button {{$index+1}}</label>
    <div class="white-ddl">
      <div class="btn-group border-bottom" dropdown>
        <button id="remote{{outterIndex}}button{{innerIndex}}circuit"
                class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
          <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
          {{ Objects[button.params.CIRCUIT].SNAME  || 'Select Circuit'}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" role="menuitem"
              ng-repeat="circuit in circuits track by $index"
              ng-click="button.params.CIRCUIT = circuit.OBJNAM; 
              $root.forms.remotes[remoteIndex].$setDirty();" dropdown-toggle><a href="">{{circuit.SNAME}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- row 3 -->
<div class="row remote-spacer">
  Bottom Row
</div>
<!-- row 4 -->
<div class="row edit-row">
  <div class="col-md-5ths border-bottom border-right" ng-repeat="button in remote.params.BUTTONS | limitTo:5:5" ng-init="innerIndex=$index">
    <label for="remote{{outterIndex}}button{{innerIndex}}btn">Button {{$index+1}}</label>
    <div class="white-ddl">
      <div class="btn-group border-bottom" dropdown>
        <button id="remote{{outterIndex}}button{{innerIndex}}btn"
                class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
          <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
          {{ Objects[button.params.CIRCUIT].SNAME  || 'Select Circuit'}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" role="menuitem"
              ng-repeat="circuit in circuits track by $index"
              ng-click="button.params.CIRCUIT = circuit.OBJNAM; 
              $root.forms.remotes[remoteIndex].$setDirty();" dropdown-toggle><a href="">{{circuit.SNAME}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>