<div ng-controller="ConfigureCircuitsController">
  <div class="circuits-tab">
    <div class="row">
      <ng-include src="'/app/templates/configure-circuits-aux.partial.html'"></ng-include>
      <ng-include src="'/app/templates/configure-circuits-feature.partial.html'"></ng-include>
      <ng-include src="'/app/templates/configure-circuits-group.partial.html'"></ng-include>
    </div>
  </div>
</div>
