<div ng-controller="ConfigureChemistryController">
  <div class="circuits-tab">
    <accordion class="parent-accordion" close-others="false">
	  <accordion-group bg-color="bg-heath" is-open="true" is-disabled="true" ng-click="$event.stopPropagation()">
	    <accordion-heading ng-click="$event.stopPropagation()">
	      <div class="row">
	        <div class="col-md-4">
	          <span class="icon icon-md icon-config"></span>
	          <span style="color:white">Chemistry Controllers</span>
	        </div>
	        <div class="col-md-3"><span style="color:white">TYPE</span></div>
	        <div class="col-md-3"><span style="color:white">BODY</span></div>
	        <div class="col-md-2"></div>
	      </div>
	    </accordion-heading>
	    <accordion class="child-accordion" close-others="false">
	      <accordion-group bg-color="bg-ferra" ng-repeat="chem in chems"
	                       is-open="accordionStateByObjectNames[chem.objnam].open">
	        <accordion-heading>
	          <div class="row">
	            <div class="col-md-4">
	              <span style="float:left" class="icon icon-md icon-chem-white"></span>
	              <span>{{ chem.SNAME | cut:false:25:' ...' || '--'}}</span>
	            </div>
	            <div class="col-md-3"><span>{{ (getDictionaryValue(chem.SUBTYP)) | cut:false:24:' ...' }}</span></div>
	            <div class="col-md-3"><span>{{ property.Objects[chem.BODY].SNAME }}</span></div>
                <div class="col-md-2">
	              <div style="float:right">
	                <input id="chem{{$index}}" type="checkbox" name="chem{{$index}}"
	                       ng-model="chem.isSelected" ng-click="$event.stopPropagation();" />
	                <label style="padding: 0px;bottom: 3px;position: relative;" for="chem{{$index}}"
	                       ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
	                <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[chem.objnam].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[chem.objnam].open}"
	                   class="pull-right glyphicon" style="margin-left:10px"></i>
	              </div>
            	</div>
	          </div>
	        </accordion-heading>
	        <form name="$root.forms.chemistrycontrol[{{$index}}]" class="col-md-12 no-padding" ng-init="outerIndex = $index">
	          <!--ROW 1-->
	          <div class="row edit-row" >
                <div class="col-md-4 edit-bar border-right border-bottom" ng-hide="true">
                    <label>
                        Controller Name
                    </label>
                    <input type="text" class="form-control editable" name="controllerName{{$index}}" id="controllerName{{$index}}"
                           ng-model="chem.SNAME"
                           placeholder="Enter Name"
                           autocomplete="off"
                           autofocus
                           maxlength="25">
                </div>
	            <div class="col-md-3 no-padding border-right border-bottom">
	              <label for="chem{{$index}}TypeDropDown">Controller Type
	                <span class="required"></span>
	              </label>
	              <div class="white-ddl" ng-init = "initialSubtype = chem.SUBTYP" >
	                <div class="btn-group border-bottom" dropdown 
	                ng-if="(initialSubtype == null)">
	                  <button id="chem{{$index}}TypeDropDown"
	                          class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
	                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
	                    {{ getDictionaryValue(chem.SUBTYP) || 'Select A Type'}}
	                  </button>
	                  <ul class="dropdown-menu" >
                        <li class="dropdown-item" role="menuitem"
                            ng-repeat="chemSubtype in currentchemSubtypes  track by $index" 
                            dropdown-toggle>
                            <a href="" ng-click="chem.SUBTYP = chemSubtype.actualValue; $root.forms.chemistrycontrol[outerIndex].$setDirty();">{{chemSubtype.dictionaryValue}}</a>
                        </li>
	                  </ul>
	                </div>
	                 <label id="chem{{$index}}type" class="form-control" placeholder="" 
	                 ng-if="(initialSubtype === 'ICHEM') || (initialSubtype === 'ICHLOR')">{{ (getDictionaryValue(chem.SUBTYP)) || 'Select A Type'}}</label>
	              </div>
	            </div>
	            <div class="col-md-3 no-padding border-right border-bottom">
	              <label for="chem{{$index}}BodyDropDown">Body
	                <span class="required"></span>
	              </label>
                    <!-- begin dual or share-->
                    <div class="white-ddl" ng-if="isDualOrShare()">
                        <div class="btn-group border-bottom"
                             dropdown>
                            <button id="chem{{$index}}BodyDropDown"
                                    class="btn drodown-btn"
                                    ng-click="$event.stopPropagation()"
                                    dropdown-toggle>
                                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                {{ property.Objects[chem.BODY].SNAME || 'Select A Body'}}
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" role="menuitem"
                                    ng-repeat="body in bodies track by $index"
                                    ng-click="chem.BODY = body.OBJNAM; $root.forms.chemistrycontrol[outerIndex].$setDirty();"
                                    dropdown-toggle>
                                    <a href="">{{body.SNAME}}</a>
                                </li>
                            </ul>
                        </div>
                        <label id="chem{{$index}}body"
                               class="form-control"
                               placeholder=""
                               ng-show="false"
                               ng-if="property.isSingleOrSharedBody()">
                            {{ property.Objects[chem.BODY].SNAME }}
                        </label>
                    </div>
	               <!-- end dual or share-->

                   <!-- begin single-->
                    <div class="white-ddl" ng-if="!isDualOrShare()">
                        <div class="btn-group border-bottom"
                             dropdown>
                            <button id="chem{{$index}}BodyDropDown"
                                    class="btn drodown-btn"
                                    ng-click="$event.stopPropagation()"
                                    dropdown-toggle>
                                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                {{ property.Objects[chem.BODY].SNAME || 'Select A Body'}}
                            </button>                            
                        </div>
                        <label id="chem{{$index}}body"
                               class="form-control"
                               placeholder=""
                               ng-show="false"
                               ng-if="property.isSingleOrSharedBody()">
                            {{ property.Objects[chem.BODY].SNAME }}
                        </label>
                    </div>
                    <!-- end single -->

                </div>
                <div class="col-md-2 no-padding border-bottom" ng-if="chem.SUBTYP != 'ICHLOR'">
                    <label for="chem{{$index}}ChannelDropDown">
                        Channel
                        <span class="required"></span>
                    </label>
                    <div class="white-ddl">
                        <div class="btn-group border-bottom" dropdown>
                            <button id="chem{{$index}}ChannelDropDown"
                                    class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                {{ chem.COMUART || 'Select A Channel'}}
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" role="menuitem"
                                    ng-repeat="address in chem.addressMap track by $index"
                                    ng-click="chem.COMUART = address; $root.forms.chemistrycontrol[outerIndex].$setDirty();" dropdown-toggle>
                                    <a href="">{{address}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
	          </div>
	          <!--ROW 2-->
	          <div class="row edit-row" ng-if="chem.SUBTYP === 'ICHLOR'" style="height: 63px;">
	            <div class="col-md-8 border-bottom" style="height:63px;padding-right: 25px;">
	              <div style="display: flex;align-items: center;height: 100%;">
	                <label class="pull-left size-md bold ng-binding">Output:</label>
									<!--<div ng-hide="$root.editMode.chemistrycontrol[chem.OBJNAM]" class="pull-left" style="font-size:large;padding-left:25px;">{{chem.PRIM}}%</div>-->
									<label class="pull-left size-md bold ng-binding">{{property.Objects[chem.BODY].SNAME}}</label>
									<div class="pull-left"
											 value-stepper
											 icon-size="icon-sm"
											 target-circuit="chem"
											 range="{min:0,max:100}"
											 param="PRIM"
											 display-uom="'%'"
											 on-change="chem[param] = value; 
											   $root.forms.chemistrycontrol[outerIndex].$setDirty();"
											 ng-model = "chem.PRIM">
									</div>
									<!--<div ng-hide="$root.editMode.chemistrycontrol[chem.OBJNAM]" class="pull-left" style="font-size:large;padding-left:25px;">{{chem.SEC}}%</div>-->
									<label class="pull-left size-md bold ng-binding">{{property.Objects[chem.SHARE].SNAME}}</label>
									<div class="pull-left"
											 value-stepper
											 icon-size="icon-sm"
											 target-circuit="chem"
											 range="{min:0,max:100}"
											 param="SEC"
											 display-uom="'%'"
											 on-change="chem[param] = value; 
											 $root.forms.chemistrycontrol[outerIndex].$setDirty();"
											 ng-model = "chem.SEC">
									</div>
	              </div>
	            </div>
	            <div class="col-md-4 no-padding text-center border-bottom border-left" style="height: 63px;">
	              <input id="chlorinate{{$index}}" type="checkbox"
	                     ng-model="chem.enableChlorination" />
	              <label for="chlorinate{{$index}}" style="position: relative;padding-left: 15px;display: flex;align-items: center;" class="pull-left form-padding"><span></span>
	                <div class="title right">Super-Chlorinate</div>
	              </label> 
	              <div class="pull-right" style="padding-right:15px;display: flex;align-items: center;height: 100%;">
									<!--<div ng-hide="$root.editMode.chemistrycontrol[chem.OBJNAM]" class="pull-left" style="font-size:large;padding-left:25px;">{{chem.chlorTimeLeftHours}}</div>-->
									<label class="pull-left size-md bold ng-binding">Hrs</label>
									<div class="pull-left"
										 value-stepper
										 icon-size="icon-sm"
										 target-circuit="chem"
										 range="{min:1,max:96}"
										 param="chlorTimeLeftHours"
										 on-change="chem[param] = value; 
										 $root.forms.chemistrycontrol[outerIndex].$setDirty();"
										 ng-model = "chem.chlorTimeLeftHours">
	            	  </div>
	              </div>
	            </div>
	          </div>

	          <div class="col-md-12" style="padding:0px">
	            <div class="col-md-12 form-padding-all">
	              <button class="btn cancel md" ng-click="cancelEdit(chem, $index)" style="margin:0 0 0 18px;width:300px;float:right">Cancel</button>
	              <button class="btn md" type="submit" style="margin:0;width:300px;float:right" ng-click="save(chem, $index)"
												ng-disabled="!chem.SUBTYP || !chem.BODY ">Save</button>
	            </div>
	          </div>

	        </form>
	      </accordion-group>
      	  <div class="row">
        	<div class="col-md-12" style="padding: 0px">
                <button class="btn secondary pull-left" ng-hide="hideAddControllerChem()" ng-click="add()" style="margin:10px 0 0 0;width:300px">Add Controller</button>
                <div class="middle" style="margin:20px 0 0 0"> <center> Controllers {{getChemsCount()}}/{{getMaxControllers()}}</center></div>
          		<button class="btn primary pull-right" ng-click="removeItems()" style="margin:10px 0 0 0;width:300px">Remove Controller(s)</button>
    	  	</div>
      	  </div>
	    </accordion>
	  </accordion-group>
	</accordion>
  </div>
</div>
