<accordion-group bg-color="bg-eveningsea"
                 is-open="true" ng-if="showRemoteForm">
    <accordion-heading>
        <div class="row">
            <div class="col-md-4">
                <span style="float:left" class="icon icon-md icon-config-remote"></span>
                <span>{{ newRemote.params.SNAME | cut:false:25:' ...' || '--'}}</span>
            </div>
            <div class="col-md-2"><span>{{ newRemote.objtyp | cut:false:24:' ...' }}</span></div>
            <div class="col-md-4">
                <span ng-if="remote.params.COMUART !== 'COMUART'">{{ newRemote.params.COMUART }}</span>
            </div>
            <div class="col-md-2">
                {{ newRemote.isActive | yesNo }}
                <div style="float:right">
                    <input id="newRemote{{$index}}" type="checkbox" name="newRemote{{$index}}"
                           ng-model="newRemote.isSelected" ng-click="$event.stopPropagation();" />
                    <label ng-if="newRemote.params.SUBTYP !== 'IS4'"  style="padding: 0px;bottom: 3px;position: relative;" for="newRemote{{$index}}"
                           ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
                    <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[remote.objnam].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[remote.objnam].open}"
                       class="pull-right glyphicon" style="margin-left:10px"></i>
                </div>
            </div>
        </div>
    </accordion-heading>
    <form name="$root.forms.remotes[{{$index}}]" class="col-md-12 no-padding" ng-init="remoteIndex = $index">
        <div class="row edit-row">
            <div class="edit-bar border-right border-bottom" ng-class="['SPACMD'].indexOf(newRemote.objtyp) >= 0 ? 'col-md-3' : 'col-md-4'">
                <label>Remote Name
                    <span class="required"></span>
                </label>
                <input type="text" class="form-control editable" name="newRemote{{$index}}" id="remoteName{{$index}}"
                       ng-model="newRemote.params.SNAME"
                       placeholder="Enter Name"
                       autocomplete="off"
                       autofocus
                       maxlength="25">
            </div>
            <!-- TYPE -->
            <div class="no-padding border-right border-bottom" ng-class="['SPACMD'].indexOf(newRemote.objtyp) >= 0 ? 'col-md-2' : 'col-md-7'">
                <label for="remote{{$index}}type">Type
                    <span class="required"></span>
                </label>
                <div class="white-ddl">
                    <div class="btn-group border-bottom" dropdown>
                        <button class="btn drodown-btn" ng-click="$event.stopPropagation()"
                                id="remote{{$index}}type" dropdown-toggle>
                            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                            {{ (getDictionaryValue(newRemote.objtyp))  || 'Select Type'}}
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" role="menuitem"
                                ng-repeat="remote in remoteSubtypes"
                                ng-click="newRemote.objtyp = remote;
                                $root.forms.remotes[remoteIndex].$setDirty();" dropdown-toggle><a href=""> {{getDictionaryValue(remote)}} </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ADDRESS -->
            <!--<div class="no-padding border-right border-bottom"  ng-show="['IS10','SPACMD'].indexOf(newRemote.objtyp) >= 0" ng-class="newRemote.objtyp === 'IS10' ? 'col-md-6' : 'col-md-2'">-->
                <!--<label for="remote{{$index}}type">Address-->
                    <!--<span class="required"></span>-->
                <!--</label>-->
                <!--<div class="white-ddl" >-->
                    <!--<div class="btn-group border-bottom" dropdown>-->
                        <!--<button id="remote{{outterIndex}}button{{innerIndex}}btn"-->
                                <!--class="btn drodown-btn" ng-click="getCircuitAddresses(newRemote.objtyp);$event.stopPropagation()" dropdown-toggle>-->
                                  <!--<span class="pull-right chevron"><span-->
                                  <!--class="glyphicon glyphicon-chevron-right"></span></span>-->  <!--{{ newRemote.params.COMUART  || 'Select an Address'}}-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li class="dropdown-item" role="menuitem"-->
                                <!--ng-repeat="address in addresses track by $index"-->
                                <!--ng-click="newRemote.params.COMUART = address" dropdown-toggle><a href="">{{address}}</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- BODY -->
            <div class="col-md-3 no-padding border-right border-bottom"  ng-show="newRemote.objtyp === 'SPACMD'">
                <label for="remote{{$index}}type">Body
                    <span class="required"></span>
                </label>
                <div class="white-ddl">
                    <div class="btn-group border-bottom" dropdown>
                        <button id="remote{{outterIndex}}button{{innerIndex}}body"
                                class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                            <span class="pull-right chevron"><span
                                  class="glyphicon glyphicon-chevron-right"></span></span>
                            {{ Objects[newRemote.params.BODY].SNAME   || 'Select A Body'}}
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" role="menuitem"
                                ng-repeat="body in bodies track by $index"
                                ng-click="newRemote.params.BODY = body.OBJNAM;
                                $root.forms.remotes[remoteIndex].$setDirty();" dropdown-toggle><a href="">{{body.SNAME}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- PUMP CONTROL -->
            <div class="col-md-3 no-padding border-right border-bottom"  ng-show="newRemote.objtyp === 'SPACMD'">
                <label for="remote{{$index}}type">Pump Control
                    <span class="required"></span>
                </label>
                <div class="white-ddl">
                    <div class="btn-group border-bottom" dropdown>
                        <button id="remote{{outterIndex}}button{{innerIndex}}pump"
                                class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                            {{ Objects[newRemote.params.PUMP].SNAME || 'Unassigned'}}
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" role="menuitem"
                                ng-repeat="pump in pumps track by $index"
                                ng-click="newRemote.params.PUMP = pump.OBJNAM;
                                $root.forms.remotes[remoteIndex].$setDirty();" dropdown-toggle><a href="">{{pump.SNAME}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- IS ACTIVE  -->
            <div class="col-md-1 no-padding text-center border-right border-bottom">
                <input id="isactive{{$index}}" type="checkbox" ng-model="newRemote.isActive"/>
                <label for="isactive{{$index}}" class="pull-left form-padding" style="padding-left: 15px">
                    <span></span>
                    <div class="title right">Active</div>
                </label>
            </div>
        </div>
        <div class="row edit-row" ng-show="['QT','IS10','SPACMD'].indexOf(newRemote.objtyp) >= 0">
            <div class="col-md-5ths border-bottom border-right" ng-repeat="button in newRemote.params.BUTTONS" ng-init="innerIndex=$index">
                <label for="button{{innerIndex}}btn">Button {{$index+1}}</label>
                <div class="white-ddl">
                    <div class="btn-group border-bottom" dropdown>
                        <button id="button{{innerIndex}}btn"
                                class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                            {{ Objects[button.CIRCUIT].SNAME  || 'Select A Circuit'}}
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" role="menuitem"
                                ng-repeat="circuit in circuits"
                                ng-click="button.CIRCUIT = circuit.OBJNAM;
                                            button.OBJNAM = 'b100' + $index;
                                            button.LISTORD = $index.toString();
                                            $root.forms.remotes[remoteIndex].$setDirty();" dropdown-toggle><a href="">{{circuit.SNAME}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5ths border-bottom" style="height:63px"></div>
        </div>
        <div class="row" style="padding:0px">
            <div class="col-md-12 form-padding-all">
                <button class="btn cancel md" ng-click="cancelNewRemote($index)" style="margin:0 0 0 18px;width:300px;float:right">Cancel</button>
                <!---
                <button class="btn md" type="submit" style="margin:0;width:300px;float:right" ng-click="saveNewRemote(newRemote, $index)" ng-disabled="!newRemoteValid">Save</button>
                    -->
                <button class="btn md" type="submit" style="margin:0;width:300px;float:right" ng-click="saveNewRemote(newRemote, $index)" ng-disabled="!isReadyToSaveNewRemote()">Save</button>
            </div>
        </div>
    </form>
</accordion-group>