﻿<div id="configurationsPage">
  <div class="col-sm-12">      
    <tabset>
        <div class="col-sm-2 all-off-btn no-padding" >
            <button id="idhome" ng-click="gotohomePage()" style="height:55px" 
                    class="btn no-margin home-css-btn">
                Home
            </button>
        </div>

        <!--disable="Tab.disabled"        
            <tab heading="{{Tab.heading}}"
        -->
      <div class="col-sm-10 no-padding configurationTabs no-padding">                            
          <tab heading="{{getTabName(Tab)}}"
               page="{{Tab.page}}"
               active="Tab.active"
               disable="isSecurityLocked(Tab)"
               ng-repeat="Tab in ConfigurationsTabs"
               tab-include="{{Tab.url}}"
               select="preventIfNecessary(Tab.page, true)">
          </tab>
      </div>
    </tabset>   
  </div>

  <div class="index-modal" ng-show="cancelNavigateModal" tabindex="-1">
    <div class="index-modal-dialog" ng-show="cancelNavigateModal">
      <div class=" modal-content-lg">
        <div class="row col-md-12">
          <h3 class="modal-h3 title">You are about to leave this page without saving changes that you were working on. All unsaved data will be lost.</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn secondary md full" ng-click="cancelNavigate()">{{'CANCEL' | translate}}</button>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button class="btn primary md full" ng-click="proceedNavigate()">Yes, Proceed</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

