<accordion class="parent-accordion" close-others="false">
  <accordion-group bg-color="bg-blue"
                   is-open="accordionStateByObjectNames['coversPanel'].open">
    <accordion-heading>
      <div class="row">
        <div class="col-md-4">
          <span class="icon icon-md icon-config"></span>
          <span>Covers</span>
        </div>
        <div class="col-md-2"><span>BODY</span></div>
        <div class="col-md-2"><span>STATE</span></div>
        <div class="col-md-4">
          <span>CONTAINS</span>
          <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames['coversPanel'].open, 'glyphicon-chevron-right': !accordionStateByObjectNames['coversPanel'].open}"
             class="pull-right glyphicon"></i>
        </div>
      </div>
    </accordion-heading>

    <accordion class="child-accordion" close-others="false">
      <accordion-group bg-color="bg-lightblue" ng-repeat="cover in covers" ng-init="coverIndex=$index"
                       is-open="accordionStateByObjectNames[cover.objnam].open">
        <accordion-heading>
          <div class="row">
            <div class="col-md-4">
              <span style="float:left" class="icon icon-md icon-config"></span>
              <span>{{ cover.params.SNAME | cut:false:25:' ...' || '--'}}</span>
            </div>
            <div class="col-md-2">
              <span>{{ getBodyNameByObjectName(cover.params.BODY) | cut:false:24:' ...' || '--' }}</span>
            </div>
         <!--
            <div class="col-md-2">
                  <span>{{ getCoverIsEnabled(cover.params.STATUS) || '--' }}</span>
            </div>
         -->
            <div class="col-md-2">
              <span>{{ cover.params.NORMAL || '--' }}</span>
            </div>
            <div class="col-md-3">
              <span ng-repeat="circuit in cover.circuits" ng-init="circuitIndex=$index">
                <!--{{circuit.SNAME}}<span ng-show="!$last">, </span>-->
                  {{getSelectCircuitCoverName(circuit,$index)}}<span ng-show="!$last">, </span>                  
              </span>
            </div>
            <div class="col-md-1">
              <div style="float:right">
                <!--<input id="valve{{$index}}" type="checkbox" name="valve{{$index}}"-->
                <!--ng-model="valve.isSelected" ng-click="$event.stopPropagation();" />-->
                <!--<label style="padding: 0px;bottom: 3px;position: relative;" for="valve{{$index}}"-->
                <!--ng-click="$event.stopPropagation();"><span class=" alt"></span></label>-->
                <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[cover.objnam].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[cover.objnam].open}"
                   class="pull-right glyphicon"
                   style="margin-left:10px"></i>
              </div>
            </div>
          </div>
        </accordion-heading>
        <form name="$root.forms.otherequipment.cover[{{$index}}]" class="col-md-12 no-padding">
          <!--ROW 1-->
          <div class="row edit-row">
            <div class="col-md-4 edit-bar border-right border-bottom">
              <label>Cover Name
               <!--<span class="required"></span>--> 
              </label>
                <input type="text" class="form-control editable" name="coverName{{$index}}" id="coverName{{$index}}"
                       ng-model="cover.params.SNAME"
                       placeholder="Enter Name"
                       disabled
                       autocomplete="off"
                       autofocus
                       maxlength="25">
            </div>
            <div class="col-md-4 no-padding border-right border-bottom">
              <label for="cover{{$index}}BodyDropDown">Body
                <span class="required"></span>
              </label>
              <div class="white-ddl">
                <div class="btn-group border-bottom" dropdown>
                  <button id="cover{{$index}}BodyDropDown"
                          class="btn drodown-btn"
                          ng-click="$event.stopPropagation()"
                          dropdown-toggle
                          disabled>
                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                    {{ (getBodyNameByObjectName(cover.params.BODY)) || '--'}}
                  </button>    
                  <ul class="dropdown-menu">
                    <!--<li class="dropdown-item" role="menuitem"-->
                        <!--ng-repeat="circuitSubtype in valveSubtypes track by $index"-->
                        <!--ng-click="circuit.SUBTYP = circuitSubtype.actualValue; $root.forms.otherequipment.valve[outterIndex][innerIndex].$setDirty();">-->
                      <!--<a href=""> {{circuitSubtype.dictionaryValue}} </a>-->
                    <!--</li>-->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 no-padding text-center border-bottom">
              <input id="cover{{$index}}normal"
                     type="checkbox"
                     ng-model="cover.params.NORMAL"
                     ng-true-value="'ON'"
                     ng-false-value="'OFF'" />
              <label for="cover{{$index}}normal" style="position: relative;top: 4px;padding-left: 15px" class="pull-left form-padding"><span></span>
                <div class="title right">Cover State Normally On</div>
              </label>
            </div>
            <div class="col-md-4 no-padding text-center border-bottom">
                <input id="cover{{$index}}status"
                       type="checkbox"
                       ng-model="cover.params.STATUS"                       
                       ng-true-value="'ON'"
                       ng-false-value="'OFF'" />
                <label for="cover{{$index}}status" style="position: relative;top: 4px;padding-left: 15px" class="pull-left form-padding">
                    <span></span>
                    <div class="title right">Cover Enable</div>
                </label>
            </div>
            <!--<div class="col-md-4 no-padding text-center border-right border-bottom" style="height:63px">-->
              <!--<input id="ocp{{outterIndex}}delay{{$index}}"-->
              <!--type="checkbox" ng-model="circuit.DLY"/>-->
              <!--<label for="ocp{{outterIndex}}delay{{$index}}" class="pull-left form-padding" style="padding-left: 15px">-->
              <!--<span></span>-->
              <!--<div class="title right">Delay</div>-->
              <!--</label>-->
            <!--</div>-->
          </div>
          <!--ROW 2-->
          <div class="row edit-row">
            <!--<div class="col-md-4 edit-bar border-right border-bottom" style="height:63px">-->
            <!--</div>-->
            <div class="col-md-12 no-padding border-right border-bottom">
              <label>
                <span>&nbsp;</span>
              </label>
              <input ng-disabled="true" type="text" name="type"
                     class="form-control editable" placeholder="AFFECTED CIRCUITS...">
            </div>
          </div>
          <div class="bg-darkgrey">
            <!-- N circuit rows -->
            <div class="row edit-row" ng-repeat="circuit in cover.circuits" ng-init="circuitIndex=$index">
              <div class="col-md-3 edit-bar">
                &nbsp;
              </div>
              <div class="bg-white col-md-3 edit-bar border-bottom">
                <label for="cover{{coverIndex}}circuit{{$index}}NameDropDown">Circuit
                  <span class="required"></span>
                </label>
                <div class="white-ddl">
                  <div class="btn-group border-bottom" dropdown>
                    <button id="cover{{coverIndex}}circuit{{$index}}NameDropDown" class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                      <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                      <!--{{circuit.SNAME || 'Select A Circuit'}}-->
                        {{ getSelectCircuitCoverName(circuit,$index) }}
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item" role="menuitem"
                          ng-repeat="option in circuits | circuitsExcludeAllOnOff track by $index"
                          ng-click="changeCoverSelectedCircuit(circuit, $index, option); $root.forms.otherequipment.covers[coverIndex].circuits[$index].$setDirty();">
                        <a href="">{{option.SNAME}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="bg-white col-md-1 edit-bar border-bottom"
                   style="height: 63px;padding: 10px;">
                <button type="button"
                        style="width:23px;color:red;border:1px solid rgb(86,86,86)"
                        class="close" aria-label="Close" ng-click="deleteCircuitFromCover(cover, $index); $root.forms.otherequipment.covers[coverIndex].$setDirty();">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3 pull-left"
                   style="padding: 10px 0 10px 0">
                <button class="btn secondary md" style="margin:0"
                        ng-click="addCircuitToCover(cover); $root.forms.otherequipment.covers[coverIndex].$setDirty();">Add Circuit
                </button>
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>
          <div class="col-md-12" style="padding:0px">
            <div class="col-md-12 form-padding-all">
              <button class="btn cancel md" ng-click="cancelCoverEdit(cover, $index)" style="margin:0 0 0 18px;width:300px;float:right">Cancel</button>
              <button class="btn md" type="submit" ng-disabled="$root.forms.otherequipment.cover[$index].$invalid" style="margin:0;width:300px;float:right"
                      ng-click="saveCover(cover, $index)">Save</button>
            </div>
          </div>
        </form>
      </accordion-group>
    </accordion>
  </accordion-group>
</accordion>