<accordion class="parent-accordion" close-others="false">
  <accordion-group bg-color="bg-tepapagreen"
                   is-open="accordionStateByObjectNames['heatergroups'].open">
    <accordion-heading>
      <div class="row">
        <div class="col-md-4">
          <span class="icon icon-md icon-config"></span>
          <span>HEATER GROUPS</span>
        </div>
        <div class="col-md-2"><span>ORDER</span></div>
        <div class="col-md-6"><span>CONTAINS</span>
          <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames['heatergroups'].open, 'glyphicon-chevron-right': !accordionStateByObjectNames['heatergroups'].open}"
             class="pull-right glyphicon"></i>
        </div>
      </div>
    </accordion-heading>

    <accordion class="child-accordion" close-others="false">
      <accordion-group bg-color="bg-mineralgreen" ng-repeat="heaterGroup in heaterGroups" ng-init="heaterGroupIndex=$index"
                       is-open="accordionStateByObjectNames[heaterGroup.objnam].open">
        <accordion-heading>
          <div class="row">
            <div class="col-md-4">
              <span style="float:left" class="icon icon-md icon-config-heater-group"></span>
              <span>{{ heaterGroup.params.SNAME | cut:false:25:' ...' || '--'}}</span>
            </div>
            <div class="col-md-2"><span>{{getReadableFromSystem(heaterGroup.params.ACT) || '--' }}</span></div>
            <div class="col-md-5">
                  <span ng-repeat="heater in heaterGroup.params.OBJLIST">
                    {{ (model.Objects[heater.params.USE].SNAME || heater.params.USE) || '--' }}{{($last) ? '' : ', '}}
                  </span>
            </div>
            <div class="col-md-1">
              <div style="float:right">
                <input id="heaterGroup{{$index}}" type="checkbox" name="heaterGroup{{$index}}"
                       ng-model="heaterGroup.isSelected" ng-click="$event.stopPropagation();" ng-if="heaterGroup.params.STATIC !== 'ON'"/>
                <label style="padding: 0px;bottom: 3px;position: relative;" for="heaterGroup{{$index}}"
                       ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
                <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[heaterGroup.objnam].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[heaterGroup.objnam].open}"
                   class="pull-right glyphicon" style="margin-left:10px"></i>
              </div>
            </div>
          </div>
        </accordion-heading>
        <form name="$root.forms.otherequipment.heatergroup[{{heaterGroupIndex}}]" class="col-md-12 no-padding">

          <div class="row edit-row"> <!-- row 1 -->
            <div class="col-md-4 edit-bar border-right border-bottom"
                 style="padding-left: 0px;padding-right: 0px;">
              <label>Heater Group Name<span class="required"></span></label>
              <input type="text" class="form-control editable" name="heaterGroupName{{$index}}" id="heaterGroupName{{$index}}"
                     ng-model="heaterGroup.params.SNAME"
                     placeholder="Enter Name"
                     autocomplete="off"
                     autofocus
                     maxlength="25">
            </div>
            <div class="col-md-2 no-padding border-right border-bottom">
              <label for="heaterGroup{{$index}}OrderDropDown">Order<span class="required"></span></label>
              <div class="white-ddl">
                <div class="btn-group border-bottom" dropdown>
                  <button id="heaterGroup{{$index}}OrderDropDown"
                          class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                    {{ getReadableFromSystem(heaterGroup.params.ACT) || 'Select A Type'}}
                  </button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item" role="menuitem"
                        ng-repeat="act in acts track by $index"
                        ng-click="heaterGroup.params.ACT = act.systemValue; $root.forms.otherequipment.heatergroup[heaterGroupIndex].$setDirty();">
                      <a dropdown-toggle href="">{{act.readableValue}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-6 no-padding border-right border-bottom">
              <label>
                <span>&nbsp</span>
              </label>
              <input disabled type="text" name="type" class="form-control editable" placeholder="HEATERS...">
            </div>

          </div> <!-- end row 1 -->

          <!-- heater rows -->
          <div ui-sortable="sortableOptionsForHeaterGroups[heaterGroup.objnam]"
               ng-model="heaterGroup.params.OBJLIST"
               style="background:#ddd">
            <div id="heaterGroup-{{heaterGroupIndex}}-heater-{{$index}}"
                 class="row edit-row"
                 ng-repeat="heater in heaterGroup.params.OBJLIST">
              <div class="col-md-6" style="height: 60px;background:none"></div>
              <div class="bg-white col-md-3 edit-bar border-bottom" style="padding-left:5px">
                <div class="draggable">
                  <div class="draggable-square"></div>
                  <div class="draggable-square"></div>
                  <div class="draggable-square"></div>
                </div>
                <div style="float:left">
                  <label for="heaterGroup{{heaterGroupIndex}}heater{{$index}}NameDropDown">Heater
                    <span class="required"></span>
                  </label>
                  <div class="white-ddl">
                    <div class="btn-group border-bottom" dropdown>
                      <button id="heaterGroup{{heaterGroupIndex}}heater{{$index}}NameDropDown"
                              class="btn drodown-btn"
                              ng-click="$event.stopPropagation()"
                              dropdown-toggle>
                        <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                        {{ (model.Objects[heater.params.USE].SNAME || heater.params.USE) || 'Select Heater...'}}
                      </button>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item" role="menuitem"
                            ng-repeat="heaterOption in model.Heaters | excludeObjectName : heaterGroup.objnam track by $index"
                            ng-click="(heater, heaterOption.OBJNAM); $root.forms.otherequipment.heatergroup[heaterGroupIndex].$setDirty()">
                          <a dropdown-toggle href="">{{ heaterOption.SNAME }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-white col-md-1 edit-bar border-bottom" style="height: 63px;padding: 10px;">
                <button type="button"
                        style="width:23px;color:red;border:1px solid rgb(86,86,86)"
                        class="close" aria-label="Close"
                        ng-click="deleteHeaterFromGroup(heaterGroup, $index)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div><!-- close heater rows -->

          <div class="row" style="background:#ddd">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-left"
                 style="padding: 10px 0 10px 0">
              <button class="btn secondary md" style="margin:0"
                      ng-click="addHeaterToGroup(heaterGroup); $root.forms.otherequipment.heatergroup[heaterGroupIndex].$setDirty()">Add Heater
              </button>
            </div>
          </div>

          <!-- edit row -->
          <div class="row" style="padding:0px">
            <div class="col-md-12 form-padding-all">
              <button class="btn cancel md" ng-click="cancelHeaterGroupEdit(heaterGroup, heaterGroupIndex)" style="margin:0 0 0 18px;width:300px;float:right">Cancel</button>
              <button class="btn md" type="submit" style="margin:0;width:300px;float:right"
                      ng-click="saveHeaterGroup(heaterGroup, heaterGroupIndex)"
                      ng-disabled="!isValidHeaterGroup(heaterGroup)">Save</button>
            </div>
          </div>
        </form>
      </accordion-group>
      <div class="row">
        <div class="col-md-12" style="padding: 0px">
          <button class="btn secondary pull-left" ng-click="addHeaterGroup()" style="margin:10px 0 0 0;width:300px">Add Heater Group</button>
          <button class="btn primary pull-right" ng-click="removeHeaterGroups()" style="margin:10px 0 0 0;width:300px">Remove Heater Group(s)</button>
        </div>
      </div>
    </accordion>
  </accordion-group>
</accordion>
