<accordion class="parent-accordion" close-others="false">
  <accordion-group bg-color="bg-tabasco" ng-repeat="valvePanel in valvePanels" ng-init="outterIndex=$index"
                   is-open="accordionStateByObjectNames[valvePanel.objectName].open">
    <accordion-heading>
      <div class="row">
        <div class="col-md-4">
          <span class="icon icon-md icon-config"></span>
          <span>{{ combineName(valvePanel) | cut:true:25:' ...' || '--'}}</span>
        </div>
        <div class="col-md-2"><span>TYPE</span></div>
        <!--<div class="col-md-1"><span>DELAY</span></div>-->
        <div class="col-md-6">
          <!--<span>ADDRESS</span>-->
          <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[valvePanel.objectName].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[valvePanel.objectName].open}"
             class="pull-right glyphicon"></i>
        </div>
      </div>
    </accordion-heading>

    <accordion class="child-accordion" close-others="false">
      <accordion-group bg-color="bg-brownrust" ng-repeat="circuit in valvePanel.circuits"
                       is-open="accordionStateByObjectNames[circuit.OBJNAM].open">
        <accordion-heading>
          <div class="row">
            <div class="col-md-4">
              <span style="float:left" class="icon icon-md icon-config-valve"></span>
              <span>{{ circuit.SNAME | cut:false:25:' ...' || '--'}}</span>
            </div>
            <div class="col-md-6"><span>{{ (getValveDictionaryValue(circuit.SUBTYP)) | cut:false:24:' ...' }}</span></div>
            <!--<div class="col-md-2">-->
              <!--<span ng-hide="circuit.disableEggTimer">{{ circuit.DLY | yesNo }}</span>-->
            <!--</div>-->
            <div class="col-md-2">
              <div style="float:right">
                <!--<input id="valve{{$index}}" type="checkbox" name="valve{{$index}}"-->
                       <!--ng-model="valve.isSelected" ng-click="$event.stopPropagation();" />-->
                <!--<label style="padding: 0px;bottom: 3px;position: relative;" for="valve{{$index}}"-->
                       <!--ng-click="$event.stopPropagation();"><span class=" alt"></span></label>-->
                  <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[circuit.OBJNAM].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[circuit.OBJNAM].open}"
                     class="pull-right glyphicon"
                     style="margin-left:10px"></i>
              </div>
            </div>
          </div>
        </accordion-heading>
        <form name="$root.forms.otherequipment.valve[{{outterIndex}}][{{$index}}]" class="col-md-12 no-padding" ng-init="innerIndex=$index">
          <!--ROW 1-->
          <div class="row edit-row">
            <div class="col-md-4 edit-bar border-right border-bottom">
              <label>Valve Name
                <span class="required"></span>
              </label>
                <input type="text" class="form-control editable" name="circuitName{{$index}}" id="circuitName{{$index}}"
                       ng-model="circuit.SNAME"
                       placeholder="Enter Name"
                       ng-disabled= isReturnOrIntake(circuit.SNAME)
                       required
                       autocomplete="off"
                       autofocus
                       maxlength="25">
            </div>
            <div class="col-md-4 no-padding border-right border-bottom">
              <label for="valve{{$index}}TypeDropDown">Type
                <span class="required"></span>
              </label>
              <div class="white-ddl">
                <div class="btn-group border-bottom" dropdown>
                  <button id="valve{{$index}}TypeDropDown"
                          class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                    {{ (getValveDictionaryValue(circuit.SUBTYP)) || 'Select Circuit'}}
                  </button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item" role="menuitem"
                        ng-repeat="circuitSubtype in valveSubtypes track by $index"
                        ng-click="circuit.SUBTYP = circuitSubtype.actualValue; $root.forms.otherequipment.valve[outterIndex][innerIndex].$setDirty();">
                      <a href=""> {{circuitSubtype.dictionaryValue}} </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 no-padding text-center border-right border-bottom" style="height:63px">
              <!--<input id="ocp{{outterIndex}}delay{{$index}}"-->
                     <!--type="checkbox" ng-model="circuit.DLY"/>-->
              <!--<label for="ocp{{outterIndex}}delay{{$index}}" class="pull-left form-padding" style="padding-left: 15px">-->
                <!--<span></span>-->
                <!--<div class="title right">Delay</div>-->
              <!--</label>-->
            </div>
          </div>
          <!--ROW 2-->
          <div class="row edit-row" ng-hide="true">
            <div class="col-md-4 edit-bar border-right border-bottom" style="height:63px">
            </div>
            <div class="col-md-8 no-padding border-right border-bottom">
              <label>
                <span>&nbsp;</span>
              </label>
              <input ng-disabled="true" type="text" name="type"
                     class="form-control editable" placeholder="CIRCUITS...">
            </div>
          </div>
          <!-- row 3 and 4 for valve circuits -->
          <div class="row edit-row"   ng-if="isNotIntakeorReturnValve(valvePanel,$index)">              
              <!--   removing selection INTATE AND RETURN...  bugs :  NewBug1  and NewBug2  Sep-9-2017 -->
              <div ng-if="isNotIntakeorReturnValve(valvePanel,$index)">
              <!-- <div ng-if="circuit.ASSIGN !== 'INTAKE' || circuit.ASSIGN !== 'RETURN'"> 
                  -->
                  
                  <div class="col-md-4" style="height:63px"></div>
                  <div class="col-md-3 no-padding border-right border-bottom" style="height:63px">
                      <label for="circuit{{$index}}CircuitDropDown">                          
                          <span class="required"></span>
                      </label>
                      <div class="white-ddl">
                          <div class="btn-group border-bottom" dropdown>
                              <button id="circuit{{$index}}CircuitDropDown"
                                      ng-disabled="circuit.ASSIGN === 'INTAKE' || circuit.ASSIGN === 'RETURN'"
                                      class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                  <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>                                   
                                   <!--  these are the intake and return items-->                                
                                 
                                  <!--{{ model.Objects[circuit.CIRCUIT].SNAME || 'Select Circuit'}}-->
                                  {{ getSelectCircuitName(circuit,$index) }}
                                  <!-- {{ getSelectValveDescription(circuit,valvePanel,$index) }}-->
                      
                              </button>
                              <ul class="dropdown-menu">
                                  <li class="dropdown-item" role="menuitem"
                                      ng-repeat="option in circuits | circuitsExcludeAllOnOff track by $index"
                                      ng-click="circuit.OBJLIST[0].params.CIRCUIT = option.OBJNAM; $root.forms.otherequipment.valve[outterIndex][innerIndex].$setDirty();">
                                      <a href="">{{option.SNAME}}</a>
                                  </li>
                              </ul>
                          </div>
                      </div>

                      <!--comment-->
                  </div>
              </div>
                  <!-- AAA -->
                  <!--NOTE this will be needed when doing other subtypes -->
                  <!--<div class="col-md-3 no-padding border-right border-bottom" style="height:63px">-->
                  <!--<div ng-if="model.Objects[circuit.OBJLIST[0].params.CIRCUIT]">-->
                  <!--<label for="circuit{{$index}}type">Position-->
                  <!--<span class="required"></span>-->
                  <!--</label>-->
                  <!--<div ng-show="!circuit.editMode">-->
                  <!--<label id="circuit{{$index}}type" class="form-control" placeholder="">-->
                  <!--{{ circuit.OBJLIST[0].params.POSIT }}-->
                  <!--</label>-->
                  <!--</div>-->
                  <!--<div class="white-ddl" ng-hide="!circuit.editMode">-->
                  <!--<div class="btn-group border-bottom" dropdown>-->
                  <!--<button id="circuit{{$index}}TypeDropDown" ng-disabled="!circuit.editMode"-->
                  <!--class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>-->
                  <!--<span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>-->
                  <!--{{ circuit.OBJLIST[0].params.POSIT || 'Select Circuit'}}-->
                  <!--</button>-->
                  <!--<ul class="dropdown-menu">-->
                  <!--<li class="dropdown-item" role="menuitem"-->
                  <!--ng-repeat="position in circuitPositions track by $index"-->
                  <!--ng-click="circuit.OBJLIST[0].params.POSIT = position;">-->
                  <!--<a href="">{{position}}</a>-->
                  <!--</li>-->
                  <!--</ul>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <div class="col-md-5" style="height:63px"></div>
              </div>
          <div class="row edit-row" ng-show="circuit.ASSIGN === 'INTAKE' || circuit.ASSIGN === 'RETURN'">
            <div class="col-md-4" style="height:63px"></div>
              <div class="col-md-3 no-padding border-right border-bottom" style="height:63px">
                  <label for="circuit{{$index}}TypeDropDown">
                      Circuit
                      <span class="required"></span>
                  </label>
                  <div class="white-ddl">
                      <div class="btn-group border-bottom" dropdown>
                          <button id="circuit{{$index}}TypeDropDown" ng-disabled="true"
                                  class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                              <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                              <!--  these are            model.Objects[circuit.OBJLIST[1].params.CIRCUIT].SNAME || getSelectValveDescription(circuit,valvePanel,$index)               --->
                              <!-- {{ model.Objects[circuit.OBJLIST[1].params.CIRCUIT].SNAME || 'Select Circuit'}}   -->
                              {{"Rotates on Pool/Spa"}}
                          </button>
                          <ul class="dropdown-menu">
                              <li class="dropdown-item" role="menuitem"
                                  ng-repeat="option in circuits track by $index"
                                  ng-click="circuit.OBJLIST[1].params.CIRCUIT = option.OBJNAM; model.Objects[circuit.OBJLIST[1].params.CIRCUIT].SNAME = option.SNAME; $root.forms.otherequipment.valve[outterIndex][innerIndex].$setDirty();">
                                  <a href="">{{option.SNAME}}</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>           
            <div class="col-md-5" style="height:63px"></div>           
          </div>
          <div class="col-md-12" style="padding:0px">
              <div class="col-md-12 form-padding-all" ng-hide="circuit.ASSIGN === 'INTAKE' || circuit.ASSIGN === 'RETURN'">
                  <button class="btn cancel md" ng-click="cancelEdit(circuit, outterIndex, $index)" style="margin:0 0 0 18px;width:300px;float:right">Cancel</button>
                  <button class="btn md" type="submit" ng-disabled="$root.forms.otherequipment.valve[outterIndex][$index].$invalid" style="margin:0;width:300px;float:right"
                          ng-click="saveValve(circuit, outterIndex, $index)">
                      Save
                  </button>
              </div>
          </div>

        </form>
      </accordion-group>
      <div class="row">
        <!--<div class="col-md-12" style="padding: 0px">-->
          <!--<button class="btn secondary pull-left" ng-click="add()" style="margin:10px 0 0 0;width:300px" disabled>Add Valve</button>-->
          <!--<button class="btn primary pull-right" ng-click="removeItems()" style="margin:10px 0 0 0;width:300px" >Remove Valve(s)</button>-->
        <!--</div>-->
      </div>
    </accordion>
  </accordion-group>
</accordion>