<div ng-if="pump.SUBTYP === 'VSF'">
  <div class="row edit-row">
    <div class="col-md-4 edit-bar border-right border-bottom"
         style="padding-left: 0px;padding-right: 0px;">
      <label>Pump Name</label>
        <input type="text" class="form-control editable" name="pumpName{{$index}}" id="pumpName{{$index}}"
               ng-model="pump.SNAME"
               placeholder="Enter Name"               
               ng-change="checkNameEmpty(pumpIndex,pump.SNAME);"
               autocomplete="off"
               autofocus
               maxlength="15">
    </div>
    <div class="col-md-2 no-padding border-right border-bottom">
      <label for="pump{{$index}}TypeDropDown">Type
        <span class="required"></span>
      </label>
      <div class="white-ddl">
        <div class="btn-group border-bottom" dropdown>
          <button id="pump{{$index}}TypeDropDown"
                  class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
            {{ getDictionaryValue(pump.SUBTYP) || 'Select A Type'}}
          </button>
          <ul class="dropdown-menu">
              <li class="dropdown-item" role="menuitem"
                  ng-repeat="pumpSubtype in pumpSubtypes track by $index"
                  ng-click="changeSubtype(pump, pumpSubtype.actualValue,pumpIndex); setDirty(pumpIndex);">
                  <a dropdown-toggle href="">{{pumpSubtype.dictionaryValue}}</a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-2 no-padding border-right border-bottom">
      <label for="pump{{$index}}address">Address</label>
      <div ng-hide="true">
        <label id="pump{{$index}}address" class="form-control" placeholder="">{{ pump.COMUART || 'Select An Address'}}</label>
      </div>
      <div class="white-ddl" >
        <div class="btn-group border-bottom" dropdown>
          <button id="pump{{$index}}AddressDropDown"
                  class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle ng-disabled="pump.STATIC === 'ON'">
            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
            {{ pump.COMUART || 'Select An Address'}}
          </button>
          <ul class="dropdown-menu">
              <li class="dropdown-item" role="menuitem"
                  ng-repeat="address in getAvailableAddresses(addresses,pump.COMUART)"
                  ng-click="pump.COMUART = address; setDirty(pumpIndex);">
                  <a dropdown-toggle href="">{{address}}</a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bg-white col-md-2 edit-bar border-bottom border-right" ng-hide="true"
         style="padding-left: 0px;padding-right: 0px;">
      <label for="pump{{$index}}primtim">Max Priming Time        
      </label>
      <div id="pump{{$index}}primtim"
           value-stepper
           icon-size="icon-sm"
           target-circuit="pump"
           range="{min:0,max:6}"
           param="PRIMTIM"
           display-uom="'min'"
           on-change="pump[param] = value; setDirty(pumpIndex);">
      </div>
    </div>
      <div class="bg-white col-md-2 edit-bar border-bottom" ng-hide="true"
           style="padding-left: 0px;padding-right: 0px;">
          <label for="pump{{$index}}systim">
              Sys. Priming Time              
          </label>
          <div id="pump{{$index}}systim"
               value-stepper
               icon-size="icon-sm"
               target-circuit="pump"
               range="{min:0,max:6}"
               param="SYSTIM"
               display-uom="'min'"
               on-change="pump[param] = value; setDirty(pumpIndex);">
          </div>
      </div>
  </div> <!-- end row 1 -->

  <div class="row edit-row">
    <div class="bg-white col-md-3 edit-bar border-bottom border-right"
         style="padding-left: 0px;padding-right: 0px;">
      <label for="pump{{$index}}minspeed">Minimum Speed        
      </label>
        <div id="pump{{$index}}minspeed"
             value-stepper
             increment="100"
             forceedge="yes"
             forcestep="yes"
             icon-size="icon-sm"
             target-circuit="pump"
             range="{min:450,max:3450}"
             param="MIN"
             display-uom="'rpm'"
             on-change="pump[param] = value; setDirty(pumpIndex);">
        </div>
    </div>
    <div class="bg-white col-md-3 edit-bar border-bottom border-right" ng-show="false"
         style="padding-left: 0px;padding-right: 0px;">
      <label for="pumpAffect{{$index}}primspeed">Priming Speed        
      </label>
        <div id="pumpAffect{{$index}}primspeed"
             value-stepper
             increment="100"
             forceedge="yes"
             forcestep="yes"
             icon-size="icon-sm"
             target-circuit="pump"
             range="{min:450,max:3450}"
             param="PRIMFLO"
             display-uom="'rpm'"
             on-change="pump[param] = value; setDirty(pumpIndex);">
        </div>
    </div>
    <div class="bg-white col-md-3 edit-bar border-bottom border-right"
         style="padding-left: 0px;padding-right: 0px;">
      <label for="pump{{$index}}maxspeed">Maximum Speed        
      </label>
        <div id="pump{{$index}}maxspeed"
             value-stepper
             increment="100"
             forceedge="yes"
             forcestep="yes"
             icon-size="icon-sm"
             target-circuit="pump"
             range="{min:450,max:3450}"
             param="MAX"
             display-uom="'rpm'"
             on-change="pump[param] = value; setDirty(pumpIndex);">
        </div>
    </div>
    <div class="bg-white col-md-3 edit-bar border-bottom border-right"
         style="padding-left: 0px;padding-right: 0px;">
      <label for="pump{{$index}}remotestepsize">Speed Step Size       
      </label>
        <div id="pump{{$index}}remotestepsize"
             value-stepper
             increment="10"
             icon-size="icon-sm"
             target-circuit="pump"
             range="{min:1,max:250}"
             param="SETTMP"
             display-uom="'rpm'"
             on-change="pump[param] = value; setDirty(pumpIndex);">
        </div>
    </div>
  </div><!-- end row 2 -->

  <div class="row edit-row">
    <div class="bg-white col-md-3 edit-bar border-bottom border-right"
         style="padding-left: 0px;padding-right: 0px;">
      <label for="pump{{$index}}minflow">Minimum Flow        
      </label>
        <div id="pump{{$index}}minflow"
             value-stepper
             increment="1"
             icon-size="icon-sm"
             target-circuit="pump"
             forceedge="yes"
             forcestep="yes"
             range="{min:20,max:140}"
             param="MINF"
             display-uom="'gpm'"
             on-change="pump[param] = value; setDirty(pumpIndex);">
        </div>
    </div>
    <div class="bg-white col-md-3 edit-bar border-bottom border-right" ng-show="false"
         style="padding-left: 0px;padding-right: 0px;">
      <label for="pumpAffect{{$index}}primflow">Priming Flow        
      </label>
        <div id="pumpAffect{{$index}}primflow"
             value-stepper
             increment="1"
             icon-size="icon-sm"
             target-circuit="pump"
             forceedge="yes"
             forcestep="yes"
             range="{min:20,max:140}"
             param="PRIMFLOF"
             display-uom="'gpm'"
             on-change="pump[param] = value; setDirty(pumpIndex);">
        </div>
    </div>
    <div class="bg-white col-md-3 edit-bar border-bottom border-right"
         style="padding-left: 0px;padding-right: 0px;">
      <label for="pump{{$index}}maxflow">Maximum Flow        
      </label>
        <div id="pump{{$index}}maxflow"
             value-stepper
             increment="1"
             icon-size="icon-sm"
             forceedge="yes"
             forcestep="yes"
             target-circuit="pump"
             range="{min:20,max:140}"
             param="MAXF"
             display-uom="'gpm'"
             on-change="pump[param] = value; setDirty(pumpIndex);">
        </div>
    </div>
    <div class="bg-white col-md-3 edit-bar border-bottom border-right"
         style="padding-left: 0px;padding-right: 0px;">
      <label for="pump{{$index}}remotestepsize">Flow Step Size        
      </label>
        <div id="pump{{$index}}remotestepsize"
             value-stepper
             increment="1"
             icon-size="icon-sm"
             target-circuit="pump"
             range="{min:1,max:10}"
             param="SETTMPNC"
             display-uom="'gpm'"
             on-change="pump[param] = value; setDirty(pumpIndex);">
        </div>
    </div>
  </div><!-- end row 3 -->

  <div class="row edit-row">

    <div class="col-md-8 no-padding border-right border-bottom">
      <label>
        <span>&nbsp;</span>
      </label>
      <input disabled type="text" name="type" class="form-control editable" placeholder="CIRCUITS...">
    </div>
  </div><!-- end row 4 -->

  <!-- flow circuit rows -->
  <div ng-if="pump.PRIOR !== 'CUSTOM'" style="background:#ddd">
    <div id="pump-{{pumpIndex}}-affect-{{$index}}1" class="row edit-row" ng-repeat="pumpAffect in pump | sortByPumpAffectPriority">
      <div class="col-md-4" style="height: 60px;background:none"></div>
      <div class="bg-white col-md-3 edit-bar border-bottom border-right" style="height: 70px; padding-left:5px">
        <div style="float:left">
          <label for="pump{{pumpIndex}}pumpAffect{{$index}}name">Circuit
            <span class="required"></span>
          </label>
          <div class="white-ddl">
            <div class="btn-group border-bottom" dropdown>
              <button id="pump{{pumpIndex}}pumpAffect{{$index}}NameDropDown1" id="pump{{pumpIndex}}pumpAffect{{$index}}NameDropDown1"
                      class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                {{ getCircuitPumpName( (property.Objects[pumpAffect.CIRCUIT].SNAME || pumpAffect.CIRCUIT)) || 'Select A Circuit'}}
              </button>
              <!--replace below circuits  for AllCircuits --> 
              <ul class="dropdown-menu">                             
                  <li class="dropdown-item" role="menuitem"
                      ng-repeat="circuit in AllCircuits | excludeCircuitsFromExistingPumpAffects : pump.pumpAffects track by $index"
                      ng-click="setHighSpeedCircuit(pumpAffect, circuit.OBJNAM); setDirty(pumpIndex);">
                      <a dropdown-toggle href="">{{ circuit.SNAME }}</a>                      
                  </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white col-md-2 edit-bar border-bottom border-right" style="height: 70px;">
          
          <label><input type="radio" ng-change="changeUnitsVSF('RPM',pumpAffect,pump.MIN); setDirty(pumpIndex);" ng-model="pumpAffect.SELECT" value="RPM" style="display:inline"> RPM</label>
          <label><input type="radio" ng-change="changeUnitsVSF('GPM',pumpAffect,pump.MINF); setDirty(pumpIndex);" ng-model="pumpAffect.SELECT" value="GPM" style="display:inline; margin-bottom:20px"> GPM</label>

      </div>
      <!--begin 1-->
        <div ng-show="pumpAffect.SELECT === 'GPM'">
            <div class="bg-white col-md-2 edit-bar border-bottom" style="height: 70px;">
                <label for="pump{{pumpIndex}}pumpAffect{{$index}}flow">
                    Flow                    
                </label>
                <div id="pump{{pumpIndex}}pumpAffect{{$index}}flow"
                     value-stepper
                     increment="1"
                     icon-size="icon-sm"
                     forceedge="yes"
                     forcestep="yes"
                     parentpump="pump"
                     affilatedtype="VFF"
                     target-circuit="pumpAffect"
                     range="{min:20,max:140}"
                     param="SPEED"
                     display-uom="'gpm'"
                     on-change="pumpAffect[param] = getValueinRange(value, pump.MINF, pump.MAXF); setDirty(pumpIndex);">
                </div>
            </div>
        </div>
      <!--end 1-->
     <!--begin 2--> 
        <div ng-show="pumpAffect.SELECT === 'RPM'">
            <div class="bg-white col-md-2 edit-bar border-bottom" style="height: 70px;">
                <label for="pump{{pumpIndex}}pumpAffect{{$index}}speed">
                    Speed                    
                </label>
                <div id="pump{{pumpIndex}}pumpAffect{{$index}}speed"
                     value-stepper
                     increment="1"
                     icon-size="icon-sm"
                     forceedge="yes"
                     forcestep="yes"
                     parentpump="pump"
                     affilatedtype="VS"
                     target-circuit="pumpAffect"
                     range="{min:450,max:3450}"
                     param="SPEED"
                     display-uom="'rpm'"
                     on-change="pumpAffect[param] = value ; setDirty(pumpIndex);">
                </div>
            </div>
        </div>

      <!--begin 2--> 
      <div class="bg-white col-md-1 edit-bar border-bottom" style="height: 70px;padding: 10px;">
        <button type="button"
                style="width:23px;color:red;border:1px solid rgb(86,86,86)"
                class="close" aria-label="Close" ng-click="deleteSpeedCircuit(pump, pumpAffect); setDirty(pumpIndex);">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div ng-if="pump.PRIOR === 'CUSTOM'"
       ui-sortable="sortableOptionsForPumps[pump.OBJNAM]"
       ng-model="pump.pumpAffects"
       style="background:#ddd">
    <div id="pump-{{pumpIndex}}-affect-{{$index}}" class="row edit-row" ng-repeat="pumpAffect in pump.pumpAffects">
      <div class="col-md-4" style="height: 60px;background:none"></div>
      <div class="bg-white col-md-3 edit-bar border-bottom border-right" style="height: 80px; padding-left:5px">
        <div class="draggable">
          <div class="draggable-square"></div>
          <div class="draggable-square"></div>
          <div class="draggable-square"></div>
        </div>
        <div style="float:left">
          <label for="pump{{pumpIndex}}pumpAffect{{$index}}NameDropDown">Circuit
            <span class="required"></span>
          </label>
          <div class="white-ddl">
            <div class="btn-group border-bottom" dropdown>
              <button id="pump{{pumpIndex}}pumpAffect{{$index}}NameDropDown" id="pump{{pumpIndex}}pumpAffect{{$index}}NameDropDown"
                      class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                {{ (property.Objects[pumpAffect.CIRCUIT].SNAME || pumpAffect.CIRCUIT) || 'Select A Circuit'}}
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item" role="menuitem"
                    ng-repeat="circuit in circuits | excludeCircuitsFromExistingPumpAffects : pump.pumpAffects track by $index"
                    ng-click="setHighSpeedCircuit(pumpAffect, circuit.OBJNAM); setDirty(pumpIndex);">
                  <a dropdown-toggle href="">{{ circuit.SNAME }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white col-md-2 edit-bar border-bottom border-right" style="height: 80px;">
        <label><input type="radio" ng-change="changeUnitsVSF('RPM',pumpAffect,pump.MIN)" ng-model="pumpAffect.SELECT" value="RPM" style="display:inline"> RPM</label><br />
        <label><input type="radio" ng-change="changeUnitsVSF('GPM',pumpAffect,pump.MINF)" ng-model="pumpAffect.SELECT" value="GPM" style="display:inline; margin-bottom:20px"> GPM</label><br />
      </div>
      <div ng-if="pumpAffect.SELECT === 'GPM'" class="bg-white col-md-2 edit-bar border-bottom" style="height: 80px;">
        <label for="pump{{pumpIndex}}pumpAffect{{$index}}flow">Flow          
        </label>
          <div id="pump{{pumpIndex}}pumpAffect{{$index}}flow"
               value-stepper
               increment="1"
               icon-size="icon-sm"
               forceedge="yes"
               forcestep="yes"
               parentpump="pump"
               affilatedtype="VFF"
               target-circuit="pumpAffect"
               range="{min:20,max:140}"
               param="SPEED"
               display-uom="'gpm'"
               on-change="pumpAffect[param] = value; setDirty(pumpIndex);">
          </div>
      </div>
      <div ng-if="pumpAffect.SELECT === 'RPM'" class="bg-white col-md-2 edit-bar border-bottom" style="height: 80px;">
        <label for="pump{{pumpIndex}}pumpAffect{{$index}}speed">Speed          
        </label>
          <div id="pump{{pumpIndex}}pumpAffect{{$index}}speed"
               value-stepper
               increment="1"
               icon-size="icon-sm"
               forceedge="yes"
               forcestep="yes"
               parentpump="pump"
               affilatedtype="VS"
               target-circuit="pumpAffect"
               range="{min:450,max:3450}"
               param="SPEED"
               display-uom="'rpm'"
               on-change="pumpAffect[param] = value; setDirty(pumpIndex);">
          </div>
      </div>
      <div class="bg-white col-md-1 edit-bar border-bottom" style="height: 80px;padding: 10px;">
        <button type="button"
                style="width:23px;color:red;border:1px solid rgb(86,86,86)"
                class="close" aria-label="Close" ng-click="deleteSpeedCircuit(pump, pumpAffect); setDirty(pumpIndex);">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div> <!-- close high flow circuit rows -->
  </div>
  <div class="row" style="background:#ddd">
    <div class="col-md-4"></div>
    <div class="col-md-8 pull-left"
         style="padding: 10px 0 10px 0">
        <button class="btn secondary md" style="margin:0" ng-show="canAddPumpsCircuits(pump)"
                ng-click="addFlowCircuit(pump); setDirty(pumpIndex);">
            Add Circuit
        </button>
        <div class="col-md-6 pull-right"> Circuits {{ getPumpsCicuitsFree(pump) }}/{{8}}</div>
    </div>
  </div>
</div> <!-- close ng if -->
