
<accordion class="parent-accordion" close-others="false">
  <accordion-group bg-color="bg-meteorite" is-open="accordionStateByObjectNames['heaters'].open">
    <accordion-heading ng-click="$event.stopPropagation()">
      <div class="row">
        <div class="col-md-4">
          <span class="icon icon-md icon-config"></span>
          <span style="color:white">Heaters</span>
        </div>
        <div class="col-md-2"><span style="color:white">TYPE</span></div>
        <div class="col-md-4"><span style="color:white">BODY</span></div>
        <div class="col-md-2"><i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames['heaters'].open, 'glyphicon-chevron-right': !accordionStateByObjectNames['heaters'].open}"
             class="pull-right glyphicon"></i></div>
      </div>
    </accordion-heading>
    <accordion class="child-accordion" close-others="false">
        <accordion-group bg-color="bg-butterflybush" ng-repeat="heater in heaters"
                         is-open="accordionStateByObjectNames[heater.objectName].open" ng-hide="isHeaterPrefer(heater)">
            <accordion-heading>
            <div class="row" ng-hide="isHeaterPrefer(heater)">
                <div class="col-md-4">
                    <span style="float:left" class="icon icon-md icon-flame-white"></span>
                    <span>{{ heater.sName | cut:false:25:' ...' || '--'}}</span>
                </div>

                <div class="col-md-2"><span>{{ getHeaterNamefromSubtype(heater.subtype) | cut:false:24:' ...' }}</span></div>

                <div class="col-md-4"><span>{{ getBodyNameByObjectName(heater.body) || '--' }}</span></div>
                <div class="col-md-2">
                    <div style="float:right">
                        <input id="heater{{$index}}" type="checkbox" name="heater{{$index}}"
                               ng-model="heater.isSelected" ng-click="$event.stopPropagation();" />
                        <label style="padding: 0px;bottom: 3px;position: relative;" for="heater{{$index}}"
                               ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
                        <i ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[heater.objectName].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[heater.objectName].open}"
                           class="pull-right glyphicon" style="margin-left:10px"></i>
                    </div>
                </div>
            </div>
            </accordion-heading>
            <form name="$root.forms.otherequipment.heater[{{$index}}]" class="col-md-12 no-padding" ng-init="outerIndex=$index" ng-hide="isHeaterPrefer(heater)">
                <!--ROW 1-->
                <div class="row edit-row">
                    <div class="col-md-4 edit-bar border-right border-bottom">
                        <label>
                            Heater Name
                            <span class="required"></span>
                        </label>
                        <input type="text" class="form-control editable" name="controllerName{{$index}}" id="controllerName{{$index}}"
                               ng-model="heater.sName"
                               placeholder="Enter Name"
                               required
                               autocomplete="off"
                               autofocus
                               maxlength="15">
                    </div>
                    <div class="col-md-2 no-padding border-right border-bottom">
                        <label for="heater{{$index}}type">
                            Type
                            <span class="required"></span>
                        </label>
                        <div ng-show="!heater.createMode">
                            <label id="heater{{$index}}type" class="form-control" placeholder="">{{ (getDictionaryValueHeater(heater.subtype) | cut:false:24:' ...') || 'Select A Type'}}</label>
                        </div>
                        <div class="white-ddl" ng-hide="!heater.createMode">
                            <div class="btn-group border-bottom" dropdown>
                                <button id="heater{{$index}}TypeDropDown"
                                        class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                    {{ (getHeaterName(heater.subtype) | cut:false:24:' ...') || 'Select A Type'}}
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" role="menuitem"
                                        ng-repeat="heaterSubtype in heaterSubtypes track by $index"
                                        ng-click="onTypeChange(heater, heaterSubtype); $root.forms.otherequipment.heater[outerIndex].$setDirty();">
                                        <a dropdown-toggle href="">{{getHeaterNameType(heaterSubtype.dictionaryValue)}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding border-right border-bottom">
                        <label for="heater{{$index}}body">
                            Body
                            <span class="required"></span>
                        </label>
                        <div ng-show="!heater.createMode || model.isSingleOrSharedBody()">
   
                        </div>
                        <div class="white-ddl" ng-if="isDualOrShare()">
                            <div class=" btn-group border-bottom" dropdown>
                                <button id="heater{{$index}}BodyDropDown"
                                        class="btn drodown-btn"
                                        ng-click=" $event.stopPropagation(); setAvailableBodies(heater)"
                                        dropdown-toggle>
                                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                    {{ getBodyNameByObjectName(heater.body) || 'Select A Body'}}
                                </button>

                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" role="menuitem"
                                        ng-repeat="propertyBody in propertyBodies track by $index"
                                        ng-click="heater.body = propertyBody.OBJNAM; $root.forms.otherequipment.heater[outerIndex].$setDirty();">

                                        <div ng-if="isBodyInAvailableList( propertyBody )">
                                            <option style="font-family : 'AvenirLTStd-Light' ;
                                                           font-size: 15px;"
                                                    value={{propertyBody.SNAME}}>
                                                {{propertyBody.SNAME}}
                                            </option>
                                        </div>
                                        <div ng-if="!isBodyInAvailableList( propertyBody )">
                                            <option style="background-color:lightgray;color:gray;
                                                           font-family : 'AvenirLTStd-Light' ;
                                                           font-size: 15px;"                                                           
                                            value={{propertyBody.SNAME}} disabled>{{propertyBody.SNAME}}</option>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--begin is single body-->
                        <div class="white-ddl" ng-if="!isDualOrShare()">
                            <div class=" btn-group border-bottom" dropdown>
                                <button id="heater{{$index}}BodyDropDown"
                                        class="btn drodown-btn"
                                        ng-click=" $event.stopPropagation(); setAvailableBodies(heater)"
                                        dropdown-toggle>
                                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                    {{ getBodyNameByObjectName(heater.body) || 'Select A Body'}}
                                </button>
                            </div>
                        </div>
                        <!--end is single body-->
                    </div>
                </div>
                <!--ROW SOLAR ONLY -->
                <div class="row edit-row" ng-if="isSolarHeaterType(heater)" style="height: 63px;">
                    <div class="col-md-4 border-bottom" style="height:63px;padding-right: 25px;">
                        <div>
                            <label>
                                Start Temp Delta
                                <span class="required"></span>
                            </label>
                            <div>
                                <div value-stepper
                                     icon-size="icon-sm"
                                     target-circuit="heater"
                                     range="{min:4,max:9}"
                                     param="startTempDelta"
                                     display-uom="'F'"
                                     on-change="heater[param] = value; $root.forms.otherequipment.heater[outerIndex].$setDirty();">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 border-bottom border-left" style="height:63px;padding-right: 25px;">
                        <div>
                            <label style="padding: 11px 2px 0;">
                                Stop Temp Delta
                                <span class="required"></span>
                            </label>
                            <div>
                                <div value-stepper
                                     icon-size="icon-sm"
                                     target-circuit="heater"
                                     range="{min:2,max:5}"
                                     param="stopTempDelta"
                                     display-uom="'F'"
                                     on-change="heater[param] = value; $root.forms.otherequipment.heater[outerIndex].$setDirty();">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding text-center border-bottom border-left" style="height: 63px;">
                        <input id="nocturnalCooling{{$index}}" type="checkbox"
                               ng-model="heater.nocturnalCooling" />
                        <label for="nocturnalCooling{{$index}}" style="position: relative;padding-left: 15px;display: flex;align-items: center;" class="pull-left form-padding">
                            <span></span>
                            <div class="title right">Nocturnal Cooling</div>
                        </label>
                    </div>
                </div>
                <!-- ROW 2.5-->
                <div class="row edit-row" style="height: 63px;" ng-show="isHeaterCoolDownDelay(heater)">
                    <!-- column 1 cooldown delay-->
                    <div class="col-md-4 border-bottom" style="height:63px;padding-right: 25px;" ng-show="isHeaterCoolDownDelay(heater)">
                        <label>
                            Cooldown Delay (min) 
                            <span class="required"></span>
                        </label>
                        <div>
                            <div value-stepper
                                 icon-size="icon-sm"
                                 target-circuit="heater"
                                 range="{min:1,max:10}"
                                 param="cooldowndelay"
                                 display-uom="min"
                                 on-change="heater[param] = value; $root.forms.otherequipment.heater[outerIndex].$setDirty();">
                            </div>
                        </div>
                    </div>
                    <!-- connected gas heaters -->
                    <div class="col-md-4 border-bottom" style="height:63px;padding-right: 25px;" ng-show="isHeaterConnectedGas(heater)">

                        <div class="col-md-6 no-padding border-right border-bottom">
                            <label for="heater{{$index}}type">
                                Address
                                <span class="required"></span>
                            </label>
                            <div class="white-ddl">
                                <div class="btn-group border-bottom" dropdown>
                                    <button id="heater{{$index}}AddressDropDown"
                                            class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                        {{ heater.address || 'Select A Address'}}
                                        <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" role="menuitem"
                                            ng-repeat="address in addresses track by $index"
                                            ng-click="heater.address = address; $root.forms.otherequipment.heater[outerIndex].$setDirty();">
                                            <div ng-if="isPortHeaterAvailable(heater.address, address)">
                                                <option style="font-family : 'AvenirLTStd-Light' ;
                                                        font-size: 15px;">
                                                    {{address}}
                                                </option>
                                            </div>
                                            <div ng-if="!isPortHeaterAvailable(heater.address, address)">
                                                <option style="background-color:lightgray;color:gray;
                                                        font-family : 'AvenirLTStd-Light' ;
                                                        font-size: 15px;"                                                        
                                                        disabled>
                                                    {{address}}
                                                </option>
                                            </div>                                       
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>                
                <!-- HYBRID ADDED FIELDS BEGIN-->                
                <div class="row edit-row" style="height: 63px;" ng-show="isHybrid(heater)">
                    <!-- Boost Temp-->
                    <div class="col-md-4 border-bottom" style="height:63px; width:300px;  padding-right: 25px;">
                        <div>
                            <label>
                                Boost Temp
                                <span class="required"></span>
                            </label>
                            <div>
                                <div value-stepper
                                     icon-size="icon-sm"
                                     target-circuit="heater"
                                     range="{min:5,max:10}"
                                     param="boostTemp"
                                     on-change="heater[param] = value; $root.forms.otherequipment.heater[outerIndex].$setDirty();">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Economy Mode -->
                    <div class="col-md-4 border-bottom" style="height:63px; width:300px; padding-right: 25px;">
                        <div>
                            <label>
                                Economy Time
                                <span class="required"></span>
                            </label>
                            <div>
                                <div value-stepper
                                     icon-size="icon-sm"
                                     target-circuit="heater"
                                     range="{min:1,max:6}"
                                     param="economyTime"
                                     display-uom="Hrs"
                                     on-change="heater[param] = value; $root.forms.otherequipment.heater[outerIndex].$setDirty();">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ROW 3-->
                <div class="row edit-row" ng-if="showRowThree(heater)" style="height: 63px;">
                    <!-- non hybrid -->
                    <div class="col-md-4 border-bottom" style="height:63px;padding-right: 25px;" ng-show="supportDiffentialTemp(heater)">
                        <div>
                            <label>
                                Differential Temp
                                <span class="required"></span>
                            </label>
                            <div>
                                <div value-stepper
                                     icon-size="icon-sm"
                                     target-circuit="heater"
                                     range="{min:1,max:12}"
                                     param="startTempDelta"
                                     display-uom="'F'"
                                     on-change="heater[param] = value; $root.forms.otherequipment.heater[outerIndex].$setDirty();">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="showAllRowThree(heater)">
                        <div class="col-md-2 border-bottom border-left" style="height:63px;padding-right: 25px;" ng-hide="heater.subtype === 'HCOMBO'">
                            <input id="coolingEnabled{{$index}}" type="checkbox"
                                   ng-model="heater.coolingEnabled" />
                            <label for="coolingEnabled{{$index}}" style="position: relative;padding-left: 15px;display: flex;align-items: center;" class="pull-left form-padding">
                                <span></span>
                                <div class="title right">Cooling Enabled</div>
                            </label>
                        </div>
                        <div class="col-md-6 no-padding border-right border-bottom">
                            <label for="heater{{$index}}type">
                                Address
                                <span class="required"></span>
                            </label>
                            <div class="white-ddl">
                                <div class="btn-group border-bottom" dropdown>
                                    <button id="heater{{$index}}AddressDropDown"
                                            class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                        {{ heater.address || 'Select A Address'}}
                                        <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" role="menuitem"
                                            ng-repeat="address in addresses track by $index"
                                            ng-click="heater.address = address; $root.forms.otherequipment.heater[outerIndex].$setDirty();">
                                            <div ng-if="isPortHeaterAvailable(heater.address, address)">
                                                <option style="font-family : 'AvenirLTStd-Light' ;
                                                               font-size: 15px;">
                                                    {{address}}
                                                </option>
                                            </div>
                                            <div ng-if="!isPortHeaterAvailable(heater.address, address)">
                                                <option style="background-color:lightgray;color:gray;
                                                               font-family : 'AvenirLTStd-Light' ;
                                                               font-size: 15px;"
                                                                disabled>{{address}}</option>
                                            </div>                                      
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ng-if="!showAllRowThree(heater)">
                        <div class="col-md-8 border-bottom" style="height: 63px"></div>
                    </div>
                </div>

                <div class="col-md-12" style="padding:0px">
                    <div class="col-md-12 form-padding-all">
                        <button class="btn cancel md" ng-click="cancelEdit(heater, -1, $index)" style="margin:0 0 0 18px;width:300px;float:right">Cancel</button>
                        <button class="btn md" type="submit" style="margin:0;width:300px;float:right"
                                ng-click="saveHeater(heater, $index)"
                                ng-disabled="!heater.sName || !heater.body">
                            Save
                        </button>
                    </div>
                </div>

            </form>
        </accordion-group>
      <div class="row">
          <div class="col-md-12" style="padding: 0px">
            <button class="btn secondary pull-left" ng-show="canAddHeaters()"  ng-click="addHeater()" style="margin:10px 0 0 0;width:300px">Add Heater</button>
            <div class="middle" style="margin:20px 0 0 0"> <center> Heaters {{getHeatersCount()}}/{{16}}</center></div>
            <button class="btn primary pull-right" ng-show="areSelectedHeatersToRemove()" ng-click=" removeHeaters()" style="margin:10px 0 0 0;width:300px">Remove Heater(s)</button>
        </div>
      </div>
    </accordion>
  </accordion-group>
</accordion>