﻿<div id="dashboardPage">
<div class="col-sm-12">
    <tabset>
        <div class="row" ng-show="isFreezeProtectionOn()">            
                <h3 class="title align-center" style="color:blue">Freeze Protect Active</h3>            
        </div>

        <div class="col-sm-2 all-off-btn no-padding">
            <button ng-if="DashboardTabs.home.active" id="AllOff" ng-click="masterOff()"
                    ng-disabled="securityEnabled && (SHOMNU.indexOf('p') < 0 || SHOMNU.indexOf('m') < 0)"
                    class="btn no-margin all-off third">All Off</button>
        </div>

        <!--    original  **********
        <div class="col-sm-10 no-padding dasboardTabs no-padding text-right" >
            <span class="icon-sm icon-lockon-lightgray-sm" style="padding-top:20px"></span>
            <tab heading="{{ Tab.heading }}" page="{{Tab.page}}" active="Tab.active"
                 disable="Tab.disabled"
                 ng-repeat="Tab in DashboardTabs"
                 tab-include="{{Tab.url}}" />
        </div>
        -->

        
        <div class="col-sm-10 no-padding dasboardTabs no-padding text-right">            
            <tab heading="{{ getTabName(Tab) }}" page="{{Tab.page}}"
                 active="Tab.active"
                 disabled={{isSecurityLocked(Tab)}}
                 ng-repeat="Tab in DashboardTabs"
                 tab-include="{{Tab.url}}" />
        </div>
            
        <!--  not working
        <div class="col-sm-10 no-padding dasboardTabs no-padding text-right">
            <tab heading="{{ getTabName(DashboardTabs[0]) }}" 
                 page="{{DashboardTabs[0].page}}"
                 active="DashboardTabs[0].active"
                 disable="isSecurityLocked(DashboardTabs[0])"
                 tab-include="{{DashboardTabs[0].url}}" />

            <tab heading="{{ getTabName(DashboardTabs[1]) }}"
                 page="{{DashboardTabs[1].page}}"
                 active="DashboardTabs[1].active"
                 disable="isSecurityLocked(DashboardTabs[1])"
                 tab-include="{{DashboardTabs[1].url}}" />
        </div>
            -->
                                    
        <!--
            ng-if="!isSecurityLocked(Tab)"
            <tab heading="{{Tab.heading}}" page="{{Tab.page}}" active="Tab.active"

            <div ng-repeat="body in SharedBodies | orderBy:'parent.SNAME'" class="row">

            <span class="icon-sm icon-lockon-lightgray-sm" style="padding-top:20px"></span>
        -->

        <!---  LIST
        <div ng-repeat="Tab in DashboardTabs" class="column">
            <div class="col-sm-10 no-padding dasboardTabs no-padding text-right">                
                <tab heading="{{ getTabName(Tab) }}" page="{{Tab.page}}" active="Tab.active"
                     disable="isSecurityLocked(Tab)"                     
                     tab-include="{{Tab.url}}" />
            </div>
        </div>
            -->
        <!--
            <div class="col-sm-10 no-padding dasboardTabs no-padding text-right">
                <tab heading="{{ getTabName(Tab[0]) }}" page="{{Tab[0].page}}" active="Tab[0].active"
                     disable="isSecurityLocked(Tab[0])"
                     tab-include="{{Tab[0].url}}" />
            </div>
            <div class="col-sm-10 no-padding dasboardTabs no-padding text-right">
                <tab heading="{{ getTabName(Tab[1]) }}" page="{{Tab[1].page}}" active="Tab[1].active"
                     disable="isSecurityLocked(Tab[1])"
                     tab-include="{{Tab[1].url}}" />
            </div>
            <div class="col-sm-10 no-padding dasboardTabs no-padding text-right">
                <tab heading="{{ getTabName(Tab[2]) }}" page="{{Tab[2].page}}" active="Tab[2].active"
                     disable="isSecurityLocked(Tab[2])"
                     tab-include="{{Tab[2].url}}" />
            </div>
        
            -->

</tabset>
</div>
<div class="col-sm-12 weather" ng-if="!serviceError">
    <div class="col-sm-7 current-weather">
        <div class="col-sm-2">
            <div class="weather icon" ng-class="forecast[0].icon"> </div>

        </div>
        <div class="col-sm-3">
            <div class="temperature" >
                <span class="value" ng-if="preferences == 'ENGLISH'">{{forecast[0].tempF}}</span>
                <span class="value" ng-if="preferences == 'METRIC'">{{forecast[0].tempC}}</span>
                <span class="unit">{{preferences | unitOfMeasurment }}</span>
            </div>
            <!-- removed below F and C -->
            <div class="units" ng-show="false">
                <span class="units" ng-class="{'selected' : preferences=='ENGLISH'}">F</span>
                <span class="separator">|</span>
                <span class="units" ng-class="{'selected' : preferences=='METRIC'}">C</span>
            </div>
            <div class="weather-detail">
                <span>{{forecast[0].weatherText}}</span>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="sunrise-sunset">
                <span class="icon sunrise"></span>
                <span class="time">{{forecast[0].sunrise | translateWeatherTime:installation.TimeZone}}</span>
                <span class="icon sunset"></span>
                <span class="time">{{forecast[0].sunset | translateWeatherTime:installation.TimeZone}}</span>
            </div>
            <div class="units" width="250px" ng-hide="true">
                <span class="no-padding-left">{{"Sunrise"}}</span>                
                <span class="no-padding-left">{{"Sunset"}}</span>
            </div>

            <div class="temp-range">
                <span class="legend">HI</span>
                <span class="temp" ng-if="preferences == 'ENGLISH'">{{forecast[0].tempHiF}}</span>
                <span class="temp" ng-if="preferences == 'METRIC'">{{forecast[0].tempHiC}}</span>
                <span class="legend border">LO</span>
                <span class="temp" ng-if="preferences == 'ENGLISH'">{{forecast[0].tempLoF}}</span>
                <span class="temp" ng-if="preferences == 'METRIC'">{{forecast[0].tempLoC}}</span>
                <span class="glyphicon glyphicon-tint precipt"></span><span class="precipitation-probability">{{forecast[0].precipProb}}%</span>
                <span class="precipication"></span>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn weather" ng-click="toggleWeather()">{{weatherView | translate}}</button>
        </div>
    </div>
    <div class="col-sm-5 forecast-area">
        <div ng-if="weatherView=='CURRENT'">
            <div class="weather-column" ng-repeat="day in forecast | weatherForecast:2:7">
                <div class="icon" ng-class="day.icon"></div>
                <div class="forecast">
                    <span class="temp" ng-if="preferences == 'ENGLISH'">{{day.tempHiF}}</span>
                    <span class="temp" ng-if="preferences == 'METRIC'">{{day.tempHiC}}</span>
                    <span class="separator">|</span>
                    <span class="temp" ng-if="preferences == 'ENGLISH'">{{day.tempLoF}}</span>
                    <span class="temp" ng-if="preferences == 'METRIC'">{{day.tempLoC}}</span>
                </div>
                <div>
                    <span>{{day.time | date:'EEE'}}</span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-tint precipt"></span><span class="precipitation-probability">{{day.precipProb}}%</span>
                    <span class="precipication"></span>
                </div>
            </div>
        </div>
        <div class="detail" ng-if="weatherView=='FORECAST'">
            <div class="legend-column">
                <span class="legend">{{'HEATINDEX' | translate}}</span>
                <br />
                <span class="legend">{{'RAINFALL' | translate}}</span>
                <br />
                <span class="legend">{{'HUMIDITY' | translate}}</span>
                <br />
                <span class="legend">{{'PRESSURE' | translate}}</span>
            </div>
            <div class="values-column-1">
                <div ng-if="preferences == 'ENGLISH'">
                    <span class="value">{{forecast[0].indexF}}</span>
                    <span>{{preferences | unitOfMeasurment }}</span>
                    <br />
                    <span class="legend">{{forecast[0].precipIN}} in</span>
                    <br />
                    <span class="legend">{{forecast[0].humidity}}%</span>
                    <br />
                    <span class="legend">{{forecast[0].pressureIN}} in</span>
                </div>
                <div ng-if="preferences == 'METRIC'">
                    <span class="value">{{forecast[0].indexC}}</span>
                    <span>{{preferences | unitOfMeasurment }}</span>
                    <br />
                    <span class="legend">{{forecast[0].precipMM}} mm</span>
                    <br />
                    <span class="legend">{{forecast[0].humidity}}%</span>
                    <br />
                    <span class="legend">{{forecast[0].pressureMB}} mb</span>
                </div>
            </div>
            <div class="legend-column">
                <span class="legend">{{'DUEPOINT' | translate}}</span>
                <br />
                <span class="legend">{{'VISIBILITY' | translate}}</span>
                <br />
                <span class="legend">{{'WIND' | translate}}</span>
                <br />
                <span class="legend">{{'UV' | translate}}</span>
            </div>
            <div class="values-column-2">
                <div ng-if="preferences == 'ENGLISH'">
                    <span class="value">{{forecast[0].dewPointF}}</span>
                    <span>{{preferences | unitOfMeasurment }}</span>
                    <br />
                    <span class="legend">{{forecast[0].cloudCover}}%</span>
                    <br />
                    <span class="legend">{{forecast[0].windSpeedMPH}} mph from {{forecast[0].windDir}}</span>
                    <br />
                    <span class="legend">{{forecast[0].uvIndex}} out of 12</span>
                </div>
                <div ng-if="preferences == 'METRIC'">
                    <span class="value">{{forecast[0].dewPointC}}</span>
                    <span>{{preferences | unitOfMeasurment }}</span>
                    <br />
                    <span class="legend">{{forecast[0].cloudCover}}%</span>
                    <br />
                    <span class="legend">{{forecast[0].windSpeedKPH}} kph from {{forecast[0].windDir}}</span>
                    <br />
                    <span class="legend">{{forecast[0].uvIndex}} out of 12</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>