<p>PENTAIR END USER LICENSE AGREEMENT</p>

<p>IntelliCenter</p>

<p>THIS END-USER LICENSE AGREEMENT (hereinafter referred to as the “License Agreement”) IS A LEGAL

AGREEMENT BETWEEN YOU ON BEHALF OF YOURSELF OR AS AN AUTHORIZED REPRESENTATIVE ON

BEHALF OF AN ENTITY (hereinafter referred to as “YOU”) AND PENTAIR WATER POOL AND SPA, INC., A

DELAWARE CORPORATION (hereinafter referred to as “PENTAIR”) FOR THE PENTAIR SOFTWARE LISTED

ABOVE, WHICH INCLUDES COMPUTER SOFTWARE AND ASSOCIATED MEDIA, PRINTED MATERIALS, AND

“ONLINE” OR ELECTRONIC DOCUMENTATION (hereinafter referred to as the “Software Product”).

READ THIS LICENSE AGREEMENT CAREFULLY BEFORE YOU CLICK ON THE “I ACCEPT” BUTTON BELOW. BY

CLICKING ON THE “I ACCEPT” BUTTON, YOU AGREE THAT YOU HAVE READ AND UNDERSTAND THIS

AGREEMENT AND WILL BE BOUND BY ITS TERMS AND CONDITIONS. IF YOU DO NOT AGREE WITH THESE

TERMS AND CONDITIONS, CLICK ON THE “I DO NOT ACCEPT” BUTTON BELOW.

By using the Software Product, you agree to be bound by all the terms of this License Agreement. If you

do not agree to the terms of this License Agreement, do not use the Software Product.</p>

<p>1. GRANT OF LICENSE
</p>
<p>a. Software Product: PENTAIR grants to you as an individual, or as an authorized representative of an

entity, a nonexclusive license to use the Software Product. You are entitled to install up to two (2)

copies of the Software Product, provided that only one (1) copy is used at a time.</p>

<p>b. Electronic Documents: Solely with respect to electronic documents included with the Software

Product, you may make any number of copies, provided that such copies shall be used only for your

personal non-commercial use in connection with the Software Product and are not republished or

distributed to any third party.</p>

<p>2. DESCRIPTION OF OTHER RIGHTS AND LIMITATIONS</p>

<p>a. No Resale or Commercial Use: Your right to use the Software Product is personal to you. You agree

not to resell, assign, barter or otherwise transfer (except as provided herein) the Software Product or

other related materials, or any related information obtained by you, without the express written

consent of PENTAIR.</p>

<p>b. Limitations on Reverse Engineering, Decompilation, and Disassembly: You may not reverse engineer,

decompile, or disassemble the Software Product, except and only to the extent that such activity is

expressly permitted by applicable law notwithstanding this limitation.</p>

<p>c. Separation of Components: The Software Product is licensed as a single product. Its component parts

may not be separated for use on multiple PENTAIR systems.</p>

<p>d. Rental: You may not rent, lease, or lend the Software Product.</p>

<p>e. Software Transfer: You may permanently transfer all of your rights under this License Agreement,

provided you retain no copies, you transfer all of the Software Product, and the recipient agrees to the

terms of this License Agreement. If the Software Product is an upgrade, any transfer must include all

previous versions of the Software Product.</p>

<p>f. Termination: Without prejudice to any other rights, PENTAIR may terminate this License Agreement if

you fail to comply with the terms and conditions of this License Agreement. In such event you must

destroy all copies of the Software Product, including all copies of the documentation.</p>

<p>3. OWNERSHIP</p>

<p>All right, title and interest in and to the Software Product (including without limitation any images, text

and applets incorporated into the Software Product), the accompanying printed materials and any

copies of the Software Product, including without limitation all copyrights and other intellectual

property rights embodied therein, are owned by PENTAIR. The Software Product is protected by U.S.

copyright laws and international treaty provisions. Therefore, you must treat the Software Product like

any other copyrighted material.</p>

<p>4. DATA COLLECTION</p>

<p>You grant Pentair rights to collect and use data that will be obtained from this application. This

application will allow Pentair without notice or further permission to log onto your pool system to

collect and review data for diagnostic, technical support and aggregate analysis.  All information

collected will be used only by Pentair for internal purposes.  Your data will not be identifiable or

provided to a third party.  Pentair will not assign, sale or otherwise transfer your individual data. 
</p>
<p>5. EXPORT RESTRICTIONS</p>

<p>You agree that neither you nor your customers intend to or will, directly or indirectly, export or transmit

any part of the Software Product or related documentation, to any country to which such export or

transmission is restricted by any applicable U.S. regulation or statute, without the prior written consent,

if required, of the Bureau of Export Administration of the U.S. Department of Commerce, or such other

government entity as may have jurisdiction over such export or transmission.</p>

<p>6. DISCLAIMER OF WARRANTIES</p>

<p>THE SOFTWARE PRODUCT IS PROVIDED ON AN &quot;AS IS&quot; BASIS. PENTAIR EXPRESSLY DISCLAIMS ALL

WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE

IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-

INFRINGEMENT. PENTAIR MAKES NO WARRANTY THAT THE SOFTWARE PRODUCT WILL MEET YOUR

REQUIREMENTS. NO INFORMATION OR ADVICE, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU

FROM PENTAIR SHALL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. Some jurisdictions do

not allow the exclusion of certain warranties, so some of the above exclusions may not apply to you. Any

warranties that are deemed to apply notwithstanding the foregoing disclaimer shall be limited in

duration to a period of one (1) year from the date of purchase of the Software Product.</p>

<p>7. LIMITATION OF LIABILITY</p>

<p>IN NO EVENT SHALL PENTAIR BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL

DAMAGES, RESULTING FROM THE USE OR THE INABILITY TO USE THE SERVICE, INCLUDING, BUT NOT

LIMITED TO, DAMAGES FOR LOSS OF PROFITS, EVEN IF PENTAIR HAS BEEN ADVISED OF THE POSSIBILITY

OF SUCH DAMAGES. PENTAIR&#39;S LIABILITY TO YOU OR ANY THIRD PARTY IS LIMITED TO FIFTY DOLLARS

($50). Some jurisdictions do not allow the limitation or exclusion of liability for incidental or

consequential damages so some of the above limitations may not apply to you.
</p>
<p>8. MISCELLANEOUS</>

<p>This License Agreement is the complete and exclusive statement of the agreement between you and

PENTAIR and supersedes any proposal or prior agreement, oral or written, and any other

communications relating to the subject matter of this License Agreement. This License Agreement shall

be governed by and interpreted under the laws of the State of North Carolina. PLEASE INDICATE THAT

YOU UNDERSTAND AND ACCEPT THESE TERMS BY CLICKING THE “I ACCEPT” BUTTON BELOW. IF YOU DO

NOT ACCEPT, INSTALLATION WILL TERMINATE.</p>