﻿<div class="row" ng-controller="FeaturesController">

    <div class="col-md-2 no-padding all-button-container">
        <div class="category">
            <div class="description features">
                <span class="title">Features</span>
            </div>
        </div>
    </div>
    <!-- features per item-->
    <div class="col-md-9 col-md-offset-1 ">
        <div class="row features-ctn">
            <div class="col-md-6 no-padding-left">
                <div>
                    <div ng-repeat="feature in filtered = (Model.Circuits | objectsByCharSet_Parity:'fw':'even') track by $index" class="circuit-control">
                        <div>
                            <!--power button and label-->
                            <div class="row" style="height:60px;">

                                <div class="col-md-2 displayFeatureSwitch">
                                    <!-- new style checkbox -->
                                    <label class="switch">
                                        <input type="checkbox"
                                               id="{{feature.OBJNAM+'_PwrBtn'}}"
                                               ng-model="feature.STATUS"
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               ng-click="setStatusCircuit(feature)">
                                        <span class="slider round"></span>
                                    </label>
                                </div>

                                <div class="col-md-5 displayFeatureText">
                                    <span class="pointer-cursor no-padding-left no-wrap displayTextItem ng-binding" for="{{feature.OBJNAM+'_PwrBtn'}}">{{feature.SNAME}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div>
                    <div ng-repeat="feature in filtered = (Model.Circuits | objectsByCharSet_Parity:'fw':'odd') track by $index" class="circuit-control">
                        <div>
                            <!--power button and label-->
                            <div class="row" style="height:60px; ">
                                <div class="col-md-2 displayFeatureSwitch">
                                    <!-- new style checkbox -->
                                    <label class="switch">
                                        <input type="checkbox"
                                               id="{{feature.OBJNAM+'_PwrBtn'}}"
                                               ng-model="feature.STATUS"
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               ng-click="setStatusCircuit(feature)">
                                        <span class="slider round"></span>
                                    </label>

                                </div>
                                <div class="col-md-5 displayFeatureText">
                                    <span class="pointer-cursor no-padding-left no-wrap displayTextItem" for="{{feature.OBJNAM+'_PwrBtn'}}">{{feature.SNAME}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
  
    <!--- begin groups -->
    <div class="col-md-2 no-padding all-button-container">
        <div class="category">
            <!--<div class="description light-groups">-->
            <div class="description groups-item">
                <span class="title">Groups</span>
            </div>
        </div>
    </div>
    <!-- groups per item-->
    <div class="col-md-9 col-md-offset-1">
        <div class="row features-ctn">
            <!-- LEFT COLUMN-->
            <div class="col-md-6 no-padding-left">
                <div>
                    <div ng-repeat="feature in filtered = (Model.Objects | GroupCircuits_Parity :'even') track by $index" class="circuit-control">
                        <div>
                            <!--power button and label-->
                            <div class="row" style="height:60px; ">
                                <div class="col-md-2 displayFeatureSwitch">
                                    <!-- new style checkbox -->
                                    <label class="switch">
                                        <input type="checkbox"
                                               id="{{feature.OBJNAM+'_PwrBtn'}}"
                                               ng-model="feature.STATUS"
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               ng-click="setStatusCircuit(feature)">
                                        <span class="slider round"></span>
                                    </label>

                                </div>
                                <div class="col-md-5 displayFeatureText">
                                    <span class="pointer-cursor grid-col col-one-half no-wrap displayTextItem" for="{{feature.OBJNAM+'_PwrBtn'}}">{{feature.SNAME}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- RIGHT COLUMN-->
            <div class="col-md-6 no-padding">
                <div>
                    <div ng-repeat="feature in filtered = (Model.Objects | GroupCircuits_Parity :'odd') track by $index" class="circuit-control">
                        <div>
                            <!--power button and label-->
                            <div class="row" style="height:60px; ">
                                <div class="col-md-2 displayFeatureSwitch">
                                    <!-- new style checkbox -->
                                    <label class="switch">
                                        <input type="checkbox"
                                               id="{{feature.OBJNAM+'_PwrBtn'}}"
                                               ng-model="feature.STATUS"
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               ng-click="setStatusCircuit(feature)">
                                        <span class="slider round"></span>
                                    </label>

                                </div>
                                <div class="col-md-5 displayFeatureText">
                                    <span class="pointer-cursor grid-col col-one-half no-wrap displayTextItem" for="{{feature.OBJNAM+'_PwrBtn'}}">{{feature.SNAME}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  end groups   -->
</div>