<div class="row history-tab" ng-controller="HistoryController">
  <tabset class="row">
    <div class="row text-right" style="float:left">
      <tab ng-click="" heading="{{body.SNAME}}" active="$first" ng-repeat="body in AllBodies | orderBy: 'LISTORD'">
        <div class="row">
          <div class="col-sm-12"></div>
        </div>
        <tabset class="row">
          <div class="row text-right" style="float:left">
              <!-- ng-click="processViewSelection(displayType.SNAME)"-->
              <tab ng-selected="processViewSelection(displayType.SNAME);" heading="{{displayType.SNAME}}" active="$first" ng-repeat="displayType in displayTypes">
                  <div class="row">
                      <div class="col-sm-12" style="height:17.33px;text-align: center;">
                          <span style="" ng-if="loadingHistory">Loading History...</span>
                      </div>
                  </div>
                  <!--  CHART HISTORY BEGIN-->
                  <div class="container">
                      <div style="height:350px;">
                          <history-chart chart-data="getHistoryBySNAME(body.SNAME).graphData"
                                         chart-x-axis="xAxis"
                                         chart-data-topic="displayType.SHORT">
                          </history-chart>
                      </div>
                  </div>
                  <!--  CHART HISTORY END-->
                  <div class="container">

                      <div style="width:254px;height:50px;float:left">
                          <div id="historyperiod-btn">{{getPeriodFrom("Showing: ")}} <br />{{getPeriodTo("To ")}} </div>
                      </div>
                      <!-- select  -->
                      <div style="width:988px;height:50px;float:right;position:relative;">
                          <div class="arrow-left" ng-click="intervalDown()"></div>
                          <div class="arrow-right" ng-click="intervalUp()"></div>
                          <history-interval chart-x-axis="xAxis">
                          </history-interval>
                      </div>
                      <div style="width:126px;height:35px;float:left;margin-left: 1px;margin-top: 6px;">
                          <div id="jumprange-btn" ng-show="isTabSelected('Chemistry')" style="color:{{getSelectedPlot('select1')}}" ng-click="togglePlot('orp')">
                              ORP<img src="content/img/check-24.png" class="validIcon" ng-show="optionIsOn('orp')" />                              
                          </div>
                          <div id="jumprange-btn" ng-show="isTabSelected('Temperature')" style="color:{{getSelectedPlot('select1')}}" ng-click="togglePlot('pool')">
                          Pool Temp.<img src="content/img/check-24.png" class="validIcon" ng-show="optionIsOn('pool')" />                              
                          </div>
                          <div id="jumprange-btn" ng-show="isTabSelected('Temperature')" style="color:{{getSelectedPlot('select3')}}" ng-click="togglePlot('solar')">
                          Solar Temp.<img src="content/img/check-24.png" class="validIcon" ng-show="optionIsOn('solar')" />
                          </div>
                          <div id="jumprange-btn" ng-show="true" style="color:{{getSelectedPlot('select5')}}" ng-click="togglePlot('zoom')">
                          <img src="content/img/find-icon.png" class="validIcon" ng-show="true" />{{getZoomText()}}
                          </div>
                      </div>
                      <div style="width:126px;height:35px;float:left;margin-left: 4px;margin-top: 6px;">
                          <div id="jumprange-btn" ng-show="isTabSelected('Chemistry')" style="color:{{getSelectedPlot('select2')}}" ng-click="togglePlot('ph')">
                          pH<img src="content/img/check-24.png" class="validIcon" ng-show="optionIsOn('ph')" />
                          </div>
                          <div id="jumprange-btn" ng-show="isTabSelected('Temperature')" style="color:{{getSelectedPlot('select2')}}" ng-click="togglePlot('spa')">
                          Spa Temp.<img src="content/img/check-24.png" class="validIcon" ng-show="optionIsOn('spa')" />
                          </div>
                          <div id="jumprange-btn" ng-show="isTabSelected('Temperature')" style="color:{{getSelectedPlot('select4')}}" ng-click="togglePlot('air')">
                          Air Temp.<img src="content/img/check-24.png" class="validIcon" ng-show="optionIsOn('air')" />
                          </div>
                          <div id="jumprange-btn" ng-show="isTabSelected('Chemistry')" style="color:{{getSelectedPlot('zero')}}" ng-click="togglePlot('zero')">
                              plot 0's <img src="content/img/check-24.png" class="validIcon" ng-show="optionIsOn('zero')" />
                          </div>
                          <div id="jumprange-btn" ng-show="!isTabSelected('Chemistry')" style="color:{{getSelectedPlot('freeze')}}" ng-click="togglePlot('freeze')">
                              Freezing Points<img src="content/img/check-24.png" class="validIcon" ng-show="optionIsOn('freeze')" />
                          </div>

                      </div>

                      <!-- selected period 262 = 250  +  + 12 -->
                      <div style="width:326px;height:100px;float:left;margin-left: 4px;margin-top: 6px;">

                          <!-- view period -->
                          <div id="jumprange-btn" style="color:{{getSelectedInterval('period')}}" ng-click="intervalPeriod('select')">
                          VIEW PERIOD<img src="content/img/check-24.png" class="validIcon" ng-show="isActivePeriod('period')" />
                          </div>

                          <!-- start period-->
                          <div id='startperiod-btn' style="color:black" ng-show="getSelected_Period() === 'period'" ng-click="open('start')">
                              {{getPeriodFrom("Start : ")}}
                              <div class="col-md-4 edit-bar " style="width:370px; height:35px; margin-top: -700px;" ng-show="start_opened">
                                  <input type="text"
                                         class="form-control"
                                         datepicker-popup="MM-dd-yyyy"
                                         ng-model="startPeriod"
                                         is-open="start_opened"
                                         ng-disabled="getSelected_Period() != 'period'"
                                         ng-change="dateChanged(true,startPeriod)"
                                         ng-blur="dateBlurred(true)"
                                         close-text="Close"
                                         show-weeks="false"
                                         show-button-bar="false"
                                         style="width:370px;margin-top: -700px;" />
                              </div>
                          </div>

                          <!-- stop period  -->
                          <div id='stopperiod-btn' style="color:black" ng-show="getSelected_Period() === 'period'" ng-click="open('stop')">
                              {{getPeriodTo("Stop : ")}}
                              <div class="col-md-4 edit-bar" style="width:370px; height:35px; margin-top: -700px;" ng-show="stop_opened" ng-keypress="Keypress($event)">
                                  <input type="text"
                                         class="form-control"
                                         datepicker-popup="MM-dd-yyyy"
                                         ng-model="stopPeriod"
                                         is-open="stop_opened"
                                         ng-disabled="getSelected_Period() != 'period'"
                                         ng-change="dateChanged(false,stopPeriod)"
                                         ng-blur="dateBlurred(false)"
                                         close-text="Close"
                                         show-weeks="false"
                                         show-button-bar="false"
                                         ng-keypress="stopPropagation($event)"
                                         style="width:370px;margin-top: -700px;" />
                              </div>
                          </div>
                      </div>

                      <!-- current-->
                      <div style="width:326px;height:100px;float:left; margin-left: 4px;">
                          <div id="jumptoday-btn" style="color:{{getSelectedInterval('daily')}}" ng-click="jumpToday('today')">
                          VIEW TODAY<img src="content/img/check-24.png" class="validIcon" ng-show="isActivePeriod('today')" />                              
                          </div>
                          <div id='weekly-btn' style="color:{{getSelectedInterval('weekly')}}" ng-click="intervalWeek('weekly')">
                          VIEW CURRENT WEEK<img src="content/img/check-24.png" class="validIcon" ng-show="isActivePeriod('weekly')" />                              
                          </div>
                          <div id='monthly-btn' style="color:{{getSelectedInterval('monthly')}}" ng-click="intervalMonth('monthly')">
                          VIEW CURRENT MONTH<img src="content/img/check-24.png" class="validIcon" ng-show="isActivePeriod('monthly')" />
                          </div>
                      </div>

                      <!-- previous-->
                      <div style="width:326px;height:100px;float:left;margin-left: 4px;">
                          <div id="jumpyesterday-btn" style="color:{{getSelectedInterval('yesterday')}}" ng-click="jumpToday('yesterday')">
                          VIEW YESTERDAY<img src="content/img/check-24.png" class="validIcon" ng-show="isActivePeriod('yesterday')" />
                          </div>
                          <div id='lastweek-btn' style="color:{{getSelectedInterval('lastweek')}}" ng-click="intervalWeek('lastweek')">
                          VIEW LAST WEEK<img src="content/img/check-24.png" class="validIcon" ng-show="isActivePeriod('lastweek')" />
                          </div>
                          <div id='lastmonth-btn' style="color:{{getSelectedInterval('lastmonth')}}" ng-click="intervalMonth('lastmonth')">
                          VIEW LAST MONTH<img src="content/img/check-24.png" class="validIcon" ng-show="isActivePeriod('lastmonth')" />
                          </div>
                      </div>

                  </div>
              </tab>
          </div>
        </tabset>
      </tab>
    </div>
  </tabset>
</div>