<style>
    localformat {
        color: blue;
        background-color: green;
    }
</style>
<div class="row home-tab" ng-controller="HomeController">
    <div class="col-md-5 bodies">
        <!--Shared bodies-->
        <div class="row">

            <div class=" row pool-side">AIR TEMPERATURE
                <span class="pool-tempw">{{Model.AirSensors[0].PROBE || '--'}}{{getCurrentUnits() | unitOfMeasurmentDegrees }}</span>
                <button class="btn button-transparent pull-right" ng-click="toggleSection('BODIES')">
                    <span class="glyphicon glyphicon-chevron-{{getSectionIcon('BODIES')}}" style="color:#948abf;"> </span>
                </button>
            </div>

            <div ng-repeat="body in SharedBodies | orderBy:'LISTORD'" class="body" ng-show="displaySection('BODIES')">

                <div class="row pointer-cursor" ng-click="DashboardTabs.pools.active = true">
                    <div class="col-md-3">
                        <div class="category no-padding no-margin">                                
                            <div class="description {{body.parent.SUBTYP | lowercase}}" ng-class="{'dim-2': (enumerations.bodyOffStatusList.indexOf(body.parent.STATUS) >= 0) }">                                       
                                <span class=" title">
                                    {{body.parent.SNAME || '--'}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 info" style="padding-left: 5px;">
                        <div class="col-md-4 temp" ng-class="{'dim-2': (enumerations.bodyOffStatusList.indexOf(body.parent.STATUS) >= 0 ) }">
                            <div class="row category no-padding no-margin">
                                <span class="right paddle-label">
                                    <span class="icon-sm pool-heating  {{getBodyStatusIconName(body.parent)}}"></span>
                                    <span class=" title">{{body.parent.SUBTYP}} Temp</span>
                                </span>
                            </div>

                            <div class="poolTemp">
                                <span class="icon icon-temp"></span>
                                <span class="value" id="lastPoolTemp" ng-if="showLastTemp(body.parent)">{{(body.parent.LSTTMP | number:1 ) || '--'}}</span>
                                <span class="value" id="poolTemp" ng-if="(enumerations.bodyOnStatusList.indexOf(body.parent.STATUS) >= 0)">{{(body.parent.LSTTMP | number:1 ) || '--'}}</span>
                                <span class="value" ng-if="!showLastTemp(body.parent) && (enumerations.bodyOffStatusList.indexOf(body.parent.STATUS) >= 0)">--</span>

                                <span class="unit">{{getCurrentUnits() | unitOfMeasurment }}</span>

                                <div class="title">{{( !showLastTemp(body.parent) ? 'CURRENT_TEMP' : 'LAST_TEMP') | translate}}</div>
                            </div>

                        </div>
                        <div class="col-md-8 stats" style="padding-top:2px; ">
                            <div class="poolTemp">
                                <label class="leftlabel" for="poolSetPoint"><!--Pool-->{{body.parent.SUBTYP | capitalize}} Set Point</label>
                                <span class="rightlabel" id=" poolsetpoint">{{(body.parent.LOTMP | number) || '--'}}</span>
                                <span class="unit no-dim">{{getCurrentUnits() | unitOfMeasurmentDegrees }}</span>
                            </div>
                            <div class="heatModeMain">
                                <label class="leftlabel" for=" heatermode">Heat Mode {{isBodyScheduled(body.parent)}}</label>
                                <span class="rightlabel" id=" heatermode">{{ getHeaterNameSelected( body.parent, body.parent.HEATER, currentHeatMode ) }}</span>
                            </div>

                            <label class="leftlabel" for=" heaterstatus">Heater Status</label>
                            <span class="rightlabel" id=" heaterstatus">{{ getHeatingStatus( body.parent ) }}</span>

                            <div class="freezeProtectionMain">
                                <label class="leftlabel" for="freeze">Freeze Protect</label>
                                <span class="rightlabel" id="freeze">{{ getProtectedMode(body.parent)  || '--'}}</span>
                            </div>
                        </div>
                    </div>
                </div>              
                <!-- light magenta color : background-color:#948abf;-->
                <div class="row" style="width:100px;height:1px;">                    
                </div>
                <!-- body.CHEMISTRY.ICHEM || body.CHEMISTRY.ICHLOR DashboardTabs.chemistry.active = true -->
                <div ng-if="isChemistryAvailable(body)" class="title row chemistry shared pointer-cursor" ng-click="gotoTab('chemistry')">

                    <div class="left {{isMenuEnabled('c')}}">
                        <label>Chemistry</label>
                    </div>
                    <div class="right chem-levels">
                        <span ng-if="body.CHEMISTRY.ICHEM" class="chem-level">
                            <label for="phORP"><span class="icon-circle-blank"></span><labelnone>pH</labelnone></label>
                            {{(body.CHEMISTRY.ICHEM.PHVAL | number:2 ) || '--'}}
                        </span>

                        <span ng-if="body.CHEMISTRY.ICHEM" class="chem-level">
                            <label for="phORP"><span class="icon-circle-blank"></span>ORP</label>
                            {{(body.CHEMISTRY.ICHEM.ORPVAL | number:0) || '--'}}
                        </span>

                        <span ng-show="isPresentIChlorBody(body)" class="chem-level">
                            <label for="salt"><span class="icon-circle-blank"></span>Salt</label>
                            {{(getSaltValue(body)) || '--'}}
                            <!-- {{(body.CHEMISTRY.ICHLOR.SALT ) || '--'}}-->
                        </span>
                    </div>
                </div>


                <div class="row body pointer-cursor" ng-click="DashboardTabs.pools.active = true">
                    <!--  HIDE THE WHITE BACKGROUND IF NOT SHARE -->
                    <div ng-if="isSharePresent(body)">
                        <div class="col-md-3 ">
                            <div class="category no-padding no-margin ">       
                                <div class="description {{body.child.SUBTYP | lowercase}}" ng-class="{'dim-2': (enumerations.bodyOffStatusList.indexOf(body.child.STATUS) >= 0)}">
                                    <span class=" title">
                                        {{body.child.SNAME || '--'}}
                                    </span>                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="isSharePresent(body)">
                        <div class="col-md-9 info" style="padding-left: 5px;">
                            <div class="col-md-4 temp" ng-class="{'dim-2': (enumerations.bodyOffStatusList.indexOf(body.child.STATUS) >= 0)}">
                                <div class="row category no-padding no-margin ">
                                    <span class="right paddle-label">
                                        <span class="icon-sm pool-heating  {{getBodyStatusIconName(body.child)}}"></span>
                                        <span class=" title">{{body.child.SUBTYP}} Temp</span>
                                    </span>
                                </div>


                                <div id="poolTemp" class="poolTemp">
                                    <span class="icon icon-temp"></span>
                                    <span class="value" id="lastPoolTemp" ng-if="showLastTemp(body.child)">{{(body.child.LSTTMP | number:1 ) || '--'}}</span>
                                    <!--replacing   :  body.child.TEMP  for   body.child.LSTTMP-->
                                    <span class="value" id="poolTemp" ng-if="(enumerations.bodyOnStatusList.indexOf(body.child.STATUS) >= 0)">{{(body.child.LSTTMP | number:1 ) || '--'}}</span>
                                    <span class="value" ng-if="!showLastTemp(body.child) && (enumerations.bodyOffStatusList.indexOf(body.child.STATUS) >= 0)">--</span>
                                    <span class="unit">{{getCurrentUnits() | unitOfMeasurment }}</span>
                                    <div class="title">{{(!showLastTemp(body.child) ? 'CURRENT_TEMP' : 'LAST_TEMP') | translate}}</div>
                                </div>
                            </div>
                            <div class="col-md-8 stats" style="padding-top:2px;">
                                <div class="poolTemp">
                                    <label class="leftlabel" for="poolSetPoint"><!--Pool-->{{body.child.SUBTYP | capitalize}} Set Point</label>
                                    <span class="rightlabel" id="poolSetPoint">{{(body.child.LOTMP | number) || '--'}}</span>
                                    <span class="unit nodim">{{getCurrentUnits() | unitOfMeasurmentDegrees }}</span>
                                </div>
                                <div class="heatModeMain">
                                    <label class="leftlabel" for="heaterMode">Heat Mode {{isBodyScheduled(body.child)}}</label>
                                    <span class="rightlabel" id="heaterMode">{{ getHeaterNameSelected( body.child, body.child.HEATER, currentHeatMode )  }}</span>
                                </div>
                                <label class="leftlabel" for="heaterStatus">Heater Status</label>
                                <span class="rightlabel" id="heaterStatus">{{ getHeatingStatus( body.child ) }}</span>

                                <div class="freezeProtectionMain">
                                    <label class="leftlabel" for="freeze">Freeze Protect</label>
                                    <span class="rightlabel" id="freeze">{{ getProtectedMode( body.child ) || '--'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!--Single bodies-->
        <div class="row">
            <div ng-repeat="body in SingleBodies track by $index | orderBy:'LISTORD' " class="singlebody body" ng-show="displaySection('BODIES')">

                <!-- <div ng-if="isSharePresent(body)">-->
                <div class="row pointer-cursor" ng-click="DashboardTabs.pools.active = true">
                    <div class="col-md-3">
                        <div class="category no-padding no-margin ">            
                            <div class="description {{body.SUBTYP | lowercase}}" ng-class="{'dim-2': (enumerations.bodyOffStatusList.indexOf(body.STATUS) >= 0) }">                                        
                                <span class="title no-wrap ">
                                    {{body.SNAME || '--'}}
                                </span>                           
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 info" style="padding-left: 5px;">
                        <div class="col-md-4 temp" ng-class="{'dim-2': (enumerations.bodyOffStatusList.indexOf(body.STATUS) >= 0)}">
                            <div class="row category no-padding no-margin">
                                <span class="right paddle-label">
                                    <span class="icon-sm pool-heating  {{getBodyStatusIconName(body)}}"></span>
                                    <span class=" title">{{body.SUBTYP}} Temp</span>
                                </span>
                            </div>



                            <div class="poolTemp">
                                <span class="icon icon-temp"></span>
                                <span class="value" id="lastPoolTemp" ng-if="showLastTemp(body)">{{(body.LSTTMP | number:1 ) || '--'}}</span>
                                <!--replacing   :  body.TEMP  for   body.LSTTMP-->
                                <span class="value" id="poolTemp" ng-if="(enumerations.bodyOnStatusList.indexOf(body.STATUS) >= 0)">{{(body.LSTTMP | number:1 ) || '--'}}</span>
                                <span class="value" ng-if="!showLastTemp(body) && (enumerations.bodyOffStatusList.indexOf(body.STATUS) >= 0)">--</span>
                                <span class="unit">{{getCurrentUnits() | unitOfMeasurment }}</span>
                                <div class="title">{{( !showLastTemp(body) ? 'CURRENT_TEMP' : 'LAST_TEMP') | translate}}</div>
                            </div>
                        </div>
                        <div class="col-md-8 stats" style="padding-top:2px; ">
                            <div class="poolTemp">
                                <label class="leftlabel" for="poolSetPoint"><!--Pool-->{{body.SUBTYP | capitalize}} Set Point</label>
                                <span class="rightlabel" id="poolSetPoint">{{(body.LOTMP | number) || '--'}}</span>
                                <span class="unit no-dim">{{getCurrentUnits() | unitOfMeasurmentDegrees }}</span>
                            </div>
                            <div class="heatModeMain">
                                <label class="leftlabel" for="heaterMode">Heat Mode {{isBodyScheduled(body)}}</label>
                                <span class="rightlabel" id="heaterMode">{{ getHeaterNameSelected( body, body.HEATER, currentHeatMode ) }}</span>
                            </div>

                            <label class="leftlabel" for="heaterStatus">Heater Status</label>
                            <span class="rightlabel" id="heaterStatus">{{ getHeatingStatus( body ) }}</span>

                            <div class="freezeProtectionMain">
                                <label class="leftlabel" for="freeze">Freeze Protect</label>
                                <span class="rightlabel" id="freeze">{{getProtectedMode(body) || '--'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <!--body.CHEMISTRY.ICHEM || body.CHEMISTRY.ICHLOR -->
                <div ng-if="isChemistryAvailable(body)" class="row chemistry shared title pointer-cursor" ng-click="gotoTab('chemistry')">
                    <div class="left {{isMenuEnabled('c')}}">
                        <label>Chemistry</label>
                    </div>
                    <div class="right chem-levels">
                        <span ng-if="body.CHEMISTRY.ICHEM" class="chem-level " ng-class="{'low': body.CHEMISTRY.ICHEM.PHLO == 'ON' , 'high': body.CHEMISTRY.ICHEM.PHHI == 'ON'}">
                            <label><span class="icon-circle-blank"></span>pH</label>
                            {{(body.CHEMISTRY.ICHEM.PHVAL |number:2) || '--'}}
                        </span>

                        <span ng-if="body.CHEMISTRY.ICHEM" class="chem-level" ng-class="{'low': body.CHEMISTRY.ICHEM.ORPLO == 'ON' , 'high': body.CHEMISTRY.ICHEM.ORPHI == 'ON'}">
                            <label><span class="icon-circle-blank"></span>ORP</label>
                            {{(body.CHEMISTRY.ICHEM.ORPVAL | number:0) || '--'}}
                        </span>

                        <span ng-show="isPresentIChlorBody(body)" class="chem-level" ng-class="{'low': body.CHEMISTRY.ICHEM.SALTLV == 'ON' , 'high': body.CHEMISTRY.ICHEM.SALTLV == 'ON'}">
                            <label><span class="icon-circle-blank"></span>Salt</label>
                            {{(getSaltValue(body)) || '--'}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- SCHEDULES  SECTION BEGIN ------------------------------>
        <div class="col-md-7 circuits no-padding " style="width:500px;" ng-show="pumps.length>=1" >
            <div class="title">
                Schedules
                <button class="btn button-transparent pull-right" ng-click="toggleSection('SCHEDULES')">
                    <span class="glyphicon glyphicon-chevron-{{getSectionIcon('SCHEDULES')}}" style="color:#948abf;"> </span>
                </button>
            </div>
            <div class="sched-lists" style="padding:5px; background-color:#fafafa;" ng-show="displaySection('SCHEDULES')">
                <div ng-click="" ng-repeat="schedule in Schedules">
                    <div class="row">
                        <div class="display-pump-icon bg-white cursorHand" ng-click="gotoTab('schedules')">

                            <div class="col-md-2 " style="padding-top:0px; width:30px;">
                                <div class="display-pump-icon bg-white">
                                    <div class="category no-padding no-margin">
                                        <span class="left paddle-label" style="width:30px;height:30px;">
                                            <span class="icon-sm" ng-class="schedule.ACT === 'ON' ? 'formatLED ledon' : 'formatLED ledgray'"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- COL 2-->
                        <div class="column-sched-main cursorHand" style="width:120px;" ng-click="gotoTab('schedules')">
                            <div class='{{isMenuEnabledSchedules()}}' style="width:150px;">{{ schedule.SNAME || 'No Circuit Found'}}</div>
                        </div>
                        <!-- COL 3-->
                        <div class="column-sched-main">
                            <div class='display-sched-data' ng-class="schedule.ACT === 'ON' ? 'sched-data-running' : 'sched-data-norunning' ">{{schedule.TIME}} - {{schedule.TIMOUT}}</div>
                        </div>
                        <!-- COL 4-->
                        <div class="column-sched-main">
                            <div class='display-sched-data' ng-class="schedule.ACT === 'ON' ? 'sched-data-running' : 'sched-data-norunning' ">{{ schedule.DAY  | scheduleDays}}</div>
                        </div>

                    </div>
                </div>

            </div>
        </div
        <!-- SCHEDULES SECTION END ------------------------------->
    </div>
    <!-- CIRCUIT : FEATURES-->
    <div class="col-md-7 circuits no-padding">
        <div class="title">Circuits
            <button class="btn button-transparent pull-right" ng-click="toggleSection('CIRCUITS')">
                <span class="glyphicon glyphicon-chevron-{{getSectionIcon('CIRCUITS')}}" style="color:#948abf;"> </span>
            </button>
        </div>
        <div class="circuit-lists" ng-show="displaySection('CIRCUITS')">            
            <div ng-if="Features.length" class="row pointer-cursor">
               
                <div class="col-sm-3 category no-padding no-margin" style="width:150px;" ng-click="gotoTab('features')">                  
                    <div class="description features {{isMenuEnabled('f')}}">
                        <span class="title">Features</span>
                    </div>
                </div>               

                <div class="col-sm-9 circuit-lists-new no-padding" style="width:500px;">
                    <div class="row">
                                                 
                        <div class="circuit-item-new " ng-class="feature.STATUS == 'ON' ? 'active' : ''"
                             ng-repeat="feature in (Model.Circuits | objectsByCharSet:'fw') | orderBy : 'SNAME'">

                            <div class="col-md-2 display-circuit-switch {{getCircuitFormat(feature)}}" style="padding-top:5px;">
                                <span>
                                    <!-- features are enabled-->
                                    <label class="switchA" ng-show="isMenuFeatureEnabled()">
                                        <input type="checkbox"
                                               id="{{feature.OBJNAM}}"
                                               ng-model="feature.STATUS"
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               ng-click="setStatusCircuit(feature)">
                                        <span class="sliderA round"></span>
                                    </label>
                                    <!-- features are disabled-->
                                    <label class="switchA-blocked" ng-show="!isMenuFeatureEnabled()">
                                        <input type="checkbox"
                                               id="{{feature.OBJNAM}}"
                                               ng-model="feature.STATUS"
                                               disabled
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               style="cursor:not-allowed"
                                               ng-click="setStatusCircuit(feature)">
                                        <span class="sliderA round"></span>
                                    </label>

                                </span>
                            </div>
                            <!--enable item-->
                            <div class="col-sm-4 display-circuit-name" ng-click="setStatusCircuit(feature)" ng-show="isMenuFeatureEnabled()">
                                <span class="pointer-cursor no-padding-left grid-col no-wrap {{getCircuitFormat(feature)}}" ng-click="setStatusCircuit(feature)">{{feature.SNAME || '--'}}</span>
                            </div>
                            <!-- disabled item-->
                            <div class="col-sm-4 display-circuit-name" ng-click="setStatusCircuit(feature)" ng-show="!isMenuFeatureEnabled()">
                                <span class="disabledItem no-padding-left grid-col no-wrap " ng-click="setStatusCircuit(feature)">{{feature.SNAME || '--'}}</span>
                            </div>

                        </div>
                           
                    </div>
                </div>
            </div>
            <div ng-if="Lights.length" class="row pointer-cursor">
                <div class="col-sm-3 category no-padding no-margin" style="width:150px;" ng-click="gotoTab('lights')">
                    
                    <div class="description lights  {{isMenuEnabled('l')}}">
                        <span class="title">Lights</span>
                    </div>
                </div>
                <div class="col-sm-9 circuit-list no-padding" style="width:500px;">
                    <div class="row">
                    
                        <div class="circuit-item-new " ng-class="feature.STATUS == 'ON' ? 'active' : ''"
                             ng-repeat="light in Lights | orderBy : 'SNAME'">

                            <div class="col-md-2 display-circuit-switch {{getCircuitFormat(light)}}" style="padding-top:5px;">
                                <span>
                                    <!-- enabled lights -->         
                                    <label class="switchA" ng-show="isMenuLightEnabled()">
                                        <input type="checkbox"
                                               id="{{light.OBJNAM}}"
                                               ng-model="light.STATUS"
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               ng-click="setStatusLightCircuit(light)">
                                        <span class="sliderA round"></span>
                                    </label>
                                    <!-- disabled lights -->
                                    <label class="switchA-blocked" ng-show="!isMenuLightEnabled()">
                                        <input type="checkbox"
                                               id="{{light.OBJNAM}}"
                                               ng-model="light.STATUS"
                                               disabled
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               style="cursor:not-allowed"
                                               ng-click="setStatusLightCircuit(light)">
                                        <span class="sliderA round"></span>
                                    </label>


                                </span>
                            </div>
                            <!--enabled items-->
                            <div class="col-sm-4 display-circuit-name" ng-click="setStatusLightCircuit(light)" ng-show="isMenuLightEnabled()">
                                <span class="pointer-cursor no-padding-left grid-col no-wrap {{getCircuitFormat(light)}}" ng-click="setStatusLightCircuit(light)">{{light.SNAME || '--'}}</span>
                            </div>
                            <!-- disabled item-->
                            <div class="col-sm-4 display-circuit-name" ng-click="setStatusLightCircuit(light)" ng-show="!isMenuLightEnabled()">
                                <span class="disabledItem no-padding-left grid-col no-wrap " ng-click="setStatusLightCircuit(light)">{{light.SNAME || '--'}}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- pumps start-->
    <div class="col-md-7 circuits no-padding " style="float: right;" ng-show="pumps.length>=1" >
        <div class="title">
            <span class="main-panel-title" ng-click="gotoTab('pumps')">Pumps</span>
            <span>
                <button class="btn button-transparent pull-right" ng-click="toggleSection('PUMPS')">
                    <span class="glyphicon glyphicon-chevron-{{getSectionIcon('PUMPS')}}" style="color:#948abf;"> </span>
                </button>
            </span>
        </div>

        <div class="pumps-list" style="padding:20px; background-color:#fafafa;" ng-show="displaySection('PUMPS')">

            <div class="row">

                <div class="display-pump-icon">
                    <div class='display-pump-icon'>{{' '}}</div>
                </div>

                <div class="column-pump-main" style="width:165px;">
                </div>

                <div class="column-pump-main">
                    <div class='display-pump-data pump-data-norunning PumptableHeater'>{{"WATTS"}}</div>
                </div>

                <div class="column-pump-main">
                    <div class='display-pump-data pump-data-norunning PumptableHeater'> {{"RPM"}}</div>
                </div>

                <div class="column-pump-main">
                    <div class='display-pump-data pump-data-norunning PumptableHeater'> {{'GPM'}} </div>
                </div>
            </div>


            <div ng-click="" heading="{{pump.SNAME}}" active="$first" ng-repeat="pump in pumps  | orderBy : 'SNAME'">
                <div class="row">
                    <div class="display-pump-icon bg-white cursorHand" ng-click="gotoTab('pumps')">
                        <div class="category no-padding no-margin">
                            <span class="left paddle-label" style="width:30px;height:30px;">
                                <span class="icon-sm" ng-class="pump.STATUS === '10' ? 'formatLED ledon' : 'formatLED ledgray'"></span>
                            </span>
                        </div>
                    </div>
                    <!-- COL 2-->
                    <div class="column-pump-main cursorHand" style="width:135px;" ng-click="gotoTab('pumps')">
                        <div class='{{isMenuEnabledPumps()}}' style="width:135px;">{{ getPumpItem(pump,'SNAME')}}</div>
                    </div>
                    <!-- COL 3-->
                    <div class="column-pump-main">
                        <div class='display-pump-data' ng-class="pump.PWR > 0 ? 'pump-data-running' : 'pump-data-norunning'">{{ pump.PWR || '-'}} </div>
                    </div>
                    <!-- COL 4-->
                    <div class="column-pump-main">
                        <div class='display-pump-data' ng-class="pump.RPM > 0 ? 'pump-data-running' : 'pump-data-norunning'"> {{ pump.RPM || '-'}}</div>
                    </div>

                    <div ng-if="pump.SUBTYP === 'FLOW' || pump.SUBTYP === 'VSF'">
                        <div class="column-pump-main">
                            <div class='display-pump-data' ng-class="pump.GPM > 0 ? 'pump-data-running' : 'pump-data-norunning'"> {{ pump.GPM || '-' }} </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- pumps end-->
</div>
