﻿<div id="InstallationsPage">
    <div class="container" id="Title">
        <div class="row title-bar">
            <div class="col-md-4 border-right page-title">
                <div class="pull-left">
                    <h2 class="title" style="margin-top: 17px;">{{'SYSTEMS' | translate}}</h2>
                </div>
            </div>
            <div class="col-md-4 border-right page-title">
                <div class="pull-left">
                    <span class="icon icon-md icon-search" ng_click="searchInstallations()"></span>
                    <input type="text" placeholder="{{'SEARCH'}}" class="search" ng-enter="searchInstallations()" ng-model="SearchTerm" />
                </div>
            </div>
            <div class="col-md-4 page-title">
                <div class="pull-right">
                    <label class="filter">{{getCountFiltered()  }}{{'FILTERBY' | translate}} </label>
                    <div class="btn-group pull-right filter" dropdown>
                        <button id="split-button" type="button" class="btn btn-default" dropdown-toggle>
                            {{Filter}}
                            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-down"></span></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                            <li role="menuitem" class="circle" ng-click="filterInstallations('ALL')"><a href="">All</a></li>
                            <li role="menuitem" class="circle online" ng-click="filterInstallations('Connected')"><a href="">Connected</a></li>
                            <li role="menuitem" class="circle offline" ng-click="filterInstallations('Off-line')"><a href="">Off-line</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <accordion close-others="false">
                <accordion-group bg-color="{{installation.OnLine ? 'online' : ''}}" ng-repeat="installation in Installations">
                    <accordion-heading>
                        <div class="row" ng-click="ExpandItem(installation)">
                            <div class="col-md-4" style="width: 300px;vertical-align:middle">
                                <div class="panel-title" ng-click="ConnectToProperty(installation.InstallationId,installation.OnLine); $event.stopPropagation()">
                                    <span class="circle pull-left" ng-class="installation.OnLine ? 'online' : 'offline'"></span> {{installation.PoolName}}
                                </div>
                            </div>
                           
                            <div class="col-md-5" style="width: 120px;vertical-align:middle" ng-show="installation.open">
                                <button class="connectButton bg-white" ng-hide="!installation.OnLine" ng-click="ConnectToProperty(installation.InstallationId, true)">  Connect  </button>
                            </div>

                            <div class="col-md-5" style="width: 120px;vertical-align:middle" ng-show="!installation.open">
                                <button class="connectButton bg-green" ng-hide="!installation.OnLine" ng-click="ConnectToProperty(installation.InstallationId, true)">  Connect  </button>
                            </div>
                          
                            <div class="col-md-6 " style="width: 580px;vertical-align:middle">
                                <div ng-show="installation.open">
                                    <span ng-if="installation.OnLine">
                                        <span class="pull-right">
                                            <span class="panel-label">{{'CONNECT_STATUS' | translate}}</span>
                                            <span class="panel-status">{{'CONNECTED' | translate}}</span>
                                        </span>
                                    </span>
                                    <span ng-if="!installation.OnLine" class="pull-right">
                                        <span class="panel-label">{{'CONNECT_STATUS' | translate}}</span>
                                        <span class="panel-status">{{'DISCONNECTED' | translate}}</span>
                                        <span class="panel-connect">({{'SINCE' | translate}}{{installation.LastStatusChange |  translateWeatherDate}})</span>
                                    </span>
                                </div>
                                <div ng-show="!installation.open" class="panel-status">{{titlebarAddress(installation)}}</div>
                            </div>
                            <div class="col-md-1" style="width: 100px;vertical-align:middle">
                                <span class="panel-title">{{'ID_LABEL' | translate}}</span><span class="panel-status">{{installation.InstallationId}}</span>
                            </div>
                            <div class="col-md-1 pull-right" style="width: 100px;vertical-align:middle">
                                <div>
                                    <!--
               <input id="{{installation.InstallationId}}-chBox" ng-show="installation.TotalAdmins > 1" type="checkbox" name="DeleteCheck" ng-model="installation.deleteFlag" ng-click="$event.stopPropagation();" />
               <label class="delete-box" for="{{installation.InstallationId}}-chBox" ng-show="installation.TotalAdmins > 1" ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
            -->
                                    <input id="{{installation.InstallationId}}-chBox" ng-show="installation.TotalAdmins > 1" type="checkbox" name="DeleteCheck" ng-model="installation.deleteFlag" ng-click="$event.stopPropagation();" />
                                    <label class="delete-box" for="{{installation.InstallationId}}-chBox" ng-show=true ng-click="$event.stopPropagation();"><span class=" alt"></span></label>

                                    <span class="pull-right chevron glyphicon glyphicon-chevron-right" style="vertical-align:text-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </accordion-heading>
                    <form class="col-md-12 no-padding" name="forms.installation" novalidate>
                        <div class="row">
                            <div class="col-md-6 no-padding">
                                <div class="row no-padding border-right">
                                    <label for="address">{{'PLAIN-ADDRESS' | translate}}</label><span ng-show="forms.installation.$submitted && forms.location.address.$invalid" class="validation-summary-errors">Invalid</span>
                                    <input ng-disabled="true" type="text" id="address" name="address" class="form-control editable" placeholder="Enter address" ng-model="installation.Address">
                                </div>
                                <div class="row no-padding border-right">
                                    <label for="city">{{'PLAIN-CITY' | translate}}</label><span ng-show="forms.installation.$submitted && forms.location.city.$invalid" class="validation-summary-errors">Invalid</span>
                                    <input ng-disabled="true" type="text" id="city" name="city" class="form-control editable" placeholder="Enter city" ng-model="installation.City">
                                </div>
                                <div class="row">
                                    <div class="col-md-6 no-padding border-right">
                                        <label for="state">{{'PLAIN-STATE' | translate}}</label><span ng-show="forms.installation.$submitted && forms.location.state.$invalid" class="validation-summary-errors">Invalid</span>
                                        <input ng-disabled="true" type="text" id="state" name="state" class="form-control editable" placeholder="Enter state" ng-model="installation.State">
                                    </div>
                                    <div class="col-md-6 no-padding border-right">
                                        <label for="zip">{{'PLAIN-ZIP' | translate}}</label><span ng-show="forms.installation.$submitted && forms.location.zip.$invalid" class="validation-summary-errors">Invalid</span>
                                        <input ng-disabled="true" type="text" id="zip" name="zip" class="form-control editable" placeholder="Enter zip code" ng-model="installation.Zip">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 no-padding border-right">
                                <div class="row">
                                    <label for="phone">{{'PLAIN-PHONE' | translate}}</label><span ng-show="forms.installation.$submitted && forms.location.address.$invalid" class="validation-summary-errors">Invalid</span>
                                    <input ng-disabled="true" type="text" id="phone" name="phone" class="form-control editable" placeholder="Enter phone number" ng-model="installation.Phone">
                                </div>
                                <div class="row">
                                    <label for="email">{{'EMAIL' | translate}}</label><span ng-show="forms.installation.$submitted && forms.location.address.$invalid" class="validation-summary-errors">Invalid</span>
                                    <input ng-disabled="true" type="text" id="email" name="email" class="form-control editable" placeholder="Enter email address" ng-model="installation.Email">
                                </div>
                                <div class="row">
                                    <label for="country">{{'COUNTRY' | translate}}</label><span ng-show="forms.installation.$submitted && forms.location.address.$invalid" class="validation-summary-errors">Invalid</span>
                                    <input ng-disabled="true" type="text" id="country" name="country" class="form-control editable" placeholder="Enter country" ng-model="installation.Country">
                                </div>
                            </div>
                            <div class="col-md-3 no-padding">
                                <div class="row">
                                    <label>{{'TIMEZONE' | translate}}</label>
                                    <br />
                                    <div class="image-and-label">
                                        <label class="size-lg-left" id="timezone">{{TimezoneIcon(installation.TimeZone) | translate}}</label>
                                        <div class="icon-timezone" ng-class="TimezoneIcon(installation.TimeZone)"></div>
                                    </div>
                                </div>
                                <div class="row connect" ng-hide="true">
                                    <button class="btn secondary md full" ng-disabled="!installation.OnLine" ng-click="ConnectToProperty(installation.InstallationId, true)">MANAGE INSTALLATION</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="row addDeleteButtons">
        <div class="col-md-offset-9 col-md-3">
            <button class="btn seventh md right delete-button" ng-show="GroupDeletes()" ng-click="ValidateDelete()">{{'REMOVE_INSTALLATION' | translate}}</button>
        </div>
    </div>
    <div class="modal" ng-show="ConfirmDelete" tabindex="-1"></div>
    <div class="modal-dialog" ng-show="ConfirmDelete">
        <div class=" modal-content-sm">
            <div class="row col-md-12">
                <h2 class="title">{{'DELETE' | translate}}</h2>
            </div>
            <div class="row"></div>
            <div class="col-md-6">
                <button class="btn secondary md full" ng-click="ConfirmDelete = false;">{{'CANCEL' | translate}}</button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn secondary md full" ng_click="RemoveInstallations()">{{'DELETE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

