﻿<div id="InviteUsers">
    <div class="grid-wrap">
        <div class="grid-col col-full">
            <button id="ManageUsersLink" class="nav back" ng-click="GoToManageUsersPage()">‹</button>
            <h1>{{'ADDUSER' | translate}}</h1>
        </div>
    </div>
    <div id="InviteErrorMsg" class="errorNotification" ng-show="Model.InviteStatus.Status =='ERROR'">{{'SYSTEMFAILMESSAGE' | translate}}&nbsp;<a class="button-link" ng-click="ResetInvite()">{{'TRYAGAIN' | translate}}</a></div>
    <div id="inviteSuccessMsg" class="successNotification" ng-show="Model.InviteStatus.Status =='OK'">{{'SUCCESSINVITESENT' | translate}}&nbsp;<a class="button-link" ng-click="ResetInvite()">{{'INVITEANOTHERUSER' | translate}}</a></div>

    <form class="form-login" ng-hide="InviteSubmitted" role="form" name="AddUserForm" novalidate>
        <h2>{{'INVITEANOTHERUSERIN' | translate}}</h2>
        <div>
            <label for="email">{{'EMAIL' | translate}}</label>
            <br />
            <input id="InviteEmailAddr" type="email" name="email" class="form-control" placeholder="Name@example.com" data-ng-model="InviteEmail" required autofocus>
            <img id="InviteEmailErrorIcon" src="content/img/warning-24.png" alt="Invalid Email" class="warningIcon" ng-show="AddUserForm.email.$invalid && !AddUserForm.email.$pristine" />
            <img id="InviteEmailValidIcon" src="content/img/check-24.png" alt="Valid Email" class="validIcon" ng-show="!AddUserForm.email.$invalid && !AddUserForm.email.$pristine" />
        </div>
        <div>
            <label for="permGroup">{{'PERMISSIONGROUP' | translate}}</label>
            <br />
            <div id="SecurityGroupDropDown" default-value="Model.Security[0]" dropdown-menu="Model.Security" dropdown-model="InviteGroup"></div>

        </div>
        <button class="loginSubmitBtn" id="InviteBtn" type="submit" ng-click="InviteUser()" ng-disabled="AddUserForm.email.$invalid">{{'INVITE' | translate}}</button>
    </form>

</div>