﻿<div class="row lights-tab" ng-controller="LightsController">
    <div class="col-md-2 no-padding all-button-container">
        <button id="AllLightsOnBtn" class="btn secondary full item-status all-button" ng-click="Property.SetAllLightsOn()"> All On</button>
        <button id="AllLightsOffBtn" class="btn third full item-status all-button" ng-click="Property.SetAllLightsOff()"> All Off</button>
        <div class="category">
            <div class="description lights">
                <span class="title">Lights</span>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-md-offset-1">
        <div class="row lights-ctn">
            <div class="col-md-6 no-padding-left">
                <accordion>                                               
                    
                    <accordion-group ng-repeat="light in filteredLights = (Model.Circuits  | objectsBySection_Parity:'l':'even' )" class="circuit-control">
                        <accordion-heading>
                            <div class="row">
                                <!--power button AA-->
                                <div class="col-md-2" style="width:75px;padding-top:4px">
                                    <!-- new style checkbox -->
                                    <label class="switch">
                                        <input type="checkbox"
                                               id="{{light.OBJNAM+'_PwrBtn'}}"
                                               ng-model="light.STATUS"
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               ng-click="setStatusCircuit(light)">
                                        <span class="slider round"></span>
                                    </label>
                                </div>

                                <!--label-->
                                <div class="col-md-5" style="width:155px;">
                                    <span class="pointer-cursor no-padding-left no-wrap displayTextItem" for="{{light.OBJNAM+'_PwrBtn'}}">{{light.SNAME}}</span>
                                </div>
                                <!--dropdown options-->
                                <div class="pull-right col-md-5 no-padding">
                                    <div class="btn-group lights-ddl right" dropdown>
                                        <div class="col-md-11 no-padding">
                                            <!--IF light options-->
                                            <button ng-if="light.USAGE.indexOf('D') < 0" id="split-button" type="button" class="btn light-mode {{light.USE}}" ng-click="$event.stopPropagation()" dropdown-toggle>{{(light.USE | translate) || '--'}}</button>
                                            <!--IF dimmer-->
                                            <button ng-if="light.USAGE.indexOf('D') > -1" id="split-button" type="button" class="btn light-mode WHITE" ng-click="$event.stopPropagation()" dropdown-toggle>{{'WHITE_DIMMER_TXT'| translate}} {{light.LIMIT || 0}}%</button>
                                        </div>
                                        <span class="col-md-1 no-padding chevron glyphicon glyphicon-chevron-right" ng-click="$event.stopPropagation()" dropdown-toggle></span>
                                        <!--IF light options-->
                                        <ul ng-if="light.USAGE.indexOf('D') < 0" class="dropdown-menu row" ng-class="{'small': (filteredUsages = (light | lightColorOptions)).length < 7 }" role="menu" aria-labelledby="split-button">
                                            <li ng-click="SetLightColorAndTurnOn(light,'ACT',usage.key); $event.stopPropagation(); " class="col-md-6" ng-repeat="usage in filteredUsages" dropdown-toggle>
                                                <button class="light-mode {{usage.key}} btn" role="menuitem">{{usage.key | translate}}</button>
                                            </li>
                                        </ul>
                                        <!--IF dimmer-->
                                        <div ng-if="light.USAGE.indexOf('D') > -1" light-dimmer target-circuit="light" on-change="SetLightColor(objNam, param, value)"></div>
                                    </div>
                                </div>
                            </div>
                        </accordion-heading>
                        <!--button list-->
                        <menu>
                            <light-mode-button ng-show="light.USAGE.indexOf('u')>0" id="{{light.OBJNAM+'_Thumper'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','THUMP')" light-mode="{{'THUMP' | translate}}"></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('m')>0" id="{{light.OBJNAM+'_Mode'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','MODE')" light-mode="{{'MODE' | translate}}"></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('t')>0" id="{{light.OBJNAM+'_Reset'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','RESET')" light-mode="{{'RESET' | translate}}"></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('h')>0" id="{{light.OBJNAM+'_Capture'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','HOLD')" light-mode="{{'HOLD' | translate}}">></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('Q')>0" id="{{light.OBJNAM+'_Recall'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','RECALL')" light-mode="{{'RECALL' | translate}}"></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('r')>0" id="{{light.OBJNAM+'_Rotate'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','ROTATE')" light-mode="{{'ROTATE' | translate}}">></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('p')>0" id="{{light.OBJNAM+'_StopRotate'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','STOP')" light-mode="{{'STOP' | translate}}">></light-mode-button>
                        </menu>
                    </accordion-group>
                </accordion>
            </div>
            <div class="col-md-6 no-padding">
                <accordion>                                               
                    <accordion-group ng-repeat="light in filteredLights = (Model.Circuits | objectsBySection_Parity:'l':'odd' )" class="circuit-control">
                        <accordion-heading>
                            <div class="row">
                                <!--power button-->

                                <div class="col-md-2" style="width:75px;padding-top:4px;">
                                    <!-- new style checkbox -->
                                    <label class="switch">
                                        <input type="checkbox"
                                               id="{{light.OBJNAM+'_PwrBtn'}}"
                                               ng-model="light.STATUS"
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               ng-click="setStatusCircuit(light)">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <!--label-->
                                <div class="col-md-5" style="width:155px;">
                                    <span class="pointer-cursor no-padding-left no-wrap displayTextItem" for="{{light.OBJNAM+'_PwrBtn'}}">{{light.SNAME}}</span>
                                </div>
                                <!--dropdown options-->
                                <div class="pull-right col-md-5 no-padding">
                                    <div class="btn-group lights-ddl right" dropdown>
                                        <div class="col-md-11 no-padding">
                                            <!--IF light options-->
                                            <button ng-if="light.USAGE.indexOf('D') < 0" id="split-button" type="button" class="btn light-mode {{light.USE}}" ng-click="$event.stopPropagation()" dropdown-toggle>{{(light.USE | translate) || '--'}}</button>
                                            <!--IF dimmer-->
                                            <button ng-if="light.USAGE.indexOf('D') > -1" id="split-button" type="button" class="btn light-mode WHITE" ng-click="$event.stopPropagation()" dropdown-toggle>{{'WHITE_DIMMER_TXT'| translate}} {{light.LIMIT || 0}}%</button>
                                        </div>
                                        <span class="pull-right chevron glyphicon glyphicon-chevron-right" ng-click="$event.stopPropagation()" dropdown-toggle></span>
                                        <!--IF light options-->
                                        <ul ng-if="light.USAGE.indexOf('D') < 0" class="dropdown-menu row" ng-class="{'small': (filteredUsages = (light | lightColorOptions)).length < 7 }" role="menu" aria-labelledby="split-button">
                                            <li ng-click="SetLightColorAndTurnOn(light,'ACT',usage.key); $event.stopPropagation();" class="col-md-6" ng-repeat="usage in filteredUsages" dropdown-toggle>
                                                <button class="light-mode {{usage.key}} btn" role="menuitem">{{usage.key | translate}}</button>
                                            </li>
                                        </ul>
                                        <!--IF dimmer-->
                                        <div ng-if="light.USAGE.indexOf('D') > -1" light-dimmer target-circuit="light" on-change="SetLightColor(objNam, param, value)"></div>
                                    </div>
                                </div>
                            </div>
                        </accordion-heading>
                        <!--button list-->
                        <menu>
                            <light-mode-button ng-show="light.USAGE.indexOf('u')>0" id="{{light.OBJNAM+'_Thumper'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','THUMP')" light-mode="{{'THUMP' | translate}}"></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('m')>0" id="{{light.OBJNAM+'_Mode'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','MODE')" light-mode="{{'MODE' | translate}}"></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('t')>0" id="{{light.OBJNAM+'_Reset'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','RESET')" light-mode="{{'RESET' | translate}}"></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('h')>0" id="{{light.OBJNAM+'_Capture'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','HOLD')" light-mode="{{'HOLD' | translate}}">></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('Q')>0" id="{{light.OBJNAM+'_Recall'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','RECALL')" light-mode="{{'RECALL' | translate}}"></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('r')>0" id="{{light.OBJNAM+'_Rotate'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','ROTATE')" light-mode="{{'ROTATE' | translate}}">></light-mode-button>
                            <light-mode-button ng-show="light.USAGE.indexOf('p')>0" id="{{light.OBJNAM+'_StopRotate'}}" btn-class="btn fourth md" ng-click="SetLightColorAndTurnOn(light,'ACT','STOP')" light-mode="{{'STOP' | translate}}">></light-mode-button>
                        </menu>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
    <hr />

    <div class="row lightGroups-ctn">
        <div class="col-md-2 no-padding">
            <div class="category">
                <div class="description light-groups">
                    <span class="title">Light Groups</span>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <div class="row">
                <!-- LEFT COLUMN -->
                <div class="col-md-6 no-padding-left">
                    <accordion>
                        <div class="row " ng-show="isState_SyncSetSwing('ON')">

                            <span class="light-progressbar">
                                <span class="progressgroupsyncswim  progressbargroup"></span>
                                <span class="title progressgroupsyncswim">{{getSyncSetSwingMessage('')}}</span>
                            </span>
                        </div>

                        <accordion-group ng-repeat="lightGroup in filtered = ( (Model.Objects | lightGroupCircuits) | objectsBySection_Parity:'l':'even')" class="circuit-control">
                            <accordion-heading>
                                <div class="row">
                                    <!--power button B is not in progress-->

                                    <div class="col-md-2" style="width:75px;padding-top:4px;" ng-show="!groupIsInProgress()">

                                        <!-- new style checkbox -->

                                        <label class="switch">
                                            <input type="checkbox"
                                                   id="{{lightGroup.OBJNAM+'_PwrBtn'}}"
                                                   ng-model="lightGroup.STATUS"
                                                   ng-true-value="'ON'"
                                                   ng-false-value="'OFF'"
                                                   ng-disabled="{{isGroupEmpty(lightGroup)}}"
                                                   ng-click="setStatusGroupCircuit(lightGroup)">
                                            <span class="slider round"></span>
                                        </label>

                                    </div>

                                    <!--label  -->
                                    <div class="col-md-5" style="width:145px;">
                                        <span class=" pointer-cursor no-padding-left no-wrap displayTextItem" style="color:{{getColorGroup()}}" for="{{lightGroup.OBJNAM+'_PwrBtn'}}">
                                            {{lightGroup.SNAME}}
                                        </span>
                                    </div>


                                    <div class="col-md-5" style="width:15px;" ng-show="!groupIsInProgress()">
                                        <span class="chevron glyphicon glyphicon-list-alt" for="{{lightGroup.OBJNAM+'_PwrBtn'}} ng-click=" $event.stoppropagation()"></span>
                                    </div>


                                    <!-- disaled buttons -->
                                    <div class="col-md-5 no-padding" ng-show="groupIsInProgress()">
                                        <!--IF light options-->
                                        <button ng-if="lightGroup.USAGE.indexOf('D') < 0" type="button" class="btn light-mode-disabled {{lightGroup.USE}}">{{(lightGroup.USE | translate) || '--'}}</button>
                                        <!--IF dimmer-->
                                        <button ng-if="lightGroup.USAGE.indexOf('D') > -1" type="button" class="btn light-mode WHITE">{{'WHITE_DIMMER_TXT'| translate}} {{lightGroup.LIMIT || 0}}%</button>
                                    </div>

                                    <!--dropdown options-->
                                    <div class="pull-right col-md-5 no-padding" ng-show="!groupIsInProgress()">
                                        <div class="btn-group lights-ddl right" dropdown>
                                            <!--<div class="btn-group lights-ddl right" dropdown>-->
                                            <div class="col-md-11 no-padding">
                                                <!--IF light options-->
                                                <button ng-if="lightGroup.USAGE.indexOf('D') < 0" id="split-button" type="button" class="btn light-mode {{lightGroup.USE}}" ng-click="$event.stopPropagation()" dropdown-toggle>{{(lightGroup.USE | translate) || '--'}}</button>
                                                <!--IF dimmer-->
                                                <button ng-if="lightGroup.USAGE.indexOf('D') > -1" id="split-button" type="button" class="btn light-mode WHITE" ng-click="$event.stopPropagation()" dropdown-toggle>{{'WHITE_DIMMER_TXT'| translate}} {{lightGroup.LIMIT || 0}}%</button>
                                            </div>
                                            <span class="pull-right chevron glyphicon glyphicon-chevron-right" ng-click="$event.stopPropagation()" dropdown-toggle></span>
                                            <!--IF light options-->
                                            <ul ng-if="lightGroup.USAGE.indexOf('D')<0" class="dropdown-menu row" ng-class="{'small': (filteredUsages = (lightGroup | lightColorOptions)).length < 7 }" role="menu" aria-labelledby="split-button">
                                                <!--  change SetLightColor for Property.SetValue -->
                                                <li ng-click="SetLightColorGroupOn(lightGroup.OBJNAM,'ACT',usage.key); $event.stopPropagation();" class="col-md-6" ng-repeat="usage in filteredUsages" dropdown-toggle>
                                                    <button class="light-mode {{usage.key}} btn" role="menuitem">{{usage.key | translate}}</button>
                                                </li>
                                            </ul>
                                            <!--IF dimmer-->
                                            <div ng-if="lightGroup.USAGE.indexOf('D') > -1" light-dimmer target-circuit="lightGroup" on-change="SetLightColorGroupOn(objNam, param, value)"></div>
                                            <!--</div> -->
                                        </div>
                                    </div>


                                </div>
                            </accordion-heading>
                            <!--SYNC-->
                            <div class="col-md-3 light-group-toggle">
                                <button id="SyncBtn" class="{{getIconGroupLight(lightGroup,'SYNC')}}" ng-click="SetLightGroupStage(lightGroup,'SYNC')">SYNC</button>
                            </div>
                            <!--SET-->
                            <div class="col-md-3 light-group-toggle">
                                <button id="setbtn" class="{{getIconGroupLight(lightGroup,'SET')}}" ng-click="SetLightGroupStage(lightGroup,'SET')">SET</button>
                            </div>
                            <!--SWIM-->
                            <div class="col-md-3 light-group-toggle">
                                <button id="SwimBtn" class="{{getIconGroupLight(lightGroup,'SWIM')}}" ng-click="SetLightGroupStage(lightGroup,'SWIM')">SWIM</button>
                            </div>

                            <table ng-show="false">
                                <thead>
                                    <tr>
                                        <th>Light</th>
                                        <th>Swim Offset</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="child in childLights = (lightgroup.CHILD | getChildObjects)">
                                        <td>
                                            <label for="{{child.OBJNAM+'_OffSet'}}">{{child.SNAME}}</label>
                                        </td>
                                        <td>
                                            <input type="number" id="{{child.OBJNAM+'_OffSet'}}" min="0" max="20">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--button list-->
                            <menu>

                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('u')>0" id="{{lightgroup.OBJNAM+'_Thumper'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','THUMP')" light-mode="{{'THUMP' | translate}}"></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('m')>0" id="{{lightgroup.OBJNAM+'_Mode'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','MODE')" light-mode="{{'MODE' | translate}}"></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('t')>0" id="{{lightgroup.OBJNAM+'_Reset'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','RESET')" light-mode="{{'RESET' | translate}}"></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('h')>0" id="{{lightgroup.OBJNAM+'_Capture'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','HOLD')" light-mode="{{'HOLD' | translate}}">></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('Q')>0" id="{{lightgroup.OBJNAM+'_Recall'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','RECALL')" light-mode="{{'RECALL' | translate}}"></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('r')>0" id="{{lightgroup.OBJNAM+'_Rotate'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','ROTATE')" light-mode="{{'ROTATE' | translate}}">></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('p')>0" id="{{lightgroup.OBJNAM+'_StopRotate'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','STOP')" light-mode="{{'STOP' | translate}}">></light-mode-button>
                            </menu>
                        </accordion-group>
                    </accordion>
                </div>
                <!-- RIGHT COLUMN -->
                <div class="col-md-6 no-padding">
                    <accordion>
                        <div class="row " ng-show="isState_SyncSetSwing('ON')">

                            <span class="light-progressbar">
                                <span class="progressgroupsyncswim  progressbargroup"></span>
                                <span class="title progressgroupsyncswim">{{getSyncSetSwingMessage('')}}</span>
                            </span>
                        </div>

                        <accordion-group ng-repeat="lightGroup in filtered = ((Model.Objects | lightGroupCircuits) | objectsBySection_Parity:'l':'odd')" class="circuit-control">
                            <accordion-heading>
                                <div class="row">
                                    <!--power button B is not in progress-->

                                    <div class="col-md-2" style="width:75px;padding-top:4px;" ng-show="!groupIsInProgress()">

                                        <!-- new style checkbox -->

                                        <label class="switch">
                                            <input type="checkbox"
                                                   id="{{lightGroup.OBJNAM+'_PwrBtn'}}"
                                                   ng-model="lightGroup.STATUS"
                                                   ng-true-value="'ON'"
                                                   ng-false-value="'OFF'"
                                                   ng-disabled="{{isGroupEmpty(lightGroup)}}"
                                                   ng-click="setStatusGroupCircuit(lightGroup)">
                                            <span class="slider round"></span>
                                        </label>

                                    </div>

                                    <!--label  -->
                                    <div class="col-md-5" style="width:145px;">
                                        <span class=" pointer-cursor no-padding-left no-wrap displayTextItem" style="color:{{getColorGroup()}}" for="{{lightGroup.OBJNAM+'_PwrBtn'}}">
                                            {{lightGroup.SNAME}}
                                        </span>
                                    </div>


                                    <div class="col-md-5" style="width:15px;" ng-show="!groupIsInProgress()">
                                        <span class="chevron glyphicon glyphicon-list-alt" for="{{lightGroup.OBJNAM+'_PwrBtn'}} ng-click=" $event.stoppropagation()"></span>
                                    </div>


                                    <!-- disaled buttons -->
                                    <div class="col-md-5 no-padding" ng-show="groupIsInProgress()">
                                        <!--IF light options-->
                                        <button ng-if="lightGroup.USAGE.indexOf('D') < 0" type="button" class="btn light-mode-disabled {{lightGroup.USE}}">{{(lightGroup.USE | translate) || '--'}}</button>
                                        <!--IF dimmer-->
                                        <button ng-if="lightGroup.USAGE.indexOf('D') > -1" type="button" class="btn light-mode WHITE">{{'WHITE_DIMMER_TXT'| translate}} {{lightGroup.LIMIT || 0}}%</button>
                                    </div>

                                    <!--dropdown options-->
                                    <div class="pull-right col-md-5 no-padding" ng-show="!groupIsInProgress()">
                                        <div class="btn-group lights-ddl right" dropdown>
                                            <!--<div class="btn-group lights-ddl right" dropdown>-->
                                            <div class="col-md-11 no-padding">
                                                <!--IF light options-->
                                                <button ng-if="lightGroup.USAGE.indexOf('D') < 0" id="split-button" type="button" class="btn light-mode {{lightGroup.USE}}" ng-click="$event.stopPropagation()" dropdown-toggle>{{(lightGroup.USE | translate) || '--'}}</button>
                                                <!--IF dimmer-->
                                                <button ng-if="lightGroup.USAGE.indexOf('D') > -1" id="split-button" type="button" class="btn light-mode WHITE" ng-click="$event.stopPropagation()" dropdown-toggle>{{'WHITE_DIMMER_TXT'| translate}} {{lightGroup.LIMIT || 0}}%</button>
                                            </div>
                                            <span class="pull-right chevron glyphicon glyphicon-chevron-right" ng-click="$event.stopPropagation()" dropdown-toggle></span>
                                            <!--IF light options-->
                                            <ul ng-if="lightGroup.USAGE.indexOf('D')<0" class="dropdown-menu row" ng-class="{'small': (filteredUsages = (lightGroup | lightColorOptions)).length < 7 }" role="menu" aria-labelledby="split-button">
                                                <!--  change SetLightColor for Property.SetValue -->
                                                <li ng-click="SetLightColorGroupOn(lightGroup.OBJNAM,'ACT',usage.key); $event.stopPropagation();" class="col-md-6" ng-repeat="usage in filteredUsages" dropdown-toggle>
                                                    <button class="light-mode {{usage.key}} btn" role="menuitem">{{usage.key | translate}}</button>
                                                </li>
                                            </ul>
                                            <!--IF dimmer-->
                                            <div ng-if="lightGroup.USAGE.indexOf('D') > -1" light-dimmer target-circuit="lightGroup" on-change="SetLightColorGroupOn(objNam, param, value)"></div>
                                            <!--</div> -->
                                        </div>
                                    </div>


                                </div>
                            </accordion-heading>
                            <!--SYNC-->
                            <div class="col-md-3 light-group-toggle">
                                <button id="SyncBtn" class="{{getIconGroupLight(lightGroup,'SYNC')}}" ng-click="SetLightGroupStage(lightGroup,'SYNC')">SYNC</button>
                            </div>
                            <!--SET-->
                            <div class="col-md-3 light-group-toggle">
                                <button id="setbtn" class="{{getIconGroupLight(lightGroup,'SET')}}" ng-click="SetLightGroupStage(lightGroup,'SET')">SET</button>
                            </div>
                            <!--SWIM-->
                            <div class="col-md-3 light-group-toggle">
                                <button id="SwimBtn" class="{{getIconGroupLight(lightGroup,'SWIM')}}" ng-click="SetLightGroupStage(lightGroup,'SWIM')">SWIM</button>
                            </div>

                            <table ng-show="false">
                                <thead>
                                    <tr>
                                        <th>Light</th>
                                        <th>Swim Offset</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="child in childLights = (lightgroup.CHILD | getChildObjects)">
                                        <td>
                                            <label for="{{child.OBJNAM+'_OffSet'}}">{{child.SNAME}}</label>
                                        </td>
                                        <td>
                                            <input type="number" id="{{child.OBJNAM+'_OffSet'}}" min="0" max="20">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--button list-->
                            <menu>

                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('u')>0" id="{{lightgroup.OBJNAM+'_Thumper'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','THUMP')" light-mode="{{'THUMP' | translate}}"></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('m')>0" id="{{lightgroup.OBJNAM+'_Mode'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','MODE')" light-mode="{{'MODE' | translate}}"></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('t')>0" id="{{lightgroup.OBJNAM+'_Reset'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','RESET')" light-mode="{{'RESET' | translate}}"></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('h')>0" id="{{lightgroup.OBJNAM+'_Capture'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','HOLD')" light-mode="{{'HOLD' | translate}}">></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('Q')>0" id="{{lightgroup.OBJNAM+'_Recall'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','RECALL')" light-mode="{{'RECALL' | translate}}"></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('r')>0" id="{{lightgroup.OBJNAM+'_Rotate'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','ROTATE')" light-mode="{{'ROTATE' | translate}}">></light-mode-button>
                                <light-mode-button ng-show="lightGroup.USAGE.indexOf('p')>0" id="{{lightgroup.OBJNAM+'_StopRotate'}}" btn-class="btn fourth md" ng-click="SetLightColor(lightgroup.OBJNAM,'ACT','STOP')" light-mode="{{'STOP' | translate}}">></light-mode-button>
                            </menu>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
        
    </div>
