﻿<div ng-controller="LightGroupsController">
    <div id="ManageLightGroupsPage">
        <div class="row">
            <accordion close-others="true">
                <accordion-group bg-color="bg-blue" ng-repeat="group in LightGroups" is-open="group.open" ng-init="outterIndex=$index">
                    <accordion-heading>
                        <div class="row" ng-click="ExpandItem($event,group)">
                            <div class="col-md-11">
                                <span class="icon icon-md icon-lightgroup"></span>
                                <span>{{group.SNAME || 'NEW LIGHT GROUP'}}</span>
                            </div>
                            <div class="col-md-1">
                                <input id="{{group.OBJNAM}}-chBox" type="checkbox" name="DeleteCheck" ng-model="group.deleteFlag" ng-click="$event.stopPropagation();" />
                                <label class="delete-box" for="{{group.OBJNAM}}-chBox" ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
                                <span class="pull-right chevron glyphicon glyphicon-chevron-right" ng-click="ExpandItem($event, group)"></span>
                            </div>
                        </div>
                    </accordion-heading>
                    <form class="col-md-12 no-padding" name="forms.schedule" novalidate>
                        <div class="row group-row">
                            <div class="col-md-3 edit-bar border-right border-bottom" style="height:62px;">
                                <label for="group-name">{{'GROUP_NAME' | translate}}<span class="required"></span><span ng-show="forms.location.$submitted && forms.location.address.$invalid" class="validation-summary-errors">Invalid</span></label>
                                <input type="text" id="address" name="group-name" class="form-control editable" placeholder="{{'LIGHT_GROUP_PROMPT' | translate}}" required autofocus ng-model="group.SNAME">
                            </div>
                            

                            <div class="col-md-3 edit-bar border-right border-bottom" style="width:650px;height:62px;padding-right: 10px;padding-top: 20px;">
                                <div class="pull-right">
                                    <label class="pull-left size-md bold ng-binding">Egg Timer</label>
                                    <label class="pull-left size-md bold ng-binding" ng-hide="group.disableEggTimer">Hours</label>
                                    <div class="pull-left"
                                         ng-hide="group.disableEggTimer"
                                         value-stepper
                                         icon-size="icon-sm"
                                         eggtimer="yes"
                                         target-circuit="group"
                                         range="{min:0,max:24}"
                                         param="eggTimerHours"
                                         on-change="group.eggTimerHours = value;"></div>
                                    <label class="pull-left size-md bold ng-binding" ng-hide="group.disableEggTimer">Minutes</label>
                                    <div class="pull-left"
                                         ng-hide="group.disableEggTimer"
                                         value-stepper
                                         icon-size="icon-sm"
                                         eggtimer="yes"
                                         target-circuit="group"
                                         range="{min:0,max:59}"
                                         param="eggTimerMinutes"
                                         on-change="group.eggTimerMinutes = value; "></div>
                                </div>
                            </div>

                            <div class="col-md-2 no-padding text-center border-bottom" style="padding-top: 5px;">
                                <input id="disableEggTimer{{$index}}" type="checkbox"
                                       ng-model="group.disableEggTimer"
                                       ng-click="setCircuitDontStop(group)" />
                                <label for="disableEggTimer{{$index}}" class="pull-left form-padding" style="padding-left: 15px">
                                    <span></span>
                                    <div class="title right" style="margin-right:5px">Don't Stop</div>
                                </label>
                            </div>

                        </div>
                       
                        <div class="row group-row">
                            <div class="col-md-offset-1 col-md-1 title-bar">
                                <span>{{'Light Circuits'}}</span>
                            </div>
                            <div class="col-md-8 title-bar"></div>
                            <div class="col-md-1 title-bar" ng-show="false">
                                <label class="select">{{'SELECT_ALL' | translate}}</label>
                                <input id="selectall-chBox" type="checkbox" name="DeleteCheck" ng-model="SelectAllLights" ng-change="SetAllLightsSelected(SelectAllLights)" />
                                <label class="delete-box" for="selectall-chBox"><span class=" alt"></span></label>
                            </div>
                        </div>
                        <!-- BEGIN LIST OF CIRCUITS-->
                        <div class="bg-darkgrey">
                            <div style="height:1px" class="row bg-darkgrey"></div>
                            <!-- N circuit rows -->
                            <div class="row group-row" ng-repeat="circuit in group.LIGHTS" ng-init="circuitIndex=$index">
                                <div class="col-md-offset-1 col-md-1 edit-bar border-left group-format" >
                                    <span class="icon icon-md icon-circuit"></span>
                                </div>

                                <!-- SELECT LIGHT TYPE-->
                                <div class="col-md-4 edit-bar group-format" style="width:200px;">
                                    <div class="white-ddl">
                                        <div class="btn-group" dropdown>
                                            <button id="light-circuit" class="btn drodown-btn" dropdown-toggle>
                                                <span class="pull-left group-format">{{circuit.SNAME || 'Select a Light'}}</span>
                                                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" ng-repeat="light in AvailableCircuits" ng-click="CircuitSelected(light, $parent.$index)"><a href="">{{light.SNAME}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- SELECT LIGHT COLOR -->
                                <div class="col-md-4 edit-bar group-format" style="width:200px;">
                                    <!-- Not gloBrite White-->
                                    <div class="white-ddl" ng-show="!isGlobriteWhite(circuit)"> 
                                        <div class="btn-group" dropdown>
                                            <button id="light-color" class="btn drodown-btn" dropdown-toggle>
                                                <span class="pull-left group-format">{{getColorSelected(circuit) || 'Select Light Color'}}</span>
                                                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right" ></span></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" ng-repeat="color in AvailableColors" ng-click="ColorSelected(color, circuit,$parent.$index)"><a href="">{{color.value}}</a></li>
                                            </ul>
                                         </div>
                                    </div>
                                    <!-- gloBrite White only -->
                                    <div class="white-ddl" ng-show="isGlobriteWhite(circuit)">
                                        <div class="btn-group" dropdown>
                                            <button id="light-color" class="btn drodown-btn" dropdown-toggle>
                                                <span class="pull-left group-format">{{getColorSelected(circuit) || 'Select Light Color'}}</span>                                                
                                            </button>                                            
                                        </div>
                                    </div>
                                </div>

                                <!-- COLOR SWIM DELAY-->
                                <div class="col-md-4 edit-bar" style="width:350px;padding-top:10px;">
                                    <label class="pull-left size-md ng-binding group-format" style="padding-top:5px;">Color Swim Delay</label>
                                    <div class="pull-left group-format"
                                         ng-hide="false"
                                         value-stepper
                                         icon-size="icon-sm"
                                         eggtimer="no"
                                         target-circuit="circuit"
                                         range="{min:0,max:60}"
                                         param="DELAY"
                                         on-change="circuit.DELAY = value; "></div>
                                </div>
                                    
                                <div class="col-md-4 edit-bar group-format" style="width: 90px;"></div>
        

                                <div class="bg-white col-md-1 group-format" style="height:62px; width: 30px; padding: 10px;">
                                    <button type="button"
                                            style="width:23px;color:red;border:1px solid red"
                                            class="close" aria-label="Close" ng-click="DeleteLightCircuits2($index); ">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                              </div>
                        </div>
                        <!-- END LIST OF CIRCUITS-->

                        <div class="row group-row">
                            <div class="col-md-offset-1 col-md-3" style="width:230px;">
                                <button class="btn secondary md left" ng-click="AddLight()" ng-disabled="!RemainingLights()">{{'ADD_LIGHT_CIRCUIT' | translate}}</button>
                            </div>
                        </div>
                    </form>

                    <div class="col-md-6">
                        <div class="col-md-3 form-padding-all">
                            <button class="btn md full" ng-show="group.OBJNAM == 'new'" ng-disabled="!ValidateNewGroup()" ng-click="CreateLightGroup()">{{'CREATE' | translate}}</button>
                            <button class="btn md full" ng-show="group.OBJNAM != 'new'" ng-disabled="!ValidateNewGroup()" ng-click="SaveCircuitGroup()">{{'SAVE' | translate}}</button>
                        </div>
                        <div class="col-md-3 form-padding-all">
                            <button class="btn cancel md full" ng_click="CancelEdit()">{{'CANCEL' | translate}}</button>
                        </div>
                    </div>


                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="row addDeleteButtons">
        <button class="btn secondary md left" ng-click="AddLightgroup()">{{'ADD_LIGHT_GROUP' | translate}}</button>
        <button class="btn seventh md right" ng-show="GroupDeletes()" ng-click="DeleteLightGroups()">{{'REMOVE_LIGHT_GROUP' | translate}}</button>
    </div>
    <div class="modal" ng-show="ConfirmDelete" tabindex="-1"></div>
    <div class="modal-dialog" ng-show="ConfirmDelete">
        <div class=" modal-content-sm">
            <div class="row col-md-12">
                <h2 class="title">{{'DELETE' | translate}}</h2>
            </div>
            <div class="row"></div>
            <div class="col-md-6">
                <button class="btn secondary md full" ng-click="ConfirmDelete = false;">{{'CANCEL' | translate}}</button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn secondary md full" ng_click="ConfirmDeleteLightGroups()">{{'DELETE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
