﻿<form class="form-login" role="form">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="login">
                <div class="login-header border-radius-top">
                    <span href="/#" class="logo"></span>
                </div>
                <div class="notifications">
                    <div id="PassWordChangedMsg" class="notification successNotification" ng-show="AuthService.authentication.passwordChanged">{{'PASSWORDSUCCESSFULLYCHANGED' | translate}}</div>
                    <div id="AccountCreatedMsg" class="notification successNotification" ng-show="AuthService.authentication.accountCreated">Account Created!</div>
                    <div id="UserNameChangedMsg" class="notification successNotification" ng-show="AuthService.authentication.userNameChanged">User Name Changed!</div>
                    <div id="LoginFailedMsg" class="notification errorNotification" ng-show="AuthService.authentication.loginError"><span class="bold uppercase">WHOOPS!</span> The username & password entered does not match our records. Please try again.
                    </div>
                    <div id="AllFieldsRequiredMsg" class="notification errorNotification" ng-show="loginData.invalid"><span class="bold uppercase">WHOOPS!</span>All Fields are required.
                    </div>
                </div>
                <div class="content">
                    <label for="userName">{{'USERNAME' | translate}}<span class="required"></span></label>                                        
                    <input type="email" id="UserName" style="margin-left:10px;width:534px;" class="form-control" placeholder="sample@sample.com" data-ng-model="loginData.userName" required autofocus>                    
                    <label for="password">{{'PASSWORD' | translate}}<span class="required"></span></label>
                    <!-- adding icon eye to display password 
                    <input type="password" id="Password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>                    
                    -->
                    <div class="row">
                        <div class="col-md-11" >
                            <input type="{{passwordType}}" id="Password" class="form-control" placeholder="Password" data-ng-model="loginData.password" maxlength="15" required>
                        </div>
                        <span class="col-md-1" align="right">
                            <span ng-click="togglePassword()" class="{{getEyeIcon()}}"></span>
                        </span>
                    </div>                 
                </div>
                <div>
                    <button class="submit border-radius-bottom bold" id="SubmitBtn" type="submit" data-ng-click="login()">{{'SIGN IN' | translate}}</button>
                </div>
                             

            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6 content-gutter">
            <input class="remember-me-checkbox" type="checkbox" id="RememberMe" data-ng-model="loginData.rememberMe" />
            <label class="remember-me remember-me-label" for="RememberMe"><span></span>{{'REMEMBERME' | translate}}</label>
            
            <a id="ForgotPasswordBtn" class="forgot-pw button-link underline" ng-click="forgotPassword()">{{'FORGOTPASSWORDLINK' | translate}}</a>

            <div class="col-md-6" >
                <button class="submitdemo border-radius-bottom bold" style="background-color:lightgray ; color:#555" id="SubmitBtn" type="submit" data-ng-click="loginDemo()">{{'DEMO' | translate}}</button>
            </div>
            
        </div>
    </div>
</form>
