﻿<div class="manageUsers">
<div id="ManageUsersPage">
    <div class="container" id="Title">
        <div class="row title-bar">
            <div class="col-md-9 page-title border-right">
                <div class="pull-left">
                    <h2 class="title">{{'MANAGEUSERS' | translate}}</h2>
                </div>
            </div>
            <div class="col-md-3 page-title">
                <label class="col-sm-6">{{'FILTERBY' | translate}}</label>
                <div class="white-ddl col-sm-6">
                    <div class="btn-group border-bottom dropdown open" dropdown="">
                        <button id="select" class="btn drodown-btn ng-binding dropdown-toggle"  dropdown-toggle="">                            
                            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                            {{Filter.value}}                            
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem" ng-repeat="filter in filters" ng-click="SelectFilter(filter)"><a href="">{{filter.value}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- TABLE HEADER-->
<div class="row column-header">
    <div class="col-md-6 sort-header" ng-click="Sort('email')">
        <span>{{"EMAIL_ADDRESS" | translate}}</span>
        <span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet' : SortDirection == 'asc', 'glyphicon-sort-by-alphabet-alt' : SortDirection != 'asc', 'active-sort' : SortField == 'email'}"></span>
    </div>
    <div class="col-md-3 sort-header" ng-click="Sort('role')">
        <span>{{"ROLE" | translate}}</span>
        <span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet' : SortDirection == 'asc', 'glyphicon-sort-by-alphabet-alt' : SortDirection != 'asc', 'active-sort' : SortField == 'role'}"></span>
    </div>
    <div class="col-md-3 sort-header" ng-click="Sort('status')">
        <span>{{"STATUS" | translate}}</span>
        <span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet' : SortDirection == 'asc', 'glyphicon-sort-by-alphabet-alt' : SortDirection != 'asc', 'active-sort' : SortField == 'status'}"></span>
    </div>
</div>

    <!--TABLE BODY-->
<div class="row">
    <accordion close-others="true">
        <accordion-group bg-color="{{installation.OnLine ? 'online' : ''}}" ng-repeat="user in UserList" is-open="user.open">
            <accordion-heading>
                <div class="row" ng-click="ExpandItem(user)">
                    <div class="col-md-6">
                        <span>{{user.email}}</span>
                    </div>
                    <div class="col-md-3">
                        <span>{{user.level}}</span>
                    </div>
                    <div class="col-md-2">
                        <span>{{user.status}}</span>
                    </div>
                    <div class="col-md-1">
                        <input id="{{user.email}}_delete_button" type="checkbox" name="DeleteCheck" ng-model="user.deleteFlag" ng-click="$event.stopPropagation();" />
                        <label class="form-padding" ng-show="UserIsExpendable(user)" for="{{user.email}}_delete_button" ng-click="$event.stopPropagation();"><span class="alt"></span></label>
                        <span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
                    </div>
                </div>
            </accordion-heading>
            <form class="col-md-12 no-padding" name="forms.installation" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row no-padding border-right">
                            <label for="email">{{'EMAIL' | translate}}</label><span class="required"></span><span ng-show="forms.manageUsers.$submitted && forms.location.email.$invalid" class="validation-summary-errors">Invalid</span>
                            <input ng-disabled="!EditUser || (EditUser && EditUser.id !== 'new')" type="text" id="email" name="email" class="form-control editable" placeholder="Enter email" ng-model="user.email" />
                        </div>
                        <div class="row no-padding border-right">
                            <div class="col-md-6">
                                <button class="btn secondary md full" ng-show="!EditUser" ng-click="SetEditUser(user)">{{'EDIT' | translate}}</button>
                                <button class="btn cancel md full" ng-show="EditUser && EditUser.id && EditUser.id != user.id" ng-click="SetEditUser(user)">{{'EDIT' | translate}}</button>
                                <button class="btn secondary md full" ng-show="EditUser && user.id == EditUser.id && user.id != 'new'" ng-click="SaveEdit(user)">{{'SAVE' | translate}}</button>
                                <button class="btn secondary md full" ng-disabled="!ValidateInvite(user)" ng-show="EditUser && user.id == 'new'" ng-click="CreateInvite(user)">{{'CREATE' | translate}}</button>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row no-padding border-right">
                            <label>{{'ROLE' | translate}}<span class="required"></span><span ng-hide="true" xng-show="forms.manageUser.$submitted && !user.level" class="validation-summary-errors">Invalid</span></label>
                            <div ng-show="!EditUser">
                                <label  class="form-control" placeholder="">{{user.level || 'Select Access Level'}}</label>
                            </div>
                            <div ng-hide="!EditUser"  class="white-ddl" style="">
                                <div class="btn-group border-bottom dropdown open" dropdown="" style="">
                                    <button id="selectRole" class="btn drodown-btn ng-binding dropdown-toggle"  dropdown-toggle="">                                        
                                        <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                        {{user.level || 'Select Access Level'}}                                        
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                    <li role="menuitem" ng-repeat="level in Security" align="left" ng-click="SelectSecurity(level)"><a href="">{{level.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding border-right">
                        <div class="row no-padding border-right">
                            <label for="status">{{'INVITATION-STATUS' | translate}}</label><span ng-show="forms.manageUsers.$submitted && forms.location.state.$invalid" class="validation-summary-errors">Invalid</span>
                            <input ng-disabled="true" type="text" id="status" name="email" class="form-control editable" placeholder="Enter email" ng-model="user.status">
                        </div>
                        <div class="row no-padding border-right">
                            <button class="btn sixth md full" ng-show="user.status!='Accepted' && user.status!='Bounced' && user.id != 'new'" ng-click="Resend(user)">{{'SEND_NEW_INVITE' | translate}}</button>
                            <button class="btn secondary md full" ng-show="EditUser" ng_click="CancelEdit()">{{'CANCEL' | translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </accordion-group>
    </accordion>
    <div class="row addDeleteButtons">
        <div class="col-md-3">
            <button class="btn secondary md full pull-left" ng-click="AddUser()">{{'INVITEANOTHERUSER' | translate}}</button>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <button class="btn seventh md full pull-left" ng-show="UserDeletes()" ng-click="DeleteUsers()">{{'REMOVEUSERFROMPOOL' | translate}}</button>
        </div>
    </div>
</div>


    <!--MODALS-->
<div class="modal" ng-show="ConfirmDelete || SendNotification" tabindex="-1"></div>
<div class="modal-dialog" ng-show="ConfirmDelete">
    <div class=" modal-content-sm">
        <div class="row col-md-12">
            <h2 class="title">{{'DELETE' | translate}}</h2>
        </div>
        <div class="row"></div>
        <div class="col-md-6">
            <button class="btn secondary md full" ng-click="ContinueDelete(false)">{{'CANCEL' | translate}}</button>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn secondary md full" ng_click="ContinueDelete(true)">{{'DELETE' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-dialog" ng-show="SendNotification">
    <div class="modal-content-med">
        <div class="row col-md-12">
            <h2 class="title">{{'NOTIFYUSER' | translate}}</h2>
        </div>
        <div class="row col-md-12">
            <p class="warning">{{'DELETEUSERSENDEMAIL' | translate}}</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn secondary md full" ng-click="DoTheDelete(false, false)">{{'CANCEL' | translate}}</button>
            </div>
            <div class="col-md-4">
                <button class="btn secondary md full" ng_click="DoTheDelete(true, true)">{{'NOTIFY' | translate}}</button>
            </div>
            <div class="col-md-4">
                <button class="btn secondary md full" ng_click="DoTheDelete(true, false)">{{'DONOTNOTIFY' | translate}}</button>
            </div>
        </div>
    </div>
</div>
</div>