﻿
<div class="grid-wrap" id="ManageProperties">
    <div class="grid-col col-full">
        <button id="MainPageLink" class="nav back" ng-click="GoToDashboard()">‹</button>
        <h1>{{'MANAGEPROPERTIES' | translate}}</h1>
        <div id="DeleteErrorMsg" class="errorNotification" ng-show="DeleteError">{{DeleteError}}</div>
    </div>

    <div style="float: right; margin-bottom: 2em">
        <input type="text" placeholder="search term e.g.'duck'" ng-enter="SearchInstallations()" ng-model="SearchTerm" />
        <a href="" id="SearchBtn" ng-click="SearchInstallations()">Search &nbsp; &nbsp;</a>
        <a href="" id="ClearSearchBtn" ng-click="ClearSearchTerm()">Clear</a>
    </div>

    <div class="grid-col col-full">
        <div class="grid-col col-one-half">
            <header class="manageUsersPanelHeader">
                <span style="float:left"> Pool Name </span>

                <div style="float:right">
                    <a style="float:right" href="" ng-click="ToggleFilterPanel()">Filter</a>
                    <div class="FilterPanel" ng-show="FilterPanelVisible">

                        <a href="" class="AllPropertyIconHolder smIcon" ng-class="{'selectedFilter' : Filter =='All'}" ng-click="FilterInstallations('All')">  All </a> <br />
                        <a href="" class="PropertyOnlineIconHolder smIcon" ng-class="{'selectedFilter' : Filter =='PropertyOnline'}" ng-click="FilterInstallations('PropertyOnline')"> Connected</a> <br />
                        <a href="" class="PropertyOfflineIconHolder smIcon" ng-class="{'selectedFilter' : Filter =='PropertyOffline'}" ng-click="FilterInstallations('PropertyOffline')"> Not Connected</a> <br />
                    </div>
                </div>
            </header>
            <div class="manageUsersPanel" style="min-height:400px; max-height:400px; overflow-y:auto;" whenscrollends="LoadMoreInstallations()">
                <table class="InfiniteScrollTable">
                    <tbody style="height:50px">
                        <tr id="{{'Property'+$index}}" ng-repeat="item in Installations">
                            <td ng-class="{'PropertyOnlineIconHolder': item.OnLine, 'PropertyOfflineIconHolder':!item.OnLine}">  <a href="" ng-click="LoadDetails($index)">{{item.PoolName}}</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="spinner" ng-show="DataLoading"></div>
            </div>
        </div>
        <div class="grid-col col-one-half">
            <header class="manageUsersPanelHeader">
                <span> Pool Details </span>
                <a style="float:right" id="AddPoolBtn" style="margin-left:0" href="">{{'ADDPOOLLINK' | translate}}</a>
            </header>

            <div class="manageUsersPanel" ng-show="SelectedInstallation">
                <h3>{{SelectedInstallation.PoolName}}</h3>
                <table class="configTable">
                    <tbody>
                        <tr>
                            <td>Owner Name:</td>
                            <td>{{SelectedInstallation.OwnerName}}</td>
                        </tr>
                        <tr>
                            <td>Owner Phone:</td>
                            <td>{{SelectedInstallation.Phone}}</td>
                        </tr>
                        <tr>
                            <td>Owner Name:</td>
                            <td>{{SelectedInstallation.Email}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height:40px"></td>
                        </tr>
                        <tr>
                            <td>Pool Installation ID:</td>
                            <td>{{SelectedInstallation.InstallationId}}</td>
                        </tr>
                        <tr>
                            <td>Pool Street:</td>
                            <td>{{SelectedInstallation.Address}}</td>
                        </tr>
                        <tr>
                            <td>Pool City:</td>
                            <td>{{SelectedInstallation.City}}</td>
                        </tr>
                        <tr>
                            <td>Pool State</td>
                            <td>{{SelectedInstallation.State}}</td>
                        </tr>
                        <tr>
                            <td>Pool Zip</td>
                            <td>{{SelectedInstallation.Zip}}</td>
                        </tr>
                    </tbody>
                </table>

                <a class="button-link" id="{{'DeleteBtn'}}" ng-click="ToggleDeleteModal()" ng-hide="SelectedInstallation.AccessToken==='UFFFE' && SelectedInstallation.TotalAdmins<2">{{'DELETE' | translate}}</a>
            </div>
        </div>
    </div>



    <div class="modal" ng-show="DeleteModalVisible">
        <div class="modal-dialog-med">
            <div class="modal-content-med">
                <div class="modal-header-sm">
                    <button id="{{'CancelDeleteXBtn'}}" style="width: 22px; float:right;" ng-click="ToggleDeleteModal()">x</button>
                </div>
                <div class="modal-body-sm">
                    <span>{{'REMOVEPOOL' | translate}}</span>
                </div>
                <div class="modal-footer">
                    <!--    <button id="{{'CancelDeleteBtn'}}" style="float:left" ng-click="ToggleDeleteModal()">{{'CANCEL' | translate}}</button>-->
                    <button id="{{'ConfirmDeleteBtn'}}" style="float:right" ng-click="DeletePool(SelectedInstallation.InstallationId)">{{'CONFIRM' | translate}}</button>

                </div>
            </div>
        </div>
    </div>

</div>

