﻿<form class="form-login" role="form" name="PasswordAssistanceFrom">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="login">
                <div class="login-header border-radius-top">
                    <span href="/#" class="logo"></span>
                </div>
                <div class="notifications">
                    <div id="ChangePwdErrorMsg" class="notification errorNotification" ng-show="changePasswordData.error">{{'USERNOTFOUND' | translate}}</div>
                    <div id="PassWordChangedMsg" class="notification successNotification" ng-show="changePasswordData.requestSubmitted"><span class="bold uppercase">{{'SUCCESS' | translate}}!</span> {{'EMAILSENTMESSAGE' | translate | insertEmail: {email: forgotPasswordData.email} }}</div>
                </div>
                <div class="content">
                    <div ng-hide="changePasswordData.requestSubmitted">
                        <label for="userName">{{'EMAILADDRESS' | translate}}<span class="required"></span></label>
                        <br />
                        <input id="EmailAddr" type="email" name="email" class="form-control" placeholder="Enter your email address here" data-ng-model="forgotPasswordData.email" required>
                    </div>
                </div>
                <div>
                    <button class="submit border-radius-bottom bold" id="SubmitBtn" ng-hide="changePasswordData.requestSubmitted" type="submit" ng-disabled="PasswordAssistance.email.$invalid || PasswordAssistance.email.$pristine" data-ng-click="passwordAssistance()">{{'REQUESTRESETLINK' | translate}}</button>
                    <button class="submit border-radius-bottom bold" id="LoginBtn" ng-show="changePasswordData.requestSubmitted" type="submit" data-ng-click="GoToLoginPage()">{{'Back to Login' | translate}}</button>
                </div>
            </div>

        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row" ng-hide="changePasswordData.requestSubmitted">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 align-center content-gutter">
            <a href="#/login" id="ForgotPasswordBtn" class="button-link underline">{{'Back to Login' | translate}}</a>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</form>
