﻿<div id="MainPage">

    <div id="PoolInfo" ng-if="Model.Ready">
        <div class="divide-bottom">
            <div class="grid-wrap top">
                <div id="{{body.SNAME}}" ng-repeat="body in Model.Bodies" class="topline grid-col col-one-quarter">
                    <h3>{{body.SNAME}}</h3>
                        <div>
                            <toggle-circuit id="{{body.SNAME+'_PowerBtn'}}" toggle-onclick="Property.ToggleCircuit(obj,value)" target-circuit="body" />
                        </div>
                        <div ng-show="circuit.Delay.VISIBLE" class="delayPanel">
                            <button style="width: 22px; float:right;" ng-click="circuit.Delay.VISIBLE=false">x</button>
                            <div style="padding-bottom:1em;">{{circuit.Delay.MESSAGE}}</div>
                            <button id="{{body.SNAME+'_AcceptDelayBtn'}}" style="float:left" ng-click="circuit.Delay.VISIBLE=false">{{'OK' | translate}}</button>
                            <a id="{{body.SNAME+'_CancelDelayBtn'}}" class="button-link" style="float:right" ng-click="Property.CancelDelay(circuit.OBJNAM)">{{'CANCELDELAY' | translate}}</a>
                            <span style="float:right; color:gray">{{'NOTRECOMMENDED' | translate}}</span>
                        </div>
                    <h2 class="big-temp">{{(body.TEMP | translateTemperature).TEMPERATURE}}<span class="unit">{{(body.TEMP | translateTemperature).UNIT}}</span></h2>
                    <h2 class="big-temp"></h2>
                    <div heater-dropdown="Property.GetHeatModes(body)" dropdown-onchange="Property.SetHeatModes(body,heatMode)" body-object="body" id="{{body.SNAME+'_HeaterDropDown'}}"></div>
                    <div class="setpoint">
                        <heater-input-box id="{{body.SNAME+'_SetTempInput'}}" class="heatMode" heater-model="body.LOTMP" body-object="body" min-value="5" max-value="40" max-length="3" on-text-input="Property.SetValue(obj,prop,value)"></heater-input-box>
                    </div>
                    <div id="{{body.SNAME+'_SetTempBtns'}}" class="setpoint-controls">
                        <button id="{{body.SNAME+'_SetTempDwnBtn'}}" ng-click="Property.DecreaseValue(body,'LOTMP', 5)" class="pentairBtn">&ndash;</button>
                        <button id="{{body.SNAME+'_SetTempUpBtn'}}" ng-click="Property.IncreaseValue(body,'LOTMP', 40)" class="pentairBtn">+</button>
                    </div>
                    <button id="{{body.SNAME+'_InfoSettingsBtn'}}" class="pentairBtn nav">{{'INFO_SETTINGS' | translate}}</button>
                </div>
                <div class="grid-col col-one-half">
                    <div class="grid-wrap">
                        <div class="weather grid-col col-five-eighths">
                            <span class="air-temp">
                                {{(Model.AirSensors[0].PROBE |translateTemperature).TEMPERATURE}}
                                <span class="unit">{{(Model.AirSensors[0].PROBE  | translateTemperature).UNIT}}</span>
                            </span>
                            <h3 id="{{body.SNAME+'_AirTemp'}}">{{'AIRTEMP' | translate}}</h3>
                        </div>
                        <div ng-if="!Model.SecurityEnabled || Model.ACL.SHOMNU.indexOf('a') > -1">
                            <menu class="grid-col col-three-eighths">
                                <button id="{{body.SNAME+'_ManageUsersBtn'}}" class="pentairBtn nav icon users" ng-click="GoToManageUserPage()">{{'MANAGEUSERS' | translate}}</button>
                                <button id="{{body.SNAME+'_SchedulesBtn'}}" class="pentairBtn nav icon schedule" ng-click="GoToSchedulesPage()">{{'SCHEDULE' | translate}}</button>
                                <button id="{{body.SNAME+'_UsageBtn'}}" class="pentairBtn nav icon usage">{{'USAGE' | translate}}</button>
                                <button id="{{body.SNAME+'_ChemistryBtn'}}" class="pentairBtn nav icon chemistry">{{'CHEMISTRY' | translate}}</button>
                                <button id="{{body.SNAME+'_StatusBtn'}}" class="pentairBtn nav icon status">{{'STATUS' | translate}}</button>
                                <button id="{{body.SNAME+'_ConfigureBtn'}}" class="pentairBtn nav icon status" ng-click="GoToConfigPage()">{{'CONFIGURE' | translate}}</button>
                            </menu>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrap divided">
                <div class="grid-col col-one-third settings">
                    <h3>{{'LIGHTS' | translate}}</h3>
                    <menu>
                        <div class="grid-wrap" ng-repeat="circuit in filtered = (Model.Circuits | objectsBySection:'l')">
                            <label class="grid-col col-one-half" for="{{circuit.OBJNAM}}">{{circuit.SNAME}}</label>
                            <div>
                                <toggle-circuit toggle-onclick="Property.ToggleCircuit(obj,value)" id="{{circuit.OBJNAM+'_PwrBtn'}}" target-circuit="circuit" />
                            </div>
                            <br />
                        </div>
                    </menu>
                    <button class="pentairBtn nav larger" ng-click="GoToLightsPage()">{{'SHOWSANDSETTINGS' | translate}}</button>
                </div>
                <div class="grid-col col-one-third settings">
                    <h3>{{'FEATURES' | translate}}</h3>
                    <menu>
                        <div class="grid-wrap" ng-repeat="circuit in filtered = (Model.Circuits | objectsBySection:'f')">
                            <label class="grid-col col-one-half" for="{{circuit.OBJNAM}}">{{circuit.SNAME}}</label>
                            <div>
                                <toggle-circuit toggle-onclick="Property.ToggleCircuit(obj,value)" id="{{circuit.OBJNAM+'_PwrBtn'}}" target-circuit="circuit" />
                            </div>
                            <br />
                        </div>
                    </menu>
                </div>
                <div class="grid-col col-one-third settings">
                    <h3>{{'SETTINGS' | translate}}</h3>
                    <menu>
                        <div class="grid-wrap" ng-repeat="circuit in filtered = (Model.Circuits | objectsBySection:'s')">
                            <label class="grid-col col-one-half" for="{{circuit.OBJNAM}}">{{circuit.SNAME}}</label>
                            <div>
                                <toggle-circuit toggle-onclick="Property.ToggleCircuit(obj,value)" id="{{circuit.OBJNAM+'_PwrBtn'}}" target-circuit="circuit" />
                            </div>
                            <br />
                        </div>
                    </menu>
                </div>
            </div>
        </div>
    </div>
</div>