<div class="row" ng-controller="PumpsController">
    <tabset class="row pump-tab">
        <div class="row text-right">            
            <tab ng-click="" heading="{{pump.SNAME}}" active="$first" ng-repeat="pump in pumps">
                <div class="row">
                    <div class="col-sm-5 titlebox">
                        <h2 ng-if="pump.SUBTYP === 'SINGLE'">Single Speed</h2>
                        <h2 ng-if="pump.SUBTYP === 'DUAL'">Dual Speed</h2>
                        <h2 ng-if="pump.SUBTYP === 'SPEED'">Intelliflo<sup>&reg;</sup> vs</h2>
                        <h2 ng-if="pump.SUBTYP === 'FLOW'">Intelliflo<sup>&reg;</sup> vf</h2>
                        <h2 ng-if="pump.SUBTYP === 'VSF'">Intelliflo<sup>&reg;</sup> vsf</h2>
                        <div ng-if="pump.SUBTYP === 'SPEED' || pump.SUBTYP === 'FLOW' || pump.SUBTYP === 'VSF'">
                            <div class='progress-bar-title'>PUMP SPEED (RPM)</div>
                            <progress-bar chart-data="{ progressValue: pump.RPM, maxValue: 3500 }"></progress-bar>
                            <div style='width:100%;height:10px;'></div>
                            <div ng-if="pump.SUBTYP === 'FLOW' || pump.SUBTYP === 'VSF'">
                                <div class='progress-bar-title'>PUMP FLOW RATE (GPM)</div>
                                <progress-bar chart-data="{ progressValue: pump.GPM, maxValue: 204 }"></progress-bar>
                            </div>
                            <div style='width:100%;height:10px;'></div>
                            <div class='progress-bar-title'>POWER USAGE (WATTS)</div>
                            <progress-bar chart-data="{ progressValue: pump.PWR, maxValue: 3680 }"></progress-bar>
                        </div>
                    </div>

                    <div class="col-sm-7 pump-circuit-wrapper"
                         ng-if="pump.SUBTYP === 'SINGLE'">
                        <div class="pump-circuit" ng-class="getCircuitPriority(pump, pump.pumpAffects[0])">
                            <!--
                            <span style="float:left" class="icon icon-md icon-circuit"></span>
                                -->
                            <h4 class="sub-title pump-circuit-title">
                                {{property.Objects[pump.pumpAffects[0].CIRCUIT].SNAME || '--' }} </h4>
                        </div>
                    </div>

                    <!---------------------------------------------------------------------------->
                    <!--                             DUAL SPEED                                 -->
                    <!---------------------------------------------------------------------------->
                    <div class="col-sm-7 pump-small-circuit-wrapper"
                         ng-if="pump.SUBTYP === 'DUAL'"
                         ng-repeat="pumpAffect in pump | sortByPumpAffectPriority">
                        <div class="pump-circuit" ng-class="getCircuitPriority(pump, pumpAffect)" style="height:70px">

                            <!-- first column  -->
                            <div class="bg-white col-md-2 edit-bar border-bottom border-right" style="height: 60px; width: 525px ; padding-left: 25px;padding-top: 15px;">
                                <span class="sub-title pump-circuit-title" displaytextitem>{{property.Objects[pumpAffect.CIRCUIT].SNAME || pumpAffect.SNAME || '--' }} </span>
                            </div>

                            <!-- second column   -->
                            <!--new SWITCH control BEGIN ENABLED -->
                            <!-- enabled option-->
                            <div class="col-md-2 control-switch-onoff  edit-bar border-bottom border-right"  ng-show="!specialCircuit(pumpAffect.CIRCUIT)">
                                <label class="label text-switch-onoff ">OFF</label>
                                <label class="switchA">
                                    <input type="checkbox"
                                           id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}"
                                           ng-model="property.Objects[pumpAffect.CIRCUIT].STATUS"
                                           ng-true-value="'ON'"
                                           ng-false-value="'OFF'"
                                           ng-click="setAffectedCircuit(pumpAffect.CIRCUIT,pumpAffect.SELECT)">
                                    <span class="sliderA round"></span>
                                </label>
                                <label class="label text-switch-onoff">ON</label>
                            </div>
                            <!-- disable  option-->
                            <div class=" col-md-2 control-switch-onoff edit-bar border-bottom border-right dim-2" disabled ng-show="specialCircuit(pumpAffect.CIRCUIT)">
                                <label class="label text-switch-onoff ">OFF</label>
                                <label class="switchA">
                                    <input type="checkbox"
                                           id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}"
                                           ng-model="property.Objects[pumpAffect.CIRCUIT].STATUS"
                                           ng-true-value="'ON'"
                                           ng-false-value="'OFF'"
                                           ng-disabled="true">
                                    <span class="sliderA round"></span>
                                </label>
                                <label class="label text-switch-onoff">ON</label>
                            </div>
                            <!--new SWITCH control END-->

                        </div>
                    </div>

                    <!---------------------------------------------------------------------------->
                    <!--                              VS SPEED                                  -->
                    <!---------------------------------------------------------------------------->
                    <div class="col-sm-7 pump-small-circuit-wrapper"
                         ng-if="pump.SUBTYP === 'SPEED'"
                         ng-repeat="pumpAffect in pump | sortByPumpAffectPriority">
                        <div class="pump-circuit" ng-class="getCircuitPriority(pump, pumpAffect)" style="height:70px">

                            <!-- first column  -->
                            <div class="bg-white col-md-2 edit-bar border-bottom border-right" style="height: 60px; width: 325px ; padding-left: 25px;padding-top: 15px;">
                                <span class="sub-title pump-circuit-title" displaytextitem>{{property.Objects[pumpAffect.CIRCUIT].SNAME || pumpAffect.SNAME || '--' }} </span>
                            </div>

                            <!-- second column  -->
                            <div class="bg-white col-md-4 edit-bar border-bottom border-right" style="height: 60px; width: 200px ; padding-top: 10px; font-size: 18px;">

                                <div value-stepper
                                     target-circuit="pumpAffect"
                                     range="{min:400,max:3450}"
                                     param="SPEED"
                                     on-change="pumpAffect[param] = value; propertyService.SetValue(objNam, param, value)"
                                     increment="100"
                                     display-uom="pumpAffect.SELECT">
                                </div>
                            </div>

                            <!-- third column   -->

                    
                            <!--new SWITCH control BEGIN ENABLED -->
                            <!-- enabled option-->
                            <div class="col-md-2 control-switch-onoff  edit-bar border-bottom border-right" ng-show="!specialCircuit(pumpAffect.CIRCUIT)">
                                <label class="label text-switch-onoff ">OFF</label>
                                <label class="switchA">
                                    <input type="checkbox"
                                           id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}"
                                           ng-model="property.Objects[pumpAffect.CIRCUIT].STATUS"
                                           ng-true-value="'ON'"
                                           ng-false-value="'OFF'"
                                           ng-click="setAffectedCircuit(pumpAffect.CIRCUIT,pumpAffect.SELECT)">
                                    <span class="sliderA round"></span>
                                </label>
                                <label class="label text-switch-onoff">ON</label>
                            </div>
                            <!-- disable  option-->
                            <div class=" col-md-2 control-switch-onoff edit-bar border-bottom border-right dim-2" disabled ng-show="specialCircuit(pumpAffect.CIRCUIT)">
                                <label class="label text-switch-onoff ">OFF</label>
                                <label class="switchA">
                                    <input type="checkbox"
                                           id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}"
                                           ng-model="property.Objects[pumpAffect.CIRCUIT].STATUS"
                                           ng-true-value="'ON'"
                                           ng-false-value="'OFF'"
                                           ng-disabled="true">
                                    <span class="sliderA round"></span>
                                </label>
                                <label class="label text-switch-onoff">ON</label>
                            </div>
                            <!--new SWITCH control END-->

                        </div>
                    </div>
                    <!---------------------------------------------------------------------------->
                    <!--                              VF  FLOW                                  -->
                    <!---------------------------------------------------------------------------->
                    <div class="col-sm-7 pump-small-circuit-wrapper"
                         ng-if="pump.SUBTYP === 'FLOW'"
                         ng-repeat="pumpAffect in pump | sortByPumpAffectPriority" ng-hide="isCircuitPrimingAffect(pumpAffect)">

                        <div class="pump-circuit" ng-class="getCircuitPriority(pump, pumpAffect)" style="height:70px" ng-if="property.Objects[pumpAffect.CIRCUIT].SNAME != 'PRIMING'">

                            <!-- first column  -->
                            <div class="bg-white col-md-2 edit-bar border-bottom border-right" style="height: 60px; width: 325px ; padding-left: 25px;padding-top: 15px;">
                                <span class="sub-title pump-circuit-title" displaytextitem>{{property.Objects[pumpAffect.CIRCUIT].SNAME || pumpAffect.SNAME || '--' }} </span>
                            </div>

                            <!-- second column  -->
                            <div class="bg-white col-md-4 edit-bar border-bottom border-right" style="height: 60px; width: 200px ; padding-top: 10px; font-size: 18px;">
                                <div value-stepper
                                     target-circuit="pumpAffect"
                                     range="{min:15,max:130}"
                                     param="SPEED"
                                     on-change="pumpAffect[param] = value; propertyService.SetValue(objNam, param, value)"
                                     increment="1"
                                     display-uom="pumpAffect.SELECT">
                                </div>

                            </div>

                            <!-- third column  -->

                            <!-- allow to control : show white background -->
                            <!-- hide begin
                            
                            <div class="bg-white col-md-2 edit-bar border-bottom border-right text-lowercase"
                                 style="height: 60px; width: 170px ; padding-top: 30px; padding-left: 25px; font-size: 15px;" ng-show="!specialCircuit(pumpAffect.CIRCUIT)">
                                <toggle-switch id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}" toggle-onclick="toggleAffectedCircuit(pumpAffect.CIRCUIT)"
                                               target-circuit="property.Objects[pumpAffect.CIRCUIT]" />
                            </div>
                            
                            <div class="bg-gray-disabled col-md-2 edit-bar border-bottom border-right text-lowercase"
                                 style="height: 60px; width: 170px ; padding-top: 30px; padding-left: 10px; font-size: 15px;" ng-show="specialCircuit(pumpAffect.CIRCUIT)">
                                <toggle-switch id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}" toggle-onclick="toggleAffectedCircuit(pumpAffect.CIRCUIT)"
                                               target-circuit="property.Objects[pumpAffect.CIRCUIT]" />
                            </div>
                             hide end -->

                            <!--new SWITCH control BEGIN ENABLED -->
                            <!-- enabled option-->
                            <div class="col-md-2 control-switch-onoff  edit-bar border-bottom border-right" ng-show="!specialCircuit(pumpAffect.CIRCUIT)">
                                <label class="label text-switch-onoff ">OFF</label>
                                <label class="switchA">
                                    <input type="checkbox"
                                           id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}"
                                           ng-model="property.Objects[pumpAffect.CIRCUIT].STATUS"
                                           ng-true-value="'ON'"
                                           ng-false-value="'OFF'"
                                           ng-click="setAffectedCircuit(pumpAffect.CIRCUIT,pumpAffect.SELECT)">
                                    <span class="sliderA round"></span>
                                </label>
                                <label class="label text-switch-onoff">ON</label>
                            </div>
                            <!-- disable  option-->
                            <div class=" col-md-2 control-switch-onoff edit-bar border-bottom border-right dim-2" disabled ng-show="specialCircuit(pumpAffect.CIRCUIT)">
                                <label class="label text-switch-onoff ">OFF</label>
                                <label class="switchA">
                                    <input type="checkbox"
                                           id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}"
                                           ng-model="property.Objects[pumpAffect.CIRCUIT].STATUS"
                                           ng-true-value="'ON'"
                                           ng-false-value="'OFF'"
                                           ng-disabled="true">
                                    <span class="sliderA round"></span>
                                </label>
                                <label class="label text-switch-onoff">ON</label>
                            </div>
                            <!--new SWITCH control END-->

                        </div>
                    </div>
                    <!---------------------------------------------------------------------------->
                    <!--                                        VSF                             -->
                    <!---------------------------------------------------------------------------->
                    <!-- pump-circuit-wrapper -->
                    <div class="col-sm-7 pump-small-circuit-wrapper"
                         ng-if="pump.SUBTYP === 'VSF'"
                         ng-repeat="pumpAffect in pump | sortByPumpAffectPriority">

                        <div class="pump-circuit" ng-class="getCircuitPriority(pump, pumpAffect)" style="height:70px">

                            <!-- first column  -->
                            <div class="bg-white col-md-2 edit-bar border-bottom border-right" style="height: 60px; width: 200px ; padding-left: 15px;padding-top: 15px;">

                                <span class="sub-title pump-circuit-title" displaytextitem>{{ getCircuitPumpName(property.Objects[pumpAffect.CIRCUIT].SNAME ||pumpAffect.CIRCUIT) || '--' }} </span>                                
                            </div>

                            <!-- Second column  -->
                            <div class="bg-white col-md-2 edit-bar border-bottom border-right" style="height: 60px; width: 125px ; font-size: 12px;">

                                <div class="col-md-2 " style="width:110px;padding-top:10px;">
                                    <span>
                                        <label class="switchC" style="width:110px;">
                                            <input 
                                                   type="checkbox"
                                                   id="{{pumpAffect.OBJNAM}}"
                                                   ng-model="pumpAffect.SELECT"
                                                   ng-true-value="'RPM'"
                                                   ng-false-value="'GPM'"
                                                   ng-click="setUnitsPumpAffect(pumpAffect)">
                                            <span class="sliderC" ng-show="pumpAffect.SELECT === 'RPM'" style="padding-top:8px;padding-left:6px; color:black; ">RPM</span>
                                            <span class="sliderC" ng-show="pumpAffect.SELECT === 'GPM'" style="padding-top:8px;padding-left:50px; color:black;  ">GPM</span>
                                        </label>
                                    </span>
                                </div>


                            </div>

                            <!-- Third  column  -->
                            <div class="bg-white col-md-4 edit-bar border-bottom border-right" style="height: 60px; width: 200px ; padding-top: 10px; font-size: 18px; ">

                                <div ng-show="pumpAffect.SELECT === 'RPM'">
                                    <div value-stepper
                                         target-circuit="pumpAffect"
                                         range="{min:400,max:3450}"
                                         param="SPEED"
                                         on-change="pumpAffect[param] = value; propertyService.SetValue(objNam, param, value)"
                                         increment="100"
                                         display-uom="pumpAffect.SELECT">
                                    </div>
                                </div>

                                <div ng-show="pumpAffect.SELECT === 'GPM'">
                                    <div value-stepper
                                         target-circuit="pumpAffect"
                                         range="{min:20,max:140}"
                                         param="SPEED"
                                         on-change="pumpAffect[param] = value; propertyService.SetValue(objNam, param, value)"
                                         increment="1"
                                         display-uom="pumpAffect.SELECT">
                                    </div>

                                </div>
                            </div>

                            <!-- fourt column  -->
                            
                            
                            <!-- allow to control : show white background 
                            <div class="bg-white col-md-2 edit-bar border-bottom border-right text-lowercase"
                                 style="height: 60px; width: 160px ; padding-top: 30px; padding-left: 10px; font-size: 15px; background-color='gray'; " ng-show="!specialCircuit(pumpAffect.CIRCUIT)">
                                <toggle-switch id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}" toggle-onclick="toggleAffectedCircuit(pumpAffect.CIRCUIT)"
                                               target-circuit="property.Objects[pumpAffect.CIRCUIT]" />
                            </div>
                            -->
                            

                            <!--new SWITCH control BEGIN ENABLED -->
                            <div class="col-md-2 control-switch-onoff  edit-bar border-bottom border-right " ng-show="!specialCircuit(pumpAffect.CIRCUIT)">
                                <label class="label text-switch-onoff ">OFF</label>
                                <label class="switchA">
                                    <input type="checkbox"
                                           id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}"
                                           ng-model="property.Objects[pumpAffect.CIRCUIT].STATUS"
                                           ng-true-value="'ON'"
                                           ng-false-value="'OFF'"
                                           ng-click="setAffectedCircuit(pumpAffect.CIRCUIT,pumpAffect.SELECT)">
                                    <span class="sliderA round"></span>
                                </label>
                                <label class="label  text-switch-onoff">ON</label>
                            </div>
                            <!--new SWITCH control END-->
                              
                            
                            
                            <!-- disabled to control : disabled show lightgray color-->
                            <!--- HIDING OLD CONTROL
                            <div class="bg-gray-disabled col-md-2 edit-bar border-bottom border-right text-lowercase"
                                 style="height: 60px; width: 160px ; padding-top: 30px; padding-left: 10px; font-size: 15px; background-color='gray'; " ng-show="specialCircuit(pumpAffect.CIRCUIT)">
                                <toggle-switch id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}" toggle-onclick="toggleAffectedCircuit(pumpAffect.CIRCUIT)"
                                               target-circuit="property.Objects[pumpAffect.CIRCUIT]" />
                            </div>
                            -->
                            <!-- disabled -->
                            <div class=" col-md-2 control-switch-onoff edit-bar border-bottom border-right dim-2" disabled ng-show="specialCircuit(pumpAffect.CIRCUIT)">
                                <label class="label text-switch-onoff ">OFF</label>
                                <label class="switchA">
                                    <input type="checkbox"
                                           id="{{property.Objects[pumpAffect.CIRCUIT].SNAME}}"
                                           ng-model="property.Objects[pumpAffect.CIRCUIT].STATUS"
                                           ng-true-value="'ON'"
                                           ng-false-value="'OFF'"
                                           ng-disabled="true">
                                    <span class="sliderA round"></span>
                                </label>
                                <label class="label text-switch-onoff">ON</label>
                            </div>




                            <!--<span class="speed-label"-->
                            <!--ng-if="pumpAffect.isPrimingAffect">-->
                            <!--{{pump.PRIMFLO}} {{pumpAffect.SELECT}}-->
                            <!--</span>-->
                        </div>
                    </div>
                </div>

            </tab>
        </div>
    </tabset>
</div>