<div class="row">
  <accordion close-others="true"> 
    <accordion-group bg-color="bg-blue" ng-repeat="schedule in Schedules" ng-init="schedIndex=$index" is-open="schedule.open">
      <accordion-heading>
          <div class="row" ng-click="ExpandItem($event, schedule,$index)" >

              <!--LED ON/OFF EXTERNAL SCHEDULE -->
              <div class="col-md-2" style="width:50px;height:30px;" >
                  <div class="category no-padding no-margin ">                      
                      <span id="$index" class="icon icon-sm" ng-class="schedule.ACT === 'ON' ? 'formatLEDSchedule ledon' : 'formatLEDSchedule ledgray'"></span>
                  </div>
              </div>                 
              <div class="col-md-4">
                  <span class="icon icon-md icon-calendar"></span>
                  <span>{{schedule.SNAME || 'NO CIRCUIT FOUND'}}</span>
              </div>
              <div class="col-md-3" ng-if="schedule.DNTSTP === 'ON'"><span>{{'TIME' | translate}}: DON'T STOP</span></div>
              <div class="col-md-3" ng-if="schedule.DNTSTP !== 'ON'"><span>{{'TIME' | translate}}: {{ getScheduleFormatted(schedule.TIME,schedule.START) }} - {{getScheduleFormatted(schedule.TIMOUT,schedule.STOP)}}</span></div>
              <div class="col-md-4" style="width:300px;"><span>{{'DAYS' | translate}}: {{  schedule.DAY  | scheduleDays}}</span></div>
              <div class="col-md-1" ng>
                  <input id="{{schedule.OBJNAM}}-chBox" type="checkbox" name="DeleteCheck" ng-model="schedule.deleteFlag" ng-click="$event.stopPropagation();" />
                  <label class="delete-box" for="{{schedule.OBJNAM}}-chBox" ng-click="$event.stopPropagation();"><span class=" alt"></span></label>
                  <span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
              </div>
          </div>
      </accordion-heading>
      <!----------- FORM BEGIN ---------->
      <div ng-switch on="schedule.open"> 
        <div ng-switch-when="true">

      <form class="col-md-12 no-padding" name="forms.schedule" novalidate>
        <div class="row edit-row">
          <div class="col-md-2 edit-bar border-right">
            <label class="schedule settings-label">{{'CIRCUITSETTING' | translate}}</label>
          </div>
          <div class="col-md-4 edit-bar border-right-thick">
            <div class="white-ddl">
              <label class="title">{{'CIRCUIT' | translate}}</label>
              <div class="btn-group" dropdown>
                <button id="sched{{$index}}circuit" class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                  <span class="pull-left">{{schedule.SNAME || 'Select a Device'}}</span>
                  <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" ng-repeat="circuit in ProgrammableCircuits" ng-click="CircuitSelected(circuit,schedule)"><a href="">{{circuit.SNAME}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 edit-bar">
           
            <div ng-show="true">         
                <!--LED ON/OFF INTERNAL SCHEDULE -->
                <div class="col-md-2 " style="padding-top:15px; width:40px;" >                    
                    <div class="display-pump-icon bg-white">
                        <div class="category no-padding no-margin">
                            
                            <span class="left paddle-label" style="width:30px;height:30px;">
                                <span id="$index+200" class="icon-sm" ng-class="schedule.ACT === 'ON' ? 'formatLED ledon' : 'formatLED ledgray'"></span>
                            </span>
                        </div>
                    </div>
                </div>               
                <div class="col-md-4 " style="padding-top:15px;">                    
                    <label> Schedule {{scheduleIsActive(schedule)}}</label>             
                </div>             
          </div>
        </div>
          <div class="row no-padding edit-row border-right" ng-show="isCircuitHeatingCapable()">
              <div class="col-md-3 edit-bar border-right">
                  <div class="white-ddl">
                      <label class="title">{{'HEATSOURCE' | translate}}</label>
                      <div class="btn-group" dropdown>
                          <button id="schedule-circuit_sched{{schedIndex}}" class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                              <!-- schedule.heatMode-->
                              <span class="pull-left">{{getHeaterModeSelected(schedule) || 'Select Heat Mode'}}</span>
                              <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                          </button>
                          <!-- ITEM 1-->
                          <ul class="dropdown-menu">                           
                              <li class="dropdown-item" role="menuitem" ng-repeat="mode in HeatModes track by $index | orderBy: 'heatMode' " ng-click="HeatModeSelected(mode,schedIndex)"><a href="">{{mode.DISPLAY}}</a></li>
                          </ul>                       

                      </div>
                  </div>
              </div>

              <div class="col-md-4 edit-bar" ng-if="schedule.HEATER" ng-show="isHeatControlEnable()">
                  <label class="settings-label">{{'HEATINGTEMP' | translate}}</label>
                  <button type="button" class="btn set-point" ng-disabled="schedule.useCurrentHeatSetpoint" ng-click="DecrementTemp(schedule.LOTMP, 'LOTMP')"><span class="icon-sm icon-paddle-minus"></span></button>
                  <input class="setpoint-value" type="text" id="heatSetPoint_sched{{schedIndex}}" name="coolSetPoint" class="form-control editable" ng-model="schedule.LOTMP" ng-keypress="Keypress($event)" ng-change="SetTemp(schedule.LOTMP, 'LOTMP');$event.stopPropagation()" />
                  <!--<span class="temp-uom">F</span>-->
                  <span class="unit">{{ UoM }}</span>

                  <button type="button" class="btn set-point" ng-disabled="schedule.useCurrentHeatSetpoint" ng-click="IncrementTemp(schedule.LOTMP, 'LOTMP')"><span class="icon-sm icon-paddle-plus"></span></button>
              </div>
              <div class="col-md-4 edit-bar" ng-if="!schedule.HEATER">
              </div>
              <div class="col-md-5 edit-bar border-right" ng-if="schedule.HEATER" ng-show="isCoolingCapable()">
                  <label class="settings-label">{{'COOLINGTEMP' | translate}}</label>
                  <button type="button" class="btn set-point" ng-disabled="schedule.useCurrentCoolSetpoint" ng-click="DecrementTemp(schedule.COOLING, 'COOLING')"><span class="icon-sm icon-paddle-minus"></span></button>
                  <input class="setpoint-value" type="text" id="coolSetPoint_sched{{schedIndex}}" name="coolSetPoint" class="form-control editable" ng-model="schedule.COOLING" ng-keypress="Keypress($event)" ng-change="SetTemp(schedule.COOLING, 'COOLING');$event.stopPropagation()" />
                  <!--<span class="temp-uom">F</span>-->
                  <span class="unit">{{ UoM }}</span>
                  <button type="button" class="btn set-point" ng-disabled="schedule.useCurrentCoolSetpoint" ng-click="IncrementTemp(schedule.COOLING, 'COOLING')"><span class="icon-sm icon-paddle-plus"></span></button>
              </div>
          </div>

        <!-- 2nd row-->
        <div class="row edit-row" >
            <div class="col-md-12 edit-bar" style="width:500px">
                <!-- START TIME MODE SELECTED -->
                <div class="col-md-3 edit-bar border-right" style="width:150px">
                    <div class="white-ddl">
                        <label class="title">{{'Start Time Mode' | translate}}</label>
                        <div class="btn-group" dropdown>
                            <button id="schedule-circuit-start_sched{{schedIndex}}" class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                <!-- schedule.mode -->
                                <span class="pull-left">{{getTimeModeSelected(schedule.START)}}</span>
                                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                            </button>
                            <!-- DROPLIST-->
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" role="menuitem" ng-repeat="mode in timeModes" ng-click="setStartTimeMode(mode,schedule)"><a href="">{{mode.value}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--START  TIME -->
                <div class="col-md-3 edit-bar" style="width:320px" ng-show="schedule.START=='ABSTIM'">
                    <label class="settings-label">{{'STARTTIME' | translate}}</label>
                    <button type="button" class="btn set-point" ng-click="DecrementStartTime()"><span class="icon-sm icon-paddle-minus"></span></button>
                                                                                                         <!--setpoint-value time timepicker-->
                    <input type="text" id="{{getSchedControlID('STARTTIME',$index)}}" name="stopTime" class="setpoint-value time" time-format="InitialTimeFormat()" dn-timepicker="h:mm a" step="1" ng-model="schedule.startTime" on-update="StartTimeChanged(value)" />
                    <button type="button" class="btn set-point" ng-click="IncrementStartTime()"><span class="icon-sm icon-paddle-plus"></span></button>
                </div>
                
            </div>

            <div class="col-md-12 edit-bar" style="width:500px">
                <!-- STOP TIME MODE SELECTED -->
                <div class="col-md-3 edit-bar border-right" style="width:150px">
                    <div class="white-ddl">
                        <label class="title">{{'Stop Time Mode' | translate}}</label>
                        <div class="btn-group" dropdown>
                            <button id="schedule-circuit-stop_sched{{schedIndex}}" class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                <!-- schedule.mode -->
                                <span class="pull-left">{{getTimeModeSelected(schedule.STOP)}}</span>
                                <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                            </button>
                            <!-- DROPLIST-->
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" role="menuitem" ng-repeat="mode in timeModes" ng-click="setStopTimeMode(mode,schedule)"><a href="">{{mode.value}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--STOP  TIME -->
                <div class="col-md-3 edit-bar" style="width:320px" ng-show="schedule.STOP =='ABSTIM'">
                    <label class="settings-label">{{'STOPTIME' | translate}}</label>
                    <button type="button" class="btn set-point" ng-click="DecrementStopTime()"><span class="icon-sm icon-paddle-minus"></span></button>
                                                                                                        <!--setpoint-value time timepicker-->
                    <input type="text" id="{{getSchedControlID('STOPTIME',$index)}}" name="stopTime" class="setpoint-value time" time-format="InitialTimeFormat()" dn-timepicker="h:mm a" step="1" ng-model="schedule.stopTime" on-update="StopTimeChanged(value)" />
                    <button type="button" class="btn set-point" ng-click="IncrementStopTime()"><span class="icon-sm icon-paddle-plus"></span></button>
                </div>
                
            </div>
        </div>

        <!--3rd ROW  occurance  -->
        <div class="row edit-row time-row">
            <div class="col-md-1 edit-bar">
                <label class="settings-label">{{'OCCURANCE' | translate}}</label>
            </div>
            <!--occurance set IDs onetimer=31 , repeat=32  -->
            <div class="col-md-3 edit-bar border-right">
                <input id="{{getSchedControlID('ONETIME',$index)}}" name="oneTime" type="radio" value="ON" ng-model="schedule.SINGLE" ng-click="TypeChanged(schedule.SINGLE)" />
                <label class="setpoint-checkbox" for="{{getSchedControlID('ONETIME',$index)}}">
                    <span></span>
                    <div class="title right">{{'ONCE' | translate}}</div>
                </label>
                <input id="{{getSchedControlID('REPEAT',$index)}}" name="repeat" type="radio" value="OFF" ng-model="schedule.SINGLE" ng-click="TypeChanged(schedule.SINGLE)" />
                <label class="setpoint-checkbox" for="{{getSchedControlID('REPEAT',$index)}}">
                    <span></span>
                    <div class="title right">{{'REPEATS' | translate}}</div>
                </label>
            </div>
            <div class="col-md-2 edit-bar">
                <input id="{{getSchedControlID('DONTSTOP',$index)}}sched{{$index}}dntstp{{isVacationTab}}" type="checkbox" ng-model="schedule.DNTSTP"
                        ng-true-value="'ON'" ng-false-value="'OFF'" />
                <label class="setpoint-checkbox pull-right" ng-show="false" for="{{getSchedControlID('DONTSTOP',$index)}}sched{{$index}}dntstp{{isVacationTab}}">
                    <span class="alt"></span>
                    <div class="title right">Don't Stop</div>
                </label>

            </div>
        </div>
        <!-- 4TH ROW-->
        
        <div class="row edit-row">
          <div class="col-md-12 edit-bar">
            <label class="settings-label" style="float:left;margin-right:5px">{{'DAYSTORUN' | translate}}</label>
            <div class="days-of-week" ng-init="dayMultiIndex=$index" ng-repeat="day in Enumerations.DaysOfWeek">
              <div ng-show="schedule.SINGLE=='OFF'">
                <input id="OFF{{getSchedControlID('DAYONCE',$index)}}sched{{schedIndex}}day{{dayMultiIndex}}chkbox{{isVacationTab}}" type="checkbox" checklist-model="schedule.days" checklist-value="day.id" />
                  <label class="setpoint-checkbox" for="OFF{{getSchedControlID('DAYONCE',$index)}}sched{{schedIndex}}day{{dayMultiIndex}}chkbox{{isVacationTab}}">
                      <span class="alt"></span>
                      <div class="title right">{{day.text}}</div>
                  </label>

              </div>
              <div ng-show="schedule.SINGLE=='ON'">
                  <input id="ON{{getSchedControlID('DAYREPEATS',$index)}}sched{{schedIndex}}day{{dayMultiIndex}}chkbox{{isVacationTab}}" type="radio" ng-model="schedule.days[0]" value="{{day.id}}" ng-click="DayChanged(day.id)" />
                  <label class="setpoint-radio" for="ON{{getSchedControlID('DAYREPEATS',$index)}}sched{{schedIndex}}day{{dayMultiIndex}}chkbox{{isVacationTab}}">
                      <span class="alt"></span>
                      <div class="title right">{{day.text}}</div>
                  </label>

              </div>
            </div>
            <div ng-show="schedule.SINGLE==='OFF'" style="margin-top:15px;">
                <button class="btn primary md" style="padding-right:1px" ng-click="changeScheduleDay(schedule, 'weekdays')">Weekdays</button>
                <button class="btn primary md" style="padding-right:1px" ng-click="changeScheduleDay(schedule, 'weekends')">Weekends</button>
                <button class="btn primary md" style="padding-right:1px" ng-click="changeScheduleDay(schedule, 'every day')">Every Day</button>
                <button class="btn secondary md" style="padding-right:1px" ng-click="changeScheduleDay(schedule, 'clear')">No Days</button>
            </div>
          </div>
        </div>
        
        <div class="row edit-row" ng-show="schedule.smartStart">
          <div class="col-md-3 edit-bar">
            <input id="smartStart_sched{{schedIndex}}" type="checkbox" name="smartStart" ng_true_value='"ON"' ng_false_value='"OFF"' ng_model="schedule.SMTSRT" />
            <label class="settings-label smart-start" for="smartStart_sched{{schedIndex}}">
                  <span class="alt"></span>
                  <label class="title left">{{'SMARTSTART' | translate}}</label>
              </label>
          </div>
        </div>
        <div class="row edit-row submit-buttons">
          <div class="col-md-offset-6 col-md-6 edit-bar">
            <button class="btn sixth md left" ng-show="schedule.OBJNAM == 'new'" ng-disabled="!ValidateNewSchedule()" ng-click="SaveSchedule()">{{'CREATE' | translate}}</button>
            <button class="btn sixth md left" ng-show="schedule.OBJNAM != 'new'" ng-disabled="!ValidateNewSchedule()" ng-click="SaveSchedule()">{{'SAVE' | translate}}</button>
            <button class="btn secondary md right" ng_click="CancelEdit()">{{'CANCEL' | translate}}</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!----------- FORM ENDS ---------->
    </accordion-group>
  </accordion>
</div>
</div>
<div class="row addDeleteButtons">
  <button class="btn secondary md left" ng-show="canAddSchedules()" ng-click="AddSchedule()">{{'ADDSCHEDULELINK' | translate}}</button>
  <div class="md middle"> <center> Schedules - {{getSchedulesFree()}} free </center></div>
  <button class="btn seventh md right" ng-show="ScheduleDeletes() && !EditSchedule" ng-click="DeleteSchedules()">{{'REMOVESCHEDULES' | translate}}</button>
</div>
<div class="modal" ng-show="ConfirmDelete" tabindex="-1"></div>
<div class="modal-dialog" ng-show="ConfirmDelete">
  <div class=" modal-content-sm">
    <div class="row col-md-12">
      <h2 class="title">{{'DELETE' | translate}}</h2>
    </div>
    <div class="col-md-6">
      <button class="btn secondary md full" ng-click="ConfirmDelete = false;">{{'CANCEL' | translate}}</button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn secondary md full" ng_click="ConfirmDeleteSchedules()">{{'DELETE' | translate}}</button>
      </div>
      <br>
    </div>
  </div>
</div>