﻿<div ng-controller="ScheduleController">
    <div id="ManageSchedulesPage" ng-show="!isScheduleSecurityLocked()">
        <div ng-if="systemSettings.VACFLO === 'ON'" id="vacation-active">
            <span id="vacation-active-title">Vacation schedule active.</span>
            <span id="vacation-active-message">You may add, edit or remove items but this schedule is not currently active.</span>
        </div>
        <ng-include src="'/app/templates/schedules.partial.html'"></ng-include>
    </div>
</div>
