﻿<div id="settingsPage" class="col-sm-12">
    <tabset>
        <div class="col-sm-10 no-padding settingsTabs no-padding col-sm-offset-1">
            <tab heading="{{'HOME' | translate}}" 
                 ng-click="GoToDashboard();"></tab>
            
            <!-- <tab heading="{{ Tab.heading }}""  
                
                disable="Tab.disabled"
                -->
            
            <tab heading="{{ getTabName(Tab) }}"
                 page="{{Tab.page}}"
                 active="Tab.active"
                 ng-show=Visibility(Tab)
                 
                 disable="isSecurityLocked(Tab)"
                 ng-repeat="Tab in SettingsTabs"
                 tab-include="{{Tab.url}}"
                 ng-if="true"></tab>
            <!-- <tab ng-if="(!securityEnabled || SHOMNU.indexOf('a') >= 0)" -->
            <tab heading="{{'SYSTEMCONFIGURATION' | translate}}" 
                 ng-click="GoToConfiguration();">{{'SYSTEMCONFIGURATION' | translate}}</tab>
        </div>
    </tabset>
</div>

<!--disable="Tab.disabled" ng-repeat="Tab in SettingsTabs" tab-include="{{Tab.url}}" ng-if="!isSecurityLocked(Tab)"></tab>-->