﻿<div id="reportIssuePage">
    <div class="col-sm-12">
        <tabset>
            <div class="col-sm-2 all-off-btn no-padding">
                <button id="idhome" ng-click="gotohomePage()" style="height:55px; color:gray;background-color:white"
                        class="btn no-margin home-css-btn" >
                    Home
                </button>
            </div>

            <div class="col-sm-2 all-off-btn no-padding">
                <button id="idissue" ng-click="gotoreportIssuePage()" style="height:55px"
                        class="btn no-margin home-css-btn">
                    Report an Issue
                </button>
            </div>
        </tabset>
    </div>


    <form class="col-md-12 no-padding" name="$root.forms.general.names" novalidate >

        <!-- FIRST ROW-->
        <div class="row">
            <div class="col-md-3 no-padding border-right">
                <label for="name">
                    <!--Name-->
                    Pool Alias
                    <span class="required"></span>
                    <span ng-show="forms.names.$submitted && forms.names.name.$invalid" class="validation-summary-errors">Invalid</span>
                </label>
                <input type="text" id="name" name="name" class="form-control editable" placeholder="Enter your name here" required autofocus ng-model="installationNames.PropertyName;">
            </div>
            <div class="col-md-3 no-padding">
                <label for="owner">
                    Name
                    <span class="required"></span>

                </label>
                <input type="text" maxlength="15" id="owner" name="owner" class="form-control editable"
                       placeholder="Enter owner name here" required autofocus
                       ng-model="installationNames.OwnerName">
            </div>
            <div class="col-md-3 no-padding">
                <label for="owner">
                    Phone
                    <span class="required"></span>
                </label>
                <input type="text" id="ownerPhone" name="ownerPhone" class="form-control editable"
                       maxlength="15"
                       placeholder="Enter owner phone here" required autofocus
                       ng-model="installationNames.OwnerPhone">
            </div>
            <div class="col-md-3 no-padding">
                <label for="owner">
                    Email
                    <span class="required"></span>
                </label>
                <input type="text" id="ownerEmail" name="ownerEmail" class="form-control editable"
                       maxlength="31"
                       placeholder="Enter owner email here" required autofocus
                       ng-model="installationNames.OwnerEmail">
            </div>
        </div>
        <!-- SECOND ROW-->
        <div class="row">
            <div class="col-md-3 no-padding border-right">
                <label for="panel">                    
                    Panel Configuration 
                </label>                
                <input type="text" id="panelconfig" name="panelconfig" class="form-control editable" required autofocus ng-model="installationNames.PanelType;">
                
            </div>
            <div class="col-md-3 no-padding">
                <label for="version">
                    Firmware Version 
                </label>                
                <input type="text" id="version" name="version" class="form-control editable" ng- required autofocus ng-model="installationNames.TargetVersion;">
            </div>                

            <div class="col-md-3 no-padding">
                <label for="version">
                    Pentair Rep (Email)
                </label>
                <input type="text" id="version" name="pentairrep" class="form-control editable" ng- required autofocus ng-model="installationNames.PentairRep;">
            </div>   
        </div>
        <!-- THIRD ROW -->
        <div class="row">
            <div class="col-md-3 no-padding" style="border-left: 30px;">
                <input id="includelogs"
                       type="checkbox"
                      
                       ng_model="installationNames.includelogs"
                       tabindex=7 />
                <label class="form-padding" for="includelogs">
                    <span></span>
                    <div class="title right">{{'Include Logs'}}</div>
                </label>
            </div>

            <div class="col-md-3 no-padding">
                <input id="includeimages"
                       type="checkbox"
                       ng_model="installationNames.includeimages"
                       ng-click="checkCamara()"
                       tabindex=7 />
                <label class="form-padding" for="includeimages">
                    <span></span>
                    <div class="title right">{{'Attach Images'}}</div>
                </label>
            </div>
        </div>
        <!-- FOUR ROW -->
        <div class="row">
            <div class="col-md-3 no-padding border-right">
                <label for="name">
                    Start by writting a brief description:
                    <span class="required"></span>                    
                </label>
            </div>
        </div>

        <div class="row">
            <textarea rows="5" cols="200" id="name" name="name" class="form-control editable"  ng-model="installationNames.Description;" placeholder="Describe your feedback here"></textarea>
        </div>

        <!--
        <p> Focus this tab and press <kbd>CTRL</kbd> + <kbd>V</kbd>. The image 1 attached </p>
        <canvas style="border:1px solid grey;" id="mycanvas" ></canvas>
        -->


        

        <div class ="row" ng-show="displayImages()">
            <div class="col-md-6 no-padding">
                <p>Click <kbd>CTRL</kbd> + <kbd>V</kbd> to attach image 1 </p>
                <canvas style="border:1px solid grey; width:400px;height:300px;" id="mycanvas"></canvas>
            </div>
            <div class="col-md-6 no-padding">
                <p>Click <kbd>CTRL</kbd> + <kbd>V</kbd> to attach image 2 </p>
                <canvas style="border:1px solid grey; width:400px;height:300px;" id="mycanvas"></canvas>
            </div>  
        </div>

        <div class="col-md-6 form-padding">
            <div class="col-md-3 form-padding-all">
                <button class="btn md full" type="submit" ng-click="SaveInstallationNames()">Send</button>
            </div>
            <div class="col-md-3 form-padding-all">
                <button class="btn cancel md full" ng-click="CancelSaveInstallationNames()">Cancel</button>
            </div>

            <div class="col-md-3 form-padding-all">
                <button class="btn md full" ng-click="AttachImage()">Attach Image</button>
            </div>
        </div>
    </form>



        <!--
        <div class="index-modal" ng-show="cancelNavigateModal" tabindex="-1">
            <div class="index-modal-dialog" ng-show="cancelNavigateModal">
                <div class=" modal-content-lg">
                    <div class="row col-md-12">
                        <h3 class="modal-h3 title">You are about to leave this page without sending the issue!. All unsaved data will be lost.</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn secondary md full" ng-click="cancelNavigate()">{{'CANCEL' | translate}}</button>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn primary md full" ng-click="proceedNavigate()">Yes, Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
</div>

