﻿<div class="grid-wrap">
  <div class="grid-col col-full">
    <button id="ConfigPageLink" class="nav back" ng-click="GoToConfigPage()">‹</button>
    <h1>{{'CIRCUIT-CONFIGURATION' | translate}}</h1>
  </div>
  <div class="circuitConfigPanel grid-col col-full">
    <tab-accordion only-one-expanded="true" class="configPanelMaster" item-selected="panelSelected(objNam)" style="width: 330px;">
      <collapsible-tab enclosure-name="{{panel.SNAME}}" default-open={{$index==0}} list-order="{{panel.LISTORD}}" item="{{panel.OBJNAM}}" ng-repeat="panel in Model.Panels">
        <panel-accordion only-one-expanded="true" item-selected="itemSelected(objNam)">
          <collapsible-panel type="{{relayCircuitSubtype(relay)}}" relay-name="{{relay.SNAME}}" circuit="{{relayCircuitName(relay.OBJNAM)}}" default-open={{$index==0}} item="{{relay.OBJNAM}}" parent="{{panel.OBJNAM}}" selected-panel="selectedPanel" ng-repeat="relay in filtered = (Model.Relays | relayByPanel:panel.OBJNAM)">
          </collapsible-panel>
        </panel-accordion>
      </collapsible-tab>
    </tab-accordion>
    <div class="grid-col col-two-thirds circuitDetails" style="min-height:400px; width: 694px; padding-left: 1px">
      <table>
        <tr>
          <th style="width: 60px">{{'CONFIGTABLE-CIRCUITNAME' | translate}}</th>
          <th style="width: 220px">{{'CONFIGTABLE-NAME' | translate}}</th>
          <th style="width: 220px">{{'CONFIGTABLE-FUNCTION' | translate}}</th>
          <th style="width: 50px">{{'CONFIGTABLE-FREEZE' | translate}}</th>
          <th style="width: 120px">{{'CONFIGTABLE-ACTION' | translate}}</th>
        </tr>
        <tr style="height: 50px">
          <td>{{relay.SNAME}}</td>
          <td>
            <div id="CircuitName" ng-hide="editMode" title="{{circuit.SNAME}}" style="padding-top: 2px; width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{circuit.SNAME}}</div>
            <div id="CircuitNameEdit" ng-show="editMode" auto-complete suggestions="circuitNames" selection="circuit.SNAME" style="padding-top: 2px; width:240px;"></div>
          </td>
          <td>
            <div id="CircuitType" ng-hide="editMode">{{circuit.SUBTYP | translate}}</div>
            <div id="CircuitTypeEdit" ng-show="editMode" style="width: 205px;" dropdown-menu="circuitFunctions" dropdown-onchange="circuitFunctionSelected(selection)" dropdown_model="circuit.SUBTYP" label-field="LABEL" value-field="VALUE" limit-to="22" default-value="enumerations.DefaultSelectedCircuitType"></div>
          </td>
          <td>
            <div id="CircuitFreeze" ng-hide="editMode">
              <div ng-show="freezeModeValue">
                <img id="locationYValidIcon" src='content/img/check-24.png' alt='On' class="validIcon" />
              </div>
            </div>
            <div id="CircuitFreeze" ng-show="editMode" style="margin-top: 10px;">
              <input type="checkbox" name="freeze" data-ng_model="freezeModeValue" style="background-color: #4D4D4D; color: #43BF2F; width: 30px;" />
            </div>
          </td>
          <td>
            <div id="ActionId" style="padding-top: 2px">
              <a class="button-link" ng-hide="editMode" ng-click="setEditMode()">{{'EDIT' | translate}}</a>
              <a class="button-link" ng-show="editMode" ng-click="saveChanges()">{{'SAVE' | translate}}</a>&nbsp;&nbsp;
              <a class="button-link" style="color: #E0A000;" ng-show="editMode" ng-click="cancelEditMode()">{{'CANCEL' | translate}}</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
