<div id="systemInformationPage" ng-controller="SystemInformationController">
    <accordion close-others="false">
        <!------------------------                                                      -------------------------->
        <!-------------------------------------------Personal Info------------------------------------------------>
        <!------------------------                                                      -------------------------->
        <accordion-group bg-color="bg-blue" is-open="true">
            <accordion-heading>
                <!--
                <span class="icon icon-profile-1"></span>Personal Info<span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
                -->
                <div class="row ng-scope">
                    <div class="col-md-4">
                        <span class="icon icon-profile-1"></span>Personal Info
                    </div>

                    <div class="col-md-2" ng-show="isSecurityEnabled()">
                        <span class="icon-sm icon-lock-white-sm" ng-show="!isAllowBySecurity('SECTION_GENERAL_SETTINGS')"></span>
                    </div>

                    <div class="float:right">
                        <span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
                    </div>
                </div>
            </accordion-heading>
            <form class="col-md-12 no-padding" name="$root.forms.general.names" novalidate ng-show="isAllowBySecurity('SECTION_GENERAL_SETTINGS')">
                <div class="row">
                    <div class="col-md-3 no-padding border-right">
                        <label for="name">
                            <!--Name-->
                            Pool Alias
                            <span class="required"></span>
                            <span ng-show="forms.names.$submitted && forms.names.name.$invalid" class="validation-summary-errors">Invalid</span>
                        </label>
                        <input type="text" id="name" name="name" class="form-control editable" placeholder="Enter your name here" required autofocus ng-model="installationNames.PropertyName;">
                    </div>
                    <div class="col-md-3 no-padding">
                        <label for="owner">
                            Owner Name
                            <span class="required"></span>
                            <!--<span ng-show="forms.location.$submitted && forms.location.owner.$invalid" class="validation-summary-errors">Invalid</span>-->
                        </label>
                        <input type="text" maxlength="15" id="owner" name="owner" class="form-control editable"
                               placeholder="Enter owner name here" required autofocus
                               ng-model="installationNames.OwnerName">
                    </div>
                    <div class="col-md-3 no-padding">
                        <label for="owner">
                            Owner Phone
                            <span class="required"></span>
                            <!--<span ng-show="forms.location.$submitted && forms.location.owner.$invalid" class="validation-summary-errors">Invalid</span>-->
                        </label>
                        <input type="text" id="ownerPhone" name="ownerPhone" class="form-control editable"
                               maxlength="15"
                               placeholder="Enter owner phone here" required autofocus
                               ng-model="installationNames.OwnerPhone">
                    </div>
                    <div class="col-md-3 no-padding">
                        <label for="owner">
                            Owner Email
                            <span class="required"></span>
                            <!--<span ng-show="forms.location.$submitted && forms.location.owner.$invalid" class="validation-summary-errors">Invalid</span>-->
                        </label>
                        <input type="text" id="ownerEmail" name="ownerEmail" class="form-control editable"
                               maxlength="31"
                               placeholder="Enter owner email here" required autofocus
                               ng-model="installationNames.OwnerEmail">
                    </div>
                </div>
                <div class="col-md-6 form-padding">
                    <div class="col-md-3 form-padding-all">
                        <button class="btn md full" type="submit" ng-click="SaveInstallationNames()">Save</button>
                    </div>
                    <div class="col-md-3 form-padding-all">
                        <button class="btn cancel md full" ng-click="CancelSaveInstallationNames()">Cancel</button>
                    </div>
                </div>
            </form>
        </accordion-group>
        <!------------------------                                                      -------------------------->
        <!-------------------------------------------Location----------------------------------------------------->
        <!------------------------                                                      -------------------------->

        <accordion-group bg-color="bg-lightblue" is-open="true">
            <accordion-heading>
                <div class="row ng-scope">
                    <div class="col-md-4">
                        <span class="icon icon-compass-3"></span> Location
                    </div>

                    <div class="col-md-2" ng-show="isSecurityEnabled()">
                        <span class="icon-sm icon-lock-white-sm" ng-show="!isAllowBySecurity('SECTION_GENERAL_SETTINGS')"></span>
                    </div>

                    <div class="float:right">
                        <span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
                    </div>
                </div>

            </accordion-heading>
            <form class="col-md-12 no-padding" name="$root.forms.general.location" novalidate ng-show="isAllowBySecurity('SECTION_GENERAL_SETTINGS')">
                <!--ROW 1-->
                <div class="row">
                    <div class="col-md-6 no-padding border-right">
                        <label for="address">{{'ADDRESS' | translate}}<span class="required"></span><span ng-show="$root.forms.general.location.$submitted && $root.forms.general.location.address.$invalid" class="validation-summary-errors">Invalid</span></label>
                        <input type="text"
                               id="address"
                               name="address"
                               class="form-control editable"
                               placeholder="Enter address here"
                               required
                               autofocus
                               ng-model="AddressModel.ADDRESS"
                               tabindex=1>
                    </div>

                    <div class="col-md-3 no-padding border-right border-right">
                        <div ng-hide="!LocationModel.LOCY || !LocationModel.LOCX">
                            <label>Latitude:{{getCoordinate('LATITUDE')}}</label>
                            <label>Longitude:{{getCoordinate('LONGITUDE')}}</label>         
                        </div>
                        <label ng-show="!LocationModel.LOCY || !LocationModel.LOCX">{{longLatError}}</label>
                    </div>
                    <div class="col-md-3  no-padding">
                        <label>{{'TIMEZONE' | translate}}<span class="required"></span><span ng-show="$root.forms.general.location.$submitted && !timeData.TimeZone" class="validation-summary-errors">Invalid</span></label>                      
                        <div class="white-ddl">
                            <div class="btn-group border-bottom" dropdown>
                                <button id="timezones-button"
                                        class="btn drodown-btn"
                                        ng-click="$event.stopPropagation()"
                                        dropdown-toggle
                                        tabindex=6>
                                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                    <!--{{timeData.TimeZone}}-->
                                    {{locationTimeZone}}

                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" role="menuitem" ng-repeat="timeZone in timeZones" ng-click="timezoneClicked(timeZone.ZONE);$root.forms.general.location.$setDirty();"><a href="">{{timeZone.VALUE}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ROW 2-->
                <div class="row">
                    <div class="col-md-3 no-padding border-right" style="width:206px;" ng-show="!areCitiesAvailable()">
                        <label for="city">{{'CITY' | translate}}<span class="required"></span><span ng-show="$root.forms.general.location.$submitted && $root.forms.general.location.city.$invalid" class="validation-summary-errors">Invalid</span></label>
                        <input type="text"
                               id="city"
                               name="city"
                               class="form-control editable"
                               placeholder="Enter address here"
                               required
                               autofocus
                               ng-model="AddressModel.CITY"
                               tabindex=2>
                    </div>

                    <!--ng-click="RetrieveCityInfo(AddressModel.CITY,AddressModel.STATE)"-->
                    <div class="col-md-3 no-padding border-right" style="width:100px;" ng-show="!areCitiesAvailable()">   
                            <label>&nbsp;</label>                  
                        <button class="btn secondary md"
                                ng-click="DelayRetrieveCityInfo(AddressModel.CITY,AddressModel.STATE)"
                                type="button">
                            Search
                        </button>                       
                    </div>

                    <!-- select available cities  if more than 1 city-->
                    <div class="col-md-3 no-padding border-right border-bottom" ng-show="areCitiesAvailable()" style="width:306px;">
                        <div id='temp'>
                            <div class="white-ddl">
                                <label class="bg-whitesmoke-textblink" for="availablecity">{{'Select City... '}}</label>
                                <div class="btn-group border-bottom" dropdown>
                                    <button id="cities_TypeDropDown"
                                            class="btn drodown-btn" ng-click="$event.stopPropagation()" dropdown-toggle>
                                        <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                        {{AddressModel.CITY || 'Select City'}}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" role="menuitem" style="color:blue;"
                                            ng-repeat="item in zip_cities"
                                            ng-click="selectedCity(item)">
                                            <a href="">{{getCityStateInfo(item)}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- STATE -->
                    <div class="col-md-3 no-padding border-right ">
                        <label for="state">{{'STATE' | translate}}<span class="required"></span><span ng-show="$root.forms.general.location.$submitted && $root.forms.general.location.state.$invalid" class="validation-summary-errors">Invalid</span></label>
                        <input type="text"
                               id="state"
                               name="state"
                               class="form-control editable"
                               autofocus
                               ng-model="AddressModel.STATE"
                               tabindex=3>
                    </div>
                    <!--- ZIP CODE -->
                    <div class="col-md-3 no-padding border-right" style="width:206px;">
                        <label for="zip">{{'ZIP' | translate}}<span class="required"></span><span ng-show="$root.forms.general.location.$submitted && $root.forms.general.location.zip.$invalid" class="validation-summary-errors">Invalid</span></label>

                        <input type="text"
                               id="zip"
                               name="zip"
                               xng-blur="fetchlonglat()"
                               class="form-control editable"
                               placeholder="Enter zipcode"
                               required
                               autofocus
                               ng-model="AddressModel.ZIP"
                               tabindex=4>
                    </div>

                    <div class="col-md-3 no-padding border-right" style="width:106px;">

                        <label>&nbsp;</label>
                        <button class="btn secondary md"
                                ng-click="DelayFetchCities()"
                                type="button">
                            Fetch
                        </button>                        
                    </div>

                   <!-- DAYLIGHT SAVINGS -->
                    <div class="col-md-3 no-padding text-center border-bottom" ng-show="false">
                        <input id="adjustTZ"
                               type="checkbox"
                               ng_model="timeData.DLSTIM"
                               tabindex=7 />
                        <label class="form-padding" for="adjustTZ">
                            <span></span>
                            <div class="title right">{{'DAYLIGHT-SAVINGS' | translate}}</div>
                        </label>
                    </div>
                    <!--
                    <div class="col-md-3 no-padding form-spacer border-bottom"></div>
                        -->
                </div>
                <!--- searching section blinking-->
                <div class="row">
                    <div class="bg-whitesmoke-textblink" ng-show="isSearchInProgress()">
                        <label>Search in progress...</label>
                    </div>
                </div>
                <!--ROW 3-->
                <div class="row">                                 
                    <div class="col-md-3 no-padding border-right">
                        <label>Country<span class="required"></span><span ng-hide="true" xng-show="$root.forms.general.location.$submitted && !LocationModel.Country" class="validation-summary-errors">Invalid</span></label>
                        <div class="white-ddl">
                            <div class="btn-group border-bottom" dropdown>
                                <button id="schedule-circuit"
                                        class="btn drodown-btn"
                                        ng-click="$event.stopPropagation()"
                                        dropdown-toggle
                                        type="button"
                                        tabindex=5>
                                    <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                    {{AddressModel.COUNTRY || 'Select A Country'}}
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" role="menuitem" ng-repeat="country in countries" ng-click="AddressModel.COUNTRY = country; $root.forms.general.location.$setDirty();"><a href="">{{country}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding text-center border-bottom">
                        <input id="adjustTZ"
                               type="checkbox"
                               ng_model="timeData.DLSTIM"
                               tabindex=7 />
                        <label class="form-padding" for="adjustTZ">
                            <span></span>
                            <div class="title right">{{'DAYLIGHT-SAVINGS' | translate}}</div>
                        </label>
                    </div>         
                </div>         

                <!-- LOCATION SAVE AND CANCEL ROW-->
                <div class="col-md-6 form-padding">
                    <div class="col-md-3 form-padding-all">
                        <button class="btn md full"
                                type="submit"
                                ng-click="SaveLocationSettings()">
                            Save
                        </button>
                    </div>
                    <div class="col-md-3 form-padding-all">
                        <button class="btn cancel md full"
                                type="button"
                                ng-click="CancelLocationEdit()">
                            Cancel
                        </button>
                    </div>
                </div>

            </form>
        </accordion-group>

        <!------------------------                                                      -------------------------->
        <!-------------------------------------------Notifications------------------------------------------------>
        <!------------------------                                                      -------------------------->
        <!--
            <span class=" icon icon-globe-2"></span> Notifications<span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
        -->
        <accordion-group bg-color="bg-orange" is-open="true" class="relative" disabled="!isAllowBySecurity('SECTION_NOTIFICATIONS')">
            <accordion-heading>
                <div class="row ng-scope">
                    <div class="col-md-4">
                        <span class=" icon icon-globe-2"></span> Notifications
                    </div>

                    <div class="col-md-2" ng-show="isSecurityEnabled()">
                        <span class="icon-sm icon-lock-white-sm" ng-show="!isAllowBySecurity('SECTION_NOTIFICATIONS')"></span>
                    </div>

                    <div class="float:right">
                        <span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
                    </div>
                </div>
            </accordion-heading>
            <!-- adding descriptions message about alerts-->
            
            <div class="col-md-12 no-padding bg-legend-one" ng-show="isAllowBySecurity('SECTION_NOTIFICATIONS')">
                <label> These alerts will be shown on the color touch screen panels, mobile and web-apps.</label>
            </div>
            
                
            <!-- [1 begin] -->
            <div class="col-md-12 no-padding  " ng-show="isAllowBySecurity('SECTION_NOTIFICATIONS')">
                <div class="col-md-3 no-padding border-right form-height-2x">
                    <label for="name">Alerts</label>
                    <br />
                    <button class="btn secondary md" ng-click="SelectAllStatusMessageFlags()">All</button>
                    <button class=" btn secondary md" ng-click="ClearStatusMessageFlags()">None</button>
                </div>
                <!--alarms : circuits , pumps-->
                <div class="col-md-3 no-padding border-right"> 
                    <div class="border-bottom white-ddl" dropdown-multiselect="selectedStatusMessageTypes.Circuit" options="StatusMessageTypeFlags.Circuit" label="Circuit"></div>
                    <div class="border-bottom  white-ddl" ng-show="IsDevicePresent('pumps')" dropdown-multiselect=" selectedStatusMessageTypes.Pump" options="StatusMessageTypeFlags.Pump" label="Pumps"></div>                    
                </div>                
                <!--alarms : intellichem , Intellichlor-->
                <div class="col-md-3 no-padding border-right">
                    <div class="white-ddl" ng-show="IsDevicePresent('intellichem')" dropdown-multiselect="selectedStatusMessageTypes.IntelliChem" options="StatusMessageTypeFlags.IntelliChem" label="IntelliChem"></div>                    
                    <div class="border-bottom  white-ddl" ng-show="IsDevicePresent('intellichlor')" dropdown-multiselect="selectedStatusMessageTypes.IntelliChlor" options="StatusMessageTypeFlags.IntelliChlor" label="IntelliChlor"></div>
                </div>
                <!--alarms : intellichem , Intellichlor-->
                <div class="col-md-3 no-padding">                    
                    <div class="white-ddl" ng-show="IsDevicePresent('heaters')" dropdown-multiselect="selectedStatusMessageTypes.HeaterUltraT" options="StatusMessageTypeFlags.HeaterUltraT" label="UltraTemp Heater"></div>
                    <div class="white-ddl" ng-show="IsDevicePresent('heatersMaster')" dropdown-multiselect="selectedStatusMessageTypes.HeaterMasterT" options="StatusMessageTypeFlags.HeaterMasterT" label="Connected Gas Heater"></div>
                    <div class="white-ddl" ng-show="IsDevicePresent('heatersHCombo')" dropdown-multiselect="selectedStatusMessageTypes.HeaterHComboT" options="StatusMessageTypeFlags.HeaterHComboT" label="Hybrid Heater"></div>
                </div>
            </div>
            <!-- [1 end] -->

            <div class="col-md-12 no-padding   bg-legend-one" ng-show="isAllowBySecurity('SECTION_NOTIFICATIONS')">
                <label>Add one (or more) emails to receive email alerts for every alert that has been selected above.</label>
            </div>

            <div class="select-all" ng-show="isAllowBySecurity('SECTION_NOTIFICATIONS')">
                <div ng-show="NotificationRecipients.length > 0">
                    <input id="selectAll-chBox" type="checkbox" name="AllRecipients" ng-model="SelectAllRecipients" ng-click="ToggleSelectAllRecipients()" />
                    <label class="form-padding" for="selectAll-chBox">
                        <span class="alt"></span>
                        <div class="title right">&nbsp;</div>
                    </label>
                </div>
            </div>
            <div class="row  border-bottom" ng-repeat="recipient in NotificationRecipients" ng-class-odd="'oddClassName'" ng-class-even="'evenClassName'" ng-show="isAllowBySecurity('SECTION_NOTIFICATIONS')">
                <div class="col-md-6 no-padding border-right ">
                    <label for="{{recipient.EmailAddress1}}-{{$index}}-name">
                        Recipient
                    </label>
                    <input type="text" id="{{recipient.EmailAddress1}}-{{$index}}-name" ng-disabled="true" class="form-control editable border-none" ng-model="recipient.Name" autofocus placeholder="Enter recipient name here">
                </div>

                <div class="col-md-3 relative no-padding  ">
                    <label for="{{recipient.EmailAddress1}}-{{$index}}-email">
                        Email
                    </label>

                    <input type="text" id="{{recipient.EmailAddress1}}-{{$index}}-email" ng-disabled="true" class="form-control editable" ng-model="recipient.EmailAddress1" autofocus placeholder="Enter primary email">

                    <div class="" ng-hide="recipient.EmailAddress2"></div>
                    <div ng-show="recipient.EmailAddress2">
                        <label for="{{recipient.EmailAddress1}}-{{$index}}-email2">
                            Alt. Email
                        </label>
                        <input type="text" id="{{recipient.EmailAddress1}}-{{$index}}-email2" ng-disabled="true" class="form-control editable" ng-model="recipient.EmailAddress2" autofocus placeholder="Enter alternate email">
                    </div>
                </div>

                <!-- move checkbox  to next row -->
                <div class="col-md-3 relative no-padding  ">
                    <div class="select-recipient">
                        <input id="{{recipient.EmailAddress1}}-{{$index}}-chBox" type="checkbox" name="deleteUser" ng-model="recipient.Selected" ng-click="UpdateSelectedRecipients()" />
                        <label class="form-padding" for="{{recipient.EmailAddress1}}-{{$index}}-chBox">
                            <span></span>
                            <div class="title right">&nbsp;</div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-12 border-bottom" ng-hide="NotificationRecipients.length > 0">
                <label class="size-lg">No Recipients</label>
            </div>
            <form class="col-md-12 no-padding" name="$root.forms.general.newRep" novalidate ng-show="isAllowBySecurity('SECTION_NOTIFICATIONS')">
                <div id="newRecipient" ng-show="newRecipientEdit">
                    <div>
                        <div class="col-md-6 no-padding border-right">
                            <label for="rep-name">Recipient Name<span class="required"></span><span ng-show="forms.newRep.$submitted && forms.newRep.name.$invalid" class="validation-summary-errors">Invalid</span></label>
                            <input type="text" name="name" id="rep-name" class="form-control editable" ng-model="NewRecipient.Name" autofocus placeholder="Enter recipient name here" required>
                        </div>
                        <div class="col-md-3 no-padding">
                            <label for="rep-email">Recipient Email<span class="required"></span><span ng-show="forms.newRep.$submitted && forms.newRep.email.$invalid" class="validation-summary-errors">Invalid</span></label>
                            <input type="email" name="email" id="rep-email" class="form-control editable" ng-model="NewRecipient.EmailAddress1" autofocus placeholder="Enter primary email" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-padding">
                    <div ng-show="!newRecipientEdit">
                        <button type="button" class="btn secondary md" ng-click="ToggleEditMode('NewRecipient')"><span class="icon icon-add-3"></span>Add Recipient</button>
                    </div>
                </div>
                <div class="col-md-3 form-padding-all" ng-hide="!newRecipientEdit">
                    <button type="submit" ng-disabled="!isNewRecipientReady()" class="btn md full" ng-click="SaveNewRecipient()">Save</button>
                </div>

                <div class="col-md-3 form-padding-all" ng-hide="!newRecipientEdit">
                    <button type="button" class="btn cancel md full" ng-click="CancelNewRecipient()">Cancel</button>
                </div>                    <!-- NotificationRecipients.length > 0-->
                <div class="col-md-6" ng-show="areSelectedRecipientsToRemove()">
                    <div class="remove-recipients text-right form-padding-all">
                        <button class="btn fifth md" ng-show="ReciepientsSelected" ng-click="RemoveRecipients()">Remove Recipient(s)</button>
                    </div>
                </div>
            </form>

            <div class="col-md-6 form-padding" ng-show="isAllowBySecurity('SECTION_NOTIFICATIONS')">
                <!--<div class="col-md-3 form-padding-all" ng-show="!$root.editMode.general.StatusMessageFlags">-->
                <!--<button class="btn secondary md" ng-click="ToggleEditMode('StatusMessageFlags')"><span></span>Edit</button>-->
                <!--</div>-->
                <div class="col-md-3 form-padding-all">
                    <button class="btn md full" ng-click="SaveStatusMessageFlags()">Save</button>
                </div>
                <div class="col-md-3 form-padding-all">
                    <button class="btn cancel md full" ng-click="CancelStatusMessageFlagEdit()">Cancel</button>
                </div>
            </div>
        </accordion-group>

        <!------------------------                                                      -------------------------->
        <!-------------------------------------------Advanced Settings-------------------------------------------->
        <!------------------------                                                      -------------------------->
        <accordion-group bg-color="bg-purple" is-open="true" disabled="!isAllowBySecurity('SECTION_ADVANCED_SETTINGS')">
            <accordion-heading>
                <!--
                    <span class=" icon icon-setting-adjustment">
                </span>{{'ADVANCED_SETTINGS' | translate}}<span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
                        -->

                <div class="row ng-scope">
                    <div class="col-md-4">
                        <span class="icon icon-setting-adjustment"></span>{{'ADVANCED_SETTINGS' | translate}}
                    </div>
                    <!-- ENFORCE LOCK WHEN SECURITY -->
                    <div class="col-md-2" ng-show="isSecurityEnabled()">
                        <span class="icon-sm icon-lock-white-sm" ng-show="!isAllowBySecurity('SECTION_ADVANCED_SETTINGS')"></span>
                    </div>

                    <div class="float:right">
                        <span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
                    </div>
                </div>



            </accordion-heading>

            <form class="col-md-12 no-padding" name="$root.forms.general.advanced" novalidate ng-show="isAllowBySecurity('SECTION_ADVANCED_SETTINGS')">
                <div class="row">
                    <!-- CURRENT DATE -->
                    <div class="col-md-4 no-padding border-right " ng-show="PreferenceData.SOURCE==='LOCAL'">
                        <label for="date">{{'CURRENT-DATE' | translate}}<span ng-show="PreferenceData.SOURCE=='LOCAL'" class="required"></span><span ng-show="!ValidateDate()" class="validation-summary-errors">Invalid</span></label>
                        <input type="text" id="date" name="date" class="form-control editable" autofocus ng-model="PreferenceData.DAY" />
                    </div>
                    <div class="col-md-4 no-padding border-right bg-gray-disabled" ng-show="PreferenceData.SOURCE==='URL'">
                        <label for="date">{{'CURRENT-DATE' | translate}}<span ng-show="PreferenceData.SOURCE=='LOCAL'" class="required"></span><span ng-show="!ValidateDate()" class="validation-summary-errors">Invalid</span></label>
                        <input type="text" id="date" name="date" class="form-control editable bg-gray-disabled" autofocus ng-model="PreferenceData.DAY" ng-disabled="true" />
                    </div>

                    

                    <div class="col-md-2 no-padding border-bottom">
                        <label class="size-lg">{{'CLOCK-MODE' | translate}}</label>
                    </div>
                    <div class="col-md-1 border-bottom">
                        <input id="clk12" name="clockMode12" type="radio" value="AMPM" ng-model="PreferenceData.CLK24A" />
                        <label class="form-padding" ng-click="formatTime('AMPM')" for="clk12">
                            <span></span>
                            <div class="title left">{{'AMPM' | translate}}</div>
                        </label>
                    </div>
                    <div class="col-md-1 border-bottom border-right">
                        <input id="clk24" name="clockMode24" type="radio" value="HR24" ng-model="PreferenceData.CLK24A" />
                        <label class="form-padding" ng-click="formatTime('HR24')" for="clk24">
                            <span></span>
                            <div class="title left">{{'HR24' | translate}}</div>
                        </label>
                    </div>
                    <div class="col-md-2 no-padding border-bottom">
                        <label class="size-lg">{{'UNITS' | translate}}</label>
                    </div>
                    <!-- THESE 2 ITEMS ARE DISABLED FOR NOW WILL BE ENABLE AFTER LAUNCH 4-2-2018 , also are gray out -->
                    <div class="col-md-1 border-bottom">                        
                        <input id="tempf" name="tempScale" type="radio" value="ENGLISH" style="color:lightgray" disabled ng-model="PreferenceData.MODE" />
                        <label class="form-padding" for="tempf">
                            <span></span>
                            <div class="title left" > {{'ENGLISH' | translate}} </div>
                        </label>
                    </div>
                    <div class="col-md-1 border-bottom">                        
                        <input id="tempc" name="tempScale" type="radio" value="METRIC" style="color:lightgray" disabled ng-model="PreferenceData.MODE" />
                        <label class="form-padding" for="tempc">
                            <span></span>
                            <div class="title left" >  {{'METRIC' | translate}} </div>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <!-- CURRENT DATE-->
                    <div class="col-md-4 no-padding border-right " ng-show="PreferenceData.SOURCE==='LOCAL'">
                        <label for="time">{{'CURRENT-TIME' | translate}}<span ng-show="PreferenceData.SOURCE=='LOCAL'" class="required"></span><span ng-show="!ValidateTime()" class="validation-summary-errors">Invalid</span></label>
                        <input type="text" id="time" name="state" class="form-control editable" autofocus ng-model="PreferenceData.MIN" />
                    </div>

                    <div class="col-md-4 no-padding border-right bg-gray-disabled" ng-show="PreferenceData.SOURCE==='URL'">
                        <label for="time">{{'CURRENT-TIME' | translate}}<span ng-show="PreferenceData.SOURCE=='LOCAL'" class="required"></span><span ng-show="!ValidateTime()" class="validation-summary-errors">Invalid</span></label>
                        <input type="text" id="time" name="state" class="form-control editable bg-gray-disabled" ng-model="PreferenceData.MIN" ng-disabled="true" />
                    </div>
              
                    <div class="col-md-2 no-padding border-bottom" >
                        <label class="size-lg">{{'CLOCK-SOURCE' | translate}}</label>
                    </div>
   
                    <div class="col-md-1 border-bottom">
                        <input id="mdlocal" name="clockSourceMan" type="radio" value="LOCAL" ng-model="PreferenceData.SOURCE" />
                        <label class="form-padding" for="mdlocal">
                            <span></span>
                            <div class="title left">{{'LOCAL' | translate}}</div>
                        </label>
                    </div>
                    <div class="col-md-1 border-bottom border-right">
                        <input id="mdauto" name="clockSourceAuto" type="radio" value="URL" ng-model="PreferenceData.SOURCE" />
                        <label class="form-padding" for="mdauto">
                            <span></span>
                            <div class="title left">{{'URL' | translate}}</div>
                        </label>
                    </div>
                    <div class="col-md-1 no-padding border-bottom">
                        <label class="size-lg">{{'PRIORITY' | translate}}</label>
                    </div>
                    <div class="col-md-3 text-right  border-right border-bottom">
                        <input id="priority" type="checkbox" ng-model="PreferenceData.MANOVR" ng-true-value="'ON'" ng-false-value="'OFF'" />
                        <label class="form-padding" for="priority">
                            <span></span>
                            <div class="title left">{{'MANUAL_OP' | translate}}</div>
                        </label>
                    </div>
                </div>
                <div class="row">

                    <!--- VACATION MODE BEGIN -->
                    <!--  1- display vacation mode with security permition -->
                    <div class="col-md-2 border-bottom" ng-show="isAllowBySecurity('SECTION_VACATION_MODE')">
                        <label class="size-lg">{{'VACATION_MODE' | translate}}</label>
                    </div>
                    <div class="col-md-1 border-bottom" ng-show="isAllowBySecurity('SECTION_VACATION_MODE')">
                                                        <!-- ng-model="PreferenceData.AVAIL"-->
                        <input id="vacationMode" type="checkbox" ng-model="PreferenceData.VACFLO" ng-true-value="'ON'" ng-false-value="'OFF'" />
                        <label class="form-padding" for="vacationMode">
                            <span></span>
                            <div class="title left"></div>
                        </label>
                    </div>

                    <!--  2- display vacation mode withOUT security permition  GRAYOUT AND DISABLED-->
                    <div class="col-md-2 border-bottom" disabled ng-show="!isAllowBySecurity('SECTION_VACATION_MODE')">
                        <label class="size-lg" style="color:lightgray">{{'VACATION_MODE' | translate}}</label>
                    </div>
                    <div class="col-md-1 border-bottom" disabled ng-show="!isAllowBySecurity('SECTION_VACATION_MODE')">
                        <!-- THE 2 LINES BELOW WILL SUPPORT CHECK OFF/ON READ ONLY -->
                        <input id="vacationMode" type="checkbox" value="vacation" disabled ng-show="PreferenceData.AVAIL==='ON'" ng-model="PreferenceData.AVAIL" ng-true-value="'ON'" ng-false-value="'OFF'" />
                        <input id1="vacationMode" type="checkbox" value="vacation1" disabled ng-show="!isVacationOn()" />
                        <label class="form-padding" for="vacationMode" disabled>
                            <span disabled></span>
                            <div class="title left" disabled></div>
                        </label>
                    </div>

                    <!--- VACATION MODE END -->
                    <div class="col-md-2 border-bottom">
                        <label class="size-lg">{{'MANUAL HEAT'}}</label>
                    </div>
                    <div class="col-md-1 border-bottom">
                        <input id="manualheat" type="checkbox" ng-model="PreferenceData.MANHT" ng-true-value="'ON'" ng-false-value="'OFF'" />
                        <label class="form-padding" for="manualheat">
                            <span></span>
                            <div class="title left"></div>
                        </label>
                    </div>

                    <!---->
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-1point5 no-padding border-bottom">
                        <label class="size-lg">{{'VALVE_DELAY' | translate}}</label>
                    </div>
                    <div class="col-md-2 col-md-2point5 text-right border-bottom border-right">
                        <input id="valveDelay" name="valveDelay" type="checkbox" ng-model="PreferenceData.VALVE" ng-true-value="'ON'" ng-false-value="'OFF'" />
                        <label class="form-padding" for="valveDelay">
                            <span></span>
                            <div class="title left">{{'VALVE_PUMP_OFF' | translate}}</div>
                        </label>
                    </div>
                    <div class="col-md-3 no-padding border-bottom">
                        <label class="size-lg">{{'HEATER_DELAY' | translate}}</label>
                    </div>
                    <div class="col-md-4  border-bottom">
                        <input id="heaterDelay" name="heaterDelay" type="checkbox" ng-model="PreferenceData.HEATING" ng-true-value="'ON'" ng-false-value="'OFF'" />
                        <label class="form-padding" for="heaterDelay">
                            <span></span>
                            <div class="title left">{{'HEATER_PUMP_ON' | translate}}</div>
                        </label>
                    </div>
                </div>
                <!-- repeat through each sensor categories row -->
                <!--<div class="row" ng-repeat="t in getTimes(getMaxSensorLength()) track by $index">-->
                <div class="row" ng-hide="true">
                    <div class="col-md-3 no-padding">
                        <!--"size-lg"-->
                        <label ng-if="$index === 0" class="size-lg ng-binding">Calibration</label>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-left">
                            <div ng-repeat="airSensor in airSensors track by $index">
                                <label class="size-lg sensor">{{airSensor.NAME}}</label>
                                <!--<label ng-hide="$root.editMode.general.AdvancedSettings" style="text-align:center;font-size:16px;width:150px"><span></span><div class="title">{{airSensor.PROBE}}F</div></label>-->
                                <div class="right" style="position:relative;top:14px;width:150px"
                                     value-stepper
                                     icon-size="icon-sm"
                                     target-circuit="airSensor"
                                     range="{min:0,max:104}"
                                     param="PROBE"
                                     display-uom="UoM"
                                     on-change="setSensor(value , airSensor)">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-left">
                            <label class="size-lg "> True Readout </label>
                            <label class="size-md ">{{Model.AirSensors[0].SOURCE}}</label>
                        </div>
                    </div>
                    <!--solar row-->
                    <div class="row">
                        <div class="col-md-3 text-left">
                            <div ng-repeat="solarSensor in solarSensors track by $index">
                                <label class="size-lg sensor">{{solarSensor.NAME}}</label>
                                <!--<label ng-hide="$root.editMode.general.AdvancedSettings" style="text-align:center;font-size:16px;width:150px"><span></span><div class="title">{{airSensor.PROBE}}F</div></label>-->
                                <div class="right" style="position:relative;top:14px;width:150px"
                                     value-stepper
                                     icon-size="icon-sm"
                                     target-circuit="solarSensor"
                                     range="{min:0,max:104}"
                                     param="PROBE"
                                     display-uom="UoM"
                                     on-change="setSensor(value, solarSensor)">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-left">
                            <label class="size-lg ">True Readout </label>
                            <label class="size-md ">{{Model.SolarSensors[0].SOURCE}}</label>
                        </div>
                    </div>
                    <!-- water row -->
                    <!-- <div class="row"> -->
                    <div class="col-md-3 text-left" ng-if="waterSensors.length">
                        <div ng-repeat="waterSensor in waterSensors track by $index">
                            <label class="size-lg  sensor">{{waterSensor.NAME}}</label>
                            <!--<label ng-hide="$root.editMode.general.AdvancedSettings" style="text-align:center;font-size:16px;width:150px"><span></span><div class="title">{{waterSensor.PROBE}}F</div></label>-->
                            <!--param="PROBE"-->
                            <div class="right" style="position:relative;top:14px;width:150px"
                                 value-stepper
                                 icon-size="icon-sm"
                                 target-circuit="waterSensor"
                                 range="{min:0,max:104}"
                                 param="PROBE"
                                 display-uom="UoM"
                                 on-change="setSensor(value, waterSensor)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="size-lg ">True Readout </label>
                        <label class="size-md ">{{Model.WaterSensors[0].SOURCE}}</label>
                    </div>
                    <!--</div>  -->
                </div>


                <!--MATRIX-->

                <div class="row">
                    <div class="col-md-3 no-padding">
                        <!--"size-lg"-->
                        <label ng-if="$index === 0" class="size-lg ng-binding">Calibration</label>
                    </div>
                </div>

                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <div class="col-sm-12" style="width:220px; height:17.33px;text-align: center;"> Sensor Name </div>
                                </th>
                                <th>Adjusted Value</th>
                                <th>
                                    <div class="col-sm-12" style="width:220px; height:17.33px;text-align: center;"> True Readout </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- AIR SENSORS-->
                            <tr ng-repeat="airSensor in airSensors track by $index">
                                <td>
                                    <div class="col-sm-12" style="width:220px; height:17.33px;text-align: left; font-size:16px">
                                        {{airSensor.NAME}}
                                    </div>
                                </td>
                                <td>
                                    <div class="right" style="position:relative;top:1px;width:150px"
                                         value-stepper
                                         icon-size="icon-sm"
                                         target-circuit="airSensor"
                                         range="{min:0,max:104}"
                                         param="PROBE"
                                         display-uom="UoM"
                                         on-change="setSensor(value , airSensor)">
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-12" style="width:220px; height:17.33px;text-align: center;font-size:16px">
                                        {{Model.AirSensors[0].SOURCE}}
                                    </div>
                                </td>
                            </tr>
                            <!-- SOLAR SENSORS-->
                            <tr ng-repeat="solarSensor in solarSensors track by $index">
                                <td>
                                    <div class="col-sm-12" style="width:220px; height:17.33px;text-align: left;font-size:16px">
                                        {{solarSensor.NAME}}
                                    </div>
                                </td>
                                <td>
                                    <div class="right" style="position:relative;top:1px;width:150px"
                                         value-stepper
                                         icon-size="icon-sm"
                                         target-circuit="solarSensor"
                                         range="{min:0,max:104}"
                                         param="PROBE"
                                         display-uom="UoM"
                                         on-change="setSensor(value, solarSensor)">
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-12" style="width:220px; height:17.33px;text-align: center;font-size:16px">
                                        {{Model.SolarSensors[0].SOURCE}}
                                    </div>
                                </td>
                            </tr>
                            <!-- WATER SENSORS-->
                            <tr ng-repeat="waterSensor in waterSensors track by $index">
                                <td>
                                    <div class="col-sm-12" style="width:220px; height:17.33px;text-align: left;font-size:16px">
                                        {{waterSensor.NAME}}
                                    </div>
                                </td>
                                <td>
                                    <div class="right" style="position:relative;top:1px;width:150px"
                                         value-stepper
                                         icon-size="icon-sm"
                                         target-circuit="waterSensor"
                                         range="{min:0,max:104}"
                                         param="PROBE"
                                         display-uom="UoM"
                                         on-change="setSensor(value, waterSensor)">
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-12" style="width:220px; height:17.33px;text-align: center;font-size:16px">
                                        {{Model.WaterSensors[0].SOURCE}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="row">
                    <div class="col-md-12 form-padding border-top">
                        <div class="col-md-3 form-padding-all">
                            <button class="btn md full" type="submit" ng-click="SavePreferenceSettings()">{{'SAVE' | translate}}</button>
                        </div>
                        <div class="col-md-3 form-padding-all">
                            <button class="btn cancel md full" ng-click="CancelPreferencesEdit()">{{'CANCEL' | translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </accordion-group>
        <!------------------------------------------------------------------>
        <!-------------------------   Security     ------------------------->
        <!------------------------------------------------------------------>

        <accordion-group bg-color="bg-darkgrey" is-open="true" disabled="!isAllowBySecurity('SECTION_SECURITY')">
            <accordion-heading>
                <!--
                <span class="icon icon-safe-1"></span>Security<span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
                     -->
                <div class="row ng-scope">
                    <div class="col-md-4">
                        <span class="icon icon-safe-1"></span>Security
                    </div>
                    <!-- ENFORCE LOCK WHEN SECURITY -->
                    <!--
                       <div class="col-md-2" ng-show="isSecurityEnabled()">
                           <span class="icon-sm icon-lock-white-sm"></span>
                       </div>
                    -->
                    <div class="col-md-2" ng-show="isSecurityEnabled()">
                        <span class="icon-sm icon-lock-white-sm" ng-show="!isAllowBySecurity('SECTION_SECURITY')"></span>
                    </div>

                    <div class="float:right">
                        <span class="pull-right chevron glyphicon glyphicon-chevron-right"></span>
                    </div>
                </div>

            </accordion-heading>
            <form class="col-md-12 no-padding" name="$root.forms.general.security" novalidate ng-show="isAllowBySecurity('SECTION_SECURITY')">
                <div class="row">
                    <div class="col-md-6 no-padding border-bottom border-right">
                        <label class="size-md bold">{{'SECURITY' | translate}}</label>
                        <br />
                        <!--
                        <input id="sec_enabled" type="checkbox" ng-model="securityModel[1].ENABLE" ng-true-value="'ON'" ng-false-value="'OFF'" />
                        <label class="size-md" for="sec_enabled">
                            <span></span>
                            <div class="title left">{{'ENABLED' | translate}}</div>
                        </label>
                        -->
                        <!--- a  -->                        
                        <div class="col-md-6 border-bottom">                                                 
                            <input id="secenabled" type="checkbox" ng-model="securityModel[1].ENABLE" ng-true-value="'ON'" ng-false-value="'OFF'" />                            
                            <label class="form-padding" for="secenabled">
                                <span></span>
                                <div class="title left">{{'ENABLED' | translate}}</div>
                            </label>
                        </div>
                        <!---a -->
                    </div>
                    <!-- DISPLAY ONLY IF ADMIN IS ENABLED -->
                    <div class="col-md-6 border-bottom" ng-show="securityModel[1].ENABLE === 'ON'">
                        <label class="size-md bold">{{'GUEST_ACCESS' | translate}}</label>
                        <br />
                        <input id="guestAccess" type="checkbox" ng-model="securityModel[0].ENABLE" ng-true-value="'ON'" ng-false-value="'OFF'" />
                        <label class="size-md" for="guestAccess">
                            <span></span>
                            <div class="title left">{{'ENABLED' | translate}}</div>
                        </label>
                    </div>

                    <!-- DISPLAY ONLY IF ADMIN IS ENABLED  : DISPLAY PIN -->
                    <div class="col-md-6 border-bottom" ng-show="true">
                        <label class="size-md bold">{{'Show PIN Numbers' }}</label>
                        <br />
                        <input id="displayPin" type="checkbox" ng-model="Security.DisplayPIN" />
                        <label class="size-md" for="displayPin">
                            <span></span>
                            <div class="title left">{{'ENABLED' | translate}}</div>
                        </label>
                    </div>                    

                </div>
                <div class="row">
                    <!--
                    <div class="col-md-5 no-padding border-left border-bottom border-right  bg-gray" style="height:34px">
                        <input ng-disabled="true" type="text" name="type" class="form-control editable" placeholder="ROLES..." disabled="disabled">
                    </div>
                    -->

                    <div class="col-md-12 no-padding bg-legend-one" ng-show="true">
                        <label>Roles...</label>
                    </div>
                    <!--
                    <div class="col-md-7 no-padding border-left border-bottom border-right" style="height:34px">
                        <input id="displayPin" type="checkbox" ng-model="Security.DisplayPIN" />
                        <label class="size-sm" for="displayPin">
                            <span></span>
                            <div class="title left">Show PIN Numbers</div>
                        </label>
                    </div>
                    -->

                </div>
                <div ng-repeat="securityItem in securityModel" ng-init="outterIndex=$index">
                    <div class="row" ng-show="DisplayUser(securityItem)">
                        <div class="col-md-3 no-padding border-bottom border-right border-top">
                            <label class="ng-binding">Role<span class="required"></span></label>
                            <input type="text" class="form-control editable" ng-model="securityItem.SNAME"
                                   ng-disabled="securityItem.name === 'Administrator' || securityItem.name === 'Guest'">
                        </div>
                        <div class="col-md-2 border-bottom border-top">
                            <label class="ng-binding">Permissions</label>
                            <div>
                                <label>{{securityItem.SHOMNU | displayAccess}} </label>
                                <span ng-if="securityItem.OBJNAM !== 'UFFFE'" ng-class="{'glyphicon-chevron-down': accordionStateByObjectNames[securityItem.OBJNAM].open, 'glyphicon-chevron-right': !accordionStateByObjectNames[securityItem.OBJNAM].open}" class="pull-right glyphicon" ng-click="accordionStateByObjectNames[securityItem.OBJNAM].open = !accordionStateByObjectNames[securityItem.OBJNAM].open"> </span>
                            </div>
                        </div>
                        <div class="col-md-2 border-bottom border-top" ng-if="securityItem.OBJNAM !== 'U0000'">
                            <label class="ng-binding">4 Digit PIN:<span class="required"></span></label>
                            <input type="{{Security.DisplayPIN ? 'text' : 'password'}}" class="form-control editable" maxlength="4"
                                   autofocus placeholder="Enter 4 digits" required
                                   ng-model="securityItem.PASSWRD">
                        </div>
                        <div class="col-md-2 border-bottom border-top" ng-if="securityItem.OBJNAM !== 'U0000'">
                            <label class="ng-binding">Confirm PIN:<span class="required"></span></label>
                            <input type="{{Security.DisplayPIN ? 'text' : 'password'}}" class="form-control editable" maxlength="4"
                                   ng-model="securityItem.confirmPASSWRD">
                        </div>
                        <div class="col-md-2 border-bottom  border-top" ng-if="securityItem.OBJNAM !== 'U0000'">
                            <label class="ng-binding">Timeout (min):<span class="required"></span></label>
                            <input type="text" class="form-control editable"
                                   ng-model="securityItem.TIMOUT">
                        </div>
                        <div class="bg-white col-md-1 edit-bar border-bottom border-top"
                             style="height: 63px;padding: 10px;">
                            <button ng-hide="securityItem.OBJNAM === 'UFFFE' || securityItem.OBJNAM === 'U0000'" type="button"
                                    style="width:23px;color:red;border:1px solid rgb(86,86,86)"
                                    class="close" aria-label="Close" ng-click="deleteRoleFromSecurityModel($index)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <accordion-group ng-if="securityItem.OBJNAM !== 'UFFFE'"
                                     bg-color="bg-white" is-open="accordionStateByObjectNames[securityItem.OBJNAM].open">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="pool" style="background-size: 50px;height:80px;background-position: 10% 60%;">
                                                <span class="title no-wrap ng-binding">Pool</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-14" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[14]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-14">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ACCESS</div>
                                            </label>
                                        </span>
                                        <br>
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-21" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[21]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-21">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">TEMPERATURE</div>
                                            </label>
                                        </span>
                                        <br>
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-15" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[15]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-15">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">HEAT MODE</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="spa" style="background-size: 50px;height:80px;background-position: 10% 60%;">
                                                <span class="title no-wrap ng-binding">SPA</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-16" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[16]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-16">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ACCESS</div>
                                            </label>
                                        </span>
                                        <br>
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-22" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[22]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-22">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">TEMPERATURE</div>
                                            </label>
                                        </span>
                                        <br>
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-17" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[17]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-17">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">HEAT MODE</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="schedules">
                                                <span class="title no-wrap ng-binding">SCHEDULES</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-10" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[10]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-10">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ACCESS</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="vacation">
                                                <span class="title no-wrap ng-binding">VACATION MODE</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-0" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[0]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-0">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ACCESS</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="features" style="background-size: 40px;height:80px;background-position: 10% 60%;">
                                                <span class="title no-wrap ng-binding">FEATURES</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-11" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[11]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-11">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ACCESS</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="lights" style="background-size: 40px;height:80px;background-position: 10% 60%;">
                                                <span class="title no-wrap ng-binding">LIGHTS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-12" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[12]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-12">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ACCESS</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="chemistry">
                                                <span class="title no-wrap ng-binding">CHEMISTRY</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-7" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[7]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-7">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ACCESS</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="pumps">
                                                <span class="title no-wrap ng-binding">PUMPS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="history">
                                                <span class="title no-wrap ng-binding">USAGE</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-13" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[13]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-13">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ACCESS</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-4">
                                        <div class="category no-padding no-margin">
                                            <div class="config">
                                                <span class="title no-wrap ng-binding">SYSTEM CONFIGURATION</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-23" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[23]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-23">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ACCESS</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="background: rgb(247,247,247);-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="col-md-2">
                                        <div class="category no-padding no-margin">
                                            <div class="config">
                                                <span class="title no-wrap ng-binding">POOL-SIDE HARDWARE</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-1" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[1]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-1">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">SUPPORT</div>
                                            </label>
                                        </span>
                                        <br>
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-3" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[3]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-3">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ALERTS AND NOTIFICATIONS</div>
                                            </label>
                                        </span>
                                        <br>
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-20" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[20]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-20">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">USER PORTAL</div>
                                            </label>
                                        </span>
                                        <br>
                                        <!-- removing DELETE STATUSES
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-9" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[9]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-9">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">DELETE STATUSES</div>
                                            </label>
                                        </span>
                                        <br>
                                        -->
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-4" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[4]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-4">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">GROUPS</div>
                                            </label>
                                        </span>
                                        <br>
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-6" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[6]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-6">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">ADVANCED SETTINGS</div>
                                            </label>
                                        </span>
                                        <br>
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-8" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[8]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-8">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">STATUS</div>
                                            </label>
                                        </span>
                                        <br>                                       
                                        <!-- removing Remotes
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-5" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[5]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-5">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">REMOTES</div>
                                            </label>
                                        </span>                                        
                                        <br>
                                        -->
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-19" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[19]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-19">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">SERVICE MODE CIRCUITS</div>
                                            </label>
                                        </span>
                                        <br />
                                        <span class="pull-right" ng-show="false">
                                            <input id="shoMnu{{outterIndex}}-18" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[18]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-18">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">MULTI BODY DRAWER (i10D)</div>
                                            </label>
                                        </span>
                                        <br />
                                        <span class="pull-right">
                                            <input id="shoMnu{{outterIndex}}-2" type="checkbox" ng-change="mapAccessToSHOMNU(securityItem)"
                                                   ng-model="securityItem.accessCheckBoxModel[2]">
                                            <label class="size-md" for="shoMnu{{outterIndex}}-2">
                                                <span style="background-color:transparent;"></span>
                                                <div class="title left ng-binding">GENERAL SETTINGS</div>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </div>
                <!-- this is for the user access -->
                <div class="col-md-6 form-padding" in-show="securityEnabled===true">
                    <div class="col-md-3 form-padding-all">
                        <button class="btn md full" type="submit" ng-click="SaveSecuritySettings()">Save</button>
                    </div>
                    <div class="col-md-3 form-padding-all">
                        <button class="btn cancel md full" ng-click="CancelSecuritySettings()">Cancel</button>
                    </div>
                </div>

                <div class="col-md-6 form-padding">
                    <div class="form-padding-all pull-left">
                        <center> Roles ( {{getFreeRoles() }}/{{getMaxRoles()}} )</center>
                    </div>

                    <div class="form-padding-all pull-right">
                        <button type="button" class="btn secondary md" ng-show="canDisplayRoles()" ng-click="addSecurity()"><span class=""></span>Add Role</button>
                    </div>
                </div>
            </form>
        </accordion-group>
    </accordion>
    <!--<div class="cta-bar"> what is this for ? -->
    <!--<button class="btn">Save</button>-->
    <!--<button class="btn secondary">Next Step</button>-->
    <!--</div>-->
</div>
