﻿<div id="ManageUsers">
  <div class="grid-wrap">
    <div class="grid-col col-full">
      <button id="ConfigPageLink" class="nav back" ng-click="GoToConfigPage()">‹</button>
      <h1>{{'ALERTS' | translate}}</h1>
    </div>
      <div class="grid-col col-full">
          
          <table>
              <tbody>
                  <tr id="{{'Notification'+$index}}" ng-repeat="notification in Model.UserNotifications" ng-controller="UserNotificationController">
                      <td><old-toggle-switch id="notification.name" toggle-onclick="ToggleItem(value, notification)" toggle-model="notification.enabled" /></td>
                      <td>{{notification.name | translate}}</td>
                      <td>
                          <div class="duration">
                            <duration-input-box id="{{item.name+'durationInput'}}" class="durationValue" duration-model="notification.duration" notification-object="notification" min-value="1" max-value="99" max-length="3" on-text-input="Property.SaveUserNotification(obj,value)"></duration-input-box>
                          </div>
                      </td>
                      <td>{{'HOURS-EMAIL' | translate}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>