<div ng-controller="VacationController">
    <div id="ManageVacationSchedulesPage">
        <div class="row">
            <div class="col-md-6">
                <p class="input-group">

                </p>
            </div>
        </div>
        <div class="row edit-row time-row">
            <div class="col-md-12 edit-bar">
                <label class="settings-label">VACATION MODE</label>
                <button ng-show="systemSettings.vacMode === 'ON'" class="btn secondary" style="margin-right: 35px;"
                        ng-click="setVacationMode('OFF')">On</button>
                <button ng-show="systemSettings.vacMode === 'OFF'" class="btn third" style="margin-right: 35px;"
                        ng-click="setVacationMode('ON')">Off</button>
                <input type="checkbox" id="vactim"
                       ng-model="systemSettings.vacTimer"
                       ng-click="applyVacationMode()"
                       ng-true-value="'ON'"
                       ng-false-value="'OFF'" />
                <label class="setpoint-checkbox" for="vactim">
                    <span class="alt"></span>
                    <div class="title right">Apply Vacation Schedule Only During The Following Time Frame:</div>
                </label>
            </div>
        </div>
        <div class="row edit-row" style="margin-bottom: 10px">
            <div class="col-md-4 edit-bar border-right" style="height:78px;padding-top:10px;">
                <label class="settings-label">Start Date</label>
                <span style="float:right;width:57px;padding-top:5px;" class="input-group-btn">
                    <button
                        style="margin-left:0"
                        type="button"
                        class="btn btn-default"
                        ng-click="open('start')"
                        ng-disabled="systemSettings.vacTimer === 'OFF'">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input type="text"
                       class="form-control"
                       datepicker-popup="MM-dd-yyyy"
                       on-open-focus = false
                       ng-model="systemSettings.startDate"
                       is-open="start.status.opened"
                       min-date="'{{minStartDate | date:'yyyy-MM-dd'}}'"
                       ng-disabled="systemSettings.vacTimer === 'OFF'"
                       ng-change="dateChanged(true)"
                       ng-blur="dateBlurred(true)"
                       close-text="Close"
                       style="width:140px;float:right;margin-top: 5px;padding-top: 9px;padding-bottom: 10px;" />
            </div>
            <div class="col-md-4 edit-bar border-right" style="height:78px;padding-top:10px;">
                <label class="settings-label">Stop Date</label>
                <span style="float:right;width:57px;padding-top:5px;" class="input-group-btn">
                    <button
                        style="margin-left:0"
                        type="button"
                        class="btn btn-default"
                        ng-click="open('stop')"
                        ng-disabled="systemSettings.vacTimer === 'OFF'">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input type="text"
                       class="form-control"
                       datepicker-popup="MM-dd-yyyy"
                       ng-model="systemSettings.stopDate"
                       is-open="stop.status.opened"
                       min-date="'{{minStopDate | date:'yyyy-MM-dd'}}'"
                       ng-disabled="systemSettings.vacTimer === 'OFF'"
                       ng-change="dateChanged(true)"
                       ng-blur="dateBlurred(true)"
                       close-text="Close"
                       style="width:140px;float:right;margin-top: 5px;padding-top: 9px;padding-bottom: 10px;" />
            </div>
            <div class="col-md-4 edit-bar border-right" style="height:78px;background:white"></div>
        </div>
        <ng-include src="'/app/templates/schedules.partial.html'"></ng-include>
    </div>
</div>