﻿// Site Palette

$blue: rgb(12,52,113); //#0c3471
$lightblue: rgb(61, 98, 153); //#3d6299
$lighterblue: rgb(89, 121, 187); //#5979bb;
$weatherblue: rgb(107, 182, 249); //#6bb6f9;
$robinseggblue: #00C4B3;
$bondiblue: #0296A5;//#0296a5
$eveningsea: #02474E;//#02474e
$tepapagreen: #20503E; //#20503e
$mineralgreen: #3E6153; //#3e6153
$green: rgb(100, 167, 11); //#64a70b
$green2: rgb(74, 212, 49); //#4ad431
$lightgreen: rgb(159, 204, 20); //#9fcc14
$yellow: rgb(255, 255, 0); //#ffff00
$orange: rgb(255, 115, 64); //#ff7340                          
$red: rgb(255, 53, 25); //#ff3519 
$red2: rgb(255, 73, 48); //#ff4930
$tabasco: #a32a12; //#a32a12
$brownrust: #a15137; //#a15137
$meteorite: #3D2276; // 3d2276
$butterflybush: #604E86; // 604e86
$eminence: #58317e;
$victoria: #5e3c82;
$rum: #6c5484;
$purple: rgb(109, 92, 174); //#6d5cae scampi
$lightpurple: rgb(148, 138, 191); //#948ABF lavender purple
$lightbrown: #88532E;
$burntorange: #C66125;
$oldbrick: #951A1A;
$heath: #540e11; // #540e11
$ferra: #764647; // #764647
$bluelagoon: #047380;
$white: rgb(255, 255, 255); //#fff
$turquoise: rgb(0, 196, 179); //00c4b3
//ff714b
$tundora: #4c4c4c;
$darkgrey: rgb(98, 98, 98); //#626262
$boulder: #787878;
$midgrey: #9d9d9d;
$grey: rgb(216, 216, 216); //#d8d8d8
$mercury: #e1e1e1;
$lightgrey: rgb(245, 245, 245); //#f5f5f5

$magenta: #EC008B;
// Root Configuration

$bodycolor-alpha: $darkgrey;
$bodycolor-beta: $lightgrey;
$error: $red2;
$warning: $yellow;
$success: $green2;

.bold {
    font-family: 'AvenirLTStd-Black';
}