/*
Errno::ENOENT: No such file or directory @ rb_sysopen - login.scss

Backtrace:
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:482:in `read'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin.rb:108:in `method_missing'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/Dashon/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/Users/Dashon/.rbenv/versions/2.2.1/bin/sass:23:in `load'
/Users/Dashon/.rbenv/versions/2.2.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - login.scss"; }
