@import "_variables.scss";
@import "_icons.scss";
//@import url("//hello.myfonts.net/count/2ebcd9");
//@import url("//hello.myfonts.net/count/2ec25e");


@font-face {
    font-family: 'AvenirLTStd-Light';
    src: url('../fonts/avenir/webfonts/2EBCD9_0_0.eot');
    src: url('../fonts/avenir/webfonts/2EBCD9_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir/webfonts/2EBCD9_0_0.woff') format('woff'),url('../fonts/avenir/webfonts/2EBCD9_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirLTStd-Black';
    src: url('../fonts/avenir-black/webfonts/2EC25E_0_0.eot');
    src: url('../fonts/avenir-black/webfonts/2EC25E_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir-black/webfonts/2EC25E_0_0.woff') format('woff'),url('../fonts/avenir-black/webfonts/2EC25E_0_0.ttf') format('truetype');
}

@media (min-width: 1200px) {
    .container {
        width: 1280px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 1280px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 1280px;
    }
}
/*******LOADING DATA *****/
.loadingData{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
}
/* Safari */
@-webkit-keyframes spin{
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin{
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}
/****** Base Styles ******/

*:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0 10px;

    &.no-padding {
        padding: 0;
    }
    input:focus{
        background-color:$yellow;
    }
}

.col-md-321 {
    padding: 0 10px;
    width: 105px;

    &.no-padding {
        padding: 0;
    }
    input:focus{
        background-color:$yellow;
    }
}

body {
    background-color: $lightgrey;
    color: $bodycolor-alpha;
    font-family: 'AvenirLTStd-Light', sans-serif;
}

hr {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid $midgrey;
}

.editable[disabled] {
    cursor: inherit;
    background-color: inherit;
    opacity: inherit;
}

.align-center {
    text-align: center;
}

.bold {
    font-family: 'AvenirLTStd-Black';
}

.underline {
    text-decoration: underline;
}

.border-radius-top {
    border-radius: 3px 3px 0 0;
}

.border-radius-bottom {
    border-radius: 0 0 3px 3px;
}

.home-css-btn {        
    height: 55px;
    width: 90%;
    background-color: $white;
    color: $grey;
}

.content-gutter {
    padding: 15px 25px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.txt-vertical-middle {
    position: relative;
    top: 50%;
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.text-bottom {
    vertical-align: text-bottom;
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w85 {
    width: 85%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w100 {
    width: 100%;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-margin {
    margin: 0 !important;
}

.bg-white {
    background-color: white !important;
    color: rgb(98,98,98) !important;
}

.bg-blue {
    background-color: $blue !important;
    color: $white !important;
}

.bg-eminence {
    background-color: $eminence !important;
    color: $white !important;
}

.bg-meteorite {
    background-color: $meteorite !important;
    color: $white !important;
}

.bg-butterflybush {
    background-color: $butterflybush !important;
    color: $white !important;
}

.bg-rum {
    background-color: $rum !important;
    color: $white !important;
}

.bg-lightblue {
    background-color: $lightblue !important;
    color: $white !important;
}

.bg-orange {
    background-color: $orange !important;
    color: $white !important;
}

.bg-burntorange {
    background-color: $burntorange !important;
    color: $white !important;
}

.bg-lightbrown {
    background-color: $lightbrown !important;
    color: $white !important;
}

.bg-purple {
    background-color: $purple !important;
    color: $white !important;
}

.bg-darkgrey {
    background-color: $darkgrey !important;
    color: $white !important;
}

.bg-green {
    background-color: $green !important;
    color: $white !important;
}

.bg-heath {
    background-color: $heath !important;
    color: $white !important;
}

.bg-ferra {
    background-color: $ferra !important;
    color: $white !important;
}

.bg-boulder {
    background-color: $boulder !important;
    color: $white !important;
}

.bg-tundora {
    background-color: $tundora !important;
    color: $white !important;
}

.bg-tabasco {
    background-color: $tabasco !important;
    color: $white !important;
}

.bg-brownrust {
    background-color: $brownrust !important;
    color: $white !important;
}

.bg-tepapagreen {
    background-color: $tepapagreen !important;
    color: $white !important;
}

.bg-mineralgreen {
    background-color: $mineralgreen !important;
    color: $white !important;
}

.bg-bondiblue {
    background-color: $bondiblue !important;
    color: $white !important;
}

.bg-eveningsea {
    background-color: $eveningsea !important;
    color: $white !important;
}

.border-right {
    border-right: 1px solid $lightgrey;
}

.border-right-thick {
    border-right: 5px solid $lightgrey;
}

.border-left {
    border-left: 1px solid $lightgrey;
}

.border-bottom {
    border-bottom: 1px solid $lightgrey;
}

.border-top {
    border-top: 1px solid $lightgrey;
}

.border-none {
    border: none !important;
}

.highlight {
    color: $green;
    text-decoration: underline;
    @extend .bold;
}

.vertical-middle {
    display: inline-table;
    vertical-align: middle;
//    float: none; Bad for firefox

    &:before {
        display: inline-block;
        vertical-align: middle;
    }
}

.no-dim {
    opacity: 1;
}

.dim-1 {
    opacity: 0.25;
}

.dim-2 {
    opacity: 0.50;
}

.dim-3 {
    opacity: 0.75;
}

.relative {
    position: relative;
}

.pointer-cursor {
    cursor: pointer;
}

.pointer-not-allowed {
    cursor: not-allowed;
}


.icon-circle-blank:before {
    padding-right: 5px;
    content: "\25cb";
}
/****** BUTTONS ******/
.btn {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    background-color: $lightblue;
    border-radius: 2px;
    margin: 0 0 0 20px;
    @extend .bold;
    border-color: none;

    &.btn-xs {
        padding: 1px 5px;
        font-size: 12px;
    }

    &.secondary {
        background-color: $lightgreen;
    }

    &.third {
        background-color: $orange;
    }

    &.fourth {
        background-color: $white;
        color: $darkgrey;
        border: 1px solid $darkgrey;
        min-width: 110px;

        &.active {
            background-color: $darkgrey;
        }

        &:hover {
            color: $darkgrey;
        }
    }

    &.fifth {
        background-color: $red;
    }

    &.seventh {
        background-color: $blue;
    }

    &.cancel {
        background-color: $midgrey;
    }

    &.md {
        padding: 0 10px;
        line-height: 28px;

        > .icon {
            font-size: 16px;
            float: left;
            position: relative;
            top: 4px;
            margin-right: 5px;
        }
    }

    &.off {
        background-color: #e0e0e0;
    }

    &.on {
        background-color: #9fcc14;
    }


    &.sm {
    }

    &.full {
        width: 100%;
        margin: 0;
    }

    &:hover {
        color: $white;
        background-color:#d8d8d8;       // added
        border-radius:15px;             // added
        text-decoration: none;
    }

    &:focus {
        color: $white;
        text-decoration: none;
        outline: 0;
        border: 0;
    }

    &::selection {
        color: $white;
        text-decoration: none;
    }
}

.cta-bar {
    padding: 20px 0;
    text-align: right;

    .btn:last-child {
        margin-right: 0;
    }
}

.dropdown-menu {
    width: 100%;

    > li a {
        padding: 3px;
        cursor: pointer;
        margin: 5px;

        > .check {
            width: 15px;
            margin: 0 5px 0 5px;
            display: block;
        }
    }
}

.btn-group.open .dropdown-toggle,
.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/****** FORMS ******/
input[type=text], input[type=password], input[type=email] {
    background-color: #fff;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    color: $darkgrey;
}

input[type="checkbox"] + label .title {
    display: inline-block;
    margin-top: 4px;

    &.left {
        margin-right: 15px;
    }

    &.right {
        margin-left: 15px;
    }
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
    @extend %icon-unchecked;
}

input[type="checkbox"] + label span.alt {
    background-color: transparent;
}

input[type="checkbox"]:checked + label span {
    @extend %icon-checked;
    background-size: 100%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    color: $darkgrey;
}

input[type="radio"] + label .title {
    display: inline-block;
    margin-top: 4px;

    &.left {
        margin-right: 8px;
    }

    &.right {
        margin-left: 8px;
    }
}

input[type="radio"] + label span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
    @extend %icon-radio-off;
    background-size: 100%;
}

input[type="radio"]:checked + label span {
    @extend %icon-radio-on;
    background-size: 100%;
}

/* SLIDE ONE */
.switch-toggle {
    position: absolute;
    top: 0;
    left: 0;

    .btn {
        margin: 0;
        border-radius: 0;
        border-right: 2px solid #d8d8d8;
        border-bottom: 2px solid #d8d8d8;
        width: 75px;
        border-top: 0;
    }

    span:first-child {
        display: block !important;
    }
}

.toggler {
    width: 100%;
    height: 25px;   // 13px
    background: $grey;
    margin: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.toggler .toggle {
    display: block;
    width: 19px;
    height: 25px;   // 19px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;
    background: $midgrey;
    padding: 0;
}

input[type=checkbox]:checked + .toggler {
    .toggle {
        left: 78%;
        background: $lightgreen;
    }
}

.form-control {
    height: auto;
    padding: 0 15px 5px;
    border-radius: 0;
    border: none;
    //border-bottom: 1px solid $grey;
    color: #626262;
    box-shadow: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

    &:focus {
        border-color: $grey;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.form-control:-moz-placeholder {
    color: $grey;
}

.form-control::-moz-placeholder {
    color: $grey;
}

.form-control:-ms-input-placeholder {
    color: $grey;
}

.form-control::-webkit-input-placeholder {
    color: $grey;
}

label {
    font-weight: 300;
    margin: 0;
    padding: 11px 15px 0;

    &.size-lg {
        text-transform: uppercase;
        font-size: 15px;
        @extend .bold;
        letter-spacing: 1px;
        padding: 20px 15px;
    }
        &.size-lg-left {
        text-transform: uppercase;
        font-size: 15px;
        @extend .bold;
        letter-spacing: 1px;
        padding: 10px 15px;
        color: $darkgrey;
        float: left;
    }

    &.size-md {
        font-size: 15px;
        letter-spacing: 1px;
        padding: 4px 15px;
        &.bold {
            text-transform: uppercase;
            @extend .bold;
        }
    }
    &.size-sm {
        font-size: 15px;
        letter-spacing: 1px;
        padding: 4px 15px;
    }}

.required {
    &:after {
        content: "( required )";
        display: inline;
        color: red;
        font-size: 10px;
        position: relative;
        top: -2px;
        left: 5px;
        font-style: italic;
    }
}

.form-spacer {
    height: 61px;
}

.form-padding {
    padding: 19px 0;
}

.form-padding-all {
    padding: 18px;
}

.form-edit {
    color: $orange;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 10px;
    @extend .bold;

    &:hover {
        text-decoration: none;
        color: $orange;
        cursor: pointer;
    }
}


.empty-cell {
    height: 62px;
    border-bottom: 1px solid $grey;
    ;
}

.form-height-2x {
    height: 124px;
}

.notifications {
    color: $white;

    .notification {
        padding: 15px;
        background-position: left center;

        &.errorNotification {
            @extend %icon-alert;
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: 15px center;
            padding: 20px 20px 20px 60px;
            width: 100%;
        }
    }
}

.successNotification {
    background-color: $success;
    clear: both;
}

.errorNotification {
    background-color: $error;
    clear: both;
}

.warningNotification {
    background-color: $warning;
    clear: both;
}


.icon-paddle-plus {
    @extend %icon-paddle-plus;
    background-size: 100%;
    background-position: center center;
}

.icon-paddle-minus {
    @extend %icon-paddle-minus;
    background-size: 100%;
    background-position: center center;
}

.icon-sm {
    width: 20px;
    height: 20px;
    display: inline-block;
}


.icon-md {
    width: 25px;
    height: 25px;
    display: inline-block;
}


.icon-lg {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.chevron {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
/****** Base Components ******/
.row {
    margin: auto;
}
//-- Header

.header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;

    .logo {
        @extend %icon-pentair;
        float: left;
        background-size: 150px;
        background-position: center center;
        width: 200px;
        height: 65px;
    }

    .welcome {
        float: right;
        margin: 22px 0;

        .account {
            padding: 0;

            > .icon {
                position: relative;
                top: 4px;
                margin-left: 6px;
            }
        }

        .accountMenuPanel {
        }

        .logout {
            //padding: 10px 30px;
            //border-right: 1px solid $lightgrey;
        }
    }

    .menu {
        float: right;
        @extend %icon-hamburger;
        padding: 13px;
        background-size: 100%;
        margin: 20px;
    }
}

/****** Base Layouts ******/

.layout-login {
    background-color: $lightblue;

    .header {
        display: none;
    }
}

.layout-base {
    .header {
        display: block;
    }
}

.logoAbout {
    @extend %icon-pentair;
    float: left;
    background-size: 150px;
    background-position: center center;
    width: 200px;
    height: 65px;
}


/****** BOOTSTRAP Component OVERRIDES ******/

//-- Accordion
.panel-group {
    margin: 0;

    .panel {
        margin: 0;
        box-shadow: none;
        border: none;
        border-radius: 0;

        & + .panel {
            margin: 0;
        }
    }

    .panel-default {
    }

    .panel-heading {
        border-radius: 0;
        cursor: pointer;
        padding: 16px;

        & + .panel-collapse {
            > .panel-body {
                border: none;
                padding: 0;
            }
        }

        input[type="checkbox"] + label span.alt {
            @extend %icon-uncheckbox-white;
        }

        input[type="checkbox"]:checked + label span.alt {
            @extend %icon-checkbox-white;
        }    }

    .panel-title {
        @extend .bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 23px;

        > .accordion-toggle:focus {
            outline: none;
        }

        .icon {
            float: left;
            margin-right: 15px;
            font-size: 24px;
        }
    }

    .panel.circuit-control {
        .panel-heading {
            background-color: $white;
            padding: 0;
            position: relative;
            height: 3em;
            line-height: 3em;
        }

        .btn.fourth {
            float: left;
            margin: 0 10px 10px 0;

            &:focus {
                background-color: inherit;
                color: inherit;
                border: 1px solid;
            }
        }

        .panel-title {
            font-size: 1em;
            line-height: inherit;
            padding-right: 5px;
        }
    }
}
//-- Tabs
.tabs {
    margin: 30px 0;
    padding: 0;
    background-color: #fff;
    display: table;
    width: 100%;

    > li {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background-color: #fff;
        border-right: 1px solid $lightgrey;
        text-transform: uppercase;
        padding: 15px;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 1px;
        height: 65px;
        @extend .bold;

        > a {
            text-decoration: none;
            color: $bodycolor-alpha;
        }

        &.active {
            background-color: $green;
            color: $white;

            > a {
                text-decoration: none;
                color: $white;
            }
        }

        &:last-child {
            border-right: none;
        }
    }
}

.nav-tabs {
    display: table;
    width: 100%;
    border: none;
    margin: 30px 0;

    > .all-off-btn {
        > button {            
            height: 40px;
            width: 90%;
            background-color: white;
            color: red;
        }
    }

    > .home-btn {
        > button {                        
            height: 55px;
            //width: 100%;           
            color: blue;//$bodycolor-alpha;            
            background-color: #fff; //background-color: $white;
        }
    }

    > .dasboardTabs {
        display: table;
        table-layout: fixed;

        > li {
            letter-spacing:0.1em;
            float: none;
            display: inline-block;
            text-align: center;
            background-color: $white;
            color: $bodycolor-alpha;
            height: 40px;
            vertical-align: middle;
            @extend .bold;
            margin-right: 2px;
            border-radius: 2px;
            line-height: 41px;
            width: 14%;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $darkgrey;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                background-color: $lightpurple;

                a {
                    color: $white;
                    text-decoration: none;
                }
            }

            &.active:nth-child(7) {
                background-color:#448EC7;
            }
        }
    }

    > .settingsTabs {
        display: table;
        table-layout: fixed;

        > li {
            text-transform: uppercase;
            float: none;
            display: inline-block;
            text-align: center;
            background-color: $white;
            color: $blue;
            height: 40px;
            vertical-align: middle;
            @extend .bold;
            margin-right: 2px;
            border-radius: 2px;
            line-height: 41px;
            width: 19%;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $darkgrey;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                background-color: $lightblue;

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }

    > .configurationTabs {
        display: table;
        table-layout: fixed;

        > li {
            text-transform: uppercase;
            float: left;
            display: flex;
            justify-content: center;
            text-align:center;
            align-items: center;
            background-color: $white;
            color: $blue;
            height: 40px;
            vertical-align: middle;
            @extend .bold;
            margin-right: 2px;
            border-radius: 2px;
            line-height: 15px;
            width: 12%;
            height: 55px;
            letter-spacing: 1.7px;

            &:last-child {
                margin-right: 0;
            }

            a {
                width:120px;
                color: $darkgrey;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                background-color: $green;

                a {
                    color: $white;
                    text-decoration: none;
                }
            }

            &.active:nth-child(2) {
                background-color:$blue;
            }

            &.active:nth-child(3) {
                background-color:$victoria;
            }

            &.active:nth-child(4) {
                background-color:$oldbrick;
            }

            &.active:nth-child(5) {
                background-color:$orange;
            }

            &.active:nth-child(6) {
                background-color:$darkgrey;
            }

            &.active:nth-child(7) {
                background-color:$bluelagoon;
            }
            &.active:nth-child(8) {
                background-color:$magenta;
            }
            &.active:nth-child(9) {
                background-color:$green;
            }
        }
    }


   > .configurationHomeTabs {
        display: table;
        table-layout: fixed;

        > li {
            text-transform: uppercase;
            float: left;
            display: flex;
            justify-content: center;
            text-align:center;
            align-items: center;
            background-color: $white;
            color: $blue;
            height: 40px;
            vertical-align: middle;
            @extend .bold;
            margin-right: 2px;
            border-radius: 2px;
            line-height: 15px;
            width: 14%;
            height: 55px;
            letter-spacing: 1.7px;

            &:last-child {
                margin-right: 0;
            }

            a {
                width:120px;
                color: $bluelagoon;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                background-color: $green;
                a {
                    color: $white;
                    text-decoration: none;
                }
            }

            
            &.active:nth-child(1) {
                background-color:$magenta;
            }

            &.active:nth-child(2) {
                background-color:$blue;
            }

            &.active:nth-child(3) {
                background-color:$victoria;
            }

            &.active:nth-child(4) {
                background-color:$oldbrick;
            }

            &.active:nth-child(5) {
                background-color:$orange;
            }

            &.active:nth-child(6) {
                background-color:$darkgrey;
            }

            &.active:nth-child(7) {
                background-color:$bluelagoon;
            }

            &.active:nth-child(8) {
                background-color:$yellow;
            }
            &.active:nth-child(9) {
                background-color:$red;
            }
        }
    }
}

// doing five equally spaced columns ref: http://stackoverflow.com/questions/10387740/five-equal-columns-in-twitter-bootstrap/22799354#22799354
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-home-5ths {    
    height: 55px;
     > button {            
            height: 55px;   
            width: 90%;
        }
}
.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

//-- Progress bar styling
.progress-bar-title {
    padding: 10px;
    background-color: #cbe7e5;
    margin-bottom: 2px;
}
.progress-bar-title {
    font-family: 'AvenirLTStd-Black';
    letter-spacing: 0.1em;
    padding: 10px;
    background-color: #cbe7e5;
    margin-bottom: 2px;
}
.progressbar {
    min-width: 305px;
    background:white;
    padding-bottom:30px;
    vertical-align: bottom;
}
.shadow-hidden {
    position:relative;
    left:0px;
    padding: 0px;
    width: 100%;
    height: 20px;
    padding: 0px;
}
.bar-hidden {
    position:relative;
    left:-7px;
    height: 32px;
    margin: 0px 30px 0px 30px;
}
.path-hidden {
    height: 32px;
    width: 100%;
}
.pattern-hidden {
    position:relative;
    height: 100%;
    width: 100%;
}
.shadow {
    width: 100%;
    height: 32px;
    padding: 0px;
}
.bar {
    height: 32px;
    margin: 0px 30px 0px 30px;
    background-color: #E5E5E5;
    overflow: hidden;
}
.path {
    display: block;
    height: 32px;
    width: 0px;
    overflow: hidden;
}
.pattern {
    position:relative;
    height: 100%;
    width: 100%;
    background-color: $robinseggblue;
}
.percentage {
    letter-spacing: 0.07em;
    font-weight: bold;
    width:53px;
    display:inline-block;
    position:absolute;
    left:0%;
    font-size:22px;
    color: $robinseggblue;
    text-align: center;
}
//--

//-- HISTORY TAB
.history-tab {

    .red .tick text {
        fill: red !important;
        font-family: 'AvenirLTStd-Black', sans-serif;
        font-size:18px !important;
        letter-spacing: 0.1em;
    }

    .blue .tick text {
        fill: blue !important;
        font-family: 'AvenirLTStd-Black', sans-serif;
        font-size:18px !important;
        letter-spacing: 0.1em;
    }

    .temp .tick text {
        font-family: 'AvenirLTStd-Black', sans-serif;
        font-size:18px !important;
        letter-spacing: 0.1em;
    }

    .breakLabels {
        fill: rgb(90,90,90) !important;
        font-family: 'AvenirLTStd-Black', sans-serif;
        font-size:14px;
        letter-spacing: 0.1em;
    }

    .legendItem svg text:first-of-type {
        fill: rgb(90,90,90) !important;
    }

    .legendItem svg text {
        fill: rgb(0,130,117) !important;
        font-family: 'AvenirLTStd-Black', sans-serif;
        letter-spacing: 0.1em;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 11.547px solid transparent;
        border-bottom: 11.547px solid transparent;
        border-right: 20px solid rgb(62, 99, 149);
        position: absolute;
        top: 20px;
        left: 10px;
        cursor: pointer;
        cursor: hand;
        z-index: 1;
    }

    .arrow-right {
        width: 0;
        height: 0;
        border-top: 11.547px solid transparent;
        border-bottom: 11.547px solid transparent;
        border-left: 20px solid rgb(62, 99, 149);
        position: absolute;
        top: 20px;
        left: 960px;
        cursor: pointer;
        cursor: hand;
        z-index: 1;
    }

    #jump-today {
        color: white;
        background: rgb(62, 99, 149);
        width: 240px;
        margin-left: 8px;
        margin-top: 30px;
    }

    .line-interval {
        height: 50px;
        background: rgb(170, 209, 299);
    }

    #weekly-btn {
        height: 35px;
        margin-top: 2px;
        background: rgb(145, 212, 206);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        cursor: hand;
    }

    #monthly-btn {
        height: 35px;
        margin-top: 2px;
        background: rgb(146, 171, 180);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        cursor: hand;
    }

    .axis path {
        display: none;
    }

    .usage-bg-five {
        @extend %icon-usage-five-bg;
    }

    .legend-box {
        background: white;
        width: 170px;
        height: 124px;
        position: relative;
        top: 125px;
        left: 10px;
        float: left;
    }

    .legend-box-chem {
        background: white;
        width: 100px;
        height: 70px;
        position: relative;
        top: 125px;
        left: 10px;
        float: left;
    }

    .legend-axis {
        width: 80px;
        height: 100%;
        float: right;
    }

    .legend-axis-chem {
        width: 95px;
        height: 100%;
        float: right;
    }

    .axis line {
        fill: none;
        stroke: black;
    }

    .tick line {
        opacity: 0.2;
    }

    .line {
        fill: none;
        stroke: steelblue;
        //stroke-width: 3px;
    }

    .legend {
        width: 254px;
        height: 362px;
        background: #00c4b3;
        float: left;
    }

    .legend rect {
        fill: white;
        stroke: black;
        opacity: 0.8;
    }

    .line-chart {
        width: 988px;
        height: 362px;
        background: white;
        float: right;
    }

    .container {
        width: 1280px;
        margin-top: 8px;
    }

    .tab {
        float: right;
        width: 144px;
        height: 30px;
        color: white;
        text-align: center;
        padding-top: 6px;
        border-radius: 2px;
    }

    .history-tab {
        background-color: #448EC7;
    }

    .pool-tab-active {
        width: 250px;
        background-color: #00c4b3 !important;
        color: white !important;
        margin-right: 2px;
    }

    .pool-tab {
        width: 250px;
        background-color: white;
        color: black;
        margin-right: 2px;
    }

    .axis--y .tick text {
        fill: white;
        font-size: 14px;
    }

    .axis--x .tick text {
        font-size: 12px;
    }

    .nav-tabs {
        margin:0px 0px 10px 0px;
        letter-spacing: 1.7px;
        li {
            float: none;
            display: inline-block;
            text-align: center;
            background-color: $white;
            color: $bodycolor-alpha;
            height: 40px;
            vertical-align: middle;
            @extend .bold;
            margin: 0px 0px 4px 2px;
            width: 250px;
            line-height: 41px;
            text-transform: uppercase;
            border-radius: 2px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $darkgrey;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                background-color: $turquoise;

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}
//-- end HISTORY TAB

//-- PUMPS TAB
.pump-tab {
    .titlebox {
        min-height: 422px;
        background-color: #00c4b3;
        h2 {
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: 'AvenirLTStd-Black';
            letter-spacing: 0.3em;
            margin: 30px 0 30px 0;
        }
        padding-bottom: 10px;
        margin: 0px 0px 0px 0px;
    }
    .pump-circuit-wrapper {
        padding: 0px 0px 5px 5px;
        .active {
            border: 3px solid #00ab38;
            background-color:#a0fe92;
        }
        .up-next {
            background-color:#a0fe92;
        }
        .setmiddle {
            margin-left: auto;
            float: center;
            display: flex;
            align-items: center;
            padding-right: 20px;
            label {
                text-align: center;
                width: 160px;
                padding: 0;
                font-size: 1.9em;
            }
            input {
                text-align: center;
                width: 160px;
                padding: 0;
                font-size: 1.9em;
                letter-spacing:0.07em;
            }
        }
        .setright {
            margin-left: auto;
            float: center;
            display: flex;
            align-items: right;
            padding-right: 20px;
            label {
                text-align: right;
                width: 160px;
                padding: 0;
                font-size: 1.9em;
            }
            input {
                text-align: right;
                width: 160px;
                padding: 0;
                font-size: 1.9em;
                letter-spacing:0.07em;
            }
        }
        .inactive {
            background-color: white;
        }
        .pump-circuit {
            position: relative;
            height:53px;
            display:flex;
            align-items:center;
            .icon-config {
                @extend %icon-config-black;
                background-size: contain;
                padding: 0 0 0 40px;
                margin-left: 10px;
            }
            .icon-circuit {
                @extend %icon-circuit-black;
                background-size: contain;
                padding: 0 0 0 40px;
                margin-left: 10px;
            }
            .pump-circuit-title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.8em;
                letter-spacing: 0.08em;
            }
            .paddles {
                margin-left: auto;
                float: right;
                display: flex;
                align-items: center;
                padding-right: 20px;
                label {
                    text-align: center;
                    width: 160px;
                    padding: 0;
                    font-size: 1.9em;
                }
                input {
                    text-align: center;
                    width: 160px;
                    padding: 0;
                    font-size: 1.9em;
                    letter-spacing:0.07em;
                }
            }
            .speed-label {
                text-align: center;
                width: 160px;
                padding: 0;
                font-size: 1.9em;
                margin-left: auto;
                margin-right: 42px;
            }
            .timer {
                padding-left: 10px;
                font-size: 1.2em;
                letter-spacing: .1em;
            }
        }
    }
    .nav-tabs {
        margin:0px 0px 10px 0px;
        letter-spacing: 1.7px;
        li {
            float: none;
            display: inline-block;
            text-align: center;
            background-color: $white;
            color: $bodycolor-alpha;
            height: 40px;
            vertical-align: middle;
            @extend .bold;
            margin: 0px 0px 4px 2px;
            width: 250px;
            line-height: 41px;
            text-transform: uppercase;
            border-radius: 2px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $darkgrey;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                background-color: $turquoise;

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}
//-- end PUMPS TAB

.sub-tabs {
    .nav-tabs {
        margin: 0 0 10px 0;
        li {
            float: none;
            display: inline-block;
            text-align: center;
            background-color: $white;
            color: $bodycolor-alpha;
            height: 40px;
            vertical-align: middle;
            @extend .bold;
            margin-right: 2px;
            width: 120px;
            line-height: 41px;
            text-transform: uppercase;
            border-radius: 2px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $darkgrey;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                background-color: $turquoise;

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}

.pool-side {

}

.category {
    position: relative;
    margin: 30px 0 0 0;

    .description {
        background-color: $white;
        height: 140px;
    }

    .lights {
        @extend %icon-lights;
        background-position: center 60%;
        background-size: 100%;
    }

    .features {
        @extend %icon-features;
        background-position: center 60%;
        background-size: 100%;
    }

    .light-groups {
        @extend %icon-light-groups;
        background-size: 55%;
        background-position: center 65%;
    }

    .pool {
        @extend %icon-pool;
        background-position: center 60%;
        background-size: 100px;
    }

    .spa {
        @extend %icon-spa;
        background-position: center 60%;
        background-size: 100px;
    }

    .title {
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: 'AvenirLTStd-Black';
        text-transform: uppercase;
        font-size: 12px;
    }

    &.shared {
        margin: 0;
    }
}


.action-ctn {
    background-color: $white;
    text-align: center;
    padding: 10px;
    border-top: 2px solid $bodycolor-beta;
    font-size: 16px;

    .btn {
        margin: 0;
    }

    label {
        padding: 0;
    }
}

.alertsCount {
	position: absolute;
	left: 230px;
	top: 20px;
	@extend %icon-bell;
	width: 40px;
	height: 40px;
	background-size: 60%;
	.count {
		background-color: #f00;
		width: 18px;
		height: 18px;
		border-radius: 9px;
		position: absolute;
		right: 9px;
		top: -3px;
		color: $white;
		font-size: 11px;
		text-align: center;
		line-height: 19px;
	}
    .countZero {
		background-color: black;
		width: 18px;
		height: 18px;
		border-radius: 9px;
		position: absolute;
		right: 9px;
		top: -3px;
		color: $white;
		font-size: 11px;
		text-align: center;
		line-height: 19px;
	}
}
.alertsList {
	position: absolute;
	left: 230px;
	top: 50px;
	z-index: 9999;
	width: 550px;
	background-color: #f5f5f5;
	box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);
	.filterbar {
		> label {
			padding: 17px;
		}
		.filter {
			margin: 0;
		}
	}
	.header {
		background-color: #1A4D8E;
		color: $white;
		border-radius: 3px 3px 0 0;
		padding:13px 17px;
		text-transform: uppercase;
	}
	.alert {
		color: $white;
		border-radius: 0;
		margin: 1px 2px;
		padding: 10px 15px;
		overflow: hidden;
		.title {
			@extend .bold;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		.subtitle {
			margin-bottom: 0;
		}
		.age {
            min-height: 38px;
			float: left;
			width: 28%;
			@extend %icon-alert;
			background-size: 20%;
			background-position: left center;
			padding-left: 45px;
		}
		.content {
			float: left;
			width: 72%;
		}
	}

}
.alerts {
	position: relative;
	width: 100%;
}

.alerts.notifications {
	.alert {
		text-align: center;
		color: $white;
		position: absolute;
		width: 100%;
		border-radius: 0;
        border: 1px solid #555;
		.title {
			text-transform: uppercase;
			@extend .bold;
			margin-right: 20px;
		}
		.closeAll {
			background-color:transparent;
			padding: 0 20px 0 20px;
			float:right;
			border: none;
			text-transform:uppercase;
			position: absolute;
			right: 35px;
			top: 8px;
			font-size: 10px;
			text-decoration: underline;
		}
		.close {
			color: $white;
			opacity: 1;
			top: 5px;
			position: absolute;
			right: 9px;
			font-weight: lighter;
			font-size: 18px;

		}
	}

    .alert:last-of-type {
        box-shadow: 0 4px 2px -2px #999;
    }

}

.alert-0 {
    background-color: #ff3519;
}

.alert-1 {
    background-color: #ff725e;
}

.alert-2 {
    background-color: #0065ee;
}

.alert-3 {
    background-color: #33c81f;
}

.alert-4 {
    background-color: #696969;
}

.alertList {
	position: absolute;
	top: 80px;
}
.no-spinner {
    display: table-cell;
    vertical-align: middle;
    border: none;
    padding-left: 15px !important;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    display: inline-block;
    cursor: default;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    align-self: stretch;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    -webkit-user-modify: read-only;
    width: 0;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circle {
    height: 20px;
    width: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.panel {
    &.panel-open {
        .chevron {
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
}

.page-header {
    &.title {
        background-color: $white;
        color: $darkgrey;
    }
}

.white-ddl {
    padding: 0;

    .btn-group {
        width: 100%;

        .chevron {
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            -webkit-transform: rotate(0);
            transform: rotate(0);
            color: $orange;
        }

        &.open {
            .chevron {
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }

    .drodown-btn {
        border-radius: 0;
        width: 100%;
        background-color: white;
        color: $bodycolor-alpha;
        font-family: 'AvenirLTStd-Light';
        height: 30px;
        margin: 0;
        text-align: left;
        text-transform: capitalize;
        padding: 0 15px;
    }
}

.paddle-container {
    height: 44px;
    position: relative;

    .paddles {
        display: inline-block;

        > span {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .paddle-label {
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
    }
}

.hamburger {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.hamburger-menu {
    min-width: 210px;
    padding-left: 5px;
}
/*Modal support should move stop main*/
.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background-color: $grey;
    opacity: 0.2;
}

.modal-dialog {
    display: block;
}

.index-modal {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background: rgba(216,216,216,0.4);

}

.index-modal-dialog {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
    &.pos-top {
        top: 10%;
        transform: translate(-50%, 0%);
    }
}

.modal-content-sm {
    z-index: 1800;
    background-color: $white;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    border-radius: 5px;
    margin-left: -200px;
    text-align: center;
    padding-bottom:10px;
}
.modal-content-med {
    z-index: 1800;
    background-color: $white;
    position: fixed;
    top: 240px;
    left: 370px;
    width: 500px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:10px;
}

.modal-content-lg {
    z-index: 1800;
    background-color: $white;
    border-radius: 5px;
    padding: 0 10px 20px 10px;
    width: 540px;
}

.modal-h3 {
    margin: 60px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    font-weight: bolder;
    color: black;
}

.validation-summary-errors {
    padding: 0 0 0 10px;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
}

.navbar-center {
    color:#64a70b;
    display:inline-block;
    font-size:18px;
    position:absolute;
    text-align:center;
    width:50%;
    margin-left:25%;
    left:0;
	top: -4px;
    line-height: 4;
}

@media (max-width: 1012px) {
    .navbar-center {
        display: none;
    }
}

.installationDateTime {
	color: #000;
	margin-left: 20px;
}

.remote-cta-bar {
    background-color:#d8d8d8;
    padding: 0 10px 10px 10px;
}
.remote-spacer {
    background-color: #C9E2E5;
    padding: 3px 10px;
}


.accountMenuPanel {
	position: absolute;
	z-index: 90210;
	background-color: $white;
	top: 66px;
	width: 260px;
	overflow: hidden;
	padding: 10px 20px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
        .subheader {
            overflow: hidden;
            margin-bottom: 10px;
        }
        a {
            list-style: none;
            color: $green;
            text-decoration: underline;
        }
        .logout {
            float: right;
        }
        .profile-link {
            display: inline-block;
            width: 100%;
            line-height:24px;
            cursor: pointer;
        }
}

.index-modal {
    .form-login .row:first-child {
        margin: auto;
    }
    &.dark {
        background: rgba(0, 0, 0, 0.7);
    }
    .modal-content-lg {
        overflow: hidden;
    }
    .profileSettings {
        overflow: hidden;
            .modal-h3 {
                margin: 10px 0 0;
                text-align: left;
                font-size: 18px;
                color: $darkgrey;
                @extend .bold;
            }
    }
    label {
        color: $darkgrey;
        width: 100%;
        padding: 10px;
        font-size: 16px;

    }
    input {
        font-size: 19px;
        width: 100%;
        line-height: 35px;
        border: 1px solid $mercury;
        background-color: $lightgrey;
        padding-left: 10px;
    }
    input[disabled] {
        border: none;
        color: #aaa;
        padding-left: 20px;
        background-color: transparent;
    }
    .note {
        color: $blue;
        margin-bottom: 0;
    }
    hrlabel {
        padding-top: 0;
    }
    .label-error {
        color: $red;
        padding-top: 0;
    }
    .icon-eye {
        @extend %icon-eye;
        font-size: 24px;
        width: 28px;
        height: 34px;
        display: inline-block;
        background-position: center;

    }
}

.col-md-empty {
    height: 63px;
}


label.size-lg.sensor {
    padding: 20px 0;
}
//TODO: Make all modals uniform, the following opacity overides are due to the .modal definition above.

#InviteEula {
//    opacity: initial;
//    background-color: transparent;
    .modal-body {
        height: 500px;
        overflow-y: auto;
    }
}

#InviteExistingAcctModal {
    //opacity: initial;
    //background-color: transparent;
}

.usages {
    .chart {
        @extend %icon-usage-five-bg;
        border: 2px solid rgb(192,211,209);
        float: right;


    }
    .usage {
        width: 254px;
        background: #00c4b3;
        float: left;
        padding-top: 4px;
        .legendItem:nth-child(odd) > svg {
            fill: #fff;
            margin: 0 0 -3px 3px;
            background-color: #fff;
            width: 248px;
            height: 36px;
        }
        .legendItem:nth-child(even) > svg {
            fill: rgb(192,211,209);
            margin: 0 0 -3px 3px;
            background-color: rgb(192,211,209);;
            width: 248px;
            height: 36px;
        }
    }
    .pool {
        fill: #005B7F;
    }

    .spa {
        fill: #26AD26;
    }

    .solar {
        fill: #F26522;
    }

    .heater {
        fill: #9E0B0F;
    }

    .lights {
        fill: #FFDE00;
    }
    .x.axis {
        display: none;
    }
    .y.axis {
        display: none;
    }
    .ph {
        fill: #00C0FF;
    }
    .orp {
        fill: #FF0000;
    }

}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
