/* @override https://pentairdev-01.cloudapp.net/client/content/css/pentair.css */

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    color: #fff;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    background: #4D4D4D;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 18px;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -100;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

button:focus, input:focus {
    outline: none;
    border-color: #4AD431;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

menu {
    padding: 0;
    margin-bottom: 8px;
}

    /* clearfix */

    menu:after {
        display: block;
        content: '';
        clear: both;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
}

h1 {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 34px;
    line-height: 42px;
}

h3 {
    font-size: 22px;
    margin-bottom: 8px;
}

h4 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    color: #AAA8A8;
    line-height: 22px;
}

.row.top {
    margin-top: 42px;
}

div.divided:before {
    display: block;
    content: '';
    border-top: 1px solid #979797;
    margin-left: 5em;
    margin-top: 32px;
    padding-top: 24px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* @group Header
 */

.header div.right {
    text-align: right;
    margin-top: 32px;
}

img.logo {
    margin-top: 30px;
}

.header {
    background: #1A1A1A;
    height: 92px;
}

label.installation {
    background: #c3c3c3;
    padding: 1px 4px 0 4px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #222;
    border-radius: 4px;
    letter-spacing: 1px;
    /*position: absolute;
    top: 16px;
    right: 16px;*/
}

.header label + label, .header label + a, .header label + div {
    margin-left: 8px;
}

.header label + a {
    padding-left: 8px;
    border-left: 1px solid #c3c3c3;
}

.header .wrap-dd-select.nav {
    display: inline-block;
    background-color: #383838;
    background-image: url('../img/drop-triangle-white.svg');
    margin-left: 8px;
}



/* @end */

/* @group Controls */

a {
    color: #4AD431;
    text-decoration: none;
}

    button, .wrap-dd-select, ul.dropdown, div.switch-animate:before, a.item-status:before, input[type=text], input[type=password] {
        background: none;
        border: 1px solid #4AD431;
        border-radius: 5px;
        color: #fff;
        margin: 0 1px 8px 0;
    }

button {
    padding: 2px 6px 3px 6px;
}

    button:active {
        background: #4AD431;
        color: #fff;
    }

    button.nav, .wrap-dd-select.nav {
        background-color: #636363;
        border: none;
        color: #fff;
        height: 33px;
        padding: 6px 10px;
        -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.10);
        box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.10);
        text-align: left;
    }

    button.nav {
        width: 100%;
    }

.wrap-dd-select.nav {
    padding-right: 32px;
    /*background-image:;*/
}

button.nav.icon {
    padding-left: 36px;
    background-position: 9px center;
    background-repeat: no-repeat;
}

button.users {
    background-image: url('../img/icon-user.png');
}

button.schedule {
    background-image: url('../img/icon-schedule.png');
}

button.usage {
    background-image: url('../img/icon-usage.png');
}

button.chemistry {
    background-image: url('../img/icon-chemistry.png');
}

button.status {
    background-image: url('../img/icon-status.png');
}

button.nav:active {
    background-color: #888;
}

button.nav.back {
    display: inline-block;
    width: 32px;
    padding: 12px;
    font-size: 28px;
    line-height: 0px;
}

/*.customSelect:after {
    display: block;
    position: absolute;
    content: '';
    width: 12px;
    height: 6px;
    right: 8px;
    top: 10px;
    background: url('../img/drop-triangle.png') no-repeat right center;
}*/

input[type=checkbox], div.switch-animate, a.item-status {
    position: relative;
    width: 58px;
    height: 22px;
    top: 1px;
}

    div.switch-animate:before {
        color: #a3a3a3;
        display: block;
        content: 'OFF';
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        position: absolute;
        top: -1px;
        /*left: 0;*/
        /*right: 0px;*/
        margin-right: 44px;
        width: 60px;
        height: 24px;
        background: #4d4d4d;
        padding-left: 28px;
        padding-top: 3px;
        cursor: default;
    }

    div.switch-animate.switch-on:before {
        position: absolute;
        padding-left: 7px;
        content: 'ON';
        color: #4AD431;
    }


    a.item-status:before {
        color: #4AD431;
        display: block;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        position: absolute;
        top: -1px;
        margin-right: 44px;
        width: 60px;
        height: 24px;
        background: #4d4d4d;
        padding-left: 28px;
        padding-top: 3px;
        cursor: default;
    }

.all-button {
    padding: 0 1em;
}

.all-button-container {
    float: right;
    overflow: auto;
    padding-right: 68px;
    margin-bottom: 1em;
}

.light-button {
    padding: 0 0.5em;
}

.SyncSwim {
    max-width: 180px;
}

div.switch-animate.switch-on.sending:before {
    content: '';
    background: url('../img/spinner-dots.svg') no-repeat 5px center;
}

div.switch-animate:after {
    display: block;
    content: '';
    width: 21px;
    height: 18px;
    border-radius: 3px;
    background: #a3a3a3;
    position: absolute;
    top: 2px;
    left: 3px;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
    -ms-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
}

div.switch-animate.switch-on:after {
    position: absolute;
    left: 36px;
    background: #4AD431;
}

div.switch-animate.delay:after {
    display: none;
}

div.switch-animate.delay:before {
    content: attr(data-timeleft);
    padding-left: inherit;
    text-align: center;
    color: #4AD431;
}

a.item-status:before, div.switch-animate.delay:before {
    border-color: #a3a3a3;
}

a.item-status.on:before {
    padding-left: 0;
    text-align: center;
}

a.item-status.off:before {
    padding-left: 0;
    text-align: center;
}

/* @group Animation */

@-webkit-keyframes pulse {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes pulse {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes pulse {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


.pulse {
    -webkit-animation: pulse 1.5s infinite;
    -moz-animation: pulse 1.5s infinite;
    -ms-animation: pulse 1.5s infinite;
    -o-animation: pulse 1.5s infinite;
    animation: pulse 1.5s infinite;
}


/* @end */

/* @group Text field */

input[type=text], input[type=password], input[type=email] {
    background: #444;
    padding: 4px 6px;
    border-color: #ddd;
    width: 18em;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.4);
    margin-right: .5em;
}

.grid input[type=number], select {
    background: #444;
    border-color: #ddd;
    /*box-shadow: inset 0 3px 5px rgba(0,0,0,0.4);*/
    margin-right: .5em;
}

table input[type=text] {
    width: 56px;
}


/* @end */

/* @group Dropdown */

.wrap-dd-select {
    padding: 1px 1px 1px 6px;
    height: 26px;
    color: #fff;
    background: url('../img/drop-triangle.png') no-repeat right 8px center;
}

ul.dropdown {
    list-style: none;
    padding: 2px 0;
    background: #4D4D4D;
    z-index: 1;
}

.dropdown a {
    color: #fff;
    padding: 1px 8px;
}

    .dropdown a:hover {
        background: #4AD431;
    }

.propertySelection a.dropdown-item:before {
    display: inline;
    color: #4AD431;
    font-size: 30px;
    line-height: 0;
    position: relative;
    top: 3px;
    left: -2px;
    content: '';
    visibility: hidden;
}

a.dropdown-item.connected:before {
    visibility: visible;
}

a.dropdown-item.connected:hover:before {
    color: #fff;
}

a.dropdown-item.notConnected {
    color: #9a9a9a;
}

    a.dropdown-item.notConnected:hover {
        background: inherit;
    }

/* @end */

/* @end */

/* @group Table */

table {
    /*width: 100%;*/
}

tr {
    vertical-align: baseline;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-color: #686868;
}

th {
    background-color: #686868;
    text-align: left;
}

th, td {
    padding: 5px 5px 8px 5px;
}

table .setpoint-controls {
    margin-left: 8px;
    margin-top: 4px;
}

table .switch-animate {
    float: right;
}

table input[type=text] {
}



/* @end */

/* @group Panels */

/* @group Alert */

.alert {
    position: relative;
}

    .alert p {
        padding: 16px;
        border-left: 4px solid #E56622;
        border-radius: 4px;
    }

        .alert p:first-child {
            margin-top: 0;
        }

    /*.alert p:last-child {
    margin-bottom: 0;
}*/



    /* @end */

    .panel, .alert p {
        position: relative;
        /*background: rgba(0,0,0,0.24);*/
    }

        .panel.arrow {
            margin-top: 24px;
        }

            .panel.arrow:before {
                display: block;
                position: absolute;
                content: '';
                width: 36px;
                height: 18px;
                top: -18px;
                left: 54px;
                background: url('../img/panel-arrow.svg');
            }

        /*.panel h3 {
    float: left;
}*/

        .panel button {
            display: block;
            position: relative;
            width: 100%;
            text-align: left;
        }

button.closer {
    position: absolute;
    right: 8px;
    top: 16px;
    border: none;
    height: 19px;
    width: 19px;
    background: url('../img/closer.svg') no-repeat center center;
}

    button.closer:active {
        background-color: #555;
    }

/* @end */

/* @group Temperature */

.setpoint {
    float: left;
    position: relative;
}

.setpoint-controls {
    float: right;
    margin-bottom: 8px;
}

    .setpoint-controls button {
        width: 29px;
        height: 26px;
        font-size: 20px;
        line-height: 20px;
        margin-right: 3px;
        color: #4AD431;
    }

        .setpoint-controls button:active {
            color: #000;
        }

        .setpoint-controls button:last-of-type {
            margin-right: 0;
        }

.duration {
    position: relative;
}

.duration-controls {
    float: right;
    margin-bottom: 8px;
}

    .duration-controls button {
        width: 29px;
        height: 26px;
        font-size: 20px;
        line-height: 20px;
        margin-right: 3px;
        color: #4AD431;
    }

        .duration-controls button:active {
            color: #000;
        }

        .duration-controls button:last-of-type {
            margin-right: 0;
        }

.topline .customSelect {
    min-width: 134px;
    margin-bottom: 8px;
}

span.heater-temp {
    background: #43B32F;
    display: inline-block;
    height: 26px;
    font-size: 22px;
    border-radius: 5px;
    line-height: 20px;
    padding-top: 3px;
    text-align: right;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 6px;
}

.heater-temp + input[type=text] {
    display: block;
    position: absolute;
    width: 50px;
    top: -5px;
    left: 22px;
    font-size: 22px;
}

span.heater-temp:before {
    position: relative;
    top: 2px;
    margin-top: -2px;
    display: inline-block;
    content: '';
    width: 16px;
    height: 20px;
    
    background: url('../img/animatedHeaterFlame.gif') no-repeat center center;
    margin-right: 4px;
}

//background: url('../img/set-point-flame.png') no-repeat center center;

.bodyFlameIcon {
    position: relative;
    top: 2px;
    margin-top: -2px;
    display: inline-block;
    content: '';
    width: 16px;
    height: 20px;
    background: url('../img/animatedHeaterFlame.png') no-repeat center center;
    margin-right: 4px;
    color:yellow;
    background-color:blue;
}

//background: url('../img/set-point-flame.png') no-repeat center center;
span.duration {
    background: #43B32F;
    display: inline-block;
    height: 26px;
    font-size: 22px;
    border-radius: 5px;
    line-height: 20px;
    padding-top: 3px;
    text-align: right;
    padding-right: 8px;
    padding-left: 8px;
}

.duration + input[type=text] {
    display: block;
    position: absolute;
    width: 30px;
    top: -5px;
    font-size: 22px;
}

h2.big-temp {
    font-weight: 100;
    line-height: 95px;
    margin: 0;
    /*font-family: SourceSansPro-ExtraLight;*/
    font-size: 85px;
}

span.air-temp {
    font-size: 2em;
    float: right;
    margin: -0.1em 0.4em 0 0;
}

h2 sup.unit, h2 span.unit {
    font-size: 0.45em;
    line-height: 54px;
    font-weight: 300;
    vertical-align: super;
}

span.air-temp .unit, td .unit {
    font-size: 0.7em;
    vertical-align: text-top;
}

div.topline {
    position: relative;
    /*width: 134px;*/
}

/*.topline input[type=checkbox] {
    position: absolute;
    top: 3px;
    right: 0;
}*/

.topline h3 {
    float: left;
    margin: 0;
}

.topline h2 {
    clear: both;
}

.topline input[type=checkbox], .topline div.switch-animate {
    top: 3px;
    float: right;
}

.topline .wrap-dd-select {
    width: 100%;
}


/* @end */

/* @group Weather */

div.weather {
    /*padding: 0 24px;*/
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
}
/* @end */

/* @group Settings */

.settings menu label {
    display: block;
    float: left;
    clear: both;
    font-size: 18px;
    margin-bottom: 6px;
}

.settings input[type=checkbox], .settings div.switch-animate, a.item-status {
    float: right;
    margin-right: 25%;
}

/* hardcode */

.settings button {
    width: auto;
}
/* @end */

/* @group Lights
 */

div.intellibrite {
    padding-right: 3.5%;
    border-right: 1px solid #979797;
}

a.button-link {
    color: #4AD431;
    text-decoration: none;
    cursor: pointer;
}

button.sending:after {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 6px;
    top: 1px;
    background: url('../img/spinner-dots.svg');
}

.intellibrite menu {
    margin-top: 0;
}

menu + h4 {
    margin-top: 18px;
}

/*.intellibrite button {
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

button.party {
    background-image: url('../img/icon-party.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.romance {
    background-image: url('../img/icon-romance.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.caribbean {
    background-image: url('../img/icon-caribbean.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.sunset {
    background-image: url('../img/icon-sunset.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.american {
    background-image: url('../img/icon-american.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.royal {
    background-image: url('../img/icon-royal.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.blue {
    background-image: url('../img/icon-blue.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.green {
    background-image: url('../img/icon-green.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.red {
    background-image: url('../img/icon-red.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.white {
    background-image: url('../img/icon-white.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.magenta {
    background-image: url('../img/icon-magenta.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 52px 16px;
}

button.color:active {
    border-color: #fff;
}
/* @end */

.helpbtn {
    background-image: url('../img/help-24.png');
    height: 24px;
    width: 24px;
}

.flameImageOne {
    background-image: url('../img/set-point-flame.png');
    background-color: blue;
    color:green;
    height: 24px;
    width: 24px;
}

.helpPanel {
    background-color: rgba(50, 50, 50, 0.95);
    padding: .5em;
    width: 200px;
    /*position: absolute;*/
    z-index: 10;
}

.delayPanel {
    background-color: rgba(50, 50, 50, 0.95);
    padding: .5em;
    width: 200px;
    position: absolute;
    z-index: 10;
}

.deletePanel {
    background-color: rgba(50, 50, 50, 0.95);
    padding: .9em;
    width: 180px;
    position: absolute;
    z-index: 10;
}

.notifyPanel {
    background-color: rgba(50, 50, 50, 0.95);
    padding: .9em;
    width: 240px;
    position: absolute;
    z-index: 10;
}

.enabled {
    color: #4AD431;
}

.disabled {
    color: #a3a3a3;
}

.warningIcon {
    height: 24px;
    width: 24px;
    border: 0;
}

.bouncedIcon {
    height: 16px;
    width: 16px;
    border: 0;
}

.validIcon {
    height: 24px;
    width: 24px;
    border: 0;
}

.successNotification {
    background-color: rgba(50, 50, 50, 0.95);
    width: 25em;
    padding: .5em;
    clear: both;
    border-left: #4AD431 3px solid;
    clear: both;
}


.errorNotification {
    background-color: rgba(50, 50, 50, 0.95);
    width: 25em;
    padding: .5em;
    border-left: #e56622 3px solid;
    clear: both;
}

.warningNotification {
    background-color: rgba(50, 50, 50, 0.95);
    width: 25em;
    padding: .5em;
    border-left: yellow 3px solid;
    clear: both;
}

.accountMenuPanel {
    background-color: rgba(50, 50, 50, 0.95);
    padding: .5em 1em;
    z-index: 10;
    position: absolute;
}

/*MODAL*/

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 15px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: block;
    overflow: auto;
}

    .modal.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -moz-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.modal-dialog {
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.modal-dialog-sm {
    z-index: 1050;
    width: 250px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.modal-dialog-med {
    z-index: 1050;
    width: 350px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.modal-content {
    position: relative;
    background-color: rgba(50, 50, 50, 0.98);
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


.modal-content-sm {
    position: fixed;
    background-color: rgba(50, 50, 50, 0.98);
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 250px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.modal-content-med {
    position: fixed;
    background-color: rgba(50, 50, 50, 0.98);
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 350px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .modal-backdrop.in {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header-sm {
    min-height: 16.428571429px;
    padding: 15px;
    border: 0;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-body-sm {
    position: relative;
    padding: 1em;
}

.modal-footer {
    padding: 19px 20px 20px;
    /*margin-top: 15px;*/
    text-align: right;
    /*border-top: 1px solid #e5e5e5;*/
    clear: both;
}



    .modal-footer:before,
    .modal-footer:after {
        display: table;
        content: " ";
    }

    .modal-footer:after {
        clear: both;
    }

    .modal-footer:before,
    .modal-footer:after {
        display: table;
        content: " ";
    }

    .modal-footer:after {
        clear: both;
    }

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

@media screen and (min-width: 768px) {
    .modal-dialog {
        right: auto;
        left: 50%;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .modal-dialog-sm {
        right: auto;
        left: 50%;
        width: 300px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

.user-header {
    background-color: rgba(110, 110, 110, 0.95);
}

/*timePicker*/
.dn-timepicker-popup {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #4AD431;
    border-radius: 5px;
    margin: 0 1px 8px 0;
    list-style: none;
    padding: .5em;
    background: #4D4D4D;
}

    .dn-timepicker-popup a {
        color: #fff;
        cursor: pointer;
    }

.timepicker {
    max-width: 100%;
}

.ExpandingTab {
    
}

.configPage {
    font-size: smaller;
    margin-left: 1em;
    -moz-min-width: 1160px;
    -ms-min-width: 1160px;
    -o-min-width: 1160px;
    -webkit-min-width: 1160px;
    min-width: 1160px;
}

.configPanelMaster {
    background: #444444;
    float: left;
    width: 300px;
    min-height: 400px;
}

.configPanel {
    background: #444444;
    margin-right: 1em;
    float: left;
    width: 320px;
    min-height: 400px;
}

/*Configuration table*/
.configTable {
    background: #444444;
    margin-top: 1em;
}

    .configTable tr {
        border: 0;
    }

    .configTable th,
    .configTable td {
        background: #444444;
        padding: 1px 2px 1px 2px;
        -moz-min-width: 95px;
        -ms-min-width: 95px;
        -o-min-width: 95px;
        -webkit-min-width: 95px;
        min-width: 95px;
    }

.configDetail td {
    padding: 1px 0px 0px 0px;
}

.informationEdit {
    font-size: smaller;
    color: #000000;
    padding: 0px;
}

.formEdit {
    margin: 2px;
}

.searchIcon {
    width: 16px;
    height: 16px;
    background: url('../img/find-icon.png') no-repeat center center;
    float: right;
}

.visibilityHidden {
    visibility: hidden;
}


.InfiniteScrollTable tr {
    border-left: 0;
    border-right: 0;
}


.InfiniteScrollTable {
    border: 0;
    width: 100%;
}


.spinnerContainer {
    position: fixed;
}

.spinner {
    background-image: url('../img/spinner.gif');
    height: 28px;
    width: 28px;
    position: relative;
    margin: 5px auto;
}

.manageUsersPanel {
    background: #444444;
    margin-right: 1em;
    float: left;
    width: 400px;
    min-height: 400px;
}


.FilterPanel {
    background: #444444;
    margin-right: 1em;
    width: 200px;
    float: right;
    padding: 5px;
}


.manageUsersPanelHeader {
    background: gray;
    width: 400px;
    margin-bottom: 2em;
    height: 2em;
    padding: 0 10px;
}

    .manageUsersPanelHeader span {
        font-weight: 400;
        font-size: 22px;
    }

.selectedFilter {
    color: white;
    font-weight: bold;
}

.PropertyOnlineIconHolder {
    background-image: url('../img/greenDot.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}
 
.PropertyOfflineIconHolder {
    background-image: url('../img/grayDot.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: left center;
}

.AllPropertyIconHolder {
    padding-left: 20px;
}

.ConfigPanelMaster {
    float: left;
    clear: both;
}

.circuitDetails {
    color: #000;
    background-color: #979797;
}

.circuitDetails table tr {
    border-bottom-color: #c0c0c0;
    border-bottom-width: thin;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;    
}

.circuitDetails table th {
    background-color: inherit;
    font-size: smaller;
    font-style: italic;
}

.tab {
}

.tab.nav.icon {
    padding-left: 28px;
    padding-top: 1px;
    background-position: 1px top;
    background-repeat: no-repeat;
}

.tab.static.icon {
    padding-left: 28px;
    padding-top: 1px;
    background-position: 1px top;
    background-repeat: no-repeat;
}

.tab.circuit.icon {
    padding-left: 28px;
    padding-top: 1px;
    background-position: 1px top;
    background-repeat: no-repeat;
    color: #cfcfcf;
    text-decoration: none;
    cursor: pointer;
}

.tab.circuit {
    border-color: #686868;
    border-style: solid;
    border-width: thin;
}

.tab.circuit.selected {
    background-color: #686868;
}

.tab.pool {
    background-image: url('../img/configPool.png');
}

.tab.spa {
    background-image: url('../img/configSpa.png');
}

.tab.light {
    background-image: url('../img/configLight.png');
}

.tab.generic {
    background-image: url('../img/configCircuit.png');
}

.tab.main {
    background-image: url('../img/configMain.png');
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}

.tab.module {
    background-image: url('../img/configModule.png');
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}

.tab.open {
    background-image: url('../img/configDownArrow.png');
    color: #4AD431;
    text-decoration: none;
    cursor: pointer;
}

.tab.closed {
    background-image: url('../img/configRightArrow.png');
    color: #cfcfcf;
    text-decoration: none;
    cursor: pointer;
}

.smIcon {
    background-size: 10px;
}

.dropbox_list_white{    
    background-color: white;
    color: #626262;
    font-family: 'AvenirLTStd-Light';
    height: 30px;
}

.dropbox_list_gray{
    background-color:lightgray;
    color:gray;
    font-family: 'AvenirLTStd-Light';
    height: 30px;
}
