﻿
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.connected {
    color: green;
    font-weight: bold !important;
 }
.notConnected {
    color: red;
 }

.loginSubmitBtn {
    width:100px
}

.connectButton {
    float: right;
}

.form-login {
    width: 50%
}
.propertySelection {
   width: 200px;
}
.clear-fix {
    clear: both;
}
.navbar {
    text-align: right;
    width: 100%
}
.form-edit {
}