﻿@import "../_variables.scss";
@import "../_icons.scss";
#configurationsPage {
  .select-recipient {
    position: absolute;
    right: 0;
  }

  .select-all {
    position: absolute;
    top: 0;
    right: 40px;
  }

  .message-types {
    border-top: 7px solid $grey;
    .drodown-btn {
      height: 62px;
    }
  }

  .icon-security {
    @extend %icon-security;
    background-size: contain;
    padding-left: 40px;
  }

  .icon-config {
    @extend %icon-config;
    background-size: contain;
    padding-left: 40px;
  }

  .icon-circuit {
    @extend %icon-circuit;
    background-size: contain;
    padding-left: 40px;
  }

  .icon-nofrost {
    @extend %icon-nofrost;
    background-size: contain;
    padding-left: 40px;
  }

  .icon-nofrost-grey {
    @extend %icon-nofrost-grey;
    background-size: contain;
  }

  .icon-circuit-group {
    @extend %icon-circuit-group;
    background-size: contain;
    padding-left: 45px;
  }

  .icon-config-pool {
    @extend %icon-config-pool;
    background-size: contain;
    padding-left: 45px;
  }

  .icon-config-spa {
    @extend %icon-config-spa;
    background-size: contain;
    padding-left: 45px;
  }

  .icon-chem-white {
    @extend %icon-chem-white;
    background-size: contain;
    padding-left: 40px;
  }

  .icon-flame-white {
    @extend %icon-flame-white;
    background-size: contain;
    padding-left: 40px;
  }

  .icon-pump {
    @extend %icon-pump;
    background-size: contain;
    padding-left: 40px;
  }

  .icon-config-valve {
    @extend %icon-config-valve;
    background-size: contain;
    padding-left: 40px;
  }

  .icon-config-heater-group {
    @extend %icon-config-heater-group;
    background-size: contain;
    padding-left: 40px;
  }

  .icon-config-remote {
    @extend %icon-config-remote;
    background-size: contain;
    padding-left: 40px;
  }

  .level-num {
    background-color: $lightgrey;
    width: 80px;
    text-align: center;
    margin: 0 5px 5px 5px;
    font-size: large;
    padding: 0;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
  }

  //-----CIRCUTS TAB -------
  .circuits-tab {

    .parent-accordion {
      .panel-group {
        margin: 10px;
      }
    }

    .parent-accordion .panel-group .panel:not(:last-child) {
      border-bottom: 10px solid $grey;
    }

    .child-accordion .panel-group .panel:not(:last-child) {
      border-bottom: 1px solid $mercury;
    }
    .parent-accordion .panel-body {
      background: $mercury;
    }

    .child-accordion .panel-body {
      background: $white;
    }
  }

  .col-md-1point5 {
    width: 13%;
  }
  .col-md-2point5 {
    width: 20.3333334%;
  }

  .draggable {
    cursor: pointer;
    width: 13px;
    height: 47px;
    background: #ddd;
    float: left;
    margin: 5px 0 0 0;
  }

  .draggable-square {
    width: 5px;
    height: 5px;
    background: #555555;
    margin: 8px 0 0 4px;
  }

  .ui-sortable-helper {
    cursor: move;
  }
}
