﻿@import "../_variables.scss";
@import "../_icons.scss";
//@import url("//hello.myfonts.net/count/2ebcd9");
//@import url("//hello.myfonts.net/count/2ec25e");

#dashboardPage {

    //--------- POOLS ---------
    .toggle-switch {
        width: 150px;
    }

   .toggle-switch-normal {
        width: 120px;
    }
}
    //--------- LIGHTS ---------
    .lights-tab {
        .all-button-container {
            .btn:first-child {
                margin: 0 0 10px 0;
            }
        }
        .panel {
            background-color: transparent;
        }
        .panel-default {
            > .panel-heading {
            }
            > .panel-collapse {
                width: 100%;
                z-index: 100;
            }
        }
        .panel-group .panel-heading + .panel-collapse > .panel-body {
            background-color: $white;
        }
        .panel-group {
            > .panel {
                margin: 0 0 20px 0;
            }
        }
        .lights-ddl {
            width: 100%;
            min-height: 32px;
            .chevron {
                color: $orange;
                line-height: inherit;
            }
            &.open {
                .chevron {
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
            .dropdown-menu {
                width: 32em;
                padding: 5px;
                left: -18em;
                &.small {
                    width: 100%;
                    left: 0;
                    > li {
                        width: 100%;
                    }
                }
            }
        }
        .light-mode {
            border-radius: 20px;
            border: none;
            text-transform: initial;
            background-color: #bbb;
            margin: 6px 0;
            line-height: 12px;
            text-align: center;
            color: $white;
            padding: 4px 0;
            height: 30px;
            width: 100%;
            &.PARTY {
                //background-image: linear-gradient(45deg, #5DBF8C, #B8D979, #F08F67);
                background-image: linear-gradient(45deg, #E7322F, #E7322F, #ea2132,#cb5ea7, #59449c,#4cb85b,#f7f597)
            }
            &.ROMAN {
                //background-image: linear-gradient(45deg, #E7322F, #E08982, #7D77B7, #00AFAF, #E7322F);
                background-image: linear-gradient(45deg, #87d5e1, #6d79c3, #aa67b5);
            }
            &.CARIB {
                //background-image: linear-gradient(45deg, #9ACC59, #E08982, #E7322F, #9ACC59, #E8882C, #F0C12F, #E7322F, #9ACC59);
                background-image: linear-gradient(45deg, #184937 7%,#58c872 27%,#58c872 39%,#2b398a 62%,#cd62b3 80%,#f3f6a1 100%);
            }
            &.AMERCA {
                //background-image: linear-gradient(45deg, #FFF0DA, #006399, #FFF0DA, #006399, #D52E5F, #FFF0DA, #006399, #D52E5F, #FFF0DA);
                background-image: linear-gradient(45deg, #260d2b, #006399, #D52E5F, #260d2b, #006399, #D52E5F, #260d2b);
            }
            &.SSET {
                background-image: linear-gradient(45deg, #FDBA56, #D3535C, #683B93, #EA832A, #7C73B4, #F6644E, #FDBF63);
            }
            &.ROYAL {
                background-image: linear-gradient(45deg, #FFF165, #1DA453, #2E3192);
            }
            &.SWIM {
                background-image: linear-gradient(45deg, #7fc99b, #938fc6, #74d0ed);
            }
            &.WHITER {
                background-color: $white;
                border: 1px solid $darkgrey;
                color: $darkgrey;
            }
            &.GREENR {
                background-color: $green;
            }
            &.BLUER {
                background-color: $blue;
            }
            &.MAGNTAR {
                background-color: $magenta;
            }
            &.REDR {
                background-color: $red;
            }
            &.WHITE {
                background-color: $white;
                color: $darkgrey;
                border: 1px solid $darkgrey;
            }
            &.LITGRN {
                background-color: $lightgreen;
            }
            &.GREEN {
                background-color: $green;
            }
            &.AQUA {
                background-color: $lighterblue;
            }
            &.BLUE {
                background-color: $blue;
            }
            &.MAGNTA {
                background-color: $magenta;
            }
            &.RED {
                background-color: $red;
            }
            &.LITRED {
                background-color: $red2;
            }
        }
        .syncswim {
            margin: 5px 0;
        }
        .progress-wrapper {
            position: relative;
            text-align: center;
            width: 255px !important;
            .dimmer-container {
                display: table;
                padding-top: 10px;
            }
            .child {
                display: table-cell;
                vertical-align: middle;
                padding-left: 20px;
            }
        }
    }

    //--------- CHEMISTRY ---------
    .chemistry-tab {
        .title {
            color: $white;
            text-align: center;
            text-transform: uppercase;
            font-family: 'AvenirLTStd-Black';
            letter-spacing: 3px;
            margin: 30px;
        }
        .sub-title {
            text-align: center;
            text-transform: uppercase;
            @extend .bold;
            letter-spacing: 2px;
            font-size: 15px;
        }
        .level-num {
            font-size: 26px;
            width: 80px;
            text-align: center;
            padding: 0;
            vertical-align: bottom;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
        }
        .paddle-container {
            border-bottom: 2px solid $turquoise;
            padding: 0 10px;
        }
        .intellichem-titleBox {
            background-color: $turquoise;
            height: 420px;
            .ph {
                background-color: $white;
                overflow: hidden;
                margin: 0 0 10px 0;
            }
            .orp {
                background-color: $white;
                overflow: hidden;
                margin: 0 0 10px 0;
            }
            .graph {
                margin-left:15px;
                margin-right:15px;
                padding: 55px 0 0;
                text-align: center;
            }
            .tank {
                border-left: 2px solid $turquoise;
                .tank-level {
                    height:75px;
                    width:25px;
                    display: inline-block;
                    position: absolute;
                    bottom: -100px;
                    right: 8px;
                }
                .tank-level-0 {
                    @extend %icon-tank-level-0 ;
                }
                .tank-level-1 {
                    @extend %icon-tank-level-1 ;
                }
                .tank-level-2 {
                    @extend %icon-tank-level-2 ;
                }
                .tank-level-3 {
                    @extend %icon-tank-level-3;
                }
                .tank-level-4 {
                    @extend %icon-tank-level-4 ;
                }
                .tank-level-5 {
                    @extend %icon-tank-level-5 ;
                }
                .tank-level-6 {
                    @extend %icon-tank-level-6 ;
                }
                .vertical {
                    display: inline-block;
                    width: 75px;
                    height: 40px;
                    -webkit-transform: rotate(-90deg);
                    /* Chrome, Safari, Opera */
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    position: absolute;
                    bottom: 18px;
                    right: -34px;
                    .progress {
                        border:1px dotted black;
                        box-shadow: none;
                        border-radius: 0;
                        height: 25px;
                        .progress-bar-warning {
                            background-color: $turquoise;
                            background-image: none;
                        }
                    }
                }
                .value {
                    text-align: center;
                    font-size: 32px;
                    margin: 0;
                    line-height: 31px;
                    margin-top: 25px;
                }
                .full {
                    font-size: 21px;
                    text-align: center;
                    color: $orange;
                    margin-bottom: 30px;
                }
            }
            .chem-scale-marker {
                position: absolute;
                top: -13px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 10px solid $orange;
                background: none;
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
            .chem-scale-segment {
                display: inline-block;
                *display: inline;
                padding-left: 5px;
                margin-right: 1px;
            }
            .chem-gradient-scale-ph {
                height: 35px;
                @extend %icon-ph-scale ;
            }
            .chem-gradient-scale-orp {
                height: 35px;
                @extend %icon-orp-scale ;
            }
            .chem-marker-label {
                position: absolute;
                top: -50px;
                font-size: 28px;
                color: $darkgrey;
            }
        }
        .chem-levels {
            background-color: $white;
            height: 419px;
            &.intelliChlor {
                border-left: 5px solid $grey;
                padding: 0;
            }
            .super-chlor {
                .paddles {
                    .level-num {
                        width: 160px;
                        &input {
                            width: 55px;
                        }
                    }
                }
                .power {
                    padding: 5px 0 0 0;
                    .toggle-switch {
                        padding: 0;
                        height: 33px;
                        input[type=checkbox]:checked + .toggler {
                            .toggle {
                                left: 50%;
                            }
                        }
                        .toggle-label {
                            font-size: 20px;
                        }
                        .toggler {
                            height: 25px;
                            .toggle {
                                height: 31px;
                                width: 31px;
                            }
                        }
                    }
                }
            }
            .chem-level {
                border-bottom: 1px solid $grey;
                height: 105px;
                text-align: center;
                &.shared {
                    padding-bottom: 0;
                    padding-top: 0;
                }
                .category {
                    margin: 0;
                    .description {
                        height: 100px;
                        margin-bottom: 5px;
                    }
                }
                &.salt {
                    > .title {
                        color: $darkgrey;
                        margin: 0 10px 0 0;
                        padding: 0;
                        vertical-align: middle;
                    }
                    .level-num {
                        width: auto;
                    }
                }
                .warning-level {
                    -ms-word-break: keep-all;
                    word-break: keep-all;
                    text-align: left;
                    width: 75px;
                    vertical-align: middle;
                    color: $darkgrey;
                    margin: 0;
                    padding: 0;
                }
                .category:nth-last-child(n+2) {
                    border-right: 2px solid $grey;
                }
                &.body-level {
                    height: 205px;
                }
                .sub-title {
                    margin: 15px 0;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        .intelliChlor-only {
            .chem-levels {
                height: 200px;
                > .chem-level {
                    &.body-level {
                        padding: 0;
                    }
                    > .category {
                        height: 200px;
                        .description {
                            height: 80px;
                        }
                    }
                }
            }
            > .intelliChlor-titleBox {
                background-color: $turquoise;
                height: 200px;
                padding: 0;
                .title {
                    margin-bottom: 0;
                    &.sub-title {
                        margin-top: 0;
                    }
                }
                > .salt {
                    background-color: $white;
                    color: $darkgrey;
                    padding: 10px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    text-align: center;
                    > .title {
                        color: $darkgrey;
                        margin: 0 10px 0 0;
                        padding: 0;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    //--------- HOME ---------
    .home-tab {
        .pool-side {
            background-color: $purple;
            color: $white;
            line-height: 50px;
            margin-bottom: 3px;
            padding-left: 20px;
            font-size: 17px;
            border-radius: 2px 2px 0 0;
            .pool-temp {
                color: $lightpurple;
                @extend .bold;
                margin-left: 7px;
                &:after {
                    content: '\00b0';
                    margin-right: -5px;
                    color: $lightpurple;
                }
            }
            .unit {
                font-size: 11px;
                position: relative;
                left: 6px;
                top: 0px;
                color: $lightpurple;
            }
        }

        .pool-especial {            
            background-color: $lightgreen;
            color: $white;
            line-height: 50px;
            margin-bottom: 3px;
            padding-left: 20px;
            font-size: 17px;
            border-radius: 2px 2px 0 0;
            .pool-temp-one {
                color: $lightpurple;
                @extend .bold;
                margin-left: 7px;
                &:after {
                    content: '\00b0';
                    margin-right: -5px;
                    color: $lightpurple;
                }
            }
            .unit {
                font-size: 11px;
                position: relative;
                left: 6px;
                top: 0px;
                color: $lightpurple;
            }
        }
        .title {
            text-transform: uppercase;
            font-size: 12px;
            @extend .bold;
        }
        .bodies {
            padding-left: 0;
            .body {
                margin-bottom: 30px;
                background-color: $white;
                &.body-stats {
                    margin-bottom: 10px;
                    padding: 0;
                    .drodown-btn {
                        height: 62px;
                    }
                }
                .heater {
                    background-color: $white;
                }
                .category {
                    margin: 0;
                    > .description {
                        > .title {
                            top: 10px;
                            left: 0;
                        }
                    }
                }
                .info {
                    background-color: $purple;
                    color: $white;
                    padding: 0;
                    height: 144px;
                    > .temp {
                        padding: 10px;
                        height: 100%;
                        &.dim {
                            background-color: white;
                            opacity: 0.50;
                            color: $lightpurple;
                        }
                        > .title {
                        }
                        > .poolTemp {
                            text-align: center;
                            margin: 0;
                            > .value {
                                font-size: 2em;
                                vertical-align: middle;
                            }
                            > .value:after {
                                content: '\00b0';
                                margin-right: -5px;
                            }
                            > .unit {
                                vertical-align: text-top;
                                font-size: 1.3em;
                            }
                            > .icon {
                                @extend %icon-thermometer;
                                background-position: center 60%;
                                vertical-align: middle;
                                background-size: 50%;
                                height: 30px;
                                width: 18px;
                                display: inline-block;
                            }
                        }
                    }
                    > .stats {
                        border-left: 1px solid $lightpurple;
                        padding: 10px;
                        > .poolTemp {
                            > .unit {
                                padding-left: 5px;
                            }
                            > .value:after {
                                content: '\00b0';
                                margin-right: -5px;
                            }
                        }
                        .paddle-container {
                            height: 25px;
                            margin-bottom: 10px;
                            .level-num {
                                font-size: 18px;
                                width: 65px;
                                text-align: center;
                                padding: 0;
                                vertical-align: middle;
                                margin: 0;
                                overflow: hidden;
                                opacity: 1;
                            }
                            .temperature {
                                > .deg {
                                    &:after {
                                        content: '\00b0';
                                    }
                                }
                                > .unit {
                                    font-size: 14px;
                                }
                            }
                            .icon-flame {
                                @extend %icon-flame;
                                background-position: center 60%;
                                vertical-align: text-bottom;
                                background-size: 50%;
                                &.active {
                                    @extend %icon-Activeflame;
                                }
                            }
                            .icon-snowflake {
                                @extend %icon-snowflake;
                                background-position: center 60%;
                                vertical-align: text-bottom;
                                background-size: 50%;
                            }
                        }
                    }
                }
            }
            .chemistry {
                border-top: solid $grey 1px;
                padding: 10px;
                > .chem-levels {
                    > .chem-level {
                        padding: 0 10px;
                        margin: 0 5px;
                        border-radius: 4px;
                        > label {
                            padding-right: 5px;
                        }
                        &.high {
                            background-color: $red;
                            color: $white;
                            border-radius: 20px !important;
                            > label {
                                color: $white;
                            }
                        }
                        &.low {
                            background-color: $orange;
                            color: $white;
                            border-radius: 20px !important;
                            > label {
                                color: $white;
                            }
                        }
                    }
                    > span {
                        padding-right: 10px;
                        > label {
                            color: $green;
                        }
                    }
                }
                label {
                    margin: 0;
                    padding: 0;
                }
                &.shared {
                    border-bottom: solid $grey 1px;
                }
            }
        }
        .circuits {
            background-color: $white;
            > .title {
                @extend .bold;
                font-size: 18px;
                text-align: center;
                line-height: 45px;
                text-transform: uppercase;
            }
            .circuit-lists {
                background-color: #fafafa;
                padding: 30px;
                .category {
                    > .description {
                        height: 120px;
                    }
                }
                .circuit-list {
                    border-left: solid $grey 1px;
                    .circuit-item {
                        background-color: white;
                        color: $darkgrey;
                        line-height: 60px;
                        border-right: solid $grey 1px;
                        @extend .bold;
                        font-size: 18px;
                        text-align: center;
                        &.active {
                            background-color: $lightpurple;
                            border-bottom-color: white;
                            color: $white;
                        }
                        &:nth-child(3n),
                        &:last-child {
                            border-right: none;
                        }
                        &:nth-child(n+4) {
                            border-top: solid $grey 1px;
                        }
                    }
                }
                > .row:first-child {
                    margin-bottom: 30px;
                }
            }
        }
    }


 .pumps-lists {
    background-color: lightblue;
    padding: 10px;
    .category {
        > .description {
            height: 120px;
        }
    }

    //--------- BODIES ---------
    .bodies-tab {
        .bodies {
            .body {
                .freeze-label {
                    position: relative;
                    bottom: 20px;
                    color: $weatherblue;
                }
                .info {
                    height: 100px;
                }
            }
        }
    }

    //--------- CSS FOR ICONS IN BODIES ---------
    
    .smIconFlameOne {    
        background-image: url('../img/configDownArrow.png');
        background-color:green;
        color: blue;
        border-color: $lightblue;
        //text-decoration: none;
        cursor: pointer;
    }

    //--------- WEATHER -------
    .weather {
        height: 148px;
        margin-top: 20px;
        .current-weather {
            background-color: $lightblue;
            height: 100%;
        }
        .error {
            margin: 10px 0 0 0;
            background-color: white;
            color: red;
            font-size: 1.1em;
            text-align: center;
            width: 90px;
            height: 25px;
        }
        .btn {
            padding: 0 3px 0 3px;
            margin: 60px 0 0 0;
            height: 40px;
            width: 90px;
            background-color: transparent;
            border: solid 2px;
            color: $white;
            font-size: 1.0em;
        }
        .legend-column {
            width: 24%;
            padding-left: 5px;
        }
        .values-column-1 {
            width: 20%;
        }
        .values-column-2 {
            width: 30%;
        }
        .weather-detail {
            margin: 10px 0 0 0;
            font-size: 1.3em;
            color: $white;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            .precipt {
                margin: 0 0 0 15px;
            }
        }
        .weather-column {
            width: 20%;
            display: inline-block;
            border-right: solid 2px;
            border-color: $lightblue;
            text-align: center;
            :last-child {
                border-right: 0;
            }
        }
        .forecast-area {
            background-color: #2E5998;
            color: $white;
            text-align: left;
            font-size: 1.3em;
            padding: 0;
            height: 100%;
            .icon {
                margin: 10px 0 10px 0;
                height: 50px;
                background-position: center;
                background-size: 40%;
            }
            .forecast {
                line-height: 1.2;
            }
            .legend {
                line-height: 1.7;
            }
            .value {
                line-height: 1.7;
                font-size: 1em;
            }
            .detail {
                padding-top: 10px;
                display: flex;
            }
        }
        .temperature {
            text-align: center;
            margin-top: 25px;
            border-right: solid 2px;
            border-color: $grey;
        }
        .temp-range {
            margin: 10px 0 0 0;
            color: $white;
            font-size: 1.3em;
            .separator {
                margin: 0 3px 0 3px;
                color: $grey;
            }
            .temp:after {
                content: '\00b0';
                color: $lightblue;
            }
            .unit {
                font-size: .8em;
                padding-right: 20px;
            }
            .unit:before {
                content: '\00b0';
                color: $lightblue;
            }
            .legend {
                padding: 0;
                color: $weatherblue;
                &.border {
                    padding-left: 12px;
                    border-left: solid 2px;
                    border-color: $grey;
                }
            }
            .precipt {
                color: $weatherblue;
                margin-left: 30px;
            }
        }
        .precipt {
            color: $weatherblue;
        }
        .precipitation-probability {
            margin-left: 5px;
            color: $white;
        }
        .sunrise-sunset {
            margin-top: 30px;
            .time {
                color: $white;
                font-size: 1.3em;
                margin: 0 10px 0 5px;
            }
            .icon {
                margin: 0;
                height: 30px;
                width: 50px;
                background-position: bottom;
                display: inline-block;
                &.sunrise {
                    @extend %icon-sunrise;
                }
                &.sunset {
                    @extend %icon-sunset;
                }
            }
        }
        .sunrise-sunset-labels {
            margin-top: 30px;
            .labelA {
                color: $white;
                font-size: 1.3em;
                height: 30px;
                width: 90px;
            }
            .labelB {
                color: $white;
                font-size: 1.3em;
                height: 30px;
                width: 90px;
            }
        }
        .value {
            font-size: 3.9em;
            color: $white;
        }
        .value:after {
            content: '\00b0';
            margin-right: -5px;
            color: $weatherblue;
        }
        .unit {
            color: $lightgrey;
            font-size: 2em;
        }
        .units {
            text-align: center;
            span {
                color: $grey;
                font-size: 1.3em;
                margin: 0 5px 0 5px;
                &.selected {
                    color: $white;
                }
                &.spacer {
                    margin: 0 10px 0 10px;
                }
                &.units:before {
                    content: '\00b0';
                    color: $weatherblue;
                }
            }
        }
        .icon {
            margin: 35px 0 0 20px;
            height: 100px;
            background-size: contain;
            color: $lightgrey;
            &.fc {
                margin: 10px 0 0 10px;
                height: 60px;
                background-size: 60%;
            }
            &.iconw-am_pcloudy {
                @extend %icon-am_pcloudy;
            }
            &.iconw-am_pcloudyr {
                @extend %icon-am_pcloudyr;
            }
            &.iconw-am_showers {
                @extend %icon-am_showers;
            }
            &.iconw-am_snowshowers {
                @extend %icon-am_snowshowers;
            }
            &.iconw-am_tstorm {
                @extend %icon-am_tstorm;
            }
            &.iconw-blizzard {
                @extend %icon-blizzard;
            }
            &.iconw-blizzardn {
                @extend %icon-blizzardn;
            }
            &.iconw-blowingsnow {
                @extend %icon-blowingsnow;
            }
            &.iconw-blowingsnown {
                @extend %icon-blowingsnown;
            }
            &.iconw-chancetstorm {
                @extend %icon-chancetstorm;
            }
            &.iconw-chancetstormn {
                @extend %icon-chancetstormn;
            }
            &.iconw-clear {
                @extend %icon-clear;
            }
            &.iconw-clearn {
                @extend %icon-clearn;
            }
            &.iconw-clearw {
                @extend %icon-clearw;
            }
            &.iconw-clearwn {
                @extend %icon-clearwn;
            }
            &.iconw-cloudy {
                @extend %icon-cloudy;
            }
            &.iconw-cloudyn {
                @extend %icon-cloudyn;
            }
            &.iconw-cloudyw {
                @extend %icon-cloudyw;
            }
            &.iconw-cloudywn {
                @extend %icon-cloudywn;
            }
            &.iconw-drizzle {
                @extend %icon-drizzle;
            }
            &.iconw-drizzlef {
                @extend %icon-drizzlef;
            }
            &.iconw-drizzeln {
                @extend %icon-drizzeln;
            }
            &.iconw-dust {
                @extend %icon-dust;
            }
            &.iconw-fair {
                @extend %icon-fair;
            }
            &.iconw-fairn {
                @extend %icon-fairn;
            }
            &.iconw-fairw {
                @extend %icon-fairw;
            }
            &.iconw-fairwn {
                @extend %icon-fairwn;
            }
            &.iconw-fdrizzle {
                @extend %icon-fdrizzle;
            }
            &.iconw-fdrizzeln {
                @extend %icon-fdrizzeln;
            }
            &.iconw-flurries {
                @extend %icon-flurries;
            }
            &.iconw-flurriesn {
                @extend %icon-flurriesn;
            }
            &.iconw-flurriesw {
                @extend %icon-flurriesw;
            }
            &.iconw-flurrieswn {
                @extend %icon-flurrieswn;
            }
            &.iconw-fog {
                @extend %icon-fog;
            }
            &.iconw-fogn {
                @extend %icon-fogn;
            }
            &.iconw-freezingrain {
                @extend %icon-freezingrain;
            }
            &.iconw-freezingrainn {
                @extend %icon-freezingrainn;
            }
            &.iconw-hazy {
                @extend %icon-hazy;
            }
            &.iconw-hazyn {
                @extend %icon-hazyn;
            }
            &.iconw-mcloudy {
                @extend %icon-mcloudy;
            }
            &.iconw-mcloudyn {
                @extend %icon-mcloudyn;
            }
            &.iconw-mcloudyr {
                @extend %icon-mcloudyr;
            }
            &.iconw-mcloudyrn {
                @extend %icon-mcloudyrn;
            }
            &.iconw-mcloudyrw {
                @extend %icon-mcloudyrw;
            }
            &.iconw-mcloudyrwn {
                @extend %icon-mcloudyrwn;
            }
            &.iconw-mcloudys {
                @extend %icon-mcloudys;
            }
            &.iconw-mcloudysfn {
                @extend %icon-mcloudysfn;
            }
            &.iconw-mcloudysfw {
                @extend %icon-mcloudysfw;
            }
            &.iconw-mcloudysfwn {
                @extend %icon-mcloudysfwn;
            }
            &.iconw-mcloudysn {
                @extend %icon-mcloudysn;
            }
            &.iconw-mcloudysw {
                @extend %icon-mcloudysw;
            }
            &.iconw-mcloudyswn {
                @extend %icon-mcloudyswn;
            }
            &.iconw-mcloudyt {
                @extend %icon-mcloudyt;
            }
            &.iconw-mcloudytn {
                @extend %icon-mcloudytn;
            }
            &.iconw-mcloudytw {
                @extend %icon-mcloudytw;
            }
            &.iconw-mcloudytwn {
                @extend %icon-mcloudytwn;
            }
            &.iconw-mcloudyw {
                @extend %icon-mcloudyw;
            }
            &.iconw-mcloudywn {
                @extend %icon-mcloudywn;
            }
            &.iconw-na {
                @extend %icon-na;
            }
            &.iconw-pcloudy {
                @extend %icon-pcloudy;
            }
            &.iconw-pcloudyn {
                @extend %icon-pcloudyn;
            }
            &.iconw-pcloudyr {
                @extend %icon-pcloudyr;
            }
            &.iconw-pcloudyrn {
                @extend %icon-pcloudyrn;
            }
            &.iconw-pcloudyrw {
                @extend %icon-pcloudyrw;
            }
            &.iconw-pcloudyrwn {
                @extend %icon-pcloudyrwn;
            }
            &.iconw-pcloudys {
                @extend %icon-pcloudys;
            }
            &.iconw-pcloudysf {
                @extend %icon-pcloudysf;
            }
            &.iconw-pcloudysfn {
                @extend %icon-pcloudysfn;
            }
            &.iconw-pcloudysfw {
                @extend %icon-pcloudysfw;
            }
            &.iconw-pcloudysfwn {
                @extend %icon-pcloudysfwn;
            }
            &.iconw-pcloudysn {
                @extend %icon-pcloudysn;
            }
            &.iconw-pcloudysw {
                @extend %icon-pcloudysw;
            }
            &.iconw-pcloudyswn {
                @extend %icon-pcloudyswn;
            }
            &.iconw-pcloudyt {
                @extend %icon-pcloudyt;
            }
            &.iconw-pcloudytn {
                @extend %icon-pcloudytn;
            }
            &.iconw-pcloudytw {
                @extend %icon-pcloudytw;
            }
            &.iconw-pcloudytwn {
                @extend %icon-pcloudytwn;
            }
            &.iconw-pcloudyw {
                @extend %icon-pcloudyw;
            }
            &.iconw-pcloudywn {
                @extend %icon-pcloudywn;
            }
            &.iconw-pm_pcloudy {
                @extend %icon-pm_pcloudy;
            }
            &.iconw-pm_pcloudyr {
                @extend %icon-pm_pcloudyr;
            }
            &.iconw-pm_showers {
                @extend %icon-pm_showers;
            }
            &.iconw-pm_snowshowers {
                @extend %icon-pm_snowshowers;
            }
            &.iconw-pm_tstorm {
                @extend %icon-pm_tstorm;
            }
            &.iconw-rain {
                @extend %icon-rain;
            }
            &.iconw-rainandsnow {
                @extend %icon-rainandsnow;
            }
            &.iconw-rainandsnown {
                @extend %icon-rainandsnown;
            }
            &.iconw-rainn {
                @extend %icon-rainn;
            }
            &.iconw-raintosnow {
                @extend %icon-raintosnow;
            }
            &.iconw-rainw {
                @extend %icon-rainw;
            }
            &.iconw-showers {
                @extend %icon-showers;
            }
            &.iconw-showersn {
                @extend %icon-showersn;
            }
            &.iconw-showersw {
                @extend %icon-showersw;
            }
            &.iconw-sleet {
                @extend %icon-sleet;
            }
            &.iconw-sleetn {
                @extend %icon-sleetn;
            }
            &.iconw-sleetsnow {
                @extend %icon-sleetsnow;
            }
            &.iconw-smoke {
                @extend %icon-smoke;
            }
            &.iconw-snow {
                @extend %icon-snow;
            }
            &.iconw-snown {
                @extend %icon-snown;
            }
            &.iconw-snowshowers {
                @extend %icon-snowshowers;
            }
            &.iconw-snowshowersn {
                @extend %icon-snowshowersn;
            }
            &.iconw-snowshowersw {
                @extend %icon-snowshowersw;
            }
            &.iconw-snowshowerswn {
                @extend %icon-snowshowerswn;
            }
            &.iconw-snowtorain {
                @extend %icon-snowtorain;
            }
            &.iconw-snowtorainn {
                @extend %icon-snowtorainn;
            }
            &.iconw-snoww {
                @extend %icon-snoww;
            }
            &.iconw-snowwn {
                @extend %icon-snowwn;
            }
            &.iconw-sunny {
                @extend %icon-sunny;
            }
            &.iconw-sunnyn {
                @extend %icon-sunnyn;
            }
            &.iconw-sunnyw {
                @extend %icon-sunnyw;
            }
            &.iconw-sunnywn {
                @extend %icon-sunnywn;
            }
            &.iconw-tstorm {
                @extend %icon-tstorm;
            }
            &.iconw-tstormn {
                @extend %icon-tstormn;
            }
            &.iconw-tstormsw {
                @extend %icon-tstormsw;
            }
            &.iconw-tstormswn {
                @extend %icon-tstormswn;
            }
            &.iconw-tstormw {
                @extend %icon-tstormw;
            }
            &.iconw-tstormwn {
                @extend %icon-tstormwn;
            }
            &.iconw-wind {
                @extend %icon-wind;
            }
            &.iconw-wintrymix {
                @extend %icon-wintrymix;
            }
            &.iconw-winterymixn {
                @extend %icon-winterymixn;
            }
            
        }
    }
}