﻿@import "../_icons.scss";
@import "../_variables.scss";
#InstallationsPage {
    .title-bar {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .title-text {
        font-weight: 300;
        padding: 11px 15px 0;
    }

    .page-title {
        background-color: $white;
        line-height: 60px;
        h2.title {
            margin-left: 10px;
            @extend .bold;
        }
    }

    .delete-box {
        padding: 0 15px 11px 0;
        float: left;
    }

    .btn.md.delete-button {
        padding: 10px;
        margin: 10px;
        width: 100%
    }

    .panel-group .panel {
        border-bottom:1px solid $lightgrey;
    }

    .panel-group .panel-title {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space:nowrap;
        width: 100%;
        text-align:left;
    }

    .panel-label {
        text-align:right;
    }
    .panel-status {
        font-size: 18px;
        text-transform: none;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space:nowrap;
        width: 100%;
        text-align:right;
    }

    .panel-connect {
        font-size: 14px;
        text-transform: none;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space:nowrap;
        width: 100%;
        text-align:right;
    }

    .container {
        padding: 0;
    }

    input.search {
        border: none;
        line-height: 1em;
        font-size: large;
    }

    .filter {
        margin: 10px 0 0 0;
        line-height: 1em;
        & .btn {
            border: none;
            background-color: transparent;
            color: $lightgreen;
            width: 150px;
            text-align: end;
        }
        & .chevron {
            float:none !important;
        }
    }

    .filter-box {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .icon-search {
        @extend %icon-search;
        background-size: contain;
        padding-left: 40px;
    }

    .connect {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    // label {
    //     color: $grey;
    // }

    li.circle {
        margin: 20px 0 0 10px;

        &.online {
            background-color: $green;
        }

        &.offline {
            background-color: transparent;
            border: 4px solid $red;
        }

        > a {
            margin: -5px 0 0 35px;
        }
    }

    .panel {
        > .panel-heading {
            background-color: $lightblue;
            color: $white;
        }

        &.panel-open {

            > .panel-heading {
                background-color: $red;
                color: $white;

                &.online {
                    background-color: $lightgreen;
                    color: $white;
                }

                :focus {
                    border: none;
                }
            }

            .circle {
                &.online {
                    background-color: $white;
                }

                &.offline {
                    background-color: transparent;
                    border: 4px solid $white;
                }
            }
        }

        .circle {
            &.online {
                background-color: $green;
            }

            &.offline {
                background-color: transparent;
                border: 4px solid $red;
            }
        }
    }

    .timezone-text {
        border-bottom: none;
        float: left;
    }

    .icon-timezone {
        height: 122px;
        margin-left: 70px;
        background-size: contain;

        &.tz3 {
            @extend %icon-timeZone1;
        }

        &.tz4 {
            @extend %icon-timeZone2;
        }

        &.tz5 {
            @extend %icon-timeZone3;
        }

        &.tz6 {
            @extend %icon-timeZone4;
        }

        &.tz7 {
            @extend %icon-timeZone5;
        }

        &.tz8 {
            @extend %icon-timeZone6;
        }

        &.tz9 {
            @extend %icon-timeZone7;
        }

        &.tz10 {
            @extend %icon-timeZone8;
        }

        &.tz11 {
            @extend %icon-timeZone9;
        }

        &.tz12 {
            @extend %icon-timeZone10;
        }

        &.tz13 {
            @extend %icon-timeZone11;
        }

        &.tz14 {
            @extend %icon-timeZone12;
        }

        &.tz15 {
            @extend %icon-timeZone13;
        }

        &.tz16 {
            @extend %icon-timeZone14;
        }

        &.tz17 {
            @extend %icon-timeZone15;
        }

        &.tz18 {
            @extend %icon-timeZone16;
        }

        &.tz19 {
            @extend %icon-timeZone17;
        }

        &.tz20 {
            @extend %icon-timeZone18;
        }

        &.tz21 {
            @extend %icon-timeZone19;
        }

        &.tz22 {
            @extend %icon-timeZone20;
        }

        &.tz23 {
            @extend %icon-timeZone21;
        }

        &.tz24 {
            @extend %icon-timeZone22;
        }

        &.tz1 {
            @extend %icon-timeZone23;
        }

        &.tz2 {
            @extend %icon-timeZone24;
        }
    }

}
