﻿@import "../_variables.scss";
@import "../_icons.scss";

.form-login {
    a {
        &.button-link {
            color: #fff;
        }
    }

    .row:first-child {
        margin-top: 200px;
    }
    .login {
        .login-header {
            background-color: $blue;
            .logo {
                @extend %icon-pentair-logo-white;
                display: block;
                background-size: 210px;
                background-position: center center;
                width: 100%;
                height: 95px;
            }
        }
        .content {
            background-color: #fff;
        }
        .submit {
            width: 100%;
            border: none;
            height: 80px;
            background-color: #64a70b;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
        }
    }

    .remember-me {
        padding: 0;
    }

    .button-link.forgot-pw {
        float: right;
    }

    .remember-me-label {
        color: #fff;
    }
     .remember-me-checkbox + label span {
         display: inline-block;
         width: 24px;
         height: 24px;
         margin: 0 15px 0 0;
         vertical-align: middle;
         background-color: #fff;
         cursor: pointer;
     }
    .remember-me-checkbox:checked + label span {
        @extend %icon-checked-white;
        background-color: $green;
        background-size: 75%;
        background-position: center;
    }
}
