.bold, .manageUsers .page-title h2.title, .manageUsers .row .column-header {
  font-family: 'AvenirLTStd-Black'; }

.manageUsers .title-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white; }

.manageUsers .page-title {
  line-height: 50px; }
  .manageUsers .page-title h2.title {
    margin-left: 10px; }

.manageUsers .container {
  padding: 0; }

.manageUsers label {
  color: #d8d8d8; }

.manageUsers .panel > .panel-heading {
  border-top: solid 1px white;
  background-color: #626262;
  color: white;
  height: 60px; }

.manageUsers .panel.panel-open > .panel-heading {
  background-color: #3d6299;
  color: white; }

.manageUsers button.btn.md.full {
  margin-top: 10px;
  margin-bottom: 10px; }
  .manageUsers button.btn.md.full.sixth {
    border-color: #9fcc14;
    background: transparent;
    color: #9fcc14;
    margin-right: 10px; }

.manageUsers .col-md-3.no-padding.border-right {
  padding-right: 10px; }

.manageUsers .row {
  border-right: none; }
  .manageUsers .row .column-header {
    font-size: 16px;
    margin-left: 20px;
    text-transform: uppercase; }

.manageUsers .active-sort {
  color: white; }

.manageUsers .sort-header {
  cursor: pointer; }

.manageUsers label.form-padding {
  padding: 0; }

.manageUsers input[type="checkbox"] + label {
  color: white; }

.manageUsers .addDeleteButtons {
  height: 100px; }

.manageUsers .form-control {
  border-bottom: none; }

.manageUsers .roles-ddl .btn-group {
  width: 100%;
  height: 60px; }
  .manageUsers .roles-ddl .btn-group .edit-mode {
    background-color: #0c3471;
    color: white; }

.manageUsers .roles-ddl .btn-group > .btn:not(.dropdown-toggle) {
  border-radius: 0;
  width: 80%;
  background-color: transparent;
  color: #626262;
  font-size: 18px;
  margin: 0;
  padding-top: 0;
  text-align: left; }

.manageUsers .roles-ddl .btn-group > .dropdown-toggle {
  width: 20px;
  background-color: transparent;
  margin: 0;
  padding: 0; }
  .manageUsers .roles-ddl .btn-group > .dropdown-toggle .caret {
    color: #0c3471; }

.manageUsers .roles-ddl .messages-ddl.all {
  background-color: white !important; }
  .manageUsers .roles-ddl .messages-ddl.all button {
    background-color: #9fcc14 !important;
    color: white !important; }
    .manageUsers .roles-ddl .messages-ddl.all button .caret {
      color: white !important; }

.manageUsers .open > .dropdown-menu {
  display: block;
  top: 40px; }
  .manageUsers .open > .dropdown-menu:focus {
    background-color: #0c3471;
    color: white; }

.manageUsers .btn-group.form-ddl.dropdown {
  display: block; }
  .manageUsers .btn-group.form-ddl.dropdown .btn {
    border: none; }

.manageUsers .filter {
  padding-top: 20px; }

.manageUsers .dropdown .btn {
  background-color: transparent;
  color: #9fcc14;
  padding: 0; }

.manageUsers .dropdown .caret {
  color: red; }

.manageUsers .dropdown-menu {
  padding-right: 10px;
  text-align: right; }
