﻿@import "../_variables.scss";
@import "../_icons.scss";
.manageUsers {
    .title-bar {
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $white;
    }

    .page-title {
        line-height: 50px;

        h2.title {
            margin-left: 10px;
            @extend .bold;
        }
    }


    .container {
        padding: 0;
    }

    label {
        color: $grey;
    }

    .panel {
        > .panel-heading {
            border-top: solid 1px $white;
            background-color: $darkgrey;
            color: $white;
            height: 60px;
        }

        &.panel-open {
            > .panel-heading {
                background-color: $lightblue;
                color: $white;
            }
        }
    }
    button.btn.md.full {
        margin-top: 10px;
        margin-bottom: 10px;

        &.sixth {
            border-color: $lightgreen;
            background: transparent;
            color: $lightgreen;
            margin-right: 10px;
        }
    }

    .col-md-3.no-padding.border-right{
        padding-right: 10px;
    }

    .row {
        border-right:none;
        .column-header {
            @extend .bold;
            font-size: 16px;
            margin-left: 20px;
            text-transform: uppercase;
        }
    }

    .active-sort {
        color: $white;
    }

    .sort-header {
        cursor: pointer;
    }

    label.form-padding {
        padding: 0;
    }

    input[type="checkbox"] + label {
        color: $white;
    }

    .addDeleteButtons {
        height: 100px;
    }

    .form-control {
        border-bottom: none;
    }

    .roles-ddl {
        .btn-group {
            width: 100%;
            height: 60px;
            .edit-mode {
                background-color: $blue;
                color: $white;
            }
        }

        .btn-group > .btn:not(.dropdown-toggle) {
            border-radius: 0;
            width: 80%;
            background-color: transparent;
            color: $bodycolor-alpha;
            font-size: 18px;
            margin: 0;
            padding-top: 0;
            text-align: left;
        }
        .btn-group > .dropdown-toggle {
            width: 20px;
            background-color: transparent;
            margin: 0;
            padding: 0;
            .caret {
                color: $blue;
            }
        }

        .messages-ddl {
            &.all {
                background-color: $white !important;

                button {
                    background-color: $lightgreen !important;
                    color: $white !important;

                    .caret {
                        color: $white !important;
                    }
                }
            }
        }
    }

    .open>.dropdown-menu {
        display: block;
        top: 40px;
        &:focus {
            background-color: $blue;
            color: $white;
        }
    }

    .btn-group.form-ddl.dropdown {
        display: block;
        .btn {
            border: none;
        }
    }

    .filter {
        padding-top: 20px;
    }

    .dropdown {
        .btn {
            background-color: transparent;
            color: $lightgreen;
            padding: 0;
        }
        .caret {
            color: red;
        }
    }

    .dropdown-menu {
        padding-right: 10px;
        text-align: right;
    }

}
