.bold {
  font-family: 'AvenirLTStd-Black'; }

#schedulePage .btn-group > .btn:not(.dropdown-toggle) {
  border-radius: 0;
  width: 80%;
  background-color: transparent;
  color: #626262;
  font-family: 'AvenirLTStd-Light';
  font-size: 18px;
  margin: 0;
  padding-top: 0;
  text-align: left; }

#schedulePage .btn-group > .dropdown-toggle {
  width: 20px;
  background-color: transparent;
  margin: 0;
  padding: 0; }
  #schedulePage .btn-group > .dropdown-toggle .caret {
    color: #0c3471; }

#schedulePage .dropdown-menu {
  display: block;
  top: 40px; }
  #schedulePage .dropdown-menu:focus {
    background-color: #0c3471;
    color: white; }

#schedulePage .btn-group.form-ddl.dropdown {
  display: block; }
  #schedulePage .btn-group.form-ddl.dropdown .btn {
    border: none; }

#schedulePage .filter {
  padding-top: 20px; }

#schedulePage .dropdown .btn {
  background-color: transparent;
  color: #9fcc14;
  padding: 0; }

#schedulePage .dropdown .caret {
  color: red; }

#schedulePage .dropdown-menu {
  left: -100px;
  padding-right: 10px;
  text-align: right; }
