﻿@import "../_variables.scss";
@import "../_icons.scss";

#schedulePage {

    .btn-group > .btn:not(.dropdown-toggle) {
        border-radius: 0;
        width: 80%;
        background-color: transparent;
        color: $bodycolor-alpha;
        font-family: 'AvenirLTStd-Light';
        font-size: 18px;
        margin: 0;
        padding-top: 0;
        text-align: left;
    }

    .btn-group > .dropdown-toggle {
        width: 20px;
        background-color: transparent;
        margin: 0;
        padding: 0;
        .caret {
            color: $blue;
        }
    }

    .dropdown-menu {
        display: block;
        top: 40px;

        &:focus {
            background-color: $blue;
            color: $white;
        }
    }

    .btn-group.form-ddl.dropdown {
        display: block;

        .btn {
            border: none;
        }
    }

    .filter {
        padding-top: 20px;
    }

    .dropdown {
        .btn {
            background-color: transparent;
            color: $lightgreen;
            padding: 0;
        }

        .caret {
            color: red;
        }
    }

    .dropdown-menu {
        left: -100px;
        padding-right: 10px;
        text-align: right;
    }

}