@import "../_variables.scss";
@import "../_icons.scss";

#settingsPage {

    #vacation-active {
        text-transform: uppercase;
        color: #0c3471;
        letter-spacing: 0.09em;
        margin: 0px 20px 12px 20px;
    }

    #vacation-active-title {
        line-height: 23px;
        font-family: 'AvenirLTStd-Black';
    }

    #vacation-active-message {
        margin-left: 20px;
    }

    .delete-box {
        padding: 0;
    }

    .panel-group .panel {
        border-bottom: 1px solid;
        border-bottom-color: $white;
    }

    .icon-calendar {
        @extend %icon-calendar;
        background-size: contain;
        padding-left: 40px;
    }

    .icon-calendar-grey {
        @extend %icon-calendar-grey;
        background-size: contain;
        padding-left: 40px;
    }

    .icon-lightgroup {
        @extend %icon-lightgroups-white;
        background-size: contain;
        padding-left: 20px;
    }

    .icon-circuit {
        @extend %icon-circuit-white;
        background-size: contain;
        padding-left: 20px;
        margin-top: 10px;
    }

    .edit-row {
        background-color: $grey;
        border-bottom: 5px solid $lightgrey;

        &.time-row {
            border-bottom: 1px solid $lightgrey;
        }

        .edit-bar {
            height: 58px;
            background-color: $white;
        }

        &.submit-buttons {
            background-color: $white;

            button {
                margin-top: 12px;
                width: 45%;
            }
        }
    }

    .group-row {
        background-color: $white;
        .btn {
            margin: 10px 0 10px 0;
            width: 100%;
        }

        .title-bar {
            padding: 20px 0 0 0;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: $grey;
            height: 50px;
            label.select {
                padding: 0;
            }
        }

        .delete-checkbox {
            margin: 15px 0 0 51px;
        }

        .edit-bar {
            height: 58px;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: $grey;
        }
    }

    .settings-label {
        margin-top: 20px;
        text-transform: uppercase;
        @extend .bold;
        padding: 0;

        &.smart-start {
            > .title {
                padding: 0;
            }
        }
    }

    .set-point {
        width: 20px;
        padding: 0 20px 0 10px;
        background-color: transparent;
        color: $orange;
        margin: 0 9px 0 0px;
        text-decoration: none;

        &:hover {
            background-color: transparent;
            color: $orange;
        }

        &:focus {
            background-color: transparent;
            color: $orange;
        }
    }

    input.setpoint-value {
        background-color: $lightgrey;
    }

    .setpoint-value {
        width: 60px;
        border: none;
        margin: 15px 0;
        text-align: right;
        font-size: large;

        &.time {
            width: 110px;
        }
    }

    .white-ddl {

        .title {
            padding: 5px 0 0;
            margin: 0;
        }

        .drodown-btn {
            padding: 0;
        }
    }

    .days-of-week {
        float: left;
        padding: 0 0 0 0;
    }

    .setpoint-checkbox {
        padding: 0 0 0 5px;
        margin: 15px 0 0 0;
    }

    .addDeleteButtons {
        margin-top: 5px;

        > .btn {
            margin: 0;
        }
    }

    input[type="checkbox"] + label .title.right {
        margin-left: 5px;
        margin-right: 30px;
    }

    .temp-uom {
        height: 26px;
        display: inline-block;
        background-color: whitesmoke;
        top: 0px;
        font-size: large;
        position: relative;
        padding-left: 4px;
    }
}