﻿@import "../_variables.scss";
@import "../_icons.scss";
#systemInformationPage {
    .select-recipient {
        position: absolute;
        right: 0;
    }

    .select-all {
        position: absolute;
        top: 0;
        right: 40px;
    }

    .form-ddl {
        height: auto;
        margin: 0 15px;
        width: 100%;

        button {
            height: 31px;
            padding: 0 10px;
        }
    }

    .message-types {
        border-top: 7px solid $grey;
    }

    .schedules {
        @extend %icon-clock-purple;
        background-position: 10% 60%;
        background-size: 40px;
        height:80px;
    }

    .vacation {
        @extend %icon-cal-purple;
        background-position: 10% 60%;
        background-size: 40px;
        height:80px;
    }

    .chemistry {
        @extend %icon-chem-purple;
        background-position: 10% 60%;
        background-size: 40px;
        height:80px;
    }

    .pumps {
        @extend %icon-pump-purple;
        background-position: 10% 60%;
        background-size: 40px;
        height:80px;
    }

    .history {
        @extend %icon-history-purple;
        background-position: 10% 60%;
        background-size: 40px;
        height:80px;
    }

    .config {
        @extend %icon-config-purple;
        background-position: 10% 60%;
        background-size: 40px;
        height:80px;
    }
}