﻿<!DOCTYPE html>
<html data-ng-app="PentairWebClient" ng-cloak>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>IntelliCenter</title>
 
    <style type="text/css">
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }
    </style>
    
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link rel="stylesheet" href="content/css/grid.css" type="text/css" media="all" />
    <link rel="stylesheet" href="content/css/normalize.min.css">
    <link rel="stylesheet" href="content/css/pentair.css">
    <link rel="stylesheet" href="content/css/ui-grid.css">
    <link href="content/css/dropdowns.css" rel="stylesheet" />

</head>
<body ng-controller="Index2Controller">
    <header class="strip">
        <div class="grid-wrap">
            <div class="grid-col col-one-half">
                <img ng-src="content/img/pentair-logo.svg" alt="Pentair" class="logo">
            </div>
        </div>
    </header>
    <div class="container" ng-controller="LocalController">

        <h2>Welcome to Pentair Pool Intelicenter Interface Software</h2>
        <div>Available local pools (searching again in 30 seconds)</div>
        <div id="ConnectionsTable">
            <table class="configTable">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="{{'Connection'+$index}}" ng-repeat="item in Properties">
                        <td style="width:250px;">{{item.name}}</td>
                    </tr>
                </tbody>
            </table>

            <div ng-hide="Properties.length">No pools on local wifi at this moment </div>
        </div>
    </div>
    <footer id="footer" class="footer">
        <div class="all-full copyright">
        </div>
        <div style="float: right; color:slategray; background:#4D4D4D; padding: .5em; font-size: 14px;">Status: {{Model.ConnectionStatus}}</div>
    </footer>
    <!-- 3rd party libraries -->
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-cookies.js"></script>
    <script src="scripts/angular-translate.js"></script>
    <script src="scripts/angular-local-storage.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/checklist-model.js"></script>
    <script src="scripts/angular-timePicker.js"></script>
    <script src="scripts/angular-dateParser.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="scripts/ui-grid.js"></script>
    <!-- Load PWC main script -->
    <script src="app/i18n/TranslatorProvider.js"></script>
    <script src="app/app2.js"></script>
    <!-- Load services -->
    <script src="app/services/AppService.js"></script>
    <!-- Load Models -->
    <!-- Load controllers -->
    <script src="app/controllers/Index2Controller.js"></script>
    <script src="app/controllers/BodiesController.js"></script>
    <script src="app/controllers/LocalController.js"></script>
    <!--Load Utilities-->
    <script src="app/utility/Math.uuid.js"></script>
    <script src="app/utility/Helpers.js"></script>
    <script src="app/utility/Enumerations.js"></script>
    <!--Load Filters -->
    <script src="app/filters/propertyFilters.js"></script>
    <!--Load Directives -->
    <script src="app/directives/dropdownMenu.js"></script>
    <script src="app/directives/heaterDropdown.js"></script>
    <script src="app/directives/toggleSwitch.js"></script>
    <script src="app/directives/toggleCircuit.js"></script>
    <script src="app/directives/heaterInputBox.js"></script>
    <script src="app/directives/durationInputBox.js"></script>
    <script src="app/directives/ngEnter.js"></script>
    <script src="app/directives/whenScrollEnds.js"></script>
    <script src="app/directives/ngNumbersOnly.js"></script>
    <script src="app/directives/lightModeButtons.js"></script>
    <!--[if lt IE 9]>
     <script src="scripts/html5shiv.js"></script>
     <![endif]-->

</body>
</html>