﻿<!DOCTYPE html>
<html data-ng-app="PentairWebClient" ng-cloak>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, minimum-scale=0.2, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">    
    <title>IntelliCenter</title>
    <base href="/">
    <style type="text/css">
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }
    </style>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="content/css/bootstrap.min.css">
    <link rel="stylesheet" href="content/css/select.min.css">
    <link rel="stylesheet" href="content/fonts/iconstyles.css">
    <link rel="stylesheet" href="content/css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="content/css/main.css">
    <link rel="stylesheet" href="content/css/pages/installations.css">
    <link rel="stylesheet" href="content/css/pages/dashboard.css">
    <link rel="stylesheet" href="content/css/pages/login.css">
    <link rel="stylesheet" href="content/css/pages/systemInformation.css">
    <link rel="stylesheet" href="content/css/pages/configurations.css">
    <link rel="stylesheet" href="content/css/pages/manageUsers.css">
    <link rel="stylesheet" href="content/css/pages/settings.css">
    <!-- CSS -->
    
</head>
<body ng-controller="IndexController" ng-class="Layout" ng-style="bodyStyle">
    <!--NEW HEADER-->
    <div class="header clearfix" ng-if="!UseOldSkin">        
        <span alt="Pentair" class="logo"></span>        
        <!-- firmware updating in progress  fwInprogress-->
        <div on-click-outside='handleClickOutsideNotificationsDDL(event)'>

            <!-- display little number only if number of alarms are larger than 0  -->
            <!--isAllowBySecurity('SECTION_ALERTS_NOTIFICATIONS')-->
            <div class="alertsCount" ng-click="toggleNotificationList()" ng-if="(Property.Objects| filterOutByObjectType:'STATUS').length >=0 " ng-show="showBellIcon()">
                <div class="count" ng-show="(Property.Objects| filterOutByObjectType:'STATUS').length > 0">{{ ((Property.Objects| filterOutByObjectType:'STATUS') | filterAlertByMode).length }} </div>
            </div>
            

            <div class="thecamera" ng-click="takeScreenShot()" ng-show="showCameraIcon()">
                
            </div>

            <div class="alertsList"  ng-show="showNotificationList" >
                <div class="header">Notifications</div>
                <div class="filterbar">
                    <label>FILTER BY: </label>
                    <div class="btn-group filter dropdown open" dropdown="" style="">
                        <button id="split-button" type="button" class="btn btn-default ng-binding dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
                            {{alertFilter}}
                            <span class="pull-right chevron"><span class="glyphicon glyphicon-chevron-down"></span></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                            <li role="menuitem" ng-click="filterAlertsList('ALL')"><a href="">All</a></li>
                            <li role="menuitem" ng-click="filterAlertsList('Alerts')"><a href="">Alerts</a></li>
                            <li role="menuitem" ng-click="filterAlertsList('Warnings')"><a href="">Warnings</a></li>
                            <li role="menuitem" ng-click="filterAlertsList('Information')"><a href="">Information</a></li>
                            <li role="menuitem" ng-click="filterAlertsList('Status')"><a href="">Status Messages</a></li>
                            <li role="menuitem" ng-click="filterAlertsList('Local')"><a href="">Local Messages</a></li>
                        </ul>
                    </div>
                </div>
                <div class="alert alert-{{alert.MODE}}" ng-repeat="alert in (Property.Objects| filterOutByObjectType:'STATUS') | filterAlertByMode:alertFilter track by $index ">
                    <!-- REMOVING ALERT TIME
                    <div class="age">
                        {{ alert.TIME | epochTimeToReadableDate:Property.Objects._C10C.MIN }}
                    </div>
                        -->
                    <div class="content">
                        <p class="title">{{ splitAlarmMessage(alert.SNAME,0) }}</p>
                        <p class="subtitle">{{ splitAlarmMessage(alert.SNAME,1) }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-center" ng-show="selectedInstallationName">
            <span class="icon-sm icon-lockon-lightgray-sm" style="padding-top:20px" ng-show="isSecurityEnabled()"></span>                            
            <span class="icon-sm fw-updating fwInprogress" ng-click="setFwInProgress(true)" ng-show="firmwareIsInProgress()"></span>    
            <span class="highlight">{{selectedInstallationName}}</span> (Online) <span class="installationDateTime">{{ currentDate }} {{ currentTime }} <span>{{TimezoneIcon() | translate}}</span></span>
        </div>
        <div class="btn-group pull-right" dropdown>
            <button id="hamburger" type="button" class="btn btn-default hamburger" dropdown-toggle>
                <span class="menu"> </span>
            </button>
            <ul class="dropdown-menu hamburger-menu" role="menu" area-labelledby="hamburger">
               
                <li role="menuitem" ng-repeat="menu in Menus"
                    ng-if="!isSecurityLocked(menu)"                    
                    ng-show="!isOptionDisable(menu) && !menu.disabled && (!menu.connected || (Property.Ready && menu.connected))"
                    ng-click="Navigate(menu)">
                    
                    <a href="">{{menu.heading}}
                        <span class="{{subMenuAvailable(menu)}}"></span>
                    </a>
                    <!-- adding submenu -->
                    <ul ng-if='menu.submenu' class="dropdown-submenu">
                        <li role="menuitem" ng-repeat="item in menu.submenu"
                            ng-show="true"
                            ng-click="Navigate(item)">
                            <a href="">{{item.heading}}</a>
                        </li>
                    </ul>
                    
                </li>
            </ul>
        </div>
        <!--<a class="menu"></a>-->
        <div class="welcome propertySelection" data-ng-hide="!Authentication.isAuth"  on-click-outside='handleClickOutsideAccountMenu(event)'>            
            <label class="account" ng-click="ToggleAccountMenu()">
                Logged in as: <span class="highlight">{{Authentication.userName}}</span>
                <span class="icon icon-setting-gear"></span>                                                
            </label>
            <div class="accountMenuPanel"  ng-show="DisplayAccountMenu">
                <div class="subheader">
                    <span class="pull-left bold">USER</span>
                    <a href="" class="logout" data-ng-click="LogOut()">{{'LOGOUT' | translate}}</a>
                </div>
                <!-- hide below options if is a demo user-->
                <a class="profile-link" ng-hide="isDemoUser(Authentication.userName)" ng-click="showChangeUsernameModal()">{{'CHANGEEMAIL' | translate}}</a>
                <a class="profile-link" ng-hide="isDemoUser(Authentication.userName)" ng-click="showPasswordChangeModal()">{{'CHANGEPASSWORD' | translate}}</a>
                <a class="profile-link" ng-hide="isDemoUser(Authentication.userName)" ng-click="GoTo('/manageProperties')">{{'MANAGEPOOLS' | translate}}</a>
            </div>
        </div>
    </div>
    <!--END NEW HEADER-->
    <!--OLD HEADER-->
    <div class="header clearfix" ng-if="UseOldSkin">
        <div class="grid-wrap">
            <div class="grid-col col-one-half">
                <img ng-src="content/img/pentair-logo.svg" alt="Pentair" class="logo">
                <div ng-controller="InstallationsController" ng-hide="HidePropertySelector()" style="float: right; width: 13em; right: 1em; margin-top: 5px; position: relative;">
                    <a href="" class="{{Model.Installations.length>7?'':'visibilityHidden'}}" ng-click="GoTo('/installationGrid')">alternate selector</a>
                    <div dropdown-menu="Model.Installations" limit-to="7" dropdown-onchange="Property.Connect(selection)" default-value="Model.DefaultInstallation" dropdown-model="Model.SelectedInstallation" ng-click="Property.FetchInstallations()" value-field="InstallationId" label-field="PoolName"></div>
                </div>
            </div>
            <div class="grid-col col-one-half" style="float: right; padding-left: 0;" id="welcome">
                <div class="propertySelection" style="margin-top: 30px">
                    <div data-ng-hide="!Authentication.isAuth">
                        <div style="float: left">
                            <label>{{Authentication.userName}}</label>
                        </div>
                        <div>
                            <img style="margin: 0 0.5em 0 0.2em;" ng-click="ToggleAccountMenu()" ng-src="content/img/gear_wheel.png" />
                            <ul class="accountMenuPanel" ng-hide="DisplayAccountMenu">
                                <li><a class="button-link" ng-click="GoTo('/changeEmail')">{{'CHANGEEMAIL' | translate}}</a></li>
                                <li><a class="button-link" ng-click="GoTo('/changePassword')">{{'CHANGEPASSWORD' | translate}}</a></li>
                                <li><a class="button-link" ng-click="GoTo('/manageProperties')">{{'MANAGEPOOLS' | translate}}</a></li>
                                <hr style="margin: 0.6em 0" />
                                <li><a href="" id="logout" data-ng-click="LogOut()">{{'LOGOUT' | translate}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END OLD HEADER-->

    <!--NOTIFICATIONS-->
    <div class="container alerts notifications" ng-show="isAllowBySecurity('SECTION_STATUS')">
        <script id="template/alert/alert.html" type="text/ng-template">
            <div class='alert' ng-class='type && "alert-" + type'>
                <button type='button'
                        class='closeAll'
                        ng-click='$parent.closeAllAlerts()'>
                    {{'CLOSE_ALL' | translate}}
                </button>
                
                <button type='button'
                        class='closeone'                        
                        ng-if="$parent.isAlertClosed($parent.alert.OBJNAM)"
                        ng-click="$parent.closeAlert($parent.alert.OBJNAM)">
                    {{'x'}}
                </button>
                
                <div ng-transclude></div>
            </div>
        </script>
        <alert type="{{alert.MODE}}" close="closeAlert(alert.OBJNAM)" ng-repeat="alert in filtered = (Property.StatusMessages | alertsByPage | limitTo:1)">
            {{alert.SNAME}}
        </alert>
        <alert type="{{alert.MODE}}" close="closeAlert(alert.OBJNAM)" ng-repeat="alert in (Property.Objects| filterOutByObjectType:'STATUS') | validAlerts track by $index" style="left:0px" ng-style="{'top': alert.offSet + 'px', 'z-index': alert.zIndex}">
            <span class="title">{{alert.SNAME}}</span><span>{{alert.subtitle}}</span>
        </alert>
    </div>
    <!--END NOTIFICATIONS-->
    
    <div data-ng-view="" class="container" ng-style="{'margin-top': (((Property.Objects| filterOutByObjectType:'STATUS') | validAlerts).length > 0)? (Property.Objects| filterOutByObjectType:'STATUS' | validAlerts).length*10+50 + 'px': ''}"></div>

    <!--OLD FOOTER-->
    <div id="footer" class="footer" ng-if="UseOldSkin">
        <div class="all-full copyright">
        </div>
        <div style="float: right; color: slategray; background: #4D4D4D; padding: .5em; font-size: 14px;">Status: {{Model.ConnectionStatus}}</div>
    </div>
    <!--END OLD FOOTER-->
    <div class="index-modal" ng-show="spaSideRemotesModal" tabindex="-1">
        <div class="index-modal-dialog" ng-show="spaSideRemotesModal">
             <div class="modal-content-lg">
                <div class="row col-md-12">
                    <h3 class="modal-h3 title">{{spaRemotesQuestion}}</h3>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn secondary full" ng-click="toggleTheSideRemotes()">{{spaRemotesClick}}</button>
                        
                    </div>
                    <div class="col-md-6">
                        <button class="btn primary full" ng-click="bodyStyle.overflow = 'none';spaSideRemotesModal = false;">{{'CANCEL' | translate}}</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--DISPLAY FW IN PROGRESS-->
    <div class="index-modal" ng-show="isFwInProgress()" tabindex="-1">

        <div class="index-modal-dialog" ng-show="isFwInProgress()">
            <div class=" modal-content-lg">
                <!--
                <div class="row col-md-12" style="background-color:darkblue;">
                    <img ng-src="content/img/pentair-logo.svg" alt="Pentair" height="60px" style="color:white" align="center" class="logo">
                </div>

                <div class="row col-md-12">
                    <div class="icon logo"></div>
                </div>
                    -->
                <div class="row col-md-12">
                    <h4 class="modal-h3 title" style="color:blue">Firmware transfer in progress..</h4>
                </div>

                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">From: Main Panel (Outdoor Control Panel)</h4>
                </div>
                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">To: Subpanels (Indoor, Wireless and Expansion Panels)</h4>
                </div>

                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center"> </h4>   <!--just a space -->
                </div>
                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center"> </h4>   <!--just a space -->
                </div>


                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center"> </h4>   <!--just a space -->
                </div>
                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center"> </h4>   <!--just a space -->
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn primary full" style="position: relative; left:50%;" ng-click="setFwInProgress(false)">Close</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!--DISPLAY ABOUT VERSION-->
    <div class="index-modal" ng-show="displayAboutVersionModal" tabindex="-1">
        
        <div class="index-modal-dialog" ng-show="displayAboutVersionModal">
            <div class=" modal-content-lg">                    
                
                <div class="row col-md-12" style="background-color:darkblue;">
                    <img ng-src="content/img/pentair-logo.svg" alt="Pentair" height="60px" style="color:white" align="center" class="logo">
                </div>                   

                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="right">About</h4>
                </div>
                <div class="row col-md-12">
                    <div class="icon logo"></div>
                </div>
                <div class="row col-md-12" >                    
                    <h3 class="modal-h3 title" >Intellicenter™ <br> Control System</h3>
                </div>

                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">Panel Configuration: {{ getBoardType() }}</h4>
                </div>
                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center" >Web Client Version: {{ getWebClientVersion() }}</h4>                    
                </div>
                <div class="row col-md-12">                    
                    <h4 class="modal-h2 title" align="center">Web Server Version: {{ getWebAPIVersion() }}</h4>
                </div>
                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">THW Version: {{ getTargetVersion() }} </h4>
                </div>
                <div class="row">
                    <h4 class="modal-h2 title" align="center"> </h4>   <!--just a space -->
                </div>
                <div class="row">
                    <h4 class="modal-h2 title" align="center"> </h4>   <!--just a space -->
                </div>
                <div class="row">
                    <h4 class="modal-h2 title" align="center"> </h4>   <!--just a space -->
                </div>
                <div class="row">
                        <div class="col-md-6">
                            <button class="btn primary full" style="position: relative; left:50%;" ng-click="displayAbout()">Close</button>
                        </div>
                        <br>
                </div>
             </div>
        </div>
    </div>
    <!--DISPLAY SERVICE MODE-->
    <div class="index-modal" ng-show="isInServiceMode()" tabindex="-1">

        <div class="index-modal-dialog" ng-show="isInServiceMode()">
            <div class=" modal-content-lg">

                <div class="row col-md-12" style="background-color:darkblue;">
                    <img ng-src="content/img/pentair-logo.svg" alt="Pentair" height="60px" style="color:white" align="center" class="logo">
                </div>

                <div class="row col-md-12">
                    <div class="icon logo"></div>
                </div>

                <div class="row col-md-12">
                    <h3 class="modal-h3 title" >INTELLICENTER™<br>{{messageService()}}</h3>
                </div>
                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">Remote Access is not available</h4>
                    <h4 class="modal-h2 title" align="center">During Service Mode.</h4>
                </div>

                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">You will now be disconnected</h4>
                </div>

                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">Please try again later.</h4>
                </div>
                      
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn primary full" style="position: relative; left:50%;" ng-click="LogOutService()">OK</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!--DISPLAY NEW UPDATE AVAILABLE-->
    <div class="index-modal" ng-show="isNewUpdateAvailable_remove()" tabindex="-1">

        <div class="index-modal-dialog" ng-show="isNewUpdateAvailable()">
            <div class=" modal-content-lg">

                <div class="row col-md-12" style="background-color:darkblue;">
                    <img ng-src="content/img/pentair-logo.svg" alt="Pentair" height="60px" style="color:white" align="center" class="logo">
                </div>

                <div class="row col-md-12">
                    <div class="icon logo"></div>
                </div>

                <div class="row col-md-12">
                    <h3 class="modal-h3 title">New Firmware Update Available</h3>
                </div>
                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">{{getNewFWVersion()}}</h4>                    
                </div>

                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">A new update has been discovered. Would you like</h4>
                    <h4 class="modal-h2 title" align="center">to install the update? This will update ALL the panels.</h4>                                        
                </div>

                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">You will now be disconnected</h4>
                </div>

                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">Please wait a minute to reconnect.</h4>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn primary full" style="position: relative; left:50%;" ng-click="updateFirmware()">OK</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>


    <!--DISPLAY SERVICE MODE-->


    <div class="index-modal" ng-show="isNewUpdateAvailable()" tabindex="-1">
        <!--isNewFWVersionReady REPLACED FOR-->
        <div class="index-modal-dialog" ng-show="isNewUpdateAvailable()">
            <div class=" modal-content-lg">

                <div class="row col-md-12" style="background-color:darkblue;">
                    <img ng-src="content/img/pentair-logo.svg" alt="Pentair" height="60px" style="color:white" align="center" class="logo">
                </div>
                <!--
                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="right">Firmware Update</h4>
                </div>
                    -->
                <div class="row col-md-12">
                    <div class="icon logo"></div>
                </div>
                <div class="row col-md-12">
                    <h3 class="modal-h3 title">Intellicenter™ <br>Software Update Available</h3>
                </div>
                <div class="row col-md-12">
                    <h4 class="modal-h2 title" align="center">New Version: {{ getNewFwVersion() }}</h4>
                </div>
                <div class="row col-md-12" ng-show="!isFirmwareUpdateInProgress()">
                    <!-- current version installed
        <h4 class="modal-h2 title" align="center">Current FW Version: {{ getTargetVersion() }} </h4>
            -->
                    <h4 class="modal-h2 title" align="center">A new update has been discovered. Would you like</h4>
                    <h4 class="modal-h2 title" align="center">to install the update? This will update all the panels.</h4>
                    <h4 class="modal-h2 title" align="center"> </h4>
                </div>
                <div class="row">
                    <h4 class="modal-h2 title" align="center"> </h4>   <!--just a space -->
                </div>
                <div class="row" ng-show="!isFirmwareUpdateInProgress()">
                    <div class="col-md-6">
                        <button class="btn primary half" style="position: relative; left:30%; width:100px; text-align:center;" ng-click="installFirmware('NO')">NO</button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn primary half" style="position: relative; right:10%; width:100px; text-align:center;" ng-click="installFirmware('YES')">YES</button>
                    </div>

                </div>
                <div ng-show="isFirmwareUpdateInProgress()">
                    <div class="row col-md-12">
                        <h4 class="modal-h2 title" style="text-align:center; color:green">Firmware Update is in progress.</h4>
                    </div>

                    <div class="row col-md-12" >
                        <h4 class="modal-h2 title" style="text-align:center; color:blue">You will now be disconnected</h4>
                    </div>
                    <div class="row col-md-12" >
                        <h4 class="modal-h2 title" style="text-align:center; color:blue">Please wait a minute to reconnect..</h4>
                    </div>
                </div>
 
            </div>
        </div>
    </div>
    <!--DISPLAY DISABLE SPA SIDE REMORTES-->

    <!--CHANGE USERNAME MODAL-->
    <div class="index-modal dark" ng-show="changeUsernameModal" tabindex="-1" ng-controller="ChangeEmailController">
            <div class="index-modal-dialog profileSettings ng-hide" ng-show="setUsernameModal">
                <div class=" modal-content-lg">
                    <form class="form-login" role="form" name="ChangeEmailForm" novalidate>

                        <div class="row col-md-12">
                            <h3 class="modal-h3 title">{{'CHANGEEMAIL' | translate}}</h3>
                        </div>
                        <label class="label-error ng-hide" ng-show="changeEmailData.error" >{{ errorMessage }}.</label>
                        <label class="row col-md-12" for="currentUsername">{{'OLDEMAIL' | translate}}</label>
                        <label class="row col-md-12" id="currentUsername">{{Authentication.userName}}</label>
                        <!--<input class="row col-md-12" id= "currentUsername" name="currentUsername" type="text"  data-ng-model="changeEmailData.oldEmail">-->
                        <hr>
                        <div class="row col-md-12">
                            <p class="note">NOTE: Your Username must always be a valid email address.</p>
                            <p class="note">A validation email must be responded to before changes take effect.</p>
                        </div>
                        <label for="newEmail" class="row col-md-12">{{'NEWEMAIL' | translate}}<span class="required"></span></label>
                        <div class="row col-md-12">
                            <input id="NewEmail" type="email" name="newEmail" class="form-control" data-ng-model="changeEmailData.newEmail" required>
                        </div>
                        <label for="confirmEmail" class="row col-md-12">{{'CONFIRMNEWEMAIL' | translate}}<span class="required"></span></label>
                        <label class="label-error ng-hide" ng-hide="changeEmailData.confirmEmail === changeEmailData.newEmail" >Username / Email did not match.  Please re-enter.</label>
                        <div class="row col-md-12">
                            <input id="ConfirmEmail" type="email" name="confirmEmail" class="form-control" data-ng-model="changeEmailData.confirmEmail" required>
                        </div>
                        <hr>
                        <label for="password">Password<span class="required"></span></label>
                        <div class="row">
                            <div class="col-md-11">
                                <input id="password" maxlength="15" data-ng-model="changeEmailData.password" type="{{passwordInputType}}">
                            </div>
                            <div class="col-md-1">
                                <span ng-click="togglePasswordReveal()" class="{{getEyeIconPassword()}}"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn full" ng-click="ChangeEmail()" ng-disabled="!validateEmailForm()"> Save & send</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn cancel full" ng-click="closeChangeUsernameModal()">{{'CANCEL' | translate}}</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

            <div class="index-modal-dialog profileSettings ng-hide" ng-show="confirmUsernameModal">
                <div class="modal-content-lg">
                    <div class="row col-md-12">
                        <h3 class="modal-h3 title">{{'CHANGEEMAIL' | translate}}</h3>
                    </div>
                    <label class="row col-md-12" for="currentUsername">For your security, a confirmation email is being sent to:</label>
                    <input class="row col-md-12" name="currentUsername" type="text" disabled data-ng-model="Authentication.newUserName">
                    <hr>
                    <div class="row col-md-12">
                        <p class="note">Please open your email now and click on the link contained in that message to confirm that you wish to change your Username:</p>
                        <p class="note">From: {{Authentication.userName}}</p>
                        <p class="note">To: {{Authentication.newUserName}}</p>
                        <br>

                        <p class="note">NOTE: No changes will take effect until you have confirmed</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <button class="btn secondary full" ng-click="changeUsernameModal = false;">ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--CHANGE PASSWORD MODAL-->
    <div class="index-modal dark" ng-show="changePasswordModal" tabindex="-1" ng-controller="LoginController">
            <div class="index-modal-dialog profileSettings">
                <div class=" modal-content-lg">
                    <form class="form-login" role="form" name="ChangePasswordForm" novalidate>
                        <div class="row col-md-12">
                            <h3 class="modal-h3 title">Change Password</h3>
                        </div>
                        <div class="notifications">
                            <div id="PassWordChangedMsg" class="notification successNotification" ng-show="AuthService.authentication.passwordChanged">{{'PASSWORDSUCCESSFULLYCHANGED' | translate}}</div>
                            <div id="ErrorMsg" class="notification errorNotification" ng-show="changePasswordData.error">System fail message.</div>
                            <div id="AuthError" class="notification errorNotification" ng-show="!validateOldPassword && changePasswordData.oldPassword && errorMessage != undefined">Invalid Current Password.</div>
                            <div id="InvalidPassword" class="notification errorNotification" ng-show="!validateNewPassword() && changePasswordData.newPassword">Invalid Password.</div>
                            <div id="PasswordMatchError" class="notification errorNotification" ng-show="!verifyConfirmationPassword() && changePasswordData.confirmPassword">Passwords Do not Match.</div>
                        </div>
                        <!--selected-->
                        <div ng-show="AuthService.authentication.passwordChanged===false">
                            <label for="oldPassword">{{'OLDPASSWORD' | translate}}<span class="required"></span></label>
                            <div class="row">
                                <div class="col-md-11">
                                    <input id="OldPassword" type="{{passwordInputType}}" maxlength="15" name="oldPassword" class="form-control" data-ng-model="changePasswordData.oldPassword" ng-blur="verifyPassword()" required>
                                </div>
                                <span class="col-md-1" align="right">
                                    <span ng-click="togglePasswordReveal()" class="{{getEyeIconPassword()}}"></span>
                                </span>
                            </div>
                            <hr>
                            <label for="newPassword">{{'NEWPASSWORD' | translate}} <span class="required"></span></label>
                            <div class="row col-md-12">
                                <input id="NewPassword" type="password" maxlength="15" name="newPassword" class="form-control" data-ng-model="changePasswordData.newPassword" required>
                            </div>

                            <label for="confirmPassword">{{'CONFIRMNEWPASSWORD' | translate}}<span class="required"></span></label>
                            <div class="row col-md-12">
                                <input id="ConfirmPassword" type="password" maxlength="15" name="confirmPassword" class="form-control" data-ng-model="changePasswordData.confirmPassword" required>
                            </div>
                            <hr>
                            <!--adding  rules for changing password-->

                            <div class="row">
                                <div class='display-password-rules-title'>{{ 'The New Password:'}}</div>
                            </div>

                            <div class="row">
                                <div class="category no-padding no-margin">
                                    <span class="left paddle-label" style="width:30px;height:30px;">
                                        <span class="icon-sm" ng-class="checkSizePassword(changePasswordData.newPassword) ? 'formatCircle circleMatchicon' : 'formatCircle circleUnmatchicon'"></span>
                                    </span>
                                </div>

                                <div class='display-password-rules'>{{ ' Must contain at least 6 characters (upper or lower case)'}}</div>
                            </div>


                            <div class="row">
                                <div class="category no-padding no-margin">
                                    <span class="left paddle-label" style="width:30px;height:30px; ">
                                        <span class="icon-sm" ng-class="checkUppercasePassword(changePasswordData.newPassword) ? 'formatCircle circleMatchicon' : 'formatCircle circleUnmatchicon'"></span>
                                    </span>
                                </div>
                                <div class='display-password-rules'>{{ ' Must contain at least 1 uppercase alpha character (A-Z)'}}</div>
                            </div>


                            <div class="row">
                                <div class="category no-padding no-margin">
                                    <span class="left paddle-label" style="width:30px;height:30px; ">
                                        <span class="icon-sm" ng-class="checkMatchPassword(changePasswordData.newPassword,changePasswordData.confirmPassword) ? 'formatCircle circleMatchicon' : 'formatCircle circleUnmatchicon'"></span>
                                    </span>
                                </div>
                                <div class='display-password-rules'>{{ 'Matches with Confirm New Password'}}</div>

                            </div>

                            <hr>
                            <!--selected-->
                        </div>
                        <div class="row" ng-show="!AuthService.authentication.passwordChanged">
                            <div class="col-md-6">
                                <button class="btn full" ng-disabled="!validateForm()" data-ng-click="ChangePassword()"> Save</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn cancel full" ng-click="closePasswordChangeModal()">cancel</button>
                            </div>
                        </div>
                        <!-- to close -->
                        <div  ng-show="AuthService.authentication.passwordChanged">
                            <div class="row" >
                             </div>
                            <div class="row" >
                                <hr>
                                <div class="col-md-6 pull-right">
                                    <button class="btn cancel full" ng-click="closePasswordChangeModal()">Close</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    <div class="index-modal" ng-show="$root.configurationIssue" tabindex="-1">
        <div class="index-modal-dialog" ng-show="$root.configurationIssue">
            <div class=" modal-content-lg">
                <div class="row col-md-12">
                    <h3 class="modal-h3 title">Please check your configuration on the hardware.</h3>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <button class="btn primary md full" ng-click="$root.configurationIssue = false">{{'OK' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd party libraries -->
    <script src="scripts/jquery-2.1.1.js"></script> <!-- for ui sortable -->
    <script src="scripts/jquery-ui.v1.10.3.min.js"></script> <!-- for ui sortable -->
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-cookies.js"></script>
    <script src="scripts/angular-translate.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/angular-animate.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/checklist-model.js"></script>
    <script src="scripts/angular-round-progress.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.13.3.js"></script>
    <script src="scripts/select.min.js"></script>
    <script src="scripts/angular-dateParser.js"></script>
    <script src="scripts/angular-timePicker.js"></script>
    <script src="scripts/angular-ui-notification.min.js"></script>
    <script src="scripts/ui-grid.js"></script>
    <script src="scripts/d3-v3.5.17.min.js"></script>
    <script src="scripts/d3-legend.js"></script>
    <script src="scripts/d3-gantt.js"></script>
    <script src="scripts/moment.js"></script>
    <script src="scripts/sortable.min.js"></script>
    <!-- Load PWC main script -->
    <script src="app/i18n/TranslatorProvider.js"></script>
    <script src="app/app.js"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/AuthService.js"></script>
    <script src="app/services/AppService.js"></script>
    <script src="app/services/SocketService.js"></script>
    <script src="app/services/MessageProcessor.js"></script>
    <script src="app/services/PropertyService.js"></script>
    <!-- Load Models -->
    <script src="app/models/propertyModel.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/DashboardController.js"></script>
    <script src="app/controllers/BodiesController.js"></script>
    <script src="app/controllers/LightsController.js"></script>
    <script src="app/controllers/FeaturesController.js"></script>
    <script src="app/controllers/HomeController.js"></script>
    <script src="app/controllers/manageUsersController.js"></script>
    <script src="app/controllers/ScheduleController.js"></script>
    <script src="app/controllers/vacation.controller.js"></script>
    <script src="app/controllers/InviteController.js"></script>
    <script src="app/controllers/AcceptInviteController.js"></script>
    <script src="app/controllers/InstallationsController.js"></script>
    <script src="app/controllers/InstallationsGridController.js"></script>
    <script src="app/controllers/ManagePropertiesController.js"></script>
    <script src="app/controllers/ConfigController.js"></script>
    <script src="app/controllers/SystemProtectionController.js"></script>
    <script src="app/controllers/SystemInformationController.js"></script>
    <script src="app/controllers/SystemPersonalityController.js"></script>
    <script src="app/controllers/SystemConfigurationController.js"></script>
    <script src="app/controllers/ChangeEmailController.js"></script>
    <script src="app/controllers/UserNotificationController.js"></script>
    <script src="app/controllers/ChemistryController.js"></script>
    <script src="app/controllers/SettingsController.js"></script>
    <script src="app/controllers/ConfigurationsController.js"></script>
    <script src="app/controllers/LightGroupsController.js"></script>
    <script src="app/controllers/pumps.controller.js"></script>
    <script src="app/controllers/history.controller.js"></script>
    <script src="app/controllers/configure-circuits.controller.js"></script>
    <script src="app/controllers/configure-bodies.controller.js"></script>
    <script src="app/controllers/configure-chemistries.controller.js"></script>
    <script src="app/controllers/configure-other-equipment.controller.js"></script>
    <script src="app/controllers/configure-pumps.controller.js"></script>
    <script src="app/controllers/configure-remotes.controller.js"></script>
    <script src="app/controllers/ConfirmUserNameChange.js"></script>
    <script src="app/controllers/SystemReportIssueController.js"></script>

    <!--Load Utilities-->
    <script src="app/utility/Math.uuid.js"></script>
    <script src="app/utility/Helpers.js"></script>
    <script src="app/utility/Enumerations.js"></script>
    <!--Load Filters -->
    <script src="app/filters/property.filter.js"></script>
    <!--Load directives -->
    <script src="app/directives/dropdownMenu.js"></script>
    <script src="app/directives/heaterDropdown.js"></script>
    <script src="app/directives/oldToggleSwitch.js"></script>
    <script src="app/directives/toggleSwitch.js"></script>
    <script src="app/directives/toggleCircuit.js"></script>
    <script src="app/directives/heaterInputBox.js"></script>
    <script src="app/directives/durationInputBox.js"></script>
    <script src="app/directives/ngEnter.js"></script>
    <script src="app/directives/lightDimmer.js"></script>
    <script src="app/directives/whenScrollEnds.js"></script>
    <script src="app/directives/ngNumbersOnly.js"></script>
    <script src="app/directives/lightModeButtons.js"></script>
    <script src="app/directives/autoComplete.js"></script>
    <script src="app/directives/tabAccordion.js"></script>
    <script src="app/directives/panelAccordion.js"></script>
    <script src="app/directives/circuitGroupPowerButtons.js"></script>
    <script src="app/directives/stylesheetInject.js"></script>
    <script src="app/directives/dropDownMultiselect.js"></script>
    <script src="app/directives/onClickOutside.js"></script>
    <script src="app/directives/scaleBar.js"></script>
    <script src="app/directives/tabInclude.js"></script>
    <script src="app/directives/value-stepper.directive.js"></script>
    <script src="app/directives/value-stepper-white.directive.js"></script>
    <script src="app/directives/verticalProgressBar.js"></script>
    <script src="app/directives/empty-typeahead.directive.js"></script>
    <script src="app/directives/progressbar.directive.js"></script>
    <script src="app/directives/history-chart.directive.js"></script>
    <script src="app/directives/history-interval.directive.js"></script>
    <script src="app/directives/history-usage.directive.js"></script>
    <!--[if lt IE 9]>
        <script src="scripts/html5shiv.js"></script>
    <![endif]-->
    <!-- SCRIPTS -->
</body>

</html>
